Repository baidu/amis, pull requests merged in 2021-12, with the labels that each got.

#3024 feat: card对齐云舍4.0规范，组件拆分
  docs/zh-CN/components/card.md
  scss/_properties.scss
  scss/components/_card.scss
  src/components/Card.tsx
  src/renderers/Card.tsx
Labels: awaiting-finnal-review, request-changes

#3138 fix #3006: autoFill填充后不会触发表单项校验
  docs/zh-CN/components/form/options.md
  src/renderers/Form/InputFile.tsx
  src/renderers/Form/index.tsx
  src/renderers/Form/wrapControl.tsx
  src/store/formItem.ts
Labels: awaiting-finnal-review, request-changes

#3154 feat: Switch 组件功能对齐4.0规范
  docs/zh-CN/components/form/switch.md
  scss/components/form/_switch.scss
  src/components/Switch.tsx
Labels: awaiting-finnal-review

#3142 feat:新增移动端PopUp组件
  scss/components/_popup.scss
  scss/components/form/_color.scss
  scss/components/form/_date-range.scss
  scss/components/form/_date.scss
  scss/components/form/_tree-select.scss
  scss/themes/_common.scss
  src/components/ColorPicker.tsx
  src/components/DatePicker.tsx
  src/components/DateRangePicker.tsx
  src/components/MonthRangePicker.tsx
  src/components/PopUp.tsx
  src/renderers/Form/InputColor.tsx
  src/renderers/Form/InputDate.tsx
  src/renderers/Form/InputDateRange.tsx
  src/renderers/Form/InputMonthRange.tsx
  src/renderers/Form/InputQuarterRange.tsx
  src/renderers/Form/InputYearRange.tsx
  src/renderers/Form/TreeSelect.tsx
Labels: awaiting-finnal-review

#2949 feat: inputRating 组件功能对齐4.0规范
  __tests__/renderers/Form/__snapshots__/rating.test.tsx.snap
  docs/zh-CN/components/form/input-rating.md
  scss/_properties.scss
  scss/components/form/_rating.scss
  scss/themes/_cxd-variables.scss
  src/components/Rating.tsx
  src/components/icons.tsx
  src/icons/star.svg
  src/renderers/Form/InputRating.tsx
Labels: awaiting-finnal-review

#3249 feat:input-month移动化
  scss/components/_card.scss
  src/components/DatePicker.tsx
  src/components/calendar/Calendar.tsx
  src/components/calendar/MonthsView.tsx
  src/utils/helper.ts
Labels: awaiting-finnal-review

#3072 feat: timeline3.0
  __tests__/renderers/Timeline.test.tsx
  docs/zh-CN/components/timeline.md
  examples/components/Components.tsx
  mock/cfc/mock/timeline/timelineItems.json
  package.json
  scss/components/_timeline.scss
  scss/themes/_antd-variables.scss
  scss/themes/_common.scss
  scss/themes/_cxd-variables.scss
  src/Schema.ts
  src/components/Timeline.tsx
  src/components/TimelineItem.tsx
  src/components/icons.tsx
  src/icons/tree-down.svg
  src/index.tsx
  src/locale/de-DE.ts
  src/locale/en-US.ts
  src/locale/zh-CN.ts
  src/renderers/Timeline.tsx
Labels: awaiting-finnal-review

#3175 feat:avatar头像组件
  docs/zh-CN/components/avatar.md
  scss/_properties.scss
  scss/components/_avatar.scss
  src/components/Avatar.tsx
  src/components/index.tsx
  src/renderers/Avatar.tsx
Labels: awaiting-finnal-review

#3271 feat: 日期范围移动化
  scss/components/_calendar.scss
  scss/components/_popup.scss
  src/components/CalendarMobile.tsx
  src/components/DateRangePicker.tsx
  src/components/MonthRangePicker.tsx
  src/components/Picker.tsx
  src/components/PopUp.tsx
  src/components/calendar/Calendar.tsx
  src/components/calendar/DaysView.tsx
  src/components/calendar/MonthsView.tsx
  src/components/calendar/QuartersView.tsx
  src/components/calendar/TimeView.tsx
  src/locale/de-DE.ts
  src/locale/en-US.ts
  src/locale/zh-CN.ts
Labels: in-review

#3308 feat:datepicker 移动化
  scss/_properties.scss
  scss/components/_picker-columns.scss
  scss/components/form/_date.scss
  src/components/DatePicker.tsx
  src/components/Picker.tsx
  src/components/PickerColumn.tsx
  src/components/calendar/Calendar.tsx
  src/components/calendar/DaysView.tsx
  src/components/calendar/MonthsView.tsx
  src/components/calendar/TimeView.tsx
  src/components/calendar/YearsView.tsx
  src/locale/de-DE.ts
  src/locale/en-US.ts
  src/locale/zh-CN.ts
  src/utils/helper.ts
Labels: awaiting-finnal-review
