Repository baidu/amis, pull requests merged in 2022-02, with the labels that each got.

#3493 feat: 时间类的事件和动作补充
  examples/components/EventAction/DateEvent.jsx
  examples/components/Example.jsx
  src/components/DatePicker.tsx
  src/components/DateRangePicker.tsx
  src/components/MonthRangePicker.tsx
  src/renderers/Form/InputDate.tsx
  src/renderers/Form/InputDateRange.tsx
  src/renderers/Form/InputMonthRange.tsx
  src/renderers/Form/InputQuarterRange.tsx
  src/renderers/Form/InputYearRange.tsx
Labels: request-changes

#3564 feat: 数字输入组件事件 & 动作扩充
  __tests__/renderers/Form/number.test.tsx
  examples/components/EventAction/InputNumberEvent.jsx
  examples/components/Example.jsx
  src/components/NumberInput.tsx
  src/renderers/Form/InputNumber.tsx
Labels: in-review

#3578 开关/选项卡组件事件 & 动作扩充
  examples/components/EventAction/SwitchEvent.jsx
  examples/components/EventAction/TabsEvent.jsx
  examples/components/Example.jsx
  src/renderers/Form/Switch.tsx
  src/renderers/Tabs.tsx
Labels: in-review

#3589 feat: Textarea/Editor/DiffEditor动作事件扩充
  examples/components/EventAction/InputEvent.jsx
  src/actions/Decorators.ts
  src/actions/index.ts
  src/renderers/Form/DiffEditor.tsx
  src/renderers/Form/Editor.tsx
  src/renderers/Form/InputText.tsx
  src/renderers/Form/Textarea.tsx
Labels: request-changes

#3025 feat: select对齐云舍4.0规范
  __tests__/renderers/Form/__snapshots__/city.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  scss/_properties.scss
  scss/components/_result-box.scss
  scss/components/form/_select.scss
  scss/components/form/_selection.scss
  scss/themes/_cxd-variables.scss
  src/components/ChainedSelection.tsx
  src/components/GroupedSelection.tsx
  src/components/Select.tsx
  src/components/TransferDropDown.tsx
  src/components/TreeSelection.tsx
  src/components/icons.tsx
  src/icons/close-small.svg
  src/renderers/Form/Select.tsx
  src/utils/helper.ts
Labels: awaiting-final-review, request-changes

#3473 feat: Drawer 组件功能丰富
  docs/zh-CN/components/drawer.md
  src/components/Drawer.tsx
  src/renderers/Drawer.tsx
Labels: awaiting-final-review

#3475 feat: Radios 功能补齐
  scss/components/form/_checks.scss
  src/components/Radios.tsx
  src/renderers/Form/Radios.tsx
Labels: awaiting-final-review

#3568 feat: input-image 事件动作补充
  examples/components/EventAction/UploadEvent.jsx
  src/renderers/Form/InputFile.tsx
  src/renderers/Form/InputImage.tsx
Labels: request-changes

#3405 Feat/input range
  __tests__/renderers/Form/__snapshots__/range.test.tsx.snap
  __tests__/renderers/Form/range.test.tsx
  docs/zh-CN/components/form/input-range.md
  scss/_properties.scss
  scss/components/form/_range.scss
  src/components/Range.tsx
  src/components/icons.tsx
  src/icons/slider-handle-icon.svg
  src/renderers/Form/InputRange.tsx
Labels: awaiting-final-review, request-changes

#3450 feat: cascader-select 组件升级
  scss/_properties.scss
  scss/components/_result-box.scss
  scss/components/form/_nested-select.scss
  scss/components/form/_select.scss
  scss/themes/_cxd-variables.scss
  src/components/ResultBox.tsx
  src/renderers/Form/NestedSelect.tsx
Labels: awaiting-final-review

#3619 feat: InputRating 评分组件事件&动作补充
  examples/components/EventAction/InputRatingEvent.jsx
  examples/components/Example.jsx
  src/components/Rating.tsx
  src/renderers/Form/InputRating.tsx
Labels: in-review

#3468 feat: Tabs 组件功能对齐4.0规范
  __tests__/renderers/Form/__snapshots__/tabs.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  __tests__/renderers/__snapshots__/Portlet.test.tsx.snap
  __tests__/renderers/__snapshots__/Tabs.test.tsx.snap
  docs/zh-CN/components/tabs.md
  examples/style.scss
  scss/_properties.scss
  scss/components/_tabs.scss
  scss/themes/_cxd-variables.scss
  src/components/Tabs.tsx
  src/renderers/Tabs.tsx
Labels: awaiting-final-review

#3498 feat: 上传组件功能对齐4.1规范，云舍色值更新为4.1
  docs/zh-CN/components/form/input-file.md
  scss/_properties.scss
  scss/components/form/_file.scss
  scss/components/form/_image.scss
  scss/themes/_cxd-colors.scss
  scss/themes/_cxd-variables.scss
  src/components/icons.tsx
  src/icons/cloud-upload.svg
  src/icons/image.svg
  src/icons/refresh.svg
  src/icons/upload.svg
  src/locale/en-US.ts
  src/locale/zh-CN.ts
  src/renderers/Form/InputFile.tsx
  src/renderers/Form/InputImage.tsx
Labels: request-changes

#3613 feat: NestedSelect&Checkbox&ChainedSelect事件&动作扩充
  examples/components/EventAction/InputEvent.jsx
  examples/components/EventAction/SelectEvent.jsx
  examples/components/Example.jsx
  src/renderers/Form/ChainedSelect.tsx
  src/renderers/Form/Checkbox.tsx
  src/renderers/Form/InputTag.tsx
  src/renderers/Form/MatrixCheckboxes.tsx
  src/renderers/Form/NestedSelect.tsx
  src/renderers/Form/Options.tsx
  src/renderers/Form/Radios.tsx
  src/renderers/Form/Select.tsx
Labels: request-changes

#3580 feat: 新增Breadcrumb组件
  __tests__/renderers/Breadcrumb.test.tsx
  __tests__/renderers/__snapshots__/Breadcrumb.test.tsx.snap
  docs/zh-CN/components/breadcrumb.md
  scss/_properties.scss
  scss/components/_breadcrumb.scss
  scss/themes/_cxd-variables.scss
  src/components/Breadcrumb.tsx
  src/components/index.tsx
  src/renderers/Breadcrumb.tsx
Labels: awaiting-final-review, request-changes

#3629 feat: Switch支持开关状态下的内容为icon
  docs/zh-CN/components/form/switch.md
  examples/components/Form/Full.jsx
  scss/components/form/_switch.scss
  src/renderers/Form/Switch.tsx
Labels: awaiting-final-review

#3624 feat: inputRange schema类型定义&事件&动作扩充
  src/components/Range.tsx
  src/renderers/Form/InputRange.tsx
Labels: request-changes

#3634 feat: input-excel 事件动作补充
  examples/components/EventAction/ExcelEvent.jsx
  examples/components/Example.jsx
  src/renderers/Form/InputExcel.tsx
  src/renderers/Form/InputFile.tsx
  src/renderers/Form/InputImage.tsx
Labels: in-review
