Repository baidu/amis, pull requests merged in 2022-01, with the labels that each got.

#3326 feat:组件广播事件机制
  __tests__/renderers/Form/button.test.tsx
  __tests__/renderers/Form/buttonToolBar.test.tsx
  __tests__/renderers/Page.test.tsx
  __tests__/renderers/Wizard.test.tsx
  examples/components/Example.jsx
  examples/components/Linkage/Event.jsx
  src/SchemaRenderer.tsx
  src/actions/Action.ts
  src/actions/BreakAction.ts
  src/actions/BroadcastAction.ts
  src/actions/CmptAction.ts
  src/actions/ContinueAction.ts
  src/actions/CustomAction.ts
  src/actions/LoopAction.ts
  src/actions/ParallelAction.ts
  src/actions/SwitchAction.ts
  src/actions/index.ts
  src/components/Timeline.tsx
  src/components/TimelineItem.tsx
  src/env.tsx
  src/factory.tsx
  src/index.tsx
  src/renderers/Action.tsx
  src/renderers/Form/index.tsx
  src/renderers/Link.tsx
  src/utils/renderer-event.ts
Labels: in-review

#3371 feat: 新增日历组件render
  docs/zh-CN/components/calendar.md
  docs/zh-CN/components/form/input-date.md
  examples/components/Components.tsx
  src/Schema.ts
  src/components/calendar/Calendar.tsx
  src/index.tsx
  src/locale/de-DE.ts
  src/locale/zh-CN.ts
  src/renderers/Calendar.tsx
  src/renderers/Form/InputDate.tsx
Labels: awaiting-finnal-review

#3452 feat: card 组件文档新增demo
  docs/zh-CN/components/card.md
Labels: awaiting-finnal-review

#3485 feat: input-text支持事件动作
  __tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  __tests__/renderers/Form/control.test.tsx
  __tests__/renderers/Form/text.test.tsx
  examples/components/EventAction/InputEvent.jsx
  examples/components/Example.jsx
  src/SchemaRenderer.tsx
  src/actions/CmptAction.ts
  src/renderers/Form/InputText.tsx
  src/renderers/Form/Item.tsx
  src/renderers/Form/Options.tsx
  src/renderers/Link.tsx
Labels: in-review

#3472 feat: input-file 事件动作补充
  examples/components/EventAction/UploadEvent.jsx
  examples/components/Example.jsx
  src/renderers/Form/InputFile.tsx
Labels: in-review

#3520 Feat select action event
  examples/components/EventAction/SelectEvent.jsx
  examples/components/Example.jsx
  src/renderers/Form/Select.tsx
  src/renderers/Form/Transfer.tsx
Labels: request-changes
