Repository baidu/amis, pull requests merged in 2022-05, with the labels that each got.

#4217 fix:去掉Link组件的事件派发（意义不大）&补充onClick
  docs/zh-CN/components/link.md
  docs/zh-CN/concepts/event-action.md
  src/actions/Action.ts
  src/renderers/Link.tsx
Labels: fix

#4221 fix: inputText 组件 schema问题
  src/renderers/Form/InputText.tsx
Labels: fix

#4223 fix: 修复分块上传完成请求接口，参数partList错误
  src/renderers/Form/InputFile.tsx
Labels: fix

#4226 fix divider.md中的描述错误
  docs/zh-CN/components/divider.md
Labels: fix

#4222 fix #4219(docs): Page组件样式链接地址错误问题
  docs/zh-CN/components/page.md
Labels: fix, doc

#4227 fix:穿梭框在级联模式下显示溢出 #4103
  scss/components/form/_transfer.scss
Labels: fix

#4238 feat: Log 组件支持虚拟渲染及限制最大行数
  docs/zh-CN/components/log.md
  src/renderers/Log.tsx
Labels: feat

#4232 docs:完善对话框size参数说明
  docs/zh-CN/components/dialog.md
Labels: doc

#4119 Select Options等组件样式对齐4.0
  __tests__/renderers/CRUD.test.tsx
  __tests__/renderers/Form/__snapshots__/chainedSelect.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/city.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/conditionBuilder.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/repeat.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/service.test.tsx.snap
  __tests__/renderers/Form/combo.test.tsx
  __tests__/renderers/Form/formula.test.tsx
  __tests__/renderers/Form/inputArray.test.tsx
  __tests__/renderers/Page.test.tsx
  scss/components/_button-group.scss
  scss/components/_result-box.scss
  scss/components/form/_checks.scss
  scss/components/form/_nested-select.scss
  scss/components/form/_select.scss
  scss/components/form/_selection.scss
  scss/components/form/_transfer.scss
  scss/themes/_cxd-variables.scss
  scss/themes/cxd.scss
  src/components/ResultBox.tsx
  src/components/Select.tsx
  src/components/TransferDropDown.tsx
  src/renderers/Form/NestedSelect.tsx
Labels: styles

#4242 Feat image 4.0
  docs/zh-CN/components/form/input-file.md
  scss/_properties.scss
  scss/components/form/_file.scss
  scss/components/form/_image.scss
  scss/themes/_cxd-variables.scss
  src/components/icons.tsx
  src/icons/plus-fine.svg
  src/icons/remove.svg
  src/icons/upload.svg
  src/icons/view.svg
  src/locale/de-DE.ts
  src/locale/en-US.ts
  src/locale/zh-CN.ts
  src/renderers/Form/InputFile.tsx
  src/renderers/Form/InputImage.tsx
Labels: chore

#4149 fix: textarea组件对齐4.0标准
  scss/components/form/_textarea.scss
Labels: styles

#4148 fix： inputTree 组价对齐4.0标准
  scss/_properties.scss
  scss/components/form/_tree.scss
  src/components/Tree.tsx
  src/components/icons.tsx
  src/icons/down-arrow-bold.svg
Labels: styles

#4154 feat： 部分组件样式问题修复
  __tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  docs/zh-CN/components/dialog.md
  docs/zh-CN/components/log.md
  docs/zh-CN/components/search-box.md
  docs/zh-CN/components/table.md
  scss/_properties.scss
  scss/components/_quick-edit.scss
  scss/components/_search-box.scss
  scss/components/_table.scss
  scss/components/form/_text.scss
  scss/themes/_cxd-variables.scss
  src/components/SearchBox.tsx
  src/components/icons.tsx
  src/icons/desk-empty.svg
  src/icons/drag.svg
  src/icons/edit.svg
  src/icons/invisible.svg
  src/renderers/Form/InputText.tsx
  src/renderers/Log.tsx
  src/renderers/QuickEdit.tsx
  src/renderers/SearchBox.tsx
  src/renderers/Table/ColumnToggler.tsx
  src/renderers/Table/TableContent.tsx
  src/renderers/Table/index.tsx
Labels: styles

#4245 fix：修复删除图标颜色问题
  src/icons/remove.svg
Labels: bug

#4248 form表单对齐云社4.0
  docs/zh-CN/components/form/index.md
  scss/components/form/_form.scss
  scss/themes/_cxd-variables.scss
  src/renderers/Form/Item.tsx
  src/renderers/Form/index.tsx
  src/renderers/Remark.tsx
Labels: styles

#4252 fix: 公式编辑器 variableMode 失效
  examples/components/Play.jsx
  src/components/formula/Picker.tsx
Labels: fix

#4254 feat: checkboxes内边距&nestedSelect箭头修改
  scss/components/_result-box.scss
  scss/components/form/_checks.scss
Labels: feat

#4229 chore: jssdk 的 responseAdaptor 扩充参数,支持拿 response 整个对象,包括返回的 headers 和…
  docs/zh-CN/start/getting-started.md
  examples/embed.tsx
Labels: chore

#4259 fix: 修复datetime移动端报错
  src/components/calendar/DaysView.tsx
  src/components/calendar/TimeView.tsx
Labels: fix

#4249 inputfile 和 drawer对齐云社4.0
  scss/_properties.scss
  scss/components/_drawer.scss
  scss/components/form/_file.scss
  scss/themes/cxd.scss
Labels: styles

#4255 表单提交事件支持禁用默认提示
  examples/components/EventAction/FormEvent.jsx
  src/renderers/Form/index.tsx
  src/renderers/Wizard.tsx
  src/store/form.ts
Labels: request-changes

#4250 feat: 更新实时日志组件，增加可操作按钮：停止、显示行号等
  docs/zh-CN/components/log.md
  scss/_properties.scss
  scss/components/_log.scss
  src/components/Button.tsx
  src/components/icons.tsx
  src/locale/de-DE.ts
  src/locale/en-US.ts
  src/locale/zh-CN.ts
  src/renderers/Log.tsx
Labels: feat

#4263 chore: 优化日期范围input宽度
  scss/components/form/_date-range.scss
Labels: chore

#4253 fix #4240: 修复input-datetime组件timeConstraints属性不生效问题，修复时间选取后自动滚动位置错误
  docs/zh-CN/components/form/input-datetime.md
  src/components/calendar/DaysView.tsx
  src/components/calendar/TimeView.tsx
  src/renderers/Form/InputDate.tsx
Labels: fix

#4277 feat:toast支持取消合并state
  examples/components/EventAction/FormEvent.jsx
  src/components/Toast.tsx
  src/utils/renderer-event.ts
Labels: feat

#4283 fix(ContextMenu): 增加判空处理
  src/components/ContextMenu.tsx
Labels: fix

#4278 fix:修复事件动作对禁用状态控制失效问题&更新文档示例
  docs/zh-CN/concepts/event-action.md
  examples/components/EventAction/cmpt-event-action/ButtonEvent.jsx
  examples/components/EventAction/cmpt-event-action/CarouselEvent.jsx
  examples/components/EventAction/cmpt-event-action/DateEvent.jsx
  examples/components/EventAction/cmpt-event-action/ExcelEvent.jsx
  examples/components/EventAction/cmpt-event-action/FormEvent.jsx
  examples/components/EventAction/cmpt-event-action/InputEvent.jsx
  examples/components/EventAction/cmpt-event-action/InputNumberEvent.jsx
  examples/components/EventAction/cmpt-event-action/InputRatingEvent.jsx
  examples/components/EventAction/cmpt-event-action/InputTreeEvent.jsx
  examples/components/EventAction/cmpt-event-action/SelectEvent.jsx
  examples/components/EventAction/cmpt-event-action/ServiceEvent.jsx
  examples/components/EventAction/cmpt-event-action/SwitchEvent.jsx
  examples/components/EventAction/cmpt-event-action/TabsEvent.jsx
  examples/components/EventAction/cmpt-event-action/TransferEvent.jsx
  examples/components/EventAction/cmpt-event-action/UploadEvent.jsx
  examples/components/EventAction/cmpt-event-action/WizardEvent.jsx
  examples/components/EventAction/cmpt-event-action/treeSelectEvent.jsx
  examples/components/EventAction/prevent-defalut/PreventForm.jsx
  examples/components/EventAction/reload-action/ReloadChart.jsx
  examples/components/EventAction/reload-action/ReloadForm.jsx
  examples/components/EventAction/reload-action/ReloadSelect.jsx
  examples/components/EventAction/update-data/DataAutoFill.jsx
  examples/components/EventAction/update-data/SyncUpdate.jsx
  examples/components/EventAction/update-data/UpdateButtonGroupSelect.jsx
  examples/components/EventAction/update-data/UpdateChart.jsx
  examples/components/EventAction/update-data/UpdateCombo.jsx
  examples/components/EventAction/update-data/UpdateDialog.jsx
  examples/components/EventAction/update-data/UpdateForm.jsx
  examples/components/EventAction/update-data/UpdateInput.jsx
  examples/components/EventAction/update-data/UpdateSelect.jsx
  examples/components/EventAction/update-data/UpdateWizard.jsx
  examples/components/Example.jsx
  src/SchemaRenderer.tsx
Labels: fix

#4271 fix: curd 图标垂直居中
  scss/components/_table.scss
Labels: fix

#4290 fix:动作执行时对组件查找失败的容错
  src/actions/CmptAction.ts
Labels: fix

#4268 feat:Table2支持配置单元格样式、行操作按钮
  docs/zh-CN/components/table-v2.md
  src/components/table/ItemActionsWrapper.tsx
  src/components/table/index.tsx
  src/renderers/Table-v2/index.tsx
Labels: feat

#4287 fix #4270: checkboxes组件checkAll属性失效问题
  docs/zh-CN/components/form/checkboxes.md
  src/renderers/Form/Options.tsx
  src/renderers/Form/wrapControl.tsx
Labels: fix

#4292 fix:修复nestedSelect无法动态调整位置及溢出问题
  scss/components/form/_nested-select.scss
Labels: fix

#4295 feat:事件干预支持表达式
  docs/zh-CN/concepts/event-action.md
  src/actions/Action.ts
Labels: feat

#4274 fix #4258: sdk方式下全局toast配置不生效问题
  docs/zh-CN/components/toast.md
  examples/embed.tsx
  src/components/Toast.tsx
  src/env.tsx
  src/factory.tsx
Labels: fix

#4269 feat: 添加 json-schema 渲染器
  __tests__/renderers/Form/__snapshots__/options.test.tsx.snap
  docs/zh-CN/components/form/checkbox.md
  docs/zh-CN/components/form/json-schema.md
  examples/components/Components.tsx
  mock/cfc/mock/json-schema.json
  package.json
  scss/components/_input-box.scss
  scss/components/_json-schema.scss
  scss/components/form/_select.scss
  scss/themes/_common.scss
  src/Schema.ts
  src/components/Checkbox.tsx
  src/components/Form.tsx
  src/components/FormField.tsx
  src/components/InputBox.tsx
  src/components/InputBoxWithSuggestion.tsx
  src/components/PickerContainer.tsx
  src/components/Select.tsx
  src/components/Textarea.tsx
  src/components/WithRemoteConfig.tsx
  src/components/index.tsx
  src/components/json-schema/Array.tsx
  src/components/json-schema/Item.tsx
  src/components/json-schema/Object.tsx
  src/components/json-schema/index.tsx
  src/components/schema-editor/Array.tsx
  src/components/schema-editor/Common.tsx
  src/components/schema-editor/Object.tsx
  src/components/schema-editor/index.tsx
  src/hooks/use-validation-resolver.ts
  src/index.tsx
  src/locale/de-DE.ts
  src/locale/en-US.ts
  src/locale/zh-CN.ts
  src/renderers/Form/JSONSchema.tsx
  src/renderers/Form/JSONSchemaEditor.tsx
  src/renderers/Form/Textarea.tsx
  src/utils/api.ts
Labels: feat

#4288 fix(custom): 完善custom自定义组件，增加属性变动更新逻辑
  __tests__/renderers/Custom.test.tsx
  __tests__/renderers/__snapshots__/Custom.test.tsx.snap
  src/renderers/Custom.tsx
Labels: fix

#4298 fix: Pagination 切换页码后每页显示重置问题
  src/components/Pagination.tsx
  src/renderers/CRUD.tsx
Labels: fix

#4310 fix:transfer组件云舍样式完善
  scss/themes/_cxd-variables.scss
  scss/themes/cxd.scss
  src/components/Transfer.tsx
Labels: fix

#3696 feat:transfer组件功能完善
  __tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  docs/zh-CN/components/form/transfer.md
  scss/components/form/_result-list.scss
  scss/components/form/_selection.scss
  scss/components/form/_transfer.scss
  scss/themes/cxd.scss
  src/components/AssociatedSelection.tsx
  src/components/GroupedSelection.tsx
  src/components/ResultList.tsx
  src/components/ResultTableList.tsx
  src/components/ResultTreeList.tsx
  src/components/TableSelection.tsx
  src/components/Transfer.tsx
  src/components/TransferSearch.tsx
  src/components/Tree.tsx
  src/renderers/Form/Transfer.tsx
Labels: awaiting-final-review

#4311 feat: 表单水平模式下label支持左右对齐方式
  docs/zh-CN/components/form/formitem.md
  docs/zh-CN/components/form/index.md
  scss/_mixins.scss
  scss/components/form/_form.scss
  src/renderers/Form/Item.tsx
  src/renderers/Form/index.tsx
Labels: feat

#4300 fix: 修复 replaceText 不支持 schemaApi 问题
  mock/cfc/mock/service/schema.js
  src/factory.tsx
  src/store/service.ts
  src/utils/replaceText.ts
Labels: fix

#4314 fix: deferloadOptions 在defer模式下的处理问题
  src/store/formItem.ts
Labels: fix

#4324 fix: 按钮disabledOn属性失效问题
  docs/zh-CN/components/crud.md
  src/SchemaRenderer.tsx
Labels: fix

#4317 fix: Service组件条件轮询会多调用一次api; docs: 补充轮询相关属性示例
  docs/zh-CN/components/service.md
  mock/cfc/mock/number/random.js
  src/renderers/Service.tsx
Labels: fix, doc

#4325 fix: 公式变量检索问题
  src/components/formula/VariableList.tsx
Labels: fix

#4326 fix #1536: actionType为ajax时sendOn属性未生效问题
  src/renderers/Page.tsx
Labels: fix

#4329 fix:修复disabled失效问题
  __tests__/event-action/__snapshots__/disabled.test.tsx.snap
  __tests__/event-action/__snapshots__/hidden.test.tsx.snap
  __tests__/event-action/disabled.test.tsx
  __tests__/event-action/hidden.test.tsx
  src/Schema.ts
  src/SchemaRenderer.tsx
  src/renderers/Form/Item.tsx
Labels: fix

#4341 feat: table支持事件动作
  src/renderers/Table/ColumnToggler.tsx
  src/renderers/Table/HeadCellFilterDropdown.tsx
  src/renderers/Table/HeadCellSearchDropdown.tsx
  src/renderers/Table/TableContent.tsx
  src/renderers/Table/TableRow.tsx
  src/renderers/Table/index.tsx
  src/store/table.ts
Labels: in-review, feat

#4351 fix:输入框在配置readOnly后，清除图标不展示
  src/renderers/Form/InputText.tsx
Labels: fix

#4370 chore: 更新progress schema
  src/renderers/Progress.tsx
Labels: chore

#4379 feat: table事件动作调整、补充示例
  examples/components/EventAction/cmpt-event-action/TableEvent.jsx
  examples/components/Example.jsx
  src/renderers/Table/HeadCellFilterDropdown.tsx
  src/renderers/Table/HeadCellSearchDropdown.tsx
  src/renderers/Table/TableContent.tsx
  src/renderers/Table/TableRow.tsx
  src/renderers/Table/index.tsx
  src/store/table.ts
Labels: in-review, feat

#4381 fix：value存在时不展示placeholder
  src/components/ResultBox.tsx
Labels: fix

#4384 fix: table事件动作示例删除多余文案
  examples/components/EventAction/cmpt-event-action/TableEvent.jsx
Labels: fix

#4377 fix：修复虚拟列表内容撑不开列表问题
  __tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  src/components/virtual-list/index.tsx
Labels: fix

#4315 组件默认值支持公式表达式
  __tests__/renderers/BarCode.test.tsx
  __tests__/renderers/Form/__snapshots__/initData.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/valueFormula.test.tsx.snap
  __tests__/renderers/Form/initData.test.tsx
  __tests__/renderers/Form/valueFormula.test.tsx
  src/SchemaRenderer.tsx
  src/renderers/Form/wrapControl.tsx
  src/utils/formula.ts
  src/utils/grammar.ts
  src/utils/helper.ts
  src/utils/tpl.ts
Labels: feat

#4372 doc: 编辑代码按钮尺寸调大，代码编辑抽屉可以点击外部关闭
  examples/components/Play.jsx
  examples/style.scss
Labels: doc

#4383 fix: Card 高亮失效修复
  __tests__/renderers/Card.test.tsx
  __tests__/renderers/__snapshots__/Card.test.tsx.snap
  src/renderers/Card.tsx
Labels: fix

#4380 feat: 轮播图interval支持读取变量
  src/renderers/Carousel.tsx
Labels: feat

#4392 docs: 补充组件默认值支持表达式的相关使用说明文档
  docs/zh-CN/components/form/formitem.md
Labels: doc

#4393 fix:修复select组件在非可多选情况下，配置checkAll:true属性导致无法选中值的问题
  src/components/Select.tsx
  src/renderers/Form/Select.tsx
Labels: fix

#4390 fix: 去掉日期返回不打开的时候底部的线
  __tests__/renderers/Form/__snapshots__/dateRange.test.tsx.snap
  src/components/DateRangePicker.tsx
Labels: fix

#4387 fix：修复Collapse组件中弹框被遮挡问题
  scss/components/_collapse.scss
Labels: fix

#4378 fix: 修复超级表头合并问题
  __tests__/renderers/Table.test.tsx
  __tests__/renderers/__snapshots__/Table.test.tsx.snap
  src/store/table.ts
Labels: fix

#4364 perf:添加选项必填
  src/renderers/Form/Options.tsx
Labels: bug

#4362 feat: action 支持 saveAs 保存到本地功能
  docs/zh-CN/components/action.md
  src/RootRenderer.tsx
  src/renderers/Action.tsx
  src/types.ts
Labels: feat

#4396 docs: 修正组件默认值支持表达式试用文档展示问题
  docs/zh-CN/components/form/formitem.md
Labels: doc

#4397 fix: TimeLine组件文案显示错误
  src/locale/zh-CN.ts
Labels: fix

#4400 fix: 修复input-text 组件网络加载时候loading图标特别大问题
  src/renderers/Form/InputText.tsx
Labels: fix

#4408 docs: 补充组件默认值支持表达式说明文档
  docs/zh-CN/components/form/formitem.md
Labels: doc

#4407 chore: update readme build badge
  README.md
Labels: chore

#4398 feat: closes #4386; Steps组件数据支持数据域变量获取
  docs/zh-CN/components/steps.md
  src/renderers/Steps.tsx
Labels: feat

#4412 fix: 公式编辑器校验问题
  src/components/formula/Picker.tsx
Labels: fix

#4414 fix:数据回填示例问题
  examples/components/EventAction/update-data/DataAutoFill.jsx
Labels: fix

#4421 docs: 补充tag标签自定义样式用法说明和示例
  docs/zh-CN/components/tag.md
Labels: doc

#4423 docs: 补充多选模式 valuesNoWrap 的说明
  docs/zh-CN/components/form/options.md
  mock/cfc/mock/form/getOptions.json
Labels: doc

#4415 feat：优化icon-picker组件样式
  scss/components/form/_icon-picker.scss
Labels: feat, styles

#4395 feat: Picker组件支持事件动作
  docs/zh-CN/components/form/picker.md
  examples/components/EventAction/update-data/DataAutoFill.jsx
  src/renderers/Action.tsx
  src/renderers/Form/Picker.tsx
  src/renderers/Service.tsx
  src/types.ts
Labels: in-review, feat

#4425 fix: Table2事件动作调整
  docs/zh-CN/components/table-v2.md
  src/components/table/HeadCellFilter.tsx
  src/components/table/HeadCellSort.tsx
  src/components/table/index.tsx
  src/renderers/Table-v2/HeadCellSearchDropdown.tsx
  src/renderers/Table-v2/index.tsx
  src/store/table-v2.ts
Labels: fix

#4428 style：cxd主题基础字号调整为14px
  scss/components/form/_switch.scss
  scss/components/form/_text.scss
  scss/themes/_cxd-variables.scss
Labels: styles

#4427 fix: 避免 breadcrumb 里的 href 变量被转义
  src/renderers/Breadcrumb.tsx
Labels: fix

#4435 fix(wrapControl): 完善判断条件
  src/renderers/Form/wrapControl.tsx
Labels: fix

#4449 fix(formula): isExpression兼容safari浏览器
  src/utils/formula.ts
Labels: fix

#4434 feat:input-formula增加inputMode样式&增加只选变量模式
  __tests__/renderers/Form/__snapshots__/inputFormula.test.tsx.snap
  __tests__/renderers/Form/inputFormula.test.tsx
  docs/zh-CN/components/form/input-formula.md
  scss/components/_formula.scss
  src/components/formula/Editor.tsx
  src/components/formula/Picker.tsx
  src/renderers/Form/InputFormula.tsx
Labels: feat

#4447 fix: 修复 select 样式问题
  __tests__/renderers/Form/__snapshots__/repeat.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  scss/components/form/_select.scss
  src/components/Select.tsx
  src/locale/zh-CN.ts
Labels: fix

#4440 chore: 更新 amis-formula 版本
  package.json
Labels: chore

#4445 docs:修复日期显示格式默认值问题
  docs/zh-CN/components/form/input-date-range.md
  docs/zh-CN/components/form/input-date.md
  docs/zh-CN/components/form/input-datetime-range.md
Labels: doc

#4451 feat: InputTree支持onlyLeaf属性
  docs/zh-CN/components/form/input-tree.md
  docs/zh-CN/components/form/treeselect.md
  src/renderers/Form/InputTree.tsx
Labels: feat

#4432 feat: Tabs组件activeKey支持上下文变量
  docs/zh-CN/components/table.md
  docs/zh-CN/components/tabs.md
  src/renderers/Tabs.tsx
Labels: feat

#4444 fix: 修复 date 组件尺寸不生效问题
  scss/components/form/_date.scss
Labels: fix

#4361 feat: options 支持在虚拟渲染时控制选项高度
  docs/zh-CN/components/form/options.md
  src/components/Select.tsx
  src/locale/de-DE.ts
  src/locale/en-US.ts
  src/renderers/Form/InputImage.tsx
  src/renderers/Form/Select.tsx
Labels: fix

#4456 fix(formula): 修正
  src/utils/formula.ts
Labels: fix

#4458 feat:去掉input-formula的onlyVariable模式&SchemaVariableListPicker添加placeho…
  __tests__/renderers/Form/__snapshots__/inputFormula.test.tsx.snap
  __tests__/renderers/Form/inputFormula.test.tsx
  docs/zh-CN/components/form/input-formula.md
  src/components/GroupedSelection.tsx
  src/components/Selection.tsx
  src/components/TreeSelection.tsx
  src/components/formula/Editor.tsx
  src/components/formula/Picker.tsx
  src/components/formula/VariableList.tsx
  src/components/schema-editor/SchemaVariableList.tsx
  src/components/schema-editor/SchemaVariableListPicker.tsx
  src/renderers/Form/InputFormula.tsx
Labels: feat

#4422 fix:修复resultList声明问题和删除时options为空问题&TabsTransfer声明
  src/components/ResultList.tsx
  src/components/TabsTransfer.tsx
  src/components/Transfer.tsx
Labels: fix

#4460 fix:input-formula多余dom
  src/components/formula/Editor.tsx
Labels: fix

#4462 fix(InputFormula): 增加selfVariableName配置项，用于标记当前本身变量，避免循环引用
  src/components/Badge.tsx
  src/components/formula/Editor.tsx
  src/components/formula/Picker.tsx
  src/components/formula/VariableList.tsx
  src/renderers/Form/InputFormula.tsx
Labels: fix

#4466 feat:PickerContainer支持隐藏footer&export VariableList and PickerContainer
  src/components/PickerContainer.tsx
  src/components/index.tsx
Labels: feat

#4468 fix:transfer组件云舍样式完善
  scss/components/form/_transfer.scss
  scss/themes/cxd.scss
Labels: fix

#4470 fix: 修复 condition-builder 可能报错问题
  src/utils/helper.ts
Labels: fix

#4477 fix: select组件table选择模式下无法点选问题
  __tests__/event-action/drawer.test.tsx
  __tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  scss/components/form/_selection.scss
  scss/themes/cxd.scss
  src/components/ResultTableList.tsx
  src/components/TableSelection.tsx
Labels: fix

#4473 fix: 修复 Excel 导出时 link 类型不支持 href 变量问题
  examples/components/CRUD/ExportCSVExcel.jsx
  package.json
  src/renderers/Table/exportExcel.ts
Labels: fix

#4465 fix: Transfer组件reload不生效问题
  examples/components/EventAction/cmpt-event-action/TransferEvent.jsx
  src/renderers/Form/Transfer.tsx
Labels: fix

#4446 feat: QRCode二维码组件支持嵌入图片
  docs/zh-CN/components/qrcode.md
  src/renderers/QRCode.tsx
  src/utils/helper.ts
Labels: feat

#4459 feat: Select, InputTag组件支持限制标签最大展示数量
  docs/zh-CN/components/form/input-date-range.md
  docs/zh-CN/components/form/input-date.md
  docs/zh-CN/components/form/input-tag.md
  docs/zh-CN/components/form/select.md
  scss/_properties.scss
  scss/components/_result-box.scss
  scss/components/form/_select.scss
  scss/themes/_cxd-variables.scss
  src/components/ResultBox.tsx
  src/components/Select.tsx
  src/components/TooltipWrapper.tsx
  src/components/TransferDropDown.tsx
  src/renderers/Form/InputTag.tsx
  src/renderers/Form/Select.tsx
Labels: feat

#4484 fix(helper): 修正everyTree, 增加isObservableArray判断
  src/utils/helper.ts
Labels: fix

#4493 doc:更新Hash路由参考链接和文案
  docs/zh-CN/start/getting-started.md
Labels: doc

#4485 docs: 修复线上bug，内外网都发一版 1.9.1-beta.21
  package.json
Labels: bug, doc

#4492 fix(inputFormula): 修正selfVariableName自身变量识别不准确的问题
  src/components/formula/VariableList.tsx
Labels: fix

#4497 fix:修复conditonbuilder配置formula失效问题
  scss/components/_formula.scss
  src/components/formula/Picker.tsx
  src/renderers/Form/ConditionBuilder.tsx
Labels: fix

#4498 fix:formula背景色样式
  scss/components/_formula.scss
Labels: fix

#4504 docs:校正事件表说明
  docs/zh-CN/components/action.md
  docs/zh-CN/components/calendar.md
  docs/zh-CN/components/carousel.md
  docs/zh-CN/components/dialog.md
  docs/zh-CN/components/drawer.md
  docs/zh-CN/components/form/button-group-select.md
  docs/zh-CN/components/form/chain-select.md
  docs/zh-CN/components/form/checkbox.md
  docs/zh-CN/components/form/checkboxes.md
  docs/zh-CN/components/form/combo.md
  docs/zh-CN/components/form/diff-editor.md
  docs/zh-CN/components/form/editor.md
  docs/zh-CN/components/form/index.md
  docs/zh-CN/components/form/input-city.md
  docs/zh-CN/components/form/input-date-range.md
  docs/zh-CN/components/form/input-date.md
  docs/zh-CN/components/form/input-datetime-range.md
  docs/zh-CN/components/form/input-datetime.md
  docs/zh-CN/components/form/input-excel.md
  docs/zh-CN/components/form/input-file.md
  docs/zh-CN/components/form/input-image.md
  docs/zh-CN/components/form/input-kv.md
  docs/zh-CN/components/form/input-month-range.md
  docs/zh-CN/components/form/input-month.md
  docs/zh-CN/components/form/input-number.md
  docs/zh-CN/components/form/input-quarter-range.md
  docs/zh-CN/components/form/input-quarter.md
  docs/zh-CN/components/form/input-range.md
  docs/zh-CN/components/form/input-rating.md
  docs/zh-CN/components/form/input-tag.md
  docs/zh-CN/components/form/input-text.md
  docs/zh-CN/components/form/input-time-range.md
  docs/zh-CN/components/form/input-time.md
  docs/zh-CN/components/form/input-tree.md
  docs/zh-CN/components/form/input-year-range.md
  docs/zh-CN/components/form/input-year.md
  docs/zh-CN/components/form/list-select.md
  docs/zh-CN/components/form/matrix-checkboxes.md
  docs/zh-CN/components/form/nestedselect.md
  docs/zh-CN/components/form/picker.md
  docs/zh-CN/components/form/radios.md
  docs/zh-CN/components/form/select.md
  docs/zh-CN/components/form/switch.md
  docs/zh-CN/components/form/tabs-transfer-picker.md
  docs/zh-CN/components/form/tabs-transfer.md
  docs/zh-CN/components/form/textarea.md
  docs/zh-CN/components/form/transfer-picker.md
  docs/zh-CN/components/form/transfer.md
  docs/zh-CN/components/form/treeselect.md
  docs/zh-CN/components/page.md
  docs/zh-CN/components/service.md
  docs/zh-CN/components/tabs.md
  docs/zh-CN/components/wizard.md
  docs/zh-CN/concepts/event-action.md
  examples/components/EventAction/cmpt-event-action/InputTreeEvent.jsx
  examples/components/EventAction/cmpt-event-action/SelectEvent.jsx
  examples/components/EventAction/cmpt-event-action/TransferEvent.jsx
  examples/components/EventAction/cmpt-event-action/UploadEvent.jsx
  examples/components/EventAction/cmpt-event-action/treeSelectEvent.jsx
Labels: doc

#4505 fix(inputFormula): 优化标签替换正则，避免变量识别冲突
  src/components/formula/Editor.tsx
Labels: fix

#4508 fix: Select组件选项内容过长时显示错位
  __tests__/event-action/dialog.test.tsx
  __tests__/renderers/Form/__snapshots__/repeat.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  docs/zh-CN/components/form/select.md
  docs/zh-CN/components/tpl.md
  scss/components/form/_select.scss
  src/components/Select.tsx
  src/renderers/Form/Select.tsx
  src/renderers/Tpl.tsx
Labels: fix
