Repository baidu/amis, pull requests merged in 2022-06, with the labels that each got.

#4509 fix: 修复input-image change 事件触发多次问题
  src/renderers/Form/InputImage.tsx
Labels: fix

#4512 feat: 补充 renderers [Action, Card, BreadCrumb] 属性单测
  __tests__/renderers/Action.test.tsx
  __tests__/renderers/Breadcrumb.test.tsx
  __tests__/renderers/Card.test.tsx
  __tests__/renderers/__snapshots__/Action.test.tsx.snap
  __tests__/renderers/__snapshots__/Breadcrumb.test.tsx.snap
  __tests__/renderers/__snapshots__/Card.test.tsx.snap
Labels: feat

#4513 feat: 公式编辑器input-group支持高亮模式
  __tests__/renderers/Form/__snapshots__/inputFormula.test.tsx.snap
  docs/zh-CN/components/form/input-formula.md
  scss/components/_formula.scss
  src/components/formula/Picker.tsx
  src/renderers/Form/InputFormula.tsx
Labels: feat

#4527 feat:combo setValue支持更新指定index的数据
  docs/zh-CN/components/form/combo.md
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis/__tests__/event-action/renderers/form/combo.test.tsx
  packages/amis/src/renderers/Form/Combo.tsx
Labels: feat

#4526 fix: tablView组件 表格属性padding设置无效问题
  packages/amis/src/renderers/TableView.tsx
Labels: fix

#4538 fix: 避免不正确的 api 地址也发起请求
  packages/amis-core/src/utils/api.ts
Labels: fix

#4540 fix(Range): 完善滑块刻度标记展示，避免显示多余元素
  src/components/Range.tsx
Labels: fix

#4528 fix: 修复当 toast 内容是个对象时不显示问题
  package.json
  packages/amis-ui/src/components/Toast.tsx
Labels: fix

#4548 styles: Select错误出现横向滚动，虚拟列表开启后选项宽度错误问题
  docs/zh-CN/components/form/options.md
  docs/zh-CN/components/form/radios.md
  mock/cfc/mock/form/getOptions.js
  mock/cfc/mock/form/getOptions.json
  scss/components/form/_select.scss
  src/components/Select.tsx
Labels: styles, style

#4555 fix:按钮兼容二次确认情况的事件派发&提供并行发送ajax请求动作的demo
  docs/zh-CN/concepts/event-action.md
  packages/amis/src/renderers/Action.tsx
Labels: fix

#4556 chore: monorepo 开发模式直接将包引用重定向到 src 目录
  fis-conf.js
Labels: chore

#4557 fix: 修复 tree-select 搜索后需要点击两次才能点中子节点问题
  src/renderers/Form/TreeSelect.tsx
Labels: fix

#4558 fix: 修复 tree-select 搜索后需要点击两次才能点中子节点问题
  .gitignore
  package-lock.json
  packages/amis-ui/.gitignore
  packages/amis/.gitignore
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: fix

#4561 fix: 修复超级表头和固定列组合使用时样式问题
  src/renderers/Table/index.tsx
Labels: fix

#4564 fix 公式编辑器样式问题
  packages/amis-ui/scss/components/_formula.scss
Labels: fix

#4566 fix:修复存在侧边栏的情况下，设置pullRefresh.disabled为 false情况下，内容区展示异常问题
  packages/amis-ui/scss/components/_page.scss
Labels: bug, fix

#4569 styles：优化button link风格和图标的样式
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_button.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
Labels: style

#4577 fix(inputFormula): 修正非tabs展示模式下出现多余「self」标签问题
  src/components/formula/Editor.tsx
  src/components/formula/VariableList.tsx
Labels: bug, fix

#4576 fix: 修复 anchor-nav 滚动条异常问题
  packages/amis-ui/scss/components/_anchor-nav.scss
Labels: fix

#4585 fix: tree select组件小尺寸下样式问题
  scss/components/_result-box.scss
Labels: fix

#4587 chore: 减小 input 输入框初始大小避免 tree-select 在 size: md 下容易折行
  scss/_mixins.scss
Labels: chore

#4586 fix: 修复chained-select用例报错问题
  packages/amis/__tests__/renderers/Form/__snapshots__/chainedSelect.test.tsx.snap
  packages/amis/__tests__/renderers/Form/chainedSelect.test.tsx
Labels: fix

#4583 fix: 修复文档页面切到 React 18 后, 切换没有销毁用于预览的组件实例
  examples/components/MdRenderer.jsx
Labels: fix

#4567 feat: echart 配置让更多的属性支持 function 格式,同时补充文档
  docs/zh-CN/components/chart.md
  packages/amis/src/renderers/Chart.tsx
Labels: feat

#4592 fix: 修复 crud 中 actionType reload 其他组件失效问题 & submit配置required在弹窗中错误关闭问题
  src/renderers/CRUD.tsx
  src/renderers/Form/index.tsx
  src/renderers/Table/index.tsx
Labels: fix

#4584 fix: collapse修复事件动作无效问题
  packages/amis-ui/src/components/Collapse.tsx
  packages/amis-ui/src/components/CollapseGroup.tsx
Labels: fix

#4595 fix:crud不对table下发onEvent，避免事件重复监听&button二次确认问题
  src/renderers/Action.tsx
  src/renderers/CRUD.tsx
Labels: fix

#4598 feat：多行文本框支持change事件
  packages/amis/src/renderers/Form/Textarea.tsx
Labels: feat

#4601 docs: 修复文档中示例code多余空格导致的报错
  docs/zh-CN/style/index.md
Labels: doc

#4603 fix: 修复steps 组件远程拉取报 findIndex is not a function 的问题
  packages/amis/src/renderers/Steps.tsx
Labels: fix

#4606 fix(collapse-group): 修正activeKey未更新问题
  packages/amis-core/src/Root.tsx
  packages/amis-ui/src/components/CollapseGroup.tsx
Labels: fix

#4607 chore: vscode 忽略临时文件避免卡顿
  .vscode/settings.json
Labels: chore

#4609 fix(collapse-group): 修复collapse不能折叠的问题
  packages/amis-ui/src/components/CollapseGroup.tsx
Labels: fix

#4588 chore: 减小 input 输入框初始大小避免 tree-select 在 size: md 下容易折行 (#4587)
  packages/amis-ui/scss/_mixins.scss
Labels: chore

#4611 docs: 修复相对值的跳转链接
  docs/zh-CN/components/form/input-date.md
  docs/zh-CN/components/form/input-datetime.md
Labels: doc

#4614 fix: autoFill 在选项有联动配置时会出现重复触发
  package.json
  packages/amis-core/src/renderers/Options.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/range.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/src/renderers/Form/Group.tsx
  tsconfig.json
Labels: fix

#4615 fix: autoFill 在选项有联动配置时会出现重复触发
  src/renderers/Form/Group.tsx
  src/renderers/Form/Options.tsx
Labels: fix

#4616 fix: select组件table选择模式下无法点选问题 (#4477)
  __tests__/event-action/drawer.test.tsx
  __tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  scss/components/form/_selection.scss
  scss/themes/cxd.scss
  src/components/ResultTableList.tsx
  src/components/TableSelection.tsx
Labels: fix

#4624 fix: pick 几个 1.10.x 上的修复提交
  examples/components/CRUD/ExportCSVExcel.jsx
  src/renderers/Form/TreeSelect.tsx
  src/renderers/Table/exportExcel.ts
  src/utils/helper.ts
Labels: fix

#4629 chore: 更新版本到 22
  package.json
  src/renderers/Form/index.tsx
Labels: chore

#4639 test: inputRange事件动作单测
  packages/amis-ui/src/components/Range.tsx
  packages/amis/__tests__/event-action/renderers/form/__snapshots__/range.test.tsx.snap
  packages/amis/__tests__/event-action/renderers/form/range.test.tsx
Labels: fix

#4622 Fix comb repeat remote verification
  packages/amis-core/src/store/form.ts
  packages/amis/src/renderers/Form/Combo.tsx
Labels: bug

#4630 feat: Form，FormItem支持自定label宽度
  docs/zh-CN/components/form/formitem.md
  docs/zh-CN/components/form/index.md
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-ui/scss/components/form/_form.scss
Labels: feat

#4631 fix：公式值特殊字符高亮处理
  packages/amis-ui/src/components/formula/Editor.tsx
  packages/amis-ui/src/components/formula/plugin.ts
Labels: fix

#4632 feat: JSON展示支持设置最大展示长度; fix: Debug面板无法横向滚动
  docs/zh-CN/components/json.md
  packages/amis-core/src/utils/debug.tsx
  packages/amis-ui/scss/components/_debug.scss
  packages/amis/src/renderers/Json.tsx
Labels: feat

#4637 feat: InputTag支持max，maxTagLength，separator
  docs/zh-CN/components/form/input-tag.md
  packages/amis-ui/src/components/ResultBox.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTag.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputTag.test.tsx
  packages/amis/__tests__/renderers/Form/list.test.tsx
  packages/amis/src/renderers/Form/InputTag.tsx
Labels: feat

#4642 feat: checkboxed支持menuTpl
  docs/zh-CN/components/form/checkboxes.md
  packages/amis/__tests__/renderers/Form/__snapshots__/checkboxes.test.tsx.snap
  packages/amis/__tests__/renderers/Form/checkboxes.test.tsx
  packages/amis/src/renderers/Form/Checkboxes.tsx
Labels: feat

#4643 chore: 减小 input 输入框初始大小避免 tree-select 在 size: md 下容易折行 (#4587)
  scss/_mixins.scss
Labels: chore

#4647 fix: 调整按钮配置了requiredOn之后校验的逻辑
  src/renderers/Form/index.tsx
Labels: fix

#4648 docs: 修复样式文档下搜索栏无法输入问题
  examples/components/CssDocs.tsx
Labels: doc

#4618 feat:表单项增加参照录入
  docs/zh-CN/components/form/formitem.md
  examples/components/MdRenderer.jsx
  packages/amis-core/src/components/Overlay.tsx
  packages/amis-core/src/components/PopOver.tsx
  packages/amis-core/src/index.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/types.ts
  packages/amis-formula/__tests__/evalute.test.ts
  packages/amis-formula/src/evalutor.ts
  packages/amis-ui/src/components/ColorPicker.tsx
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/LocationPicker.tsx
  packages/amis-ui/src/components/MonthRangePicker.tsx
  packages/amis-ui/src/components/PopOverContainer.tsx
  packages/amis-ui/src/components/Range.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis-ui/src/components/TooltipWrapper.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis-ui/src/components/table/HeadCellDropDown.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/Schema.ts
  packages/amis/src/renderers/DropDownButton.tsx
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
  packages/amis/src/renderers/Form/InputTag.tsx
  packages/amis/src/renderers/Form/NestedSelect.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
  packages/amis/src/renderers/PopOver.tsx
  packages/amis/src/renderers/QuickEdit.tsx
  packages/amis/src/renderers/Table/ColumnToggler.tsx
  packages/amis/src/renderers/Table/HeadCellFilterDropdown.tsx
  packages/amis/src/renderers/Table/HeadCellSearchDropdown.tsx
Labels: feat

#4662 doc:补充完善inputTable按钮触发新增行文档
  docs/zh-CN/components/action.md
  docs/zh-CN/components/form/input-table.md
Labels: doc

#4657 doc：完善inputText事件表
  docs/zh-CN/components/form/input-text.md
Labels: doc

#4669 feat: Form表单label国际化适配
  packages/amis-ui/src/components/FormField.tsx
Labels: feat

#4668 fix: crud 表格筛选 & 数据域数组数据获取 & 列表渲染方法抽象方便编辑器重写 & 公式编辑器变量高亮内容包括${}
  packages/amis-core/src/utils/DataScope.ts
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/src/components/formula/plugin.ts
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table-v2/ColumnToggler.tsx
  packages/amis/src/renderers/Table-v2/index.tsx
  packages/amis/src/renderers/Table/ColumnToggler.tsx
Labels: fix

#4659 chore: 导出 excel 多做一些类型判断兼容
  packages/amis/src/renderers/Table/exportExcel.ts
Labels: chore

#4635 chore: 调整 esm 模块导出
  amis.code-workspace
  packages/amis-ui/package.json
  packages/amis/.gitignore
  packages/amis/fis-conf.js
  packages/amis/package.json
  packages/amis/rollup.config.js
Labels: chore

#4660 fix:解决按钮组针对统一按钮主题btnLevel & disabled 属性设置不生效的问题
  packages/amis/src/renderers/Form/ButtonGroupSelect.tsx
Labels: fix

#4674 feat:国际化表单label适配
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-ui/src/components/FormField.tsx
Labels: feat

#4677 fix: Action中Required属性和Form校验合并
  docs/zh-CN/components/action.md
  src/renderers/Dialog.tsx
  src/renderers/Form/index.tsx
Labels: fix

#4678 fix: 解决上传文件组件自动填充值为空的情况
  packages/amis/src/renderers/Form/InputFile.tsx
Labels: bug, fix

#4680 fix:自定义列显示问题修复
  docs/zh-CN/components/table-v2.md
  packages/amis-core/src/store/crud.ts
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Table-v2/ColumnToggler.tsx
Labels: fix

#4682 feat: Switch支持不同尺寸
  docs/zh-CN/components/form/switch.md
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/form/_switch.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  packages/amis-ui/scss/themes/cxd.scss
  packages/amis-ui/src/components/Switch.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/switch.test.tsx.snap
  packages/amis/__tests__/renderers/Form/switch.test.tsx
  packages/amis/src/renderers/Form/Switch.tsx
Labels: feat

#4688 fix: 文件上传自动填充问题修复
  docs/zh-CN/components/form/input-file.md
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#4689 fix: require校验完成后不再触发表单项校验问题
  docs/zh-CN/components/action.md
  src/renderers/Form/index.tsx
Labels: fix

#4694 fix:crud动态列问题修复
  packages/amis-core/src/store/crud.ts
Labels: fix

#4700 doc: 更正 crud 文档错误
  docs/zh-CN/components/crud.md
  lerna.json
  packages/amis-core/package.json
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
  packages/amis/src/renderers/CRUD.tsx
Labels: doc

#4706 fix(amis-ui): 完善package exports
  packages/amis-ui/package.json
Labels: fix

#4710 fix: Table无法处理动作未交给上层处理
  docs/zh-CN/components/crud.md
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#4705 fix: 事件动作修复文件下载问题
  packages/amis-core/src/actions/AjaxAction.ts
Labels: fix

#4724 fix: ts 声明
  packages/amis-core/package.json
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
Labels: fix

#4722 feat: App多页应用支持面包屑开关
  packages/amis/src/renderers/App.tsx
Labels: feat

#4719 fix: tooltipWrapper容器挂载问题
  packages/amis/src/renderers/TooltipWrapper.tsx
Labels: fix

#4713 test: 更新QRCode单元测试
  packages/amis/__tests__/renderers/QRCode.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/QRCode.test.tsx.snap
Labels: test

#4715 fix:修复flex布局传递给 flexItem的disabled属性bug问题
  packages/amis/src/renderers/Flex.tsx
Labels: bug, fix, style

#4728 fix: Wizard组件点击下一步会多提交一次问题
  packages/amis/src/renderers/Wizard.tsx
Labels: fix

#4717 doc: 添加 combo setValue 事件动作示例
  docs/zh-CN/components/form/combo.md
  packages/amis-core/src/actions/Action.ts
  packages/amis/src/renderers/Form/Combo.tsx
Labels: doc

#4730 fix: 修复 inputFile inputImage 首次表单提交数据没有携带的问题
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#4731 fix: 修复 cards 报错, Card 中没有 onSelect 事件,所以不需要下发对应逻辑
  lerna.json
  packages/amis-core/package.json
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
  packages/amis/src/renderers/Cards.tsx
Labels: fix

#4734 fix: InputTag组件批量添加错误生效问题
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTag.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputTag.test.tsx
  packages/amis/src/renderers/Form/InputTag.tsx
Labels: fix

#4733 fix:curd loading显示问题
  packages/amis-ui/src/components/Spinner.tsx
  packages/amis/__tests__/renderers/__snapshots__/Page.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Wizard.test.tsx.snap
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Table-v2/index.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#4737 styles：修复antd主题tree组件变量缺失
  scss/themes/_antd-variables.scss
Labels: style

#4738 fix: InputPassword组件revealPassword属性没有update问题
  docs/zh-CN/components/form/input-password.md
  src/renderers/Form/InputText.tsx
  src/renderers/Form/Item.tsx
Labels: fix

#4739 fix: 修复 input-password 在 antd 下不显示问题
  scripts/var-not-in-common.js
  scss/_properties.scss
  scss/themes/_cxd-variables.scss
Labels: fix

#4746 fix： timeLine 展示问题修复
  packages/amis-ui/scss/components/_timeline.scss
Labels: bug, fix

#4753 styles：修复table组件列宽拖拽时，光标位置不准问题
  src/renderers/Table/index.tsx
Labels: style

#4751 docs: 文档中错误的引入路径更新
  docs/zh-CN/concepts/event-action.md
  docs/zh-CN/extend/contribute.md
  docs/zh-CN/extend/i18n.md
  docs/zh-CN/extend/internal.md
  docs/zh-CN/extend/ui-library.md
  docs/zh-CN/start/getting-started.md
Labels: doc

#4752 styles：修复table组件列宽拖拽时，光标位置不准问题
  docs/zh-CN/components/table.md
  packages/amis/src/renderers/Table/index.tsx
Labels: style

#4742 fix: 修复 input-password 在 antd 下不显示问题
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  scripts/var-not-in-common.js
Labels: fix
