Repository baidu/amis, pull requests merged in 2022-11, with the labels that each got.

#5663 chore: 开发模式下替换__buildVersion
  fis-conf.js
Labels: chore

#5624 feat: iframe支持base64编码的mime类型
  docs/zh-CN/components/iframe.md
  examples/components/IFrame.jsx
  packages/amis/src/renderers/IFrame.tsx
Labels: awaiting-final-review, feat

#5627 fix: CURD列label为变量时export-excel未替换
  packages/amis-core/src/store/table.ts
Labels: awaiting-final-review, fix

#5616 chore: 调整useMobileUI参数判断
  packages/amis-core/src/index.tsx
Labels: chore

#5632 fix: Table组件开启checkOnItemClick后无法限制选择上限问题
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: awaiting-final-review, fix

#5658 chore: 人员选择组件关闭下拉框后清空搜索结果
  docs/zh-CN/components/form/select.md
  mock/cfc/mock/form/departUserSearch.js
  packages/amis-ui/src/components/PopOverContainer.tsx
  packages/amis-ui/src/components/TransferDropDown.tsx
Labels: chore

#5604 styles: Transfer组件默认值与option不匹配时错误提示
  packages/amis-ui/scss/components/form/_result-list.scss
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/scss/components/form/_transfer.scss
  packages/amis-ui/src/components/ResultList.tsx
  packages/amis-ui/src/components/Selection.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: awaiting-final-review, style

#5665 chore: 设置 tsconfig.json 修改 vscode 文件定位到源码
  tsconfig.json
Labels: chore

#5669 feat:chart接入事件动作
  docs/zh-CN/components/chart.md
  examples/components/EventAction/cmpt-event-action/ChartEvent.jsx
  examples/components/Example.jsx
  packages/amis/src/renderers/Chart.tsx
Labels: feat

#5667 chore: input-group 没有 name 不应该报 warning
  packages/amis-core/src/renderers/wrapControl.tsx
Labels: chore

#5670 chore: 处理编译TS Warning，调整TableStore中label解析的顺序
  packages/amis-core/package.json
  packages/amis-core/rollup.config.js
  packages/amis-core/src/store/table.ts
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis-ui/rollup.config.js
  packages/amis/build.sh
  packages/amis/package.json
  packages/amis/rollup.config.js
  tsconfig.json
Labels: chore

#5668 feat: timeline时间轴支持自定义图标
  packages/amis-ui/src/components/TimelineItem.tsx
  packages/amis/src/renderers/Timeline.tsx
Labels: feat

#5672 fix: 调整echarts-stat使用方式，兼容vite打包异步非esm模块
  packages/amis/src/renderers/Chart.tsx
Labels: fix

#5674 feat: chart 支持配置加载 geojson 及百度地图
  docs/zh-CN/components/chart.md
  examples/components/Chart.jsx
  mock/cfc/mock/map/HK.json
  packages/amis/src/renderers/Chart.tsx
Labels: feat

#5678 chore: 修复 coverage 运行报错
  package.json
  packages/amis/src/renderers/CRUD2.tsx
Labels: chore

#5679 chore: coverage 执行换成 v8 解决内存问题
  package.json
  packages/amis/src/renderers/Form/Group.tsx
Labels: chore

#5660 fix: input-number 大数模式下, min、max 支持大数
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/number.test.tsx.snap
  packages/amis/__tests__/renderers/Form/number.test.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#5682 chore: 调整 vite 后 gh-pages 问题修复
  examples/docs.json
  fis-conf.js
  index.html
  package.json
  packages/amis-core/rollup.config.js
  packages/amis/package.json
  packages/amis/rollup.config.js
  scripts/mockApiPlugin.ts
Labels: chore

#5686 chore: 本地开发 app 模式也支持 vite
  examples/app/index-vite.html
  scripts/mockApiPlugin.ts
Labels: chore

#5690 feat: 添加 Combo InputTable ui 组件
  packages/amis-core/rollup.config.js
  packages/amis-core/src/index.tsx
  packages/amis-ui/scss/components/_button.scss
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/src/components/ArrayInput.tsx
  packages/amis-ui/src/components/Combo.tsx
  packages/amis-ui/src/components/Form.tsx
  packages/amis-ui/src/components/FormField.tsx
  packages/amis-ui/src/components/InputTable.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis-ui/src/hooks/use-sub-form.ts
  packages/amis/src/renderers/Form/Combo.tsx
  tsconfig.json
  vite.config.ts
Labels: feat

#5693 chore: combo组件items扩充编辑器的拖拽点位
  packages/amis/src/renderers/Form/Combo.tsx
Labels: feat

#5666 fix: 数字输入框-属性配置-placeholder置灰+边框与form-input统一
  packages/amis-ui/scss/components/form/_number.scss
Labels: bug, fix

#5694 feat:Remark组件支持自定义图标
  packages/amis/src/renderers/Remark.tsx
Labels: feat

#5477 fix: https://github.com/baidu/amis/issues/4681
  packages/amis-formula/package.json
Labels: fix

#5695 feat: ui 组件 form 支持 autoSubmit
  packages/amis-ui/src/components/Form.tsx
  packages/amis-ui/src/hooks/use-sub-form.ts
Labels: feat

#5698 chore: sdk embed 方法添加 callback 在 callback 中可确保 scoped 方法是可用的
  examples/embed.tsx
  package.json
Labels: chore

#5676 fix: filter 过滤器 isTrue/isFalse 问题修复
  packages/amis-core/__tests__/filter.test.ts
  packages/amis-core/src/utils/filter.ts
  packages/amis-formula/__tests__/__snapshots__/lexer.test.ts.snap
  packages/amis-formula/__tests__/lexer.test.ts
  packages/amis-formula/src/lexer.ts
Labels: fix

#5701 chore: InputArray新增默认值示例, 调整Combo组件scaffold逻辑
  docs/zh-CN/components/form/input-array.md
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputArray.tsx
Labels: chore

#5703 chore: InputNumber严格判断大数模式，避免错误抛出string类型值
  packages/amis-ui/src/components/NumberInput.tsx
Labels: chore

#5704 fix: 修复查看代码报 require is not defined 错误
  examples/components/SchemaRender.jsx
Labels: fix

#5708 feat: 补充 ConfirmBox ui 控件, 并将 PickerContainer 改成 ConfirmBox 实现
  packages/amis-core/src/utils/validations.ts
  packages/amis-ui/examples/App.tsx
  packages/amis-ui/examples/basic/Button.tsx
  packages/amis-ui/examples/form/Combo.tsx
  packages/amis-ui/examples/form/InputTable.tsx
  packages/amis-ui/examples/modal/ConfirmBox.tsx
  packages/amis-ui/examples/modal/PickerContainer.tsx
  packages/amis-ui/index.html
  packages/amis-ui/package.json
  packages/amis-ui/src/components/Combo.tsx
  packages/amis-ui/src/components/ConfirmBox.tsx
  packages/amis-ui/src/components/Form.tsx
  packages/amis-ui/src/components/InputTable.tsx
  packages/amis-ui/src/components/PickerContainer.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis-ui/src/hooks/use-validation-resolver.ts
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis-ui/tsconfig.json
Labels: feat

#5702 chore: 优化 locale, theme hoc, 存在 context 直接复用
  packages/amis-core/src/locale.tsx
  packages/amis-core/src/theme.tsx
Labels: chore

#5705 chore: 日期范围类组件单元测试补充
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/calendar/DaysView.tsx
  packages/amis-ui/src/components/calendar/TimeView.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/dateRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputMonthRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputQuarterRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputYearRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/dateRange.test.tsx
  packages/amis/__tests__/renderers/Form/datetimeRange.test.tsx
  packages/amis/__tests__/renderers/Form/inputMonthRange.test.tsx
  packages/amis/__tests__/renderers/Form/inputQuarterRange.test.tsx
  packages/amis/__tests__/renderers/Form/inputYearRange.test.tsx
  packages/amis/__tests__/renderers/Form/timeRange.test.tsx
Labels: chore

#5681 fix: 评分组件 count 支持变量获取
  packages/amis-ui/src/components/Rating.tsx
  packages/amis/src/renderers/Form/InputRating.tsx
Labels: fix

#5612 feat: select transfer 除树形模式外,增加虚拟列表能力
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/src/components/AssociatedSelection.tsx
  packages/amis-ui/src/components/ChainedSelection.tsx
  packages/amis-ui/src/components/GroupedSelection.tsx
  packages/amis-ui/src/components/ResultList.tsx
  packages/amis-ui/src/components/ResultTableList.tsx
  packages/amis-ui/src/components/Selection.tsx
  packages/amis-ui/src/components/TableSelection.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/TransferDropDown.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis-ui/src/components/virtual-list/AutoSizer.tsx
  packages/amis-ui/src/components/virtual-list/index.tsx
  packages/amis/__tests__/helper.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/select.test.tsx
  packages/amis/__tests__/renderers/Form/transfer.test.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: feat

#5716 chore: merge master into feat-virtual-list branch
  docs/zh-CN/components/form/input-array.md
  examples/components/SchemaRender.jsx
  examples/embed.tsx
  package.json
  packages/amis-core/__tests__/filter.test.ts
  packages/amis-core/src/locale.tsx
  packages/amis-core/src/theme.tsx
  packages/amis-core/src/utils/filter.ts
  packages/amis-core/src/utils/validations.ts
  packages/amis-formula/__tests__/__snapshots__/lexer.test.ts.snap
  packages/amis-formula/__tests__/lexer.test.ts
  packages/amis-formula/package.json
  packages/amis-formula/src/lexer.ts
  packages/amis-ui/examples/App.tsx
  packages/amis-ui/examples/basic/Button.tsx
  packages/amis-ui/examples/form/Combo.tsx
  packages/amis-ui/examples/form/InputTable.tsx
  packages/amis-ui/examples/modal/ConfirmBox.tsx
  packages/amis-ui/examples/modal/PickerContainer.tsx
  packages/amis-ui/index.html
  packages/amis-ui/package.json
  packages/amis-ui/scss/components/form/_number.scss
  packages/amis-ui/src/components/Combo.tsx
  packages/amis-ui/src/components/ConfirmBox.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/Form.tsx
  packages/amis-ui/src/components/InputTable.tsx
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis-ui/src/components/PickerContainer.tsx
  packages/amis-ui/src/components/Rating.tsx
  packages/amis-ui/src/components/calendar/DaysView.tsx
  packages/amis-ui/src/components/calendar/TimeView.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis-ui/src/hooks/use-sub-form.ts
  packages/amis-ui/src/hooks/use-validation-resolver.ts
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis-ui/tsconfig.json
  packages/amis/__tests__/renderers/Form/__snapshots__/dateRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputMonthRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputQuarterRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputYearRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/dateRange.test.tsx
  packages/amis/__tests__/renderers/Form/datetimeRange.test.tsx
  packages/amis/__tests__/renderers/Form/inputMonthRange.test.tsx
  packages/amis/__tests__/renderers/Form/inputQuarterRange.test.tsx
  packages/amis/__tests__/renderers/Form/inputYearRange.test.tsx
  packages/amis/__tests__/renderers/Form/timeRange.test.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputArray.tsx
  packages/amis/src/renderers/Form/InputRating.tsx
  packages/amis/src/renderers/Remark.tsx
Labels: feat, chore

#5715 fix: dateRange test 快照去除
  packages/amis/__tests__/renderers/Form/__snapshots__/dateRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/dateRange.test.tsx
Labels: fix

#5673 fix: InputText组件开启autoComplete添加重复内容时错误清空value问题
  packages/amis/src/renderers/Form/InputText.tsx
Labels: fix

#5714 feat: confirmText 当运算结果为空时不展示,可以实现根据条件二次弹窗的需求场景
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/CRUD.tsx
Labels: feat

#5721 fix: 修复 xxxOn 在 store 里面可能不更新的问题
  packages/amis-core/src/WithStore.tsx
Labels: fix

#5724 docs: InputTable文档needConfirm属性细化描述
  docs/zh-CN/components/form/input-table.md
Labels: doc

#5727 fix: 修复 showSteps 为 false 时不生效的问题(#5723)
  packages/amis-ui/scss/components/form/_number.scss
Labels: fix

#5728 chore: 优化数组类表单输入,解决编辑失去焦点问题
  packages/amis-ui/examples/form/Combo.tsx
  packages/amis-ui/examples/form/InputTable.tsx
  packages/amis-ui/src/components/Combo.tsx
  packages/amis-ui/src/components/Form.tsx
  packages/amis-ui/src/components/InputTable.tsx
  packages/amis-ui/src/components/schema-editor/Common.tsx
  packages/amis-ui/src/hooks/use-sub-form.ts
Labels: chore

#5729 feat: 添加 isVariableName 验证器
  docs/zh-CN/components/form/formitem.md
  packages/amis-core/src/utils/validations.ts
  packages/amis-ui/src/components/Combo.tsx
  packages/amis-ui/src/components/ConfirmBox.tsx
  packages/amis-ui/src/components/InputTable.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
Labels: chore

#5731 docs: 修复formItem文档属性表展示错乱问题
  docs/zh-CN/components/form/formitem.md
Labels: doc

#5719 docs: 文档-快速开始-切换主题，不必要的文字
  docs/zh-CN/start/getting-started.md
Labels: doc

#5712 style: 主题变量整理
  examples/components/App.tsx
  index.html
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/_utilities.scss
  packages/amis-ui/scss/components/_button-group.scss
  packages/amis-ui/scss/components/_button.scss
  packages/amis-ui/scss/components/_card.scss
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/scss/components/_wizard.scss
  packages/amis-ui/scss/components/form/_combo.scss
  packages/amis-ui/scss/components/form/_file.scss
  packages/amis-ui/scss/components/form/_sub-form.scss
  packages/amis-ui/scss/components/form/_transfer.scss
  packages/amis-ui/scss/themes/_ang-variables.scss
  packages/amis-ui/scss/themes/_antd-colors.scss
  packages/amis-ui/scss/themes/_antd-variables.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  packages/amis-ui/scss/themes/_dark-variables.scss
  packages/amis-ui/scss/themes/ang.scss
  packages/amis-ui/scss/themes/antd.scss
  packages/amis-ui/scss/themes/cxd.scss
  packages/amis-ui/scss/themes/dark.scss
  packages/amis-ui/src/icons/slider-handle-icon.svg
Labels: style

#5743 fix: 日期类组件字体大小修复
  packages/amis-ui/scss/components/form/_date-range.scss
  packages/amis-ui/scss/components/form/_date.scss
Labels: fix

#5747 chore: ui form 支持 onValidate
  packages/amis-ui/examples/modal/ConfirmBox.tsx
  packages/amis-ui/src/components/ConfirmBox.tsx
  packages/amis-ui/src/components/Form.tsx
  packages/amis-ui/src/hooks/use-validation-resolver.ts
Labels: chore

#5700 feat:部分组件支持init事件&部分选项组件支持selectedItems参数
  docs/zh-CN/components/app.md
  docs/zh-CN/components/chart.md
  docs/zh-CN/components/form/index.md
  docs/zh-CN/components/form/input-tag.md
  docs/zh-CN/components/form/radios.md
  docs/zh-CN/components/form/select.md
  docs/zh-CN/components/page.md
  docs/zh-CN/components/service.md
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/utils/filter-schema.ts
  packages/amis/__tests__/renderers/Page.test.tsx
  packages/amis/src/renderers/App.tsx
  packages/amis/src/renderers/Chart.tsx
  packages/amis/src/renderers/Form/InputTag.tsx
  packages/amis/src/renderers/Form/Radios.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Service.tsx
Labels: feat

#5753 feat:SearchBox接入事件
  docs/zh-CN/components/search-box.md
  examples/components/EventAction/cmpt-event-action/SearchBoxEvent.jsx
  examples/components/Example.jsx
  packages/amis-ui/src/components/SearchBox.tsx
  packages/amis/src/renderers/SearchBox.tsx
Labels: feat

#5738 chore: 调整 svg 配置能在文件夹中一眼看出来是啥样
  packages/amis-ui/src/components/FormField.tsx
  packages/amis-ui/src/icons/alert-danger.svg
  packages/amis-ui/src/icons/alert-info.svg
  packages/amis-ui/src/icons/alert-success.svg
  packages/amis-ui/src/icons/alert-warning.svg
  packages/amis-ui/src/icons/check-circle.svg
  packages/amis-ui/src/icons/clock.svg
  packages/amis-ui/src/icons/close-small.svg
  packages/amis-ui/src/icons/cloud-upload.svg
  packages/amis-ui/src/icons/date.svg
  packages/amis-ui/src/icons/department.svg
  packages/amis-ui/src/icons/desk-empty.svg
  packages/amis-ui/src/icons/dot.svg
  packages/amis-ui/src/icons/down-arrow-bold.svg
  packages/amis-ui/src/icons/down.svg
  packages/amis-ui/src/icons/drag-bar.svg
  packages/amis-ui/src/icons/drag.svg
  packages/amis-ui/src/icons/edit.svg
  packages/amis-ui/src/icons/function.svg
  packages/amis-ui/src/icons/input-clear.svg
  packages/amis-ui/src/icons/invisible.svg
  packages/amis-ui/src/icons/loading-outline.svg
  packages/amis-ui/src/icons/menu.svg
  packages/amis-ui/src/icons/mute.svg
  packages/amis-ui/src/icons/new-edit.svg
  packages/amis-ui/src/icons/pause.svg
  packages/amis-ui/src/icons/plus-fine.svg
  packages/amis-ui/src/icons/post.svg
  packages/amis-ui/src/icons/refresh.svg
  packages/amis-ui/src/icons/remove.svg
  packages/amis-ui/src/icons/retry.svg
  packages/amis-ui/src/icons/right-double-arrow.svg
  packages/amis-ui/src/icons/role.svg
  packages/amis-ui/src/icons/rotate-left.svg
  packages/amis-ui/src/icons/rotate-right.svg
  packages/amis-ui/src/icons/scale-origin.svg
  packages/amis-ui/src/icons/slider-handle-icon.svg
  packages/amis-ui/src/icons/star.svg
  packages/amis-ui/src/icons/status-close.svg
  packages/amis-ui/src/icons/status-fail.svg
  packages/amis-ui/src/icons/status-info.svg
  packages/amis-ui/src/icons/status-success.svg
  packages/amis-ui/src/icons/status-warning.svg
  packages/amis-ui/src/icons/steps-finsh.svg
  packages/amis-ui/src/icons/transparent.svg
  packages/amis-ui/src/icons/trash.svg
  packages/amis-ui/src/icons/tree-down.svg
  packages/amis-ui/src/icons/upload.svg
  packages/amis-ui/src/icons/user-remove.svg
  packages/amis-ui/src/icons/view.svg
  packages/amis-ui/src/icons/volume.svg
Labels: chore

#5754 feat:iframe接入事件动作
  docs/zh-CN/components/iframe.md
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/DialogAction.ts
  packages/amis-core/src/env.tsx
  packages/amis/src/renderers/IFrame.tsx
Labels: feat

#5756 feat：combo组件添加addItem动作
  docs/zh-CN/components/form/combo.md
  packages/amis/src/renderers/Form/Combo.tsx
Labels: feat

#5761 feat:api支持自定义提示信息
  docs/zh-CN/types/api.md
  packages/amis-core/src/actions/AjaxAction.ts
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/store/service.ts
  packages/amis-core/src/store/table2.ts
  packages/amis-core/src/types.ts
  packages/amis/src/renderers/Chart.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Log.tsx
  packages/amis/src/renderers/Service.tsx
Labels: feat

#5765 fix:chart事件失效问题
  examples/components/EventAction/cmpt-event-action/ChartEvent.jsx
  packages/amis/src/renderers/Chart.tsx
Labels: fix

#5764 fix[CodeMirror] 聚焦、失焦事件补充
  packages/amis-ui/src/components/CodeMirror.tsx
Labels: fix

#5770 fix: log文档
  docs/zh-CN/components/log.md
Labels: bug, fix

#5768 fix: combo组件文档draggableTip字段默认值问题
  docs/zh-CN/components/form/combo.md
Labels: fix

#5748 fix: inputTable 复制取消问题修复
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#5746 fix: table itemActions 左右滚动位置问题修复
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5744 styles: 修复card\images样式
  packages/amis-ui/scss/components/_button.scss
  packages/amis-ui/scss/components/_card.scss
  packages/amis-ui/scss/components/_images.scss
Labels: style

#5781 feat: button增加font-weight
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_array-input.scss
  packages/amis-ui/scss/components/_button.scss
  packages/amis-ui/scss/components/form/_combo.scss
  packages/amis-ui/scss/components/form/_tag.scss
Labels: feat

#5779 [1.9]fix: options 组件接口错误提示问题修复
  src/store/formItem.ts
Labels: fix

#5785 styles: input-image固定尺寸后fixedSize下预览失败
  packages/amis-ui/scss/components/_images.scss
Labels: fix

#5797 fix: 修复安全风险,避免调用原型上方法
  packages/amis-formula/src/evalutor.ts
Labels: fix

#5774 fix: pc端城市选择香港、澳门不能选择市
  packages/amis-ui/src/components/CityDB.ts
  packages/amis/src/renderers/Form/InputCity.tsx
Labels: fix

#5789 fix[types]: 补充组件类型声明
  packages/amis-core/src/components/LazyComponent.tsx
  packages/amis-core/src/components/Overlay.tsx
Labels: fix

#5775 chore: 修复主题编辑器报错导致没法用 Close #5316
  examples/components/Theme.tsx
Labels: chore

#5795 fix: 修复textarea focus逻辑不生效
  packages/amis-ui/src/components/Textarea.tsx
  packages/amis/src/renderers/Form/Textarea.tsx
Labels: fix

#5749 styles: Table组件label与表头按钮重叠问题修复
  packages/amis-ui/scss/components/_table.scss
Labels: fix

#5791 fix: inputTable组件中嵌套Combo时数据域覆盖问题
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#5777 chore: input-city chained-select 单测补充
  packages/amis/__tests__/renderers/Form/__snapshots__/chainedSelect.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/city.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputCity.test.tsx.snap
  packages/amis/__tests__/renderers/Form/buttonToolBar.test.tsx
  packages/amis/__tests__/renderers/Form/chainedSelect.test.tsx
  packages/amis/__tests__/renderers/Form/city.test.tsx
  packages/amis/__tests__/renderers/Form/inputCity.test.tsx
Labels: chore

#5782 chore: button-group-select 单测补充
  packages/amis/__tests__/renderers/Form/__snapshots__/buttonGroupSelect.test.tsx.snap
  packages/amis/__tests__/renderers/Form/buttonGroup.test.tsx
  packages/amis/__tests__/renderers/Form/buttonGroupSelect.test.tsx
Labels: chore

#5752 chore: combo 单测补充
  packages/amis/__tests__/renderers/Form/__snapshots__/combo.test.tsx.snap
  packages/amis/__tests__/renderers/Form/combo.test.tsx
Labels: chore

#5799 feat: select transfer 树形模式增加虚拟滚动支持, treeSelect 虚拟滚动参数
  docs/zh-CN/components/form/input-tree.md
  docs/zh-CN/components/form/transfer.md
  packages/amis-ui/src/components/AssociatedSelection.tsx
  packages/amis-ui/src/components/ResultList.tsx
  packages/amis-ui/src/components/ResultTreeList.tsx
  packages/amis-ui/src/components/TabsTransfer.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/TabsTransfer.tsx
  packages/amis/src/renderers/Form/TabsTransferPicker.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: feat

#5786 feat: Image开启工具栏后支持滚轮放大/缩小图片
  packages/amis-ui/src/components/ImageGallery.tsx
Labels: feat

#5794 feat: Timeline组件节点icon支持图片url
  docs/zh-CN/components/timeline.md
  packages/amis-core/src/utils/icon.tsx
  packages/amis-ui/src/components/TimelineItem.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis/src/renderers/Timeline.tsx
Labels: feat

#5806 chore: 修复inputRef类型错误
  packages/amis-ui/src/components/Textarea.tsx
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
Labels: chore

#5784 feat: tree-select 支持 maxTagCount 属性
  packages/amis/src/renderers/Form/InputTag.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: feat

#5733 feat: 在分支条件时允许给 dropdown-button 添加类名
  packages/amis/src/renderers/Form/Combo.tsx
Labels: feat

#5807 fix: tree 多级时，通过递归parent来判断展开收起
  packages/amis-ui/src/components/Tree.tsx
Labels: fix

#5814 fix: 调整 tree 组件中，判断父子关系的方法
  packages/amis-ui/src/components/Tree.tsx
Labels: fix

#5815 chore: 避免 stack 不存在导致的报错
  mock/cfc/index.js
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/store/service.ts
  packages/amis/src/renderers/Table/exportExcel.ts
Labels: chore

#5821 chore: tabs、tabsTransfer、tabsTransferPicker 单测补充
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransferPicker.test.tsx.snap
  packages/amis/__tests__/renderers/Form/tabsTransfer.test.tsx
  packages/amis/__tests__/renderers/Form/tabsTransferPicker.test.tsx
  packages/amis/__tests__/renderers/Tabs.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Tabs.test.tsx.snap
Labels: chore

#5825 Revert "chore: merge master into feat-virtual-list branch"
  docs/zh-CN/components/form/input-array.md
  examples/components/SchemaRender.jsx
  examples/embed.tsx
  package.json
  packages/amis-core/__tests__/filter.test.ts
  packages/amis-core/src/locale.tsx
  packages/amis-core/src/theme.tsx
  packages/amis-core/src/utils/filter.ts
  packages/amis-core/src/utils/validations.ts
  packages/amis-formula/__tests__/__snapshots__/lexer.test.ts.snap
  packages/amis-formula/__tests__/lexer.test.ts
  packages/amis-formula/package.json
  packages/amis-formula/src/lexer.ts
  packages/amis-ui/examples/App.tsx
  packages/amis-ui/examples/basic/Button.tsx
  packages/amis-ui/examples/form/Combo.tsx
  packages/amis-ui/examples/form/InputTable.tsx
  packages/amis-ui/examples/modal/ConfirmBox.tsx
  packages/amis-ui/examples/modal/PickerContainer.tsx
  packages/amis-ui/index.html
  packages/amis-ui/package.json
  packages/amis-ui/scss/components/form/_number.scss
  packages/amis-ui/src/components/Combo.tsx
  packages/amis-ui/src/components/ConfirmBox.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/Form.tsx
  packages/amis-ui/src/components/InputTable.tsx
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis-ui/src/components/PickerContainer.tsx
  packages/amis-ui/src/components/Rating.tsx
  packages/amis-ui/src/components/calendar/DaysView.tsx
  packages/amis-ui/src/components/calendar/TimeView.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis-ui/src/hooks/use-sub-form.ts
  packages/amis-ui/src/hooks/use-validation-resolver.ts
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis-ui/tsconfig.json
  packages/amis/__tests__/renderers/Form/__snapshots__/dateRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputMonthRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputQuarterRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputYearRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/dateRange.test.tsx
  packages/amis/__tests__/renderers/Form/datetimeRange.test.tsx
  packages/amis/__tests__/renderers/Form/inputMonthRange.test.tsx
  packages/amis/__tests__/renderers/Form/inputQuarterRange.test.tsx
  packages/amis/__tests__/renderers/Form/inputYearRange.test.tsx
  packages/amis/__tests__/renderers/Form/timeRange.test.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputArray.tsx
  packages/amis/src/renderers/Form/InputRating.tsx
  packages/amis/src/renderers/Remark.tsx
Labels: feat, chore

#5829 merge: feat-virtual-list into master
  docs/zh-CN/components/form/input-tree.md
  docs/zh-CN/components/form/transfer.md
  examples/components/Form/Tree.jsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/scss/components/form/_transfer.scss
  packages/amis-ui/scss/components/form/_tree.scss
  packages/amis-ui/src/components/AssociatedSelection.tsx
  packages/amis-ui/src/components/ChainedSelection.tsx
  packages/amis-ui/src/components/GroupedSelection.tsx
  packages/amis-ui/src/components/ResultList.tsx
  packages/amis-ui/src/components/ResultTableList.tsx
  packages/amis-ui/src/components/ResultTreeList.tsx
  packages/amis-ui/src/components/Selection.tsx
  packages/amis-ui/src/components/TableSelection.tsx
  packages/amis-ui/src/components/TabsTransfer.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/TransferDropDown.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis-ui/src/components/virtual-list/AutoSizer.tsx
  packages/amis-ui/src/components/virtual-list/index.tsx
  packages/amis/__tests__/helper.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransferPicker.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/select.test.tsx
  packages/amis/__tests__/renderers/Form/transfer.test.tsx
  packages/amis/__tests__/renderers/Tree.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Tree.test.tsx.snap
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/TabsTransfer.tsx
  packages/amis/src/renderers/Form/TabsTransferPicker.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: feat

#5802 fix: table 开启快速编辑即时保存依然展示提交按钮
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5831 doc: 增加 Spinner 默认表现说明
  docs/zh-CN/components/spinner.md
Labels: doc

#5823 chore: getTheme默认入参为cxd
  packages/amis-core/src/theme.tsx
Labels: chore

#5809 fix: 修复condition-builder组件select类型placeholder属性不生效的bug
  docs/zh-CN/components/form/condition-builder.md
  packages/amis-ui/src/components/condition-builder/Value.tsx
Labels: bug, feat

#5801 fix: maxKeepItemSelectionLength默认值为0导致Picker无法选择问题
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/List.tsx
Labels: fix

#5800 styles: CRUD工具栏中的Select自动计算挂载点避免遮挡
  docs/zh-CN/components/form/picker.md
  packages/amis-ui/src/components/Pagination.tsx
  packages/amis/src/renderers/CRUD.tsx
Labels: style

#5830 fix: formItem 在 shouldUpdate 属性列表中增加 loading
  packages/amis-core/src/renderers/Item.tsx
Labels: fix

#5839 fix(默认值支持表达式): 兼容非法公式展示，避免渲染异常
  packages/amis-core/src/utils/formula.ts
Labels: fix

#5840 fix(默认值支持公式): 清空value时删除数据域中对应的数值
  packages/amis-core/src/renderers/wrapControl.tsx
Labels: fix

#5739 feat: Combo组件minLength, maxLength支持变量传入
  docs/zh-CN/components/form/combo.md
  docs/zh-CN/components/form/input-table.md
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: feat

#5834 fix: 修复 combo 单条模式 subFormMode 配置无效问题
  packages/amis-ui/scss/components/_collapse.scss
  packages/amis/src/renderers/Form/Combo.tsx
Labels: request-changes, fix

#5842 fix: Select选项编辑和删除提示遮挡问题修正，改用top展示
  packages/amis-ui/src/components/Select.tsx
Labels: fix

#5845 fix: picker 默认 valueField 下的问题, 参照录入增加传递 valueField 字段
  docs/zh-CN/components/form/formitem.md
  packages/amis-core/src/renderers/Item.tsx
  packages/amis/src/renderers/Form/Picker.tsx
Labels: fix

#5846 chore: Jest测试环境下关闭log输出
  packages/amis-core/__tests__/jest.setup.js
  packages/amis-core/src/actions/Action.ts
Labels: chore

#5837 doc: 完善 Spinner 文档
  docs/zh-CN/components/spinner.md
Labels: doc

#5849 chore: 一些单测偶现问题修改
  docs/zh-CN/components/form/input-table.md
  packages/amis/__tests__/renderers/Form/__snapshots__/combo.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputCity.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransferPicker.test.tsx.snap
  packages/amis/__tests__/renderers/Form/chainedSelect.test.tsx
  packages/amis/__tests__/renderers/Form/combo.test.tsx
  packages/amis/__tests__/renderers/Form/inputCity.test.tsx
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/__tests__/renderers/Form/tabsTransferPicker.test.tsx
Labels: chore

#5847 feat: input输入框变量样式&切换图标方案
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_text.scss
  packages/amis-ui/scss/components/form/_textarea.scss
  packages/amis-ui/src/components/icons.tsx
  packages/amis/src/renderers/Form/IconSelect.tsx
  packages/amis/src/renderers/Form/IconSelectStore.tsx
  packages/amis/src/renderers/Form/InputText.tsx
Labels: feat
