Repository baidu/amis, pull requests merged in 2022-12, with the labels that each got.

#5858 fix: 修复选择图标没选中
  packages/amis/src/renderers/Form/IconSelect.tsx
Labels: fix

#5857 chore: inputQuarterRange 单测问题修复
  packages/amis/__tests__/renderers/Form/__snapshots__/inputQuarterRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputQuarterRange.test.tsx
Labels: chore

#5860 chore: 修复rc-input-number非兼容升级的依赖
  packages/amis-ui/package.json
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/rollup.config.js
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: chore

#5863 fix: 日期范围组件,比较日期粒度问题
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputMonthRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputQuarterRange.test.tsx.snap
Labels: fix

#5868 styles: 修正右键菜单hover时icon异常
  packages/amis-ui/scss/_properties.scss
Labels: style

#5843 chore: 修复内网发包时部分ESM模块中路径未替换问题
  publish-to-internal.sh
Labels: chore

#5876 feat: 组件可见性、可用性动作支持表达式
  packages/amis-core/src/actions/CmptAction.ts
Labels: feat

#5862 fix: 修复css变量文件编译报错问题&chore：新增样式校验
  .husky/pre-commit
  .stylelintrc.json
  package.json
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_badge.scss
  packages/amis-ui/scss/components/_timeline.scss
  packages/amis-ui/scss/components/react-datetime.scss
Labels: fix, chore

#5875 feat: 增加动态注册渲染器机制
  packages/amis-core/src/index.tsx
  packages/amis-core/src/renderers/register.ts
Labels: feat

#5877 fix: 国际化兜底处理
  packages/amis-core/src/locale.tsx
Labels: fix

#5885 fix: 修复旧版static-xxx组件inputClassName重复的问题
  packages/amis-core/src/renderers/Item.tsx
Labels: fix

#5890 style: ang主题调整
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/themes/_ang-variables.scss
  packages/amis-ui/scss/themes/ang.scss
Labels: style

#5856 chore: confirmBox 的 onConfirm 也可能是异步的 如果存在异步错误也需要捕获
  packages/amis-ui/src/components/ConfirmBox.tsx
Labels: chore

#5895 feat: amis-ui>form 支持受控模式
  packages/amis-ui/examples/App.tsx
  packages/amis-ui/examples/form/ControlledForm.tsx
  packages/amis-ui/src/components/Form.tsx
Labels: feat

#5894 fix: tree 组件重复添加父节点问题, tabsTransfer tree 模式onlyChildren默认值
  packages/amis-ui/src/components/TabsTransfer.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransferPicker.test.tsx.snap
  packages/amis/src/renderers/Form/TabsTransfer.tsx
Labels: fix

#5891 chore: CRUD调整查找父容器逻辑, 避免React Warning
  packages/amis/src/renderers/CRUD.tsx
Labels: chore

#5924 feat: radio&switch样式变量适配
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/form/_checks.scss
  packages/amis-ui/scss/components/form/_switch.scss
  packages/amis-ui/scss/themes/_ang-variables.scss
  packages/amis-ui/scss/themes/_antd-variables.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  packages/amis-ui/scss/themes/_dark-variables.scss
Labels: feat

#5898 style: 边栏样式调整 & select clear icon
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/scss/components/react-datetime.scss
  packages/amis-ui/scss/themes/ang.scss
  packages/amis-ui/src/components/Select.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputCity.test.tsx.snap
Labels: style

#5928 chore: cfc 服务接口允许Access-Control-Allow-Credentials
  mock/cfc/index.js
Labels: chore

#5920 style:select-tree-style-fix
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_result-box.scss
  packages/amis-ui/scss/components/form/_selection.scss
Labels: fix, style

#5893 fix: Spinner 在初始化时触发react warning
  packages/amis-ui/src/components/Spinner.tsx
Labels: fix

#5910 chore: action 单测补充
  packages/amis/__tests__/renderers/Action.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Action.test.tsx.snap
Labels: chore

#5912 chore: AnchorNav 单测补充
  packages/amis/__tests__/renderers/AnchorNav.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/AnchorNav.test.tsx.snap
Labels: chore

#5907 chore: 修正 input-tree 文档中对 extractValue 的描述
  docs/zh-CN/components/form/input-tree.md
Labels: chore

#5934 feat: Collapse变量适配
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_collapse-group.scss
  packages/amis-ui/scss/components/_collapse.scss
  packages/amis-ui/src/components/Collapse.tsx
Labels: feat

#5939 fix: container增加wrapperBody属性, 可用于控制body外是否加一层div包裹
  packages/amis/src/renderers/Container.tsx
Labels: fix

#5946 style: 修复select组件删除\编辑图标样式
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/src/components/Select.tsx
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
Labels: style

#5948 chore: popOver 单测补充
  packages/amis/__tests__/renderers/PopOver.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/PopOver.test.tsx.snap
Labels: chore

#5950 chore: conditionBuilder 单测补充
  packages/amis/__tests__/renderers/Form/__snapshots__/conditionBuilder.test.tsx.snap
  packages/amis/__tests__/renderers/Form/conditionBuilder.test.tsx
Labels: chore

#5911 chore: nav 单测补充
  packages/amis/__tests__/renderers/Nav.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Nav.test.tsx.snap
  packages/amis/src/renderers/Nav.tsx
Labels: chore

#5954 fix: input-image配置initAutoFill为false不生效问题修复
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#5964 fix(InputImage): 细节调整
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#5963 feat: 文字和表格数据元素支持鼠标事件
  docs/zh-CN/components/action.md
  docs/zh-CN/components/tpl.md
  examples/components/EventAction/cmpt-event-action/TableEvent.jsx
  packages/amis-core/src/utils/renderer-event.ts
  packages/amis/__tests__/renderers/__snapshots__/Page.test.tsx.snap
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Plain.tsx
  packages/amis/src/renderers/Tpl.tsx
Labels: feat

#5965 chore: 去除 popover 部分快照
  packages/amis/__tests__/renderers/__snapshots__/PopOver.test.tsx.snap
Labels: chore

#5967 feat: 移动端选人组件支持自定义字段
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/form/_user-select.scss
  packages/amis-ui/src/components/UserSelect.tsx
  packages/amis-ui/src/components/UserTabSelect.tsx
  packages/amis/src/renderers/Form/UserSelect.tsx
Labels: feat

#5957 fix: 修复inputNumber静态展示时未处理前后缀,千分隔的问题
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#5968 fix: 统一组件style属性ts校验格式
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/theme.tsx
  packages/amis-ui/src/components/ListGroup.tsx
  packages/amis/src/renderers/Form/InputCity.tsx
  packages/amis/src/renderers/Portlet.tsx
  packages/amis/src/renderers/Tag.tsx
  packages/amis/src/renderers/Video.tsx
Labels: fix, style

#5970 fix: 处理 Tree 组件 warning
  packages/amis-ui/src/components/Tree.tsx
Labels: fix

#5976 fix: 移动端人员选择静态展示头像url回显
  packages/amis/src/renderers/Form/UserSelect.tsx
Labels: fix

#5977 feat:图片上传成功事件参数优化
  packages/amis/__tests__/renderers/Page.test.tsx
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: feat

#5978 fix: 修复 sendOn 可能被绕过的问题
  lerna.json
  packages/amis-core/package.json
  packages/amis-core/src/utils/api.ts
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
Labels: fix

#5980 fix: 解决tree异步数据不渲染的问题
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/chainedSelect.test.tsx.snap
  packages/amis/__tests__/renderers/Form/chainedSelect.test.tsx
Labels: fix

#5981 feat: tabsTransfer tree模式支持autoCheckChildren
  packages/amis-ui/src/components/TabsTransfer.tsx
Labels: feat

#5982 feat: inputFile&inputImage组件变量
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/form/_file.scss
  packages/amis-ui/scss/components/form/_image.scss
  packages/amis-ui/src/icons/cloud-upload.svg
Labels: feat

#5984 fix: 图标选择修复和兼容处理
  packages/amis-ui/src/components/Collapse.tsx
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis/src/renderers/Form/InputText.tsx
Labels: fix

#5985 fix: 去掉input的size&修复collapse样式
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_collapse.scss
  packages/amis-ui/scss/components/form/_text.scss
  packages/amis-ui/src/components/Collapse.tsx
  packages/amis/src/renderers/Form/InputText.tsx
Labels: fix

#5986 feat: 动态删除已注册的语料数据的方法
  packages/amis-core/src/index.tsx
  packages/amis-core/src/locale.tsx
Labels: feat

#5987 feat: 添加自定义解析页面URL方法
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/env.tsx
  packages/amis-core/src/store/root.ts
Labels: bug, feat

#5988 feat:formula支持函数注册
  examples/components/EventAction/cmpt-event-action/FormEvent.jsx
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/index.tsx
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/utils/tpl-builtin.ts
  packages/amis-formula/__tests__/fomula.test.ts
  packages/amis-formula/src/evalutor.ts
  packages/amis-formula/src/function.ts
  packages/amis-formula/src/index.ts
  packages/amis/src/renderers/App.tsx
  packages/amis/src/renderers/Chart.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Service.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: feat

#5983 chore: 补充 Tree source 单测
  packages/amis/__tests__/renderers/Tree.test.tsx
Labels: chore

#5990 fix: input-formula 选项无value时报错
  packages/amis-ui/src/components/formula/Editor.tsx
Labels: fix

#5937 feat: input-excel 支持解析图片
  docs/zh-CN/components/form/input-excel.md
  packages/amis/src/renderers/Form/InputExcel.tsx
Labels: feat

#5974 chore: DropDownButton 单测补充
  docs/zh-CN/components/dropdown-button.md
  packages/amis/__tests__/renderers/DropDownButton.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/DropDownButton.test.tsx.snap
Labels: chore

#5973 chore: Progress 单测补充
  packages/amis/__tests__/renderers/Progress.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Progress.test.tsx.snap
Labels: chore

#5972 chore: 轮播图单测布补充
  packages/amis/__tests__/renderers/Carousel.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Carousel.test.tsx.snap
Labels: chore

#5992 fix: 表单组件和面板组件style设置细节完善
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/src/renderers/Form/ButtonGroupSelect.tsx
  packages/amis/src/renderers/Panel.tsx
Labels: fix, style

#5993 fix: dropdownButton 更新快照
  packages/amis/__tests__/renderers/__snapshots__/DropDownButton.test.tsx.snap
Labels: fix

#5995 chore: amis-core Form 的 props 类型中增加 loadingConfig
  packages/amis-core/src/renderers/Form.tsx
Labels: chore

#5996 doc: 补充 amis-editor 文档
  docs/zh-CN/extend/editor.md
  examples/components/DocNavCN.ts
  examples/static/editor-inline-edit.png
  examples/static/editor-panel.png
  examples/static/editor-panel2.png
  examples/static/editor-plugin.png
  examples/static/editor-resize.png
  examples/static/editor-scaffold-form.png
  packages/amis-core/package.json
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
Labels: doc

#5998 chore: table 不应该透传 autoGenerateFilter
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#5999 chore: 表单验证错误稀释 10s 内只弹一次
  packages/amis-core/src/store/form.ts
Labels: chore

#6001 fix: 表单类组件和代码高亮组件支持style响应式
  packages/amis-core/src/renderers/Item.tsx
  packages/amis/src/renderers/Code.tsx
Labels: fix, style

#6000 chore: 修复 git pages cros 报错
  examples/components/Play.jsx
Labels: chore

#5871 fix: tabs 标签滚动问题修复, 优化滚动逻辑
  packages/amis-ui/scss/components/form/_transfer.scss
  packages/amis-ui/src/components/Tabs.tsx
Labels: fix

#5926 docs: 補充namespace缺少的cookie
  docs/zh-CN/concepts/data-mapping.md
Labels: doc

#5905 fix: transform is undefined
  packages/amis/src/renderers/Chart.tsx
Labels: fix

#5792 chore: Service组件提供__response字段用于区分接口失败情况
  docs/zh-CN/components/service.md
  examples/components/EventAction/cmpt-event-action/ServiceEvent.jsx
  mock/cfc/mock/service/fail.json
  packages/amis/src/renderers/Service.tsx
Labels: chore

#5909 fix: inputMonth 动态minDate不更新
  packages/amis-core/src/utils/filter.ts
  packages/amis/__tests__/renderers/Form/inputMonth.test.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
Labels: fix

#6003 fix: 修复表单项静态展示除水平布局外不生效的问题
  packages/amis-core/src/renderers/Item.tsx
Labels: fix
