Repository baidu/amis, pull requests merged in 2022-09, with the labels that each got.

#5280 fix: options value normalize 修改
  packages/amis-core/src/renderers/Options.tsx
  packages/amis/__tests__/renderers/Form/radios.test.tsx
Labels: fix

#5260 feat: quickEdit 支持配置 reload 可以实现不自动刷新的功能
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Card.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/Form/Static.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/QuickEdit.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: feat

#5262 docs: form表单 事件表 validateError 事件说明 typos
  docs/zh-CN/components/form/index.md
Labels: doc

#5147 feat: table 上 autoFillHeight 支持 {height: number} 来固定表格高度
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/table.md
  examples/components/CRUD/TableAutoFill.jsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#5284 fix: 修复弹窗可多次点击问题
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: fix

#5282 fix: 补充 table autoFillHeight 类型校验
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5296 fix: 选中关联编辑相关弹窗数据映射不统一
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-core/src/store/formItem.ts
Labels: fix

#5300 fix: formItem label translate error
  packages/amis-core/src/renderers/Item.tsx
Labels: fix

#5289 feat: 表单支持配置 persistDataKeys 限制只持久化部分表单项
  docs/zh-CN/components/form/index.md
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/store/form.ts
Labels: feat

#5305 fix: 修复 disabledOn 可能无效的问题
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/utils/filter-schema.ts
  packages/amis/src/renderers/Page.tsx
Labels: fix

#5307 fix: 显示列字段不展示隐藏列
  packages/amis-core/src/store/table.ts
Labels: fix

#5308 fix: getExprProperties 内部报错修复
  packages/amis-core/src/utils/filter-schema.ts
Labels: fix

#5294 style:组件主题变量修改
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_drawer.scss
  packages/amis-ui/scss/components/_formula.scss
  packages/amis-ui/scss/components/form/_date.scss
  packages/amis-ui/scss/components/form/_range.scss
  packages/amis-ui/scss/components/form/_switch.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  packages/amis/src/renderers/Form/Picker.tsx
Labels: style

#5314 fix: 修复 Form Serivce 等自身带 store 的渲染器配置 disabledOn 或者 visibleOn 不及时生效的问题
  packages/amis-core/src/SchemaRenderer.tsx
Labels: fix

#5318 fix: 修复第三方 css 内联问题
  package.json
  packages/amis-ui/scss/_thirds.scss
Labels: fix

#5315 chore: internal publish with revision.json
  package.json
  packages/amis/package.json
  publish-to-internal.sh
  scripts/generate-revision.ts
Labels: chore

#5334 fix: options 组件 clear 导致值为 undefined 问题
  packages/amis-core/src/renderers/Options.tsx
Labels: fix

#5343 fix: pullRefresh增加移动端判断
  packages/amis/src/renderers/Page.tsx
Labels: fix

#5344 fix: 191 修复nestedSelect移动端下选中数据异常问题
  src/components/Cascader.tsx
Labels: fix

#5336 fix: 修复选项类控件 placeholder 没有被翻译的问题
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-ui/src/components/Selection.tsx
Labels: fix

#5345 fix: 修复 debug 没有拿到最新的属性的问题
  packages/amis-core/src/utils/debug.tsx
Labels: fix

#5291 fix: 用 dangerouslyHTML 代替 innerHTML 以使 tpl 中的标签有 diff 优化
  packages/amis/__tests__/renderers/__snapshots__/Page.test.tsx.snap
  packages/amis/src/renderers/Tpl.tsx
Labels: bug, fix

#5325 fix: CRUD设置filterable时数字0默认被选中问题
  docs/zh-CN/components/crud.md
  packages/amis/src/renderers/Table/HeadCellFilterDropdown.tsx
Labels: fix

#5328 chore: 调整文件上传文件体积展示,转成 KB, MB 等展示,而不是字节
  docs/zh-CN/components/form/input-file.md
  packages/amis-core/src/utils/formula.ts
  packages/amis-core/src/utils/prettyBytes.ts
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: chore

#5353 fix: 不要通过 isEqual 去比对 props.data 里面可能存在循环引用导致死循环
  packages/amis-core/src/renderers/wrapControl.tsx
Labels: fix

#5329 fix: 修复 table 获取滚动的父元素不准确的问题
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5350 chore: 修复 iframe 里 amis 字符被替换问题
  publish-to-internal.sh
Labels: chore

#5357 fix: 修复 minLength 验证数字时异常的问题
  fis-conf.js
  package.json
  packages/amis-core/src/utils/validations.ts
Labels: fix

#5317 styles: 修复组合输入svg图标没有大小问题
  packages/amis-ui/scss/components/form/_input-group.scss
Labels: style

#5311 fix: 修复 PopOver offset 属性失效问题
  packages/amis-core/src/components/Overlay.tsx
  packages/amis/__tests__/renderers/PopOver.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/PopOver.test.tsx.snap
  packages/amis/src/renderers/PopOver.tsx
Labels: fix

#5272 fix: inputText autoComplete 输入内容导致选项重复问题
  packages/amis-core/src/utils/optionValueCompare.ts
Labels: fix

#5341 fix: table column 快捷操作同时支持 sortable 和一个非 sortable 的操作组合
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5372 feat: input-formula 支持 mixedMode 支持字符串和表达式混合输入
  docs/zh-CN/components/form/input-formula.md
  packages/amis-ui/src/components/formula/Picker.tsx
  packages/amis/src/renderers/Form/InputFormula.tsx
Labels: feat

#5368 feat: 表单展示态编辑态切换
  examples/components/Example.jsx
  examples/components/Form/SwitchDisplay.jsx
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/store/root.ts
  packages/amis-core/src/types.ts
  packages/amis-ui/scss/components/form/_checks.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/scss/components/form/_input-group.scss
  packages/amis-ui/scss/components/form/_list.scss
  packages/amis/src/renderers/Color.tsx
  packages/amis/src/renderers/Form/InputColor.tsx
  packages/amis/src/renderers/Form/InputText.tsx
  packages/amis/src/renderers/Form/StaticHoc.tsx
  packages/amis/src/renderers/Form/Switch.tsx
  packages/amis/src/renderers/QuickEdit.tsx
Labels: bug, feat

#5342 feat: ConditionBuilder组件左侧选项支持树形结构
  docs/zh-CN/components/form/condition-builder.md
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/src/components/condition-builder/Expression.tsx
  packages/amis-ui/src/components/condition-builder/Field.tsx
  packages/amis-ui/src/components/condition-builder/Group.tsx
  packages/amis-ui/src/components/condition-builder/GroupOrItem.tsx
  packages/amis-ui/src/components/condition-builder/Item.tsx
  packages/amis-ui/src/components/condition-builder/index.tsx
Labels: feat

#5246 fix: crud id重复选择不一致问题修复
  docs/zh-CN/components/table2.md
  packages/amis-core/src/store/table2.ts
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#5382 fix: 2.1.0 及以上版本升级到tinymce 6上传图片不兼容的问题
  packages/amis/src/renderers/Form/InputRichText.tsx
Labels: fix, doc

#5383 chore: 修复编译 internal 版本未替换包名问题
  publish-to-internal.sh
Labels: chore

#5387 fix: 修复drawer组件设置closeOnOutside为false后，点击外部仍能关闭的问题
  packages/amis/src/renderers/Drawer.tsx
Labels: bug, fix

#5389 styles: Pagination每页条数浮层自动调整位置
  examples/components/CRUD/TableAutoFill.jsx
  packages/amis-ui/src/components/Pagination.tsx
Labels: style

#5392 chore: evalMode 模式不应该支持${}语法
  packages/amis-formula/__tests__/fomula.test.ts
  packages/amis-formula/src/lexer.ts
Labels: chore

#5381 fix: Spinner 兼容条件控制模式: show && <Spinner />
  examples/components/Loading.jsx
  packages/amis-ui/src/components/Button.tsx
  packages/amis-ui/src/components/Spinner.tsx
  packages/amis/__tests__/renderers/__snapshots__/Page.test.tsx.snap
Labels: fix

#5396 feat: ConditionBuilder组件左侧选项支持树形结构 (#5342)
  docs/zh-CN/components/form/condition-builder.md
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/src/components/condition-builder/Expression.tsx
  packages/amis-ui/src/components/condition-builder/Field.tsx
  packages/amis-ui/src/components/condition-builder/Group.tsx
  packages/amis-ui/src/components/condition-builder/GroupOrItem.tsx
  packages/amis-ui/src/components/condition-builder/Item.tsx
  packages/amis-ui/src/components/condition-builder/index.tsx
Labels: feat

#5393 chore: 默认关掉 tinymce 的广告
  packages/amis-ui/src/components/Tinymce.tsx
Labels: chore

#5376 chore: 去除 ansi-to-react 依赖，日志模块不再提供高亮功能
  docs/zh-CN/components/log.md
  fis-conf.js
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
  packages/amis/src/renderers/Log.tsx
Labels: chore

#5390 fix: input-formula 不同模式下高亮问题
  packages/amis-ui/src/components/formula/Editor.tsx
  packages/amis-ui/src/components/formula/plugin.ts
Labels: fix

#5398 chore: treeSelector 显示箭头
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: chore

#5375 feat: 多个 Spinner 处于 loading 状态时, 只有最外层元素处在 loading 状态 (#5096)
  examples/components/Example.jsx
  examples/components/Loading.jsx
  packages/amis-ui/src/components/Button.tsx
  packages/amis-ui/src/components/Spinner.tsx
  packages/amis/__tests__/renderers/__snapshots__/Page.test.tsx.snap
  packages/amis/src/renderers/Nav.tsx
Labels: feat

#5404 fix: 加回误删的 filterHtml 功能
  packages/amis/src/renderers/Tpl.tsx
Labels: fix

#5406 fix: crud id重复选择不一致问题修复；crud2支持keepItemSelectionOnPageChange、maxKeepI…
  docs/zh-CN/components/table2.md
  packages/amis-core/src/store/table2.ts
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#5403 feat: fnUPPERMONEY 支持到兆
  packages/amis-formula/src/evalutor.ts
Labels: feat, fix

#5407 fix: input-datetimerange 在起始时间大于 0 的时候，结束时间无法再选当天的问题
  packages/amis-ui/src/components/DateRangePicker.tsx
Labels: fix

#5410 fix: 修复 fnUPPERMONEY 导致单测挂掉问题
  packages/amis-formula/src/evalutor.ts
Labels: fix

#5412 fix: 修复 @fex 替换不全导致内网版本部分组件无法加载问题
  publish-to-internal.sh
Labels: fix

#5385 feat: 人员选择组件增加确定按钮 & fix: saveAs 图片下载名称以配置项优先
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-ui/scss/components/form/_user-select.scss
  packages/amis-ui/src/components/UserSelect.tsx
  packages/amis-ui/src/components/UserTabSelect.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
Labels: feat, fix

#5423 chore: 过滤器url_encode将不合法的输入处理为undefined
  docs/zh-CN/concepts/data-mapping.md
  packages/amis-core/__tests__/filter.test.ts
  packages/amis-core/src/utils/filter.ts
  packages/amis-formula/src/evalutor.ts
Labels: chore

#5422 styles: Pagination每页条数浮层自动调整位置 (#5389)
  examples/components/CRUD/TableAutoFill.jsx
  packages/amis-ui/src/components/Pagination.tsx
Labels: style

#5427 fix: 人员选择ts类型错误
  packages/amis-ui/src/components/UserSelect.tsx
Labels: fix

#5430 fix: 人员选择ts 类型错误
  packages/amis-ui/src/components/UserSelect.tsx
Labels: fix

#5428 fix: conditionBuilder ts类型报错修改
  packages/amis-ui/src/components/condition-builder/Field.tsx
Labels: fix

#5429 fix: conditionBuilder ts类型报错修改
  packages/amis-ui/src/components/condition-builder/Field.tsx
Labels: fix

#5436 fix: save 语言替换
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
Labels: fix

#5438 fix: 人员组件搜索点选值展示问题及选中回显不是 label 的问题
  packages/amis-ui/src/components/GroupedSelection.tsx
  packages/amis-ui/src/components/UserSelect.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
Labels: fix

#5439 fix: 人员组件搜索点选值展示问题及选中回显不是 label 的问题 (#5438)
  packages/amis-ui/src/components/GroupedSelection.tsx
  packages/amis-ui/src/components/UserSelect.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
Labels: fix

#5434 fix: 导出Excel时取字段的逻辑和CRUD fetch逻辑保持一致
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/Table/exportExcel.ts
Labels: fix

#5413 fix: json组件支持boolean基础类型
  packages/amis/src/renderers/Json.tsx
Labels: bug, fix

#5432 styles: 统一InputText和Select禁用态文字颜色
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
Labels: style

#5441 fix: InputExcel表头包含RichText时解析错误问题
  packages/amis/src/renderers/Form/InputExcel.tsx
Labels: fix

#5433 chore: InputText, Textarea组件maxLength限制输入长度; styles: Textarea清除按钮避免重叠
  docs/zh-CN/components/form/input-text.md
  docs/zh-CN/components/form/textarea.md
  packages/amis-ui/scss/components/form/_textarea.scss
  packages/amis-ui/src/components/Textarea.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/textarea.test.tsx.snap
  packages/amis/src/renderers/Form/InputText.tsx
Labels: fix

#5415 fix: 修复金额组件转换问题
  packages/amis-formula/src/evalutor.ts
Labels: fix

#5445 fix: xor 改奇数真时为真
  packages/amis-formula/src/evalutor.ts
Labels: fix

#5414 chore: iframe 在 https 页面加载 http 时报错提示
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/IFrame.tsx
Labels: chore

#5450 fix: 修复 inputText 对日期对象显示问题
  packages/amis/src/renderers/Form/InputText.tsx
Labels: fix

#5442 chore: 升级第三方依赖 react@5.4.0 downshift@6.1.7 sortablejs@1.15.0
  package.json
  packages/amis-core/package.json
  packages/amis-formula/__tests__/__snapshots__/lexer.test.ts.snap
  packages/amis-formula/__tests__/__snapshots__/parser.test.ts.snap
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/__tests__/renderers/Form/__snapshots__/autoFill.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/formitem.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/index.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/initData.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/initData.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Page.test.tsx.snap
  packages/amis/__tests__/stores/__snapshots__/index.test.ts.snap
  packages/amis/__tests__/stores/__snapshots__/service.test.ts.snap
  packages/amis/package.json
Labels: chore

#5464 chore: 兼容hash mode下url获取query参数
  examples/components/SchemaRender.jsx
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/store/root.ts
  packages/amis-core/src/utils/helper.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
Labels: chore

#5371 fix: transfer 结果搜索默认提示语句错误&统计信息设置不生效
  packages/amis-ui/src/components/AssociatedSelection.tsx
  packages/amis-ui/src/components/ChainedSelection.tsx
  packages/amis-ui/src/components/GroupedSelection.tsx
  packages/amis-ui/src/components/ResultList.tsx
  packages/amis-ui/src/components/ResultTableList.tsx
  packages/amis-ui/src/components/ResultTreeList.tsx
  packages/amis-ui/src/components/Selection.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/TransferSearch.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: fix

#5102 input-image 图片上传回显问题修复
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: Pending Discussion

#5466 chore: 兼容hash mode下url获取query参数 (#5464)
  examples/components/SchemaRender.jsx
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/store/root.ts
  packages/amis-core/src/utils/helper.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
Labels: chore

#5253 feat: Added item click event to picker
  docs/zh-CN/components/form/picker.md
  examples/components/Form/Picker.jsx
  packages/amis/src/renderers/Form/Picker.tsx
Labels: feat

#5472 doc: 补充表达式语法说明
  docs/zh-CN/concepts/expression.md
Labels: doc

#5270 feat: Combo Option to add item at the top of the list
  docs/zh-CN/components/form/combo.md
  packages/amis/src/renderers/Form/Combo.tsx
Labels: feat

#5453 styles: Table组件rowClassNameExpr使用bg-*类名失效问题
  docs/zh-CN/components/table.md
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/scss/themes/_antd-variables.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  packages/amis-ui/scss/themes/_dark-variables.scss
Labels: style

#5451 feat: Service组件dataProvider支持触发事件
  docs/zh-CN/components/service.md
  packages/amis/src/renderers/Service.tsx
Labels: feat

#5460 feat: Status组件图标支持数据映射
  docs/zh-CN/components/mapping.md
  docs/zh-CN/components/status.md
  packages/amis/src/renderers/Status.tsx
Labels: feat

#5474 fix: Table开启表头分组和固定列时，固定列表头尺寸错误
  docs/zh-CN/components/table.md
  examples/components/CRUD/HeaderGroup.jsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5473 fix: Form中嵌套容器后，容器中组件disabled失效问题
  docs/zh-CN/components/form/formitem.md
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/src/renderers/Grid.tsx
Labels: fix

#5469 styles: AnchorNav组件标题溢出问题
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/components/_anchor-nav.scss
  packages/amis-ui/src/components/AnchorNav.tsx
  packages/amis/__tests__/renderers/__snapshots__/AnchorNav.test.tsx.snap
Labels: style

#5247 feat: Image/Images组件工具栏支持自定义
  docs/zh-CN/components/image.md
  docs/zh-CN/components/images.md
  packages/amis-ui/src/components/ImageGallery.tsx
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/__tests__/renderers/Image.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Image.test.tsx.snap
  packages/amis/src/renderers/Image.tsx
  packages/amis/src/renderers/Images.tsx
  scripts/build-schemas.ts
Labels: feat

#5479 fix: 修复 fieldset 嵌套使用时样式问题及配置干扰问题
  docs/zh-CN/components/form/fieldset.md
  examples/components/Form/FieldSet.jsx
  packages/amis-ui/scss/components/_collapse.scss
  packages/amis-ui/scss/components/form/_fieldset.scss
  packages/amis/src/renderers/Collapse.tsx
  packages/amis/src/renderers/Form/FieldSet.tsx
Labels: fix

#5458 feat: 优化 Spinner 控制 loading 状态的逻辑
  packages/amis-ui/scss/components/_spinner.scss
  packages/amis-ui/src/components/Spinner.tsx
  packages/amis/__tests__/renderers/__snapshots__/Breadcrumb.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Page.test.tsx.snap
  packages/amis/src/renderers/Container.tsx
Labels: feat

#5483 fix:修复富文本api高级配置上传报错问题
  packages/amis/src/renderers/Form/InputRichText.tsx
Labels: fix

#5470 fix: inputRange更换事件名称
  packages/amis-ui/src/components/Range.tsx
  packages/amis/src/renderers/Form/InputRange.tsx
Labels: fix

#5320 feat: table2展开行支持多种方式
  docs/zh-CN/components/table2.md
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: feat

#5332 feat: input-number 支持大数模式
  docs/zh-CN/components/form/input-number.md
  packages/amis-core/src/utils/stripNumber.ts
  packages/amis-formula/src/evalutor.ts
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: feat

#5487 chore: 处理Jest 28 => 29后snapshot格式不兼容问题
  package.json
  packages/amis-formula/__tests__/parser.test.ts
  packages/amis-formula/package.json
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/package.json
Labels: chore

#5480 chore: remove redundant log in build-schemas.ts
  scripts/build-schemas.ts
Labels: chore
