Repository baidu/amis, pull requests merged in 2022-03, with the labels that each got.

#3471 fix: input-number圆角显示可能不完整，数字颜色跟随主题
  scss/components/form/_number.scss
Labels: awaiting-final-review

#3642 feat: Combo组件事件扩充
  __tests__/__snapshots__/factory.test.tsx.snap
  __tests__/renderers/Form/combo.test.tsx
  __tests__/renderers/Form/inputArray.test.tsx
  src/renderers/Form/Combo.tsx
  src/renderers/Form/InputRange.tsx
Labels: in-review

#3662 feat: Alert自定义icon支持icon库
  __tests__/renderers/__snapshots__/Alert.test.tsx.snap
  docs/zh-CN/components/alert.md
  scss/components/_alert.scss
  src/components/Alert2.tsx
Labels: awaiting-final-review

#3668 feat: combo组件升级
  docs/zh-CN/components/form/combo.md
  src/components/icons.tsx
  src/icons/trash.svg
  src/renderers/Form/Combo.tsx
Labels: awaiting-final-review

#3661 feat: 条形进度条添加宽度控制和样式优化
  docs/zh-CN/components/progress.md
  scss/components/_progress.scss
  src/components/Progress.tsx
  src/renderers/Progress.tsx
Labels: awaiting-final-review, request-changes

#3679 feat: 向导组件 事件&动作 配置
  examples/components/EventAction/WizardEvent.jsx
  examples/components/Example.jsx
  src/renderers/Wizard.tsx
  src/types.ts
Labels: in-review

#3701 feat:input-city事件&动作扩充
  examples/components/EventAction/SelectEvent.jsx
  src/renderers/Form/InputCity.tsx
Labels: in-review

#3713 fix: 多层Form嵌套情况下Editor无法完整显示问题
  scss/components/form/_editor.scss
Labels: awaiting-final-review

#3425 feat: Step组件支持点状步骤条、指定标签放置位置、新增超出内容显示浮层
  __tests__/renderers/__snapshots__/Steps.test.tsx.snap
  docs/zh-CN/components/steps.md
  scss/components/_steps.scss
  src/components/Steps.tsx
  src/renderers/Steps.tsx
Labels: awaiting-final-review

#3714 fix: 日期选择器样式错误, 输入框展示不同步, disabled下focus问题
  __tests__/renderers/Form/__snapshots__/datetime.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/inputDate.test.tsx.snap
  scss/components/form/_date.scss
  src/components/DatePicker.tsx
Labels: awaiting-final-review

#3718 fix: inputRange最大值、最小值设置问题修复 & 支持分块
  __tests__/renderers/Form/__snapshots__/repeat.test.tsx.snap
  docs/zh-CN/components/form/input-range.md
  scss/_properties.scss
  src/components/Range.tsx
  src/renderers/Form/InputRange.tsx
Labels: awaiting-final-review

#3740 fix: 上传组件autoFill包含自身字段时渲染错误问题
  src/renderers/Form/InputFile.tsx
  src/renderers/Form/InputImage.tsx
Labels: awaiting-final-review

#3463 feat: checkbox组件升级
  __tests__/renderers/Form/__snapshots__/options.test.tsx.snap
  docs/zh-CN/components/form/checkbox.md
  docs/zh-CN/components/form/checkboxes.md
  scss/_properties.scss
  scss/components/form/_checks.scss
  src/components/Checkbox.tsx
  src/renderers/Form/Checkbox.tsx
  src/renderers/Form/Checkboxes.tsx
Labels: in-review

#3774 fix:修复半选状态
  scss/components/form/_checks.scss
  src/components/Checkbox.tsx
Labels: awaiting-final-review

#3732 Feat tooltip wrapper
  docs/zh-CN/components/tooltip-wrapper.md
  scss/_properties.scss
  scss/components/_tooltip.scss
  src/components/Overlay.tsx
  src/components/Tooltip.tsx
  src/components/TooltipWrapper.tsx
  src/renderers/TooltipWrapper.tsx
  src/utils/dom.tsx
Labels: awaiting-final-review, request-changes

#3770 feat: 下拉刷新功能
  docs/zh-CN/components/page.md
  scss/components/_pull-refresh.scss
  scss/themes/_common.scss
  src/components/PullRefresh.tsx
  src/locale/de-DE.ts
  src/locale/en-US.ts
  src/locale/zh-CN.ts
  src/renderers/Page.tsx
Labels: request-changes

#3764 feat: 向导、评分 文档修改
  docs/zh-CN/components/form/input-rating.md
  docs/zh-CN/components/wizard.md
  src/renderers/Wizard.tsx
Labels: request-changes

#3780 style: 日期输入框增加最小宽度
  __tests__/renderers/Form/__snapshots__/dateRang.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/datetime.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/inputDate.test.tsx.snap
  __tests__/renderers/Form/autoFill.test.tsx
  __tests__/renderers/Page.test.tsx
  __tests__/renderers/__snapshots__/Page.test.tsx.snap
  scss/_properties.scss
  scss/components/form/_date-range.scss
  scss/components/form/_date.scss
  src/renderers/Form/InputDate.tsx
  src/renderers/Form/InputDateRange.tsx
Labels: awaiting-final-review

#3799 feat: Modal/Drawer支持第一次弹出动画
  src/components/Drawer.tsx
  src/components/Modal.tsx
Labels: awaiting-final-review

#3791 docs: InputText/Textarea/Editor/DiffEditor事件动作文档
  docs/zh-CN/components/form/diff-editor.md
  docs/zh-CN/components/form/editor.md
  docs/zh-CN/components/form/input-text.md
  docs/zh-CN/components/form/textarea.md
Labels: request-changes

#3806 docs: 时间类组件事件动作文档&动作reset的完善
  docs/zh-CN/components/calendar.md
  docs/zh-CN/components/form/chain-select.md
  docs/zh-CN/components/form/checkbox.md
  docs/zh-CN/components/form/checkboxes.md
  docs/zh-CN/components/form/input-city.md
  docs/zh-CN/components/form/input-date-range.md
  docs/zh-CN/components/form/input-date.md
  docs/zh-CN/components/form/input-datetime-range.md
  docs/zh-CN/components/form/input-datetime.md
  docs/zh-CN/components/form/input-month-range.md
  docs/zh-CN/components/form/input-month.md
  docs/zh-CN/components/form/input-quarter-range.md
  docs/zh-CN/components/form/input-quarter.md
  docs/zh-CN/components/form/input-rating.md
  docs/zh-CN/components/form/input-tag.md
  docs/zh-CN/components/form/input-time-range.md
  docs/zh-CN/components/form/input-time.md
  docs/zh-CN/components/form/input-year-range.md
  docs/zh-CN/components/form/input-year.md
  docs/zh-CN/components/form/matrix-checkboxes.md
  docs/zh-CN/components/form/nestedselect.md
  docs/zh-CN/components/form/radios.md
  docs/zh-CN/components/form/select.md
  examples/components/EventAction/DateEvent.jsx
  examples/docs.json
  src/renderers/Form/InputDate.tsx
  src/renderers/Form/InputDateRange.tsx
  src/renderers/Form/InputMonthRange.tsx
Labels: request-changes

#3800 fix: CRUD列排序面板文字显示不完全问题; docs: 补充column-toggler属性表
  docs/zh-CN/components/crud.md
  scss/_properties.scss
  scss/components/_column-toggler.scss
  src/renderers/Table/ColumnToggler.tsx
  src/renderers/Table/index.tsx
Labels: awaiting-final-review

#3802 fix: transfer-selection添加最大高度限制
  docs/zh-CN/components/form/select.md
  scss/_properties.scss
  scss/components/form/_transfer.scss
Labels: awaiting-final-review

#3427 feat:Spinner组件功能升级
  __tests__/renderers/Form/__snapshots__/index.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/initData.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/service.test.tsx.snap
  __tests__/renderers/__snapshots__/Markdown.test.tsx.snap
  __tests__/renderers/__snapshots__/Page.test.tsx.snap
  __tests__/renderers/__snapshots__/Wizard.test.tsx.snap
  __tests__/utils/__snapshots__/api.test.ts.snap
  docs/zh-CN/components/spinner.md
  scss/_properties.scss
  scss/components/_spinner.scss
  src/Schema.ts
  src/components/Spinner.tsx
  src/renderers/Spinner.tsx
Labels: awaiting-final-review, request-changes

#3804 Feat inputTree/treeSelect事件&动作扩充
  docs/zh-CN/components/form/input-tree.md
  docs/zh-CN/components/form/treeselect.md
  examples/components/EventAction/InputTreeEvent.jsx
  examples/components/EventAction/treeSelectEvent.jsx
  examples/components/Example.jsx
  src/components/Tree.tsx
  src/renderers/Form/InputTree.tsx
  src/renderers/Form/Options.tsx
  src/renderers/Form/TreeSelect.tsx
  src/types.ts
Labels: request-changes

#3788 feat: page下拉刷新事件&动作扩充
  docs/zh-CN/components/page.md
  src/renderers/Page.tsx
Labels: request-changes

#3817 fix: checkbox对齐云舍样式
  scss/_properties.scss
  scss/components/form/_checks.scss
  scss/themes/_cxd-variables.scss
Labels: awaiting-final-review

#3597 form 事件&动作扩充
  __tests__/renderers/Form/__snapshots__/index.test.tsx.snap
  examples/components/EventAction/FormEvent.jsx
  examples/components/Example.jsx
  src/renderers/Form/index.tsx
  src/renderers/Form/wrapControl.tsx
  src/store/form.ts
  src/types.ts
Labels: request-changes

#3840 补充form事件表&动作表
  docs/zh-CN/components/form/index.md
  src/renderers/Form/index.tsx
Labels: request-changes

#3810 nav 组件增加 onchange 方法, 获取排序后的结果
  src/renderers/Nav.tsx
Labels: awaiting-final-review

#3436 feat: DatePicker&TimePicker
  __tests__/renderers/__snapshots__/calendar.test.tsx.snap
  scss/_properties.scss
  scss/components/form/_date.scss
  src/components/DateRangePicker.tsx
  src/components/calendar/Calendar.tsx
  src/components/calendar/DaysView.tsx
  src/components/calendar/TimeView.tsx
Labels: awaiting-final-review, request-changes

#3912 feat: 渲染器支持自动解析参数变量
  docs/zh-CN/extend/custom-react.md
  examples/components/Form/Custom.jsx
  src/SchemaRenderer.tsx
  src/factory.tsx
Labels: request-changes

#3893 feat:穿梭框组件事件&动作扩充
  docs/zh-CN/components/form/tabs-transfer-picker.md
  docs/zh-CN/components/form/tabs-transfer.md
  docs/zh-CN/components/form/transfer-picker.md
  docs/zh-CN/components/form/transfer.md
  examples/components/EventAction/TransferEvent.jsx
  examples/components/Example.jsx
  src/components/PickerContainer.tsx
  src/components/TabsTransfer.tsx
  src/components/TabsTransferPicker.tsx
  src/components/Transfer.tsx
  src/components/TransferPicker.tsx
  src/renderers/Form/TabsTransfer.tsx
  src/renderers/Form/TabsTransferPicker.tsx
  src/renderers/Form/Transfer.tsx
  src/renderers/Form/TransferPicker.tsx
  src/types.ts
Labels: request-changes

#3921 feat: Carousel轮播图组件事件&动作补充
  __tests__/renderers/Carousel.test.tsx
  __tests__/renderers/Page.test.tsx
  __tests__/renderers/Wizard.test.tsx
  __tests__/renderers/__snapshots__/Carousel.test.tsx.snap
  docs/zh-CN/components/carousel.md
  src/renderers/Carousel.tsx
  src/types.ts
Labels: request-changes
