Repository baidu/amis, pull requests merged in 2022-07, with the labels that each got.

#4744 fix: CRUD搜索同步地址栏时数组元素超出20个错误转化为object问题
  src/renderers/CRUD.tsx
  src/renderers/Table/index.tsx
Labels: fix

#4748 fix: CURD开启autoFillHeight后固定列错位/不同步滚动问题
  examples/components/CRUD/TableAutoFill.jsx
  scss/components/_table.scss
  src/renderers/Table/index.tsx
Labels: fix

#4749 feat:新增 select组件 showInvalidMatch属性
  src/components/Select.tsx
  src/renderers/Form/Select.tsx
Labels: feat

#4741 feat: input-table支持头部固定和内容自适应，并补充示例 #4640
  examples/components/Form/Table.jsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: feat

#4759 chore: 内部版本 esm 版本调整
  publish-to-internal.sh
Labels: chore

#4760 chore: qsparse默认参数增加arrayLimit: 1000
  packages/amis-core/src/utils/helper.ts
Labels: chore

#4763 feat:新增 select组件 showInvalidMatch属性
  packages/amis-ui/src/components/Select.tsx
  packages/amis/src/renderers/Form/Select.tsx
Labels: feat

#4781 fix: crud2 列查询问题
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#4791 fix:联动章节文档问题
  docs/zh-CN/concepts/linkage.md
Labels: fix

#4792 fix inputFile 文件上传点击问题
  src/renderers/Form/InputFile.tsx
Labels: fix

#4795 fix:表格配置itemCheckableOn无效问题
  src/renderers/Table/index.tsx
Labels: fix

#4796 fix:日期范围文档链接错误
  docs/zh-CN/components/form/input-datetime-range.md
Labels: fix

#4799 chore：文档搜索不清空关键词
  examples/components/Components.tsx
Labels: chore

#4778 fix: Wizard服务端校验失败后仍然处于loading状态问题
  src/renderers/Wizard.tsx
Labels: fix

#4780 fix: InputExcel触发reload后文案未更新问题
  src/renderers/Form/InputExcel.tsx
Labels: fix

#4783 fix: 移动端时间选择器标题不显示字段名，timeRange高度超高问题
  scss/components/_calendar.scss
  scss/components/form/_date-range.scss
  src/components/DatePicker.tsx
  src/components/DateRangePicker.tsx
  src/components/MonthRangePicker.tsx
Labels: fix

#4785 fix: AnchorNav内容更新后定位错误问题
  scss/components/_anchor-nav.scss
  src/components/AnchorNav.tsx
Labels: fix

#4776 feat: Log 组件支持日志检索功能;重构 Log 组件操作按钮样式和位置
  docs/zh-CN/components/log.md
  packages/amis-ui/scss/components/_log.scss
  packages/amis-ui/src/components/icons.tsx
  packages/amis/src/renderers/Log.tsx
Labels: feat

#4811 fix：selectFirst不排除value为0的项
  src/store/formItem.ts
Labels: fix

#4800 fix:表单开启debug后，表单项字段内容过长导致数据显示样式问题
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis/__tests__/event-action/renderers/form/__snapshots__/range.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/chainedSelect.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/conditionBuilder.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputArray.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputFormula.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputTag.test.tsx
Labels: bug, fix

#4810 fix：selectFirst不排除value为0的项
  packages/amis-core/src/store/formItem.ts
Labels: fix

#4818 chore: 修复 vite import css 失败问题
  docs/zh-CN/start/getting-started.md
  packages/amis/package.json
Labels: chore

#4817 test: CRUD
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
Labels: test

#4808 fix：日期选择器非确认下失焦后恢复原值
  src/components/DateRangePicker.tsx
Labels: fix

#4822 feat: InputText支持更多CSS类名属性
  docs/zh-CN/components/form/input-text.md
  src/renderers/Form/InputText.tsx
Labels: feat

#4804 fix:去掉getScope为空报错
  packages/amis-core/src/utils/DataSchema.ts
Labels: fix

#4803 fix(checkboxs): 修复options配置labelClassName不生效问题
  packages/amis-core/src/renderers/Options.tsx
  packages/amis/src/renderers/Form/Checkbox.tsx
  packages/amis/src/renderers/Form/Checkboxes.tsx
Labels: fix

#4820 fix: 修复dateRange组件minDuration和maxDuration失效的问题
  packages/amis-ui/src/components/DateRangePicker.tsx
Labels: bug, fix

#4809 feat: SearchBox支持搜索历史; fix: Tag组件ellipsis, closable不生效; doc: 文档搜索后内容不清空
  docs/zh-CN/components/tag.md
  examples/components/App.tsx
  examples/components/Components.tsx
  examples/components/CssDocs.tsx
  examples/style.scss
  package.json
  scss/_properties.scss
  scss/components/_search-box.scss
  scss/components/_tag.scss
  src/components/SearchBox.tsx
  src/components/Tag.tsx
  src/locale/de-DE.ts
  src/locale/en-US.ts
  src/locale/zh-CN.ts
  src/renderers/Tag.tsx
Labels: feat, fix, doc

#4815 feat: 新增 input-kvs 组件支持复杂对象嵌套场景
  docs/zh-CN/components/form/checkboxes.md
  docs/zh-CN/components/form/input-kvs.md
  docs/zh-CN/concepts/expression.md
  examples/components/Components.tsx
  examples/components/Example.jsx
  examples/components/Form/Full.jsx
  examples/components/Form/InputKVS.jsx
  packages/amis-formula/src/evalutor.ts
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/schemaExtend.ts
Labels: feat

#4807 chore：日期选择器非确认下失焦后恢复原值
  packages/amis-ui/src/components/DateRangePicker.tsx
Labels: chore

#4767 feat: 多页应用面包屑路径支持全链路展示
  packages/amis-core/src/store/app.ts
  packages/amis/src/renderers/App.tsx
Labels: feat

#4832 fix:清除和下拉角标重叠问题
  packages/amis-ui/scss/components/_result-box.scss
Labels: style

#4786 feat:autofill自动填充api联动
  docs/zh-CN/components/form/formitem.md
  mock/cfc/mock/form/autoUpdate.js
  packages/amis-core/src/renderers/Item.tsx
Labels: feat

#4837 chore: 事件动作中 dialog 动作关闭自动个刷新, 由配置决定是否刷新目标
  packages/amis-core/src/actions/DialogAction.ts
Labels: chore

#4825 fix:ChainedSelect针对后端接口返回内容不规范导致报错处理
  docs/zh-CN/components/form/chain-select.md
  packages/amis/src/renderers/Form/ChainedSelect.tsx
Labels: bug, fix

#4844 chore: 2.0.1
  lerna.json
  package.json
  packages/amis-core/package.json
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
Labels: chore

#4847 fix:table无数据时固定列宽失效问题
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#4845 doc: 修复样式文档无法打开问题
  examples/components/CssDocs.tsx
Labels: doc

#4848 feat: DropdownButton支持内置的svg icon
  packages/amis/src/renderers/DropDownButton.tsx
Labels: bug, feat

#4852 fix: 弹层偏移量scale下offset不一致问题
  src/renderers/CRUD.tsx
  src/utils/dom.tsx
Labels: fix

#4854 chore: input-color 改成同步加载支持 vite
  src/renderers/Form/InputColor.tsx
Labels: chore

#4855 fix: 修复 dark 主题部分颜色不正确问题
  packages/amis-ui/scss/themes/_dark-variables.scss
Labels: fix

#4856 fix: Table勾选框被错误禁用问题
  src/renderers/Table/index.tsx
Labels: fix

#4858 chore: Dropdown组件ts error
  packages/amis/src/renderers/DropDownButton.tsx
Labels: fix

#4860 feat: iframe 组件补充 sandbox、allow、referrerpolicy
  docs/zh-CN/components/iframe.md
  packages/amis/src/renderers/IFrame.tsx
Labels: feat

#4872 chore: 整理下代码,共用部分用同一函数实现
  packages/amis-formula/src/evalutor.ts
Labels: chore

#4868 docs: 修复 custom 文档不正确问题
  docs/zh-CN/components/custom.md
  docs/zh-CN/extend/custom-sdk.md
  examples/components/Form/Custom.jsx
Labels: doc

#4861 fix:调整offset属性基于position位置进行水平、垂直偏移
  docs/zh-CN/components/badge.md
  packages/amis-ui/src/components/Badge.tsx
Labels: fix

#4871 fix: crud 弹层位置问题
  docs/zh-CN/components/form/select.md
  packages/amis-core/src/components/Overlay.tsx
  packages/amis-core/src/utils/position.ts
  packages/amis-ui/src/components/Pagination.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis/src/renderers/Pagination.tsx
Labels: fix

#4875 fix: Form未设置初始值时reset未生效问题
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/index.test.tsx.snap
  packages/amis/__tests__/renderers/Form/index.test.tsx
Labels: fix

#4881 feat: iframe 组件补充 sandbox、allow、referrerpolicy
  docs/zh-CN/components/iframe.md
  src/renderers/IFrame.tsx
Labels: feat

#4884 fix: 修复DateTime组件，时间选择器高度与日期对齐
  scss/components/form/_date.scss
  src/components/DateRangePicker.tsx
  src/components/calendar/DaysView.tsx
Labels: fix

#4893 fix: 修复Anchor-Nav 滚动定位异常问题
  src/components/AnchorNav.tsx
Labels: fix

#4892 fix: 修复input-table中input-date相对值不生效问题
  src/renderers/Form/InputTable.tsx
Labels: fix

#4885 fix: 修复input-table中input-date相对值不生效问题
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#4896 fix: DateRange点选开始面板错误操作为结束面板问题
  docs/zh-CN/components/form/input-date-range.md
  src/components/DatePicker.tsx
  src/components/DateRangePicker.tsx
  src/components/calendar/Calendar.tsx
  src/components/calendar/DaysView.tsx
Labels: fix

#4897 fix:table无数据时固定列宽失效问题 (#4847)
  __tests__/renderers/__snapshots__/Table.test.tsx.snap
  src/renderers/Table/index.tsx
Labels: fix

#4899 fix:crud批量操作按钮二次确认通过事件动作弹两次的问题
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#4906 styles: 删除编辑图标路径中自带的颜色
  packages/amis-ui/src/icons/edit.svg
Labels: style

#4909 fix:crud mergedData类型问题
  packages/amis-core/src/store/crud.ts
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#4918 chore: 优化地理位置dispose逻辑
  packages/amis-ui/src/components/BaiduMapPicker.tsx
Labels: chore

#4895 fix: table-view 的边框只应该在 td 上设置
  docs/zh-CN/components/table-view.md
  packages/amis/src/renderers/TableView.tsx
Labels: fix

#4925 fix: TreeSelect多选选中后没有清空input搜索内容 (#4843)
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: fix

#4882 fix: 修复DateRangePicker交互问题
  packages/amis-ui/scss/components/form/_date-range.scss
  packages/amis-ui/scss/components/form/_date.scss
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/calendar/DaysView.tsx
Labels: fix

#4924 docs: 补充 mapping 渲染其它 amis 组件的示例
  docs/zh-CN/components/mapping.md
Labels: doc

#4923 feat: table-view 的所有属性支持变量
  docs/zh-CN/components/table-view.md
  packages/amis-core/src/utils/dataMapping.ts
  packages/amis-core/src/utils/tpl-builtin.ts
  packages/amis/src/renderers/TableView.tsx
Labels: feat

#4945 fix: 公式编辑器高亮问题
  packages/amis-ui/src/components/formula/plugin.ts
Labels: fix

#4898 fix: InputDatePicker中input中可以输入与时间选择器中不对应的字符
  src/components/DatePicker.tsx
  src/components/DateRangePicker.tsx
Labels: fix

#4942 feat: Property 的 title 等属性支持自动变量解析 Closes #4900
  docs/zh-CN/components/property.md
  packages/amis/src/renderers/Property.tsx
Labels: feat

#4954 fix: Service组件Unmount方法缺失问题
  packages/amis/src/renderers/Service.tsx
Labels: fix

#4955 chore: 修复编译 warnning
  README.md
  packages/amis/src/renderers/TableView.tsx
  publish-to-internal.sh
Labels: chore

#4953 fix: transfer tree 右侧无法滚动 (#4686)
  packages/amis-ui/src/components/Transfer.tsx
Labels: fix

#4930 fix: (#4828) Select组件搜索时输入空格错误关闭下拉框，关闭快捷键改为组合键
  packages/amis-ui/src/components/Select.tsx
Labels: fix

#4931 style: Card组件按钮区图标文字间隔 (fix #4901)
  docs/zh-CN/components/card.md
  packages/amis-ui/scss/components/_card.scss
Labels: fix, style

#4933 fix: InputTag组件placeholder属性不生效问题
  docs/zh-CN/components/form/input-tag.md
  packages/amis-ui/src/components/ResultBox.tsx
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTag.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputTag.test.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Form/InputTag.tsx
  packages/amis/src/renderers/Form/NestedSelect.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: fix

#4838 chore: 补充crud单测
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/__tests__/renderers/Table.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
Labels: request-changes

#4966 feat:ajax动作返回数据格式调整
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/AjaxAction.ts
  packages/amis/__tests__/event-action/ajax.test.tsx
  packages/amis/__tests__/event-action/custom.test.tsx
Labels: feat

#4890 style:组件time/date/anchornav/progress/alert样式对齐4.0
  docs/zh-CN/components/progress.md
  fis-conf.js
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_alert.scss
  packages/amis-ui/scss/components/_anchor-nav.scss
  packages/amis-ui/scss/components/_progress.scss
  packages/amis-ui/scss/components/form/_date-range.scss
  packages/amis-ui/scss/components/form/_date.scss
  packages/amis-ui/scss/components/react-datetime.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  packages/amis-ui/src/components/Alert2.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/Progress.tsx
  packages/amis-ui/src/components/calendar/Calendar.tsx
  packages/amis-ui/src/components/calendar/DaysView.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/icons/alert-danger.svg
  packages/amis-ui/src/icons/alert-success.svg
  packages/amis-ui/src/icons/alert-warning.svg
  packages/amis-ui/src/icons/right-double-arrow.svg
  packages/amis/__tests__/renderers/Form/__snapshots__/dateRange.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/calendar.test.tsx.snap
Labels: in-review, style

#4943 styles: tabs、input-rating、input-text、textarea 组件样式问题修复
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_tabs.scss
  packages/amis-ui/scss/components/form/_rating.scss
  packages/amis-ui/scss/components/form/_text.scss
  packages/amis-ui/scss/components/form/_textarea.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  packages/amis-ui/src/components/Tabs.tsx
  packages/amis-ui/src/components/Textarea.tsx
  packages/amis-ui/src/icons/star.svg
Labels: in-review, style

#4956 style:transfer、form、pagination 4.0样式问题修改
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_pagination.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/scss/components/form/_transfer.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  packages/amis-ui/src/icons/left-arrow.svg
  packages/amis-ui/src/icons/right-arrow.svg
  packages/amis-ui/src/locale/zh-CN.ts
Labels: in-review, style

#4969 chore: 补充 radios switch input-text 单测
  docs/zh-CN/components/form/radios.md
  packages/amis/__tests__/renderers/Form/__snapshots__/radios.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/switch.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/__tests__/renderers/Form/radios.test.tsx
  packages/amis/__tests__/renderers/Form/switch.test.tsx
  packages/amis/__tests__/renderers/Form/text.test.tsx
Labels: chore

#4964 style:table组件对齐4.0样式
  packages/amis-ui/scss/components/_panel.scss
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis-ui/src/icons/check-circle.svg
  packages/amis/__tests__/renderers/__snapshots__/Status.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Copyable.tsx
  packages/amis/src/renderers/Status.tsx
  packages/amis/src/renderers/Table/HeadCellSearchDropdown.tsx
Labels: style

#4974 fix: 公式变量点选时嵌套问题
  packages/amis-ui/src/components/formula/plugin.ts
Labels: fix

#4962 Feat amis badge
  docs/zh-CN/components/steps.md
  docs/zh-CN/components/tag.md
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_badge.scss
  packages/amis-ui/scss/components/_steps.scss
  packages/amis-ui/scss/components/_timeline.scss
  packages/amis-ui/scss/components/form/_tree.scss
  packages/amis-ui/src/components/Badge.tsx
  packages/amis-ui/src/components/Steps.tsx
  packages/amis-ui/src/components/TimelineItem.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/icons/down-arrow-bold.svg
  packages/amis-ui/src/icons/new-edit.svg
  packages/amis-ui/src/icons/steps-finsh.svg
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Steps.test.tsx.snap
Labels: style

#4878 fix:amis 4.0样式对齐 checkbox&select等组件
  packages/amis-ui/scss/components/_input-box.scss
  packages/amis-ui/scss/components/form/_checks.scss
  packages/amis-ui/scss/components/form/_nested-select.scss
  packages/amis-ui/scss/components/form/_number.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/scss/themes/cxd.scss
Labels: in-review, fix

#4975 feat: transfer组件新版主题配置
  packages/amis-ui/scss/components/form/_transfer.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  packages/amis-ui/scss/themes/cxd.scss
Labels: feat

#4978 styles：修复crud headerToolbart右对齐按钮没有间距问题
  packages/amis-ui/scss/components/_crud.scss
  packages/amis-ui/scss/components/_crud2.scss
Labels: style

#4979 fix: 修复选项的 autoFill 会出现对象 merge 的情况
  packages/amis-core/src/renderers/Options.tsx
  packages/amis/__tests__/renderers/Form/options.test.tsx
Labels: fix

#4987 fix： steps恢复子标题
  docs/zh-CN/components/steps.md
  packages/amis-ui/scss/components/_steps.scss
  packages/amis-ui/src/components/Steps.tsx
  packages/amis/__tests__/renderers/__snapshots__/Steps.test.tsx.snap
Labels: bug, fix

#4985 styles: 补全全局变量
  packages/amis-ui/scss/_properties.scss
Labels: style

#4988 style:修复form表单按钮靠左
  packages/amis-ui/scss/components/_panel.scss
Labels: style

#4927 styles: 修改amis4.0样式
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/base/_typography.scss
  packages/amis-ui/scss/components/_breadcrumb.scss
  packages/amis-ui/scss/components/_collapse-group.scss
  packages/amis-ui/scss/components/_collapse.scss
  packages/amis-ui/scss/components/_search-box.scss
  packages/amis-ui/scss/themes/cxd.scss
  packages/amis-ui/src/components/Breadcrumb.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/icons/down.svg
  packages/amis/__tests__/renderers/__snapshots__/Breadcrumb.test.tsx.snap
Labels: in-review, style

#4992 styles：修复dialog内容x轴被遮挡问题
  packages/amis-ui/scss/components/_modal.scss
  packages/amis-ui/scss/themes/cxd.scss
Labels: style

#4993 fix:TextControlSchema nativeInputClassName声明
  packages/amis/src/renderers/Form/InputText.tsx
Labels: fix

#4997 styles: 修复overflow hidden问题
  packages/amis-ui/scss/components/_collapse-group.scss
  packages/amis-ui/scss/components/_collapse.scss
  packages/amis-ui/scss/components/_modal.scss
Labels: style

#4998 fix: 修复 Combo配置unique属性空字符的逻辑判断
  packages/amis-core/src/store/formItem.ts
Labels: fix

#5003 fix: 修复table中combineNum不生效
  packages/amis-core/src/store/table.ts
  packages/amis/__tests__/renderers/Table.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#4976 docs: 更新执行单元测试步骤
  README.md
Labels: doc

#5012 fix: CRUD设置超级表头后全选checkbox展示错误
  examples/components/CRUD/HeaderGroup.jsx
  packages/amis-core/src/store/table.ts
  packages/amis-ui/scss/components/_table.scss
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/src/renderers/Table/TableContent.tsx
Labels: fix

#4977 feat: Image组件支持innerClassName
  docs/zh-CN/components/image.md
  packages/amis/src/renderers/Image.tsx
Labels: feat

#5015 fix: Checkboxes组件全选状态样式展示错误
  docs/zh-CN/concepts/template.md
  packages/amis-core/src/utils/helper.ts
  packages/amis/__tests__/renderers/Form/__snapshots__/checkboxes.test.tsx.snap
  packages/amis/__tests__/renderers/Form/checkboxes.test.tsx
  packages/amis/src/renderers/Form/Checkboxes.tsx
Labels: fix

#4959 doc: remove template.md中多余的转义字符
  docs/zh-CN/concepts/template.md
Labels: doc

#4986 fix: SDK模式下Toast位置为top-center (resolve #4928)
  docs/zh-CN/start/getting-started.md
  examples/embed.tsx
Labels: fix

#5005 feat: ImageGallery支持工具栏
  packages/amis-ui/scss/components/_image-gallery.scss
  packages/amis-ui/src/components/ImageGallery.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/icons/rotate-left.svg
  packages/amis-ui/src/icons/rotate-right.svg
  packages/amis-ui/src/icons/scale-origin.svg
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
Labels: feat

#4983 fix: Steps组件status使用变量时不生效问题
  packages/amis/src/renderers/Steps.tsx
Labels: fix

#5016 fix:修复日期范围选择器样式
  fis-conf.js
  packages/amis-ui/scss/components/form/_date-range.scss
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/MonthRangePicker.tsx
Labels: fix

#5018 chore: 更新依赖，tinymce 到 6.1.2，echarts 到 5.3.1，qrcode.react 到 3.1.0，reac…
  docs/zh-CN/components/form/input-rich-text.md
  package.json
  packages/amis-core/package.json
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis-ui/src/components/Tinymce.tsx
  packages/amis/package.json
Labels: chore

#4866 feat: service 支持 js: 请求，使得动态渲染支持 JavaScript 函数
  docs/zh-CN/components/service.md
  examples/app/index.html
  mock/cfc/index.js
  mock/cfc/mock/service/jsschema.js
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/api.ts
  packages/amis/src/Schema.ts
  packages/amis/src/types.ts
Labels: feat

#4970 fix: InputTable列使用默认值时无法更新到数据域的问题
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#4995 fix: 修复CRUD在dialog中时表头无法固定
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/scss/components/_modal.scss
  packages/amis-ui/scss/components/_table.scss
  packages/amis/__tests__/renderers/Table.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/index.tsx
Labels: request-changes, fix

#5023 chore: Echarts 补充 valueFormatter 字符串函数支持
  packages/amis/src/renderers/Chart.tsx
Labels: chore

#5022 fix: CRUD查询表单reset-and-submit刷新两次问题; InputText使用AutoComplete光标无法切换问题
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/utils/api.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Form/Group.tsx
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputText.tsx
Labels: bug, fix

#5020 fix: 兼容低版本浏览器配置table:autoFillHeight（不支持sticky）
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Table/index.tsx
Labels: fix
