Repository baidu/amis, pull requests merged in 2022-10, with the labels that each got.

#5500 feat:action args优化
  packages/amis-core/src/actions/Action.ts
Labels: feat

#5505 fix: InputImage组件自动填充失效问题
  docs/zh-CN/components/form/input-image.md
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#5506 chore: crud 加载更多按钮在无数据时变成 disable 而不是隐藏，避免在编辑器里看不见
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/CRUD.tsx
Labels: chore

#4869 feat: 新增 icon-select 组件，用于速搭 svg icon 的使用
  packages/amis-core/src/utils/icon.tsx
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/form/_icon-select.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/Schema.ts
  packages/amis/src/index.tsx
  packages/amis/src/renderers/Form/IconPicker.tsx
  packages/amis/src/renderers/Form/IconSelect.tsx
  packages/amis/src/renderers/Form/IconSelectStore.tsx
  packages/amis/src/renderers/Icon.tsx
Labels: request-changes, feat

#5521 feat:优化刷新组件动作
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/src/renderers/App.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Chart.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Service.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: feat

#5507 chore: 补充 input-image 的 autoFill 单元测试
  README.md
  packages/amis/__tests__/renderers/Form/inputImage.test.tsx
  packages/amis/package.json
Labels: chore

#5523 fix:action.args为null时数据问题
  packages/amis-core/src/actions/BroadcastAction.ts
Labels: fix

#5526 fix:编译报错问题
  packages/amis-core/src/Scoped.tsx
  packages/amis/src/renderers/App.tsx
  packages/amis/src/renderers/Chart.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: fix

#5522 fix: AutoFill的key为路径时不生效问题
  docs/zh-CN/components/form/options.md
  packages/amis-core/src/renderers/Options.tsx
  packages/amis/__tests__/renderers/Form/autoFill.test.tsx
Labels: fix

#5530 fix:修复时间类、Transfer的事件动作
  docs/zh-CN/components/form/transfer.md
  packages/amis/src/renderers/Form/InputDate.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
Labels: fix

#5535 fix: Picker组件开启embed模式无限渲染问题
  docs/zh-CN/components/form/picker.md
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Form/Picker.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5541 fix:button enhance类型样式修改
  packages/amis-ui/scss/themes/_cxd-variables.scss
Labels: fix

#5537 fix: Image 修改图片地址,图片显示问题修复
  packages/amis-ui/scss/components/_images.scss
  packages/amis/src/renderers/Image.tsx
Labels: fix

#5499 fix: crud 表头固定宽度对齐问题
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5377 Feat:TreeSelect支持创建顶层节点
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: request-changes

#5333 fix: 修复 crud 导出时会导出首列-操作列
  packages/amis-core/src/store/table.ts
Labels: fix

#5547 style:对象生成图标 对齐高度
  packages/amis-core/src/utils/icon.tsx
  packages/amis-ui/scss/base/_normalize.scss
Labels: style

#5550 feat:collapse&inputTable&alert2&Avatar接入自定义图标
  packages/amis-ui/src/components/Alert2.tsx
  packages/amis-ui/src/components/Avatar.tsx
  packages/amis/src/renderers/Collapse.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: feat

#5551 chore: amis 暴露信息中补充 schema.json
  packages/amis/package.json
Labels: chore

#5536 docs: 处理移动端HTML报错
  examples/mobile.html
Labels: doc

#5554 feat: formula 扩充公式 ARRAYFILTER 用来做数组过滤
  lerna.json
  packages/amis-core/package.json
  packages/amis-formula/__tests__/evalute.test.ts
  packages/amis-formula/package.json
  packages/amis-formula/src/evalutor.ts
  packages/amis-ui/package.json
  packages/amis/package.json
  revision.json
Labels: feat

#5552 fix: 修复form 描述一行溢出问题
  packages/amis-ui/scss/components/form/_form.scss
Labels: fix

#5561 feat: crud reload增加resetPage
  packages/amis/src/renderers/CRUD.tsx
Labels: feat

#5560 chore: Excel 导出时自动对 tpl 里的 html 实体进行解码
  examples/components/CRUD/ExportCSVExcel.jsx
  packages/amis-core/src/utils/decodeEntity.ts
  packages/amis-core/src/utils/index.ts
  packages/amis/src/renderers/Table/exportExcel.ts
Labels: chore

#5468 docs: Form组件debug区域配置项说明
  docs/zh-CN/components/form/index.md
Labels: doc

#5571 fix:修复渲染器id被覆盖问题
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis/src/renderers/Panel.tsx
Labels: fix

#5572 style:人员选择组件背景色主题化
  packages/amis-ui/scss/themes/_cxd-variables.scss
Labels: style

#5581 fix crud reload error
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#5587 fix: 修复 input-array 无法使用问题
  packages/amis/src/renderers/Form/InputArray.tsx
Labels: fix

#5391 feat: 表单项增加展示态
  docs/zh-CN/components/form/formitem.md
  docs/zh-CN/components/form/index.md
  examples/components/Example.jsx
  examples/components/Form/SwitchDisplay.jsx
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-ui/scss/components/form/_list.scss
  packages/amis-ui/scss/components/form/_switch.scss
  packages/amis-ui/scss/components/form/_textarea.scss
  packages/amis-ui/src/components/BaiduMapPicker.tsx
  packages/amis-ui/src/components/MultilineText.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis/src/Schema.ts
  packages/amis/src/index.tsx
  packages/amis/src/renderers/DateRange.tsx
  packages/amis/src/renderers/Form/ButtonGroupSelect.tsx
  packages/amis/src/renderers/Form/ChainedSelect.tsx
  packages/amis/src/renderers/Form/ChartRadios.tsx
  packages/amis/src/renderers/Form/Checkbox.tsx
  packages/amis/src/renderers/Form/Checkboxes.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputCity.tsx
  packages/amis/src/renderers/Form/InputColor.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
  packages/amis/src/renderers/Form/InputDateRange.tsx
  packages/amis/src/renderers/Form/InputMonthRange.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
  packages/amis/src/renderers/Form/InputQuarterRange.tsx
  packages/amis/src/renderers/Form/InputRange.tsx
  packages/amis/src/renderers/Form/InputRating.tsx
  packages/amis/src/renderers/Form/InputTag.tsx
  packages/amis/src/renderers/Form/InputText.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/InputYearRange.tsx
  packages/amis/src/renderers/Form/ListSelect.tsx
  packages/amis/src/renderers/Form/LocationPicker.tsx
  packages/amis/src/renderers/Form/MatrixCheckboxes.tsx
  packages/amis/src/renderers/Form/NestedSelect.tsx
  packages/amis/src/renderers/Form/Radios.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/StaticHoc.tsx
  packages/amis/src/renderers/Form/Switch.tsx
  packages/amis/src/renderers/Form/TabsTransfer.tsx
  packages/amis/src/renderers/Form/TabsTransferPicker.tsx
  packages/amis/src/renderers/Form/Textarea.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
  packages/amis/src/renderers/MultilineText.tsx
  packages/amis/src/renderers/Password.tsx
  packages/amis/src/renderers/Words.tsx
Labels: feat

#5591 fix:折叠器Collapse自定义图标&inputNumber对含后缀生效
  packages/amis/src/renderers/Collapse.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#5593 fix: input-number单位报错&增强button样式
  packages/amis-ui/scss/themes/_antd-variables.scss
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#5594 fix: CRUD缺少resetpage参数
  packages/amis/src/renderers/CRUD.tsx
Labels: bug, fix

#5600 feat:将默认px替换为rem 2px===0.125rem
  packages/amis-ui/scss/themes/_antd-variables.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
Labels: feat

#5603 feat: tinymce 添加 quickbars 插件
  packages/amis-ui/src/components/Tinymce.tsx
Labels: feat

#5606 fix: 修复多行文本展开收起不能自适应宽度的问题
  packages/amis-ui/src/components/MultilineText.tsx
Labels: fix

#5607 fix: amis-ui Multiline Text 组件css提取
  packages/amis-ui/scss/components/_multiline-text.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis-ui/src/components/MultilineText.tsx
Labels: fix

#5605 fix: 调整 path 的最大长度限制
  packages/amis-core/src/factory.tsx
Labels: fix

#5240 fix:select组件选中项很长的情况下，输入框内容的label显示问题 & 同样移动端也是存在显示问题
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/scss/components/form/_select.scss
Labels: fix

#5597 chore: 公式添加 ISTYPE 用来判断类型
  packages/amis-core/src/utils/filter.ts
  packages/amis-formula/__tests__/evalute.test.ts
  packages/amis-formula/src/evalutor.ts
Labels: chore

#5613 feat:中性色变量修改
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/form/_date-range.scss
  packages/amis-ui/scss/components/form/_date.scss
  packages/amis-ui/scss/themes/_antd-variables.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  packages/amis-ui/scss/themes/cxd.scss
Labels: feat

#5599 fix: InputNumber组件设置精度为0时仍然可以输入小数问题
  docs/zh-CN/components/form/input-number.md
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
  packages/amis/src/renderers/Form/InputRange.tsx
Labels: fix

#5609 chore: 修改表单项静态展示配置优先级; docs: 增加静态展示态相关文档
  docs/zh-CN/components/form/formitem.md
  packages/amis-core/src/renderers/Form.tsx
Labels: fix, doc

#5518 fix: input-table 内部校验问题
  packages/amis-core/src/store/form.ts
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#5595 style: 优化input-image组件disabled态的样式
  packages/amis-ui/scss/components/form/_image.scss
Labels: style

#5563 fix: Picker组件开启内联模式时默认值错误回显问题
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Form/Picker.tsx
Labels: fix

#5558 fix: CRUD组件export-csv的api未携带filter参数问题
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#5623 style: 修复select组件宽度溢出问题
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_button.scss
  packages/amis-ui/scss/components/form/_select.scss
Labels: style

#5620 feat: List组件支持itemClick事件; chore: Picker组件事件名称修正为驼峰格式
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/form/picker.md
  docs/zh-CN/components/list.md
  examples/components/EventAction/cmpt-event-action/ListEvent.jsx
  examples/components/Example.jsx
  packages/amis/src/renderers/Form/Picker.tsx
  packages/amis/src/renderers/List.tsx
Labels: feat, chore

#5636 chore: 规范引入方式，兼容vite启动
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/index.tsx
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-core/src/store/index.ts
  packages/amis-ui/src/components/index.tsx
Labels: chore

#5614 fix: FormulaPicker value值不同步问题
  packages/amis-ui/src/components/formula/Picker.tsx
Labels: fix

#5630 feat: transfer结果搜索支持labelField和label
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: feat

#5638 chore: 修复vite启动报错问题
  packages/amis-core/src/components/Overlay.tsx
  packages/amis-ui/src/components/ResultList.tsx
  packages/amis-ui/src/components/ResultTreeList.tsx
  packages/amis-ui/src/components/Selection.tsx
Labels: chore

#5635 chore: CRUD批量操作数据域新增currentPageData字段，优化文档描述
  docs/zh-CN/components/crud.md
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/CRUD.tsx
Labels: chore

#5625 docs: CURD列配置文档优化
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/table.md
Labels: doc

#5649 fix:buildApi无数据情况下url多余?问题
  packages/amis-core/src/utils/api.ts
Labels: fix

#5641 chore: 事件动作增加调试日志方便了解中间参数及中间结果
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/Action.ts
Labels: chore

#5640 chore: Excel 导出支持 input-city 类型的转换
  examples/components/CRUD/ExportCSVExcel.jsx
  packages/amis/src/renderers/Table/exportExcel.ts
Labels: chore

#5648 chore: ConditionBuilder组件i18n文案补充
  packages/amis-ui/src/components/condition-builder/index.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
Labels: awaiting-final-review, chore

#5657 fix:修复dialog内执行更新表单数据动作没有触发表单数据更新问题
  packages/amis-core/src/renderers/Form.tsx
Labels: fix

#5659 style: quickEdit 列去掉 min-width 设置,因为如果是个开关用不了那么宽
  packages/amis-ui/scss/components/form/_form.scss
Labels: style

#5642 fix: Code组件部分情况无法渲染问题，自定义高亮失效问题
  docs/zh-CN/components/code.md
  examples/components/Code.jsx
  examples/components/Example.jsx
  packages/amis-ui/scss/components/_code.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis/src/renderers/Code.tsx
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix
