Repository baidu/amis, pull requests merged in 2022-04, with the labels that each got.

#3932 fix:tansfer-docs
  docs/zh-CN/components/form/tabs-transfer-picker.md
  docs/zh-CN/components/form/tabs-transfer.md
  docs/zh-CN/components/form/transfer-picker.md
Labels: fix, doc

#3935 feat: markdown 渲染支持高级配置，比如是否支持 html
  docs/zh-CN/components/markdown.md
  src/components/Markdown.tsx
  src/renderers/Markdown.tsx
  src/utils/markdown.ts
Labels: feat

#3936 chore: api query 部分没有值也发送空字符
  src/utils/api.ts
Labels: chore

#3937 chore: api 问号左侧不做 url 转义
  src/utils/api.ts
Labels: chore

#3938 fix:nestedselect移动端change事件失效问题
  src/actions/ToastAction.ts
  src/renderers/Form/NestedSelect.tsx
Labels: fix

#3939 docs: 将 1-2-0 变更文档改成更新记录说明
  docs/zh-CN/start/1-2-0.md
  docs/zh-CN/start/changelog.md
  examples/components/App.tsx
  examples/components/DocNavCN.ts
  src/utils/debug.tsx
Labels: doc

#3940 fix: 修复 nav 没有 onOrderChange 属性会报错问题
  src/renderers/Nav.tsx
Labels: fix

#3945 fix: 修复 cards columnsCount 属性不生效问题
  src/renderers/Cards.tsx
Labels: fix

#3943 feat: crud 控制列是否显示支持全选 Closes #3933
  docs/zh-CN/components/form/checkboxes.md
  src/renderers/Table/ColumnToggler.tsx
  src/renderers/Table/index.tsx
  src/store/table.ts
Labels: feat

#3941 chore: 修复 schema 中 id 属性不存在报错 Closes #3931
  src/Schema.ts
  src/components/CollapseGroup.tsx
Labels: chore

#3952 chore: api 左侧路径上获取的数据有可能已经包含了问号所以得动态检测
  src/utils/api.ts
Labels: chore

#3953 fix #3288: 文本输入多选模式选项错误问题
  docs/zh-CN/components/form/input-text.md
  src/renderers/Form/InputText.tsx
Labels: fix

#3970 chore: app 模式自动加 affixOffsetTop Closes #3963
  examples/embed.tsx
  mock/cfc/mock/service/schema.js
Labels: chore

#3959 fix:autoFill去除mapping配置
  docs/zh-CN/components/form/formitem.md
  src/Schema.ts
  src/renderers/Form/Item.tsx
  src/store/formItem.ts
Labels: fix

#3950 fix: 修复 ECharts 数据加载太快时渲染报错问题
  src/renderers/Chart.tsx
Labels: fix

#3965 fix: umi 集成报错,样式库编译报错
  scss/_properties.scss
Labels: fix

#3989 chore: nav 当 label 是自定义渲染器时不要显示 title
  src/renderers/Nav.tsx
Labels: chore

#3990 feat: table 的总结行增加 affixRowClassNameExpr prefixRowClassNameExpr 属性
  docs/zh-CN/components/table.md
  package.json
  scss/components/_table.scss
  src/renderers/Table/TableBody.tsx
  src/renderers/Table/TableContent.tsx
  src/renderers/Table/index.tsx
Labels: feat

#3955 feat: 超级表头支持模板；升级 @testing-library/react 支持 react 18
  __tests__/renderers/Carousel.test.tsx
  __tests__/renderers/Form/__snapshots__/buttonGroup.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/chainedSelect.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/index.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/list.test.tsx.snap
  __tests__/renderers/Form/autoFill.test.tsx
  __tests__/renderers/Form/buttonGroup.test.tsx
  __tests__/renderers/Form/chainedSelect.test.tsx
  __tests__/renderers/Form/city.test.tsx
  __tests__/renderers/Form/formula.test.tsx
  __tests__/renderers/Form/iconPicker.test.tsx
  __tests__/renderers/Form/initData.test.tsx
  __tests__/renderers/Form/inputDate.test.tsx
  __tests__/renderers/Form/inputMonth.test.tsx
  __tests__/renderers/Form/list.test.tsx
  __tests__/renderers/Form/radios.test.tsx
  __tests__/renderers/Table.test.tsx
  __tests__/renderers/__snapshots__/BarCode.test.tsx.snap
  __tests__/renderers/__snapshots__/Carousel.test.tsx.snap
  __tests__/renderers/__snapshots__/Table.test.tsx.snap
  package.json
  src/store/table.ts
Labels: feat

#3954 fix: 修复Select默认全选失效
  scss/components/form/_select.scss
  src/renderers/Form/Options.tsx
Labels: bug, fix

#3951 feat: combo组件增加‘自定义新增按钮’属性
  docs/zh-CN/components/form/combo.md
  src/renderers/Form/Combo.tsx
Labels: feat

#3948 Feat nestedselect
  scss/components/form/_nested-select.scss
  src/renderers/Form/NestedSelect.tsx
Labels: bug

#3992 fix: 修复 inputCity 选项清理问题
  src/components/Select.tsx
  src/renderers/Form/InputCity.tsx
Labels: fix

#3994 fix: Action行为按钮组件修复 tooltip部分属性配置不生效问题
  src/renderers/Action.tsx
  src/renderers/Remark.tsx
Labels: fix

#3999 fix:打平显隐动作控制
  docs/zh-CN/concepts/event-action.md
  examples/components/EventAction/Cmpt.jsx
  examples/components/Example.jsx
  src/SchemaRenderer.tsx
Labels: fix

#4013 fix: tabs chrome模式下文字显示不全问题
  docs/zh-CN/components/tabs.md
  scss/components/_tabs.scss
  src/components/Tabs.tsx
Labels: fix

#4021 chore: 修复测试用例报错
  __tests__/__snapshots__/factory.test.tsx.snap
  __tests__/factory.test.tsx
  __tests__/helper.tsx
  __tests__/jest.setup.js
  __tests__/renderers/Action.test.tsx
  __tests__/renderers/BarCode.test.tsx
  __tests__/renderers/CRUD.test.tsx
  __tests__/renderers/Carousel.test.tsx
  __tests__/renderers/Form/__snapshots__/city.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/index.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/initData.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/tabs.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  __tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  __tests__/renderers/Form/chainedSelect.test.tsx
  __tests__/renderers/Form/city.test.tsx
  __tests__/renderers/Form/combo.test.tsx
  __tests__/renderers/Form/control.test.tsx
  __tests__/renderers/Form/iconPicker.test.tsx
  __tests__/renderers/Form/index.test.tsx
  __tests__/renderers/Form/initData.test.tsx
  __tests__/renderers/Form/radios.test.tsx
  __tests__/renderers/Form/range.test.tsx
  __tests__/renderers/Form/service.test.tsx
  __tests__/renderers/Form/testarea.test.tsx
  __tests__/renderers/Form/text.test.tsx
  __tests__/renderers/Markdown.test.tsx
  __tests__/renderers/Page.test.tsx
  __tests__/renderers/Wizard.test.tsx
  __tests__/renderers/__snapshots__/BarCode.test.tsx.snap
  __tests__/renderers/__snapshots__/Markdown.test.tsx.snap
  __tests__/renderers/__snapshots__/Page.test.tsx.snap
  __tests__/renderers/__snapshots__/Portlet.test.tsx.snap
  __tests__/renderers/__snapshots__/Tabs.test.tsx.snap
  __tests__/renderers/__snapshots__/Wizard.test.tsx.snap
  package.json
  src/components/Markdown.tsx
  src/components/Spinner.tsx
  src/renderers/BarCode.tsx
  tsconfig.json
Labels: chore

#3997 fix: column-toggler显示列前端未持久化保存问题
  docs/zh-CN/components/crud.md
  src/renderers/Table/ColumnToggler.tsx
  src/renderers/Table/index.tsx
  src/store/table.ts
Labels: fix

#4023 feat: password 支持点击显示原文
  __tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  scss/_mixins.scss
  src/renderers/Form/InputText.tsx
Labels: feat

#4008 InputText 选择器模式下 仅返回首字BUG
  src/renderers/Form/InputText.tsx
Labels: awaiting-final-review, fix

#4028 chore: select 的值没有跟选项关联上时依然显示同时飘红
  scss/_properties.scss
  scss/components/form/_select.scss
  src/components/Select.tsx
Labels: chore

#4029 fix: 调整上传change的派发时机，修复上传进度条与实际比例不匹配
  docs/zh-CN/components/form/input-file.md
  docs/zh-CN/components/form/input-image.md
  scss/components/form/_file.scss
  src/renderers/Form/InputFile.tsx
  src/renderers/Form/InputImage.tsx
Labels: fix

#4031 fix:修复部分组件Dialog动作失效问题&补充Dialog和Drawer事件和动作
  docs/zh-CN/components/dialog.md
  docs/zh-CN/components/drawer.md
  docs/zh-CN/concepts/event-action.md
  examples/components/EventAction/Common.jsx
  src/RootRenderer.tsx
  src/SchemaRenderer.tsx
  src/actions/DialogAction.ts
  src/actions/DrawerAction.ts
  src/factory.tsx
  src/renderers/Dialog.tsx
  src/renderers/Drawer.tsx
Labels: fix

#4043 fix: 修复 https://github.com/baidu/amis/pull/4028 引发的问题
  src/components/Select.tsx
Labels: fix

#4044 feat:打开页面支持页面参数
  docs/zh-CN/concepts/event-action.md
  examples/components/EventAction/Broadcast.jsx
  examples/components/EventAction/Logic.jsx
  examples/components/EventAction/Stop.jsx
  src/actions/Action.ts
  src/actions/AjaxAction.ts
  src/actions/BroadcastAction.ts
  src/actions/CmptAction.ts
  src/actions/CopyAction.ts
  src/actions/CustomAction.ts
  src/actions/DialogAction.ts
  src/actions/DrawerAction.ts
  src/actions/EmailAction.ts
  src/actions/LinkAction.ts
  src/actions/LoopAction.ts
  src/actions/PageAction.ts
  src/actions/ParallelAction.ts
  src/actions/SwitchAction.ts
  src/actions/ToastAction.ts
Labels: feat

#4047 feat: 新增主题编辑器示例
  docs/zh-CN/concepts/event-action.md
  docs/zh-CN/style/css-vars.md
  docs/zh-CN/style/index.md
  examples/components/Example.jsx
  examples/components/Theme.tsx
  examples/components/theme/crud.tsx
  examples/components/theme/form.tsx
  examples/components/theme/vars.tsx
  src/renderers/Form/index.tsx
Labels: feat

#4051 chore: 去除有安全风险的 async 库依赖
  docs/zh-CN/components/form/input-file.md
  examples/loader.ts
  mock/cfc/mock/upload/chunkApi.json
  mock/cfc/mock/upload/finishChunkApi.json
  mock/cfc/mock/upload/startChunkApi.json
  package.json
  src/renderers/Form/InputFile.tsx
Labels: chore

#3536 Feat/tree cxd 4.0
  docs/zh-CN/components/form/input-tree.md
  scss/_properties.scss
  scss/components/form/_tree.scss
  scss/themes/_cxd-variables.scss
  src/components/Tree.tsx
  src/renderers/Form/InputTree.tsx
Labels: awaiting-final-review

#4054 feat: input-tree动作不依赖默认配置
  docs/zh-CN/components/form/input-tree.md
  src/components/Tree.tsx
Labels: feat

#4049 fix:页面跳转动作链接问题
  docs/zh-CN/components/action.md
  docs/zh-CN/components/dialog.md
  docs/zh-CN/components/drawer.md
  docs/zh-CN/components/form/index.md
  docs/zh-CN/components/wizard.md
  docs/zh-CN/concepts/event-action.md
  src/actions/LinkAction.ts
  src/renderers/Action.tsx
  src/renderers/Dialog.tsx
  src/renderers/Drawer.tsx
  src/renderers/Form/index.tsx
  src/renderers/Wizard.tsx
Labels: fix

#4053 feat: service组件事件&动作
  docs/zh-CN/components/service.md
  examples/components/EventAction/FormEvent.jsx
  examples/components/EventAction/ServiceEvent.jsx
  examples/components/Example.jsx
  examples/components/Services/Schema.jsx
  mock/cfc/mock/number/random.js
  src/actions/ToastAction.ts
  src/renderers/Service.tsx
Labels: feat

#4057 fix: 降低 monaco 版本，方便支持老版本的打包工具
  package.json
Labels: fix

#4062 feat: 评分组件 texts、colors 过滤非数字key， 如：$$id
  src/components/Rating.tsx
Labels: chore

#4060 fix:Select仅全选无法选中值修复
  src/components/Select.tsx
Labels: bug, fix

#4064 docs: 补充 editor 自定义开发的说明
  docs/zh-CN/components/form/editor.md
  src/renderers/Form/Editor.tsx
Labels: doc

#4072 fix:修复轮播图动作无效问题&修复toast动作提示信息类型问题
  docs/zh-CN/components/carousel.md
  docs/zh-CN/concepts/event-action.md
  examples/components/EventAction/CarouselEvent.jsx
  examples/components/EventAction/SelectEvent.jsx
  examples/components/EventAction/TabsEvent.jsx
  examples/components/EventAction/TransferEvent.jsx
  examples/components/EventAction/WizardEvent.jsx
  examples/components/Example.jsx
  src/actions/CmptAction.ts
  src/actions/ToastAction.ts
  src/renderers/Carousel.tsx
  src/renderers/Form/ButtonGroupSelect.tsx
  src/renderers/Form/Checkbox.tsx
  src/renderers/Form/Checkboxes.tsx
  src/renderers/Form/Combo.tsx
  src/renderers/Form/ListSelect.tsx
  src/renderers/Form/Options.tsx
  src/renderers/Form/TabsTransfer.tsx
  src/renderers/Tabs.tsx
Labels: fix

#4046 feat:Pagination
  __tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  docs/zh-CN/components/pagination.md
  examples/components/Components.tsx
  scss/_properties.scss
  scss/components/_pagination.scss
  src/components/Pagination.tsx
  src/locale/de-DE.ts
  src/locale/en-US.ts
  src/locale/zh-CN.ts
  src/renderers/Pagination.tsx
Labels: awaiting-final-review, feat

#4082 chore: TooltipWrapper新增onVisibleChange，用于外层识别当前显示和隐藏状态
  scss/_properties.scss
  scss/components/_context-menu.scss
  scss/themes/_antd-variables.scss
  scss/themes/_cxd-variables.scss
  scss/themes/_dark-variables.scss
  src/components/TooltipWrapper.tsx
Labels: chore

#4063 fix: 修复上传按钮className失效问题
  src/renderers/Form/InputFile.tsx
Labels: fix

#4083 fix:修复事件动作可能导致循环依赖问题
  src/SchemaRenderer.tsx
  src/actions/Action.ts
  src/actions/AjaxAction.ts
  src/actions/BreakAction.ts
  src/actions/BroadcastAction.ts
  src/actions/CmptAction.ts
  src/actions/ContinueAction.ts
  src/actions/CopyAction.ts
  src/actions/CustomAction.ts
  src/actions/DialogAction.ts
  src/actions/DrawerAction.ts
  src/actions/EmailAction.ts
  src/actions/LinkAction.ts
  src/actions/LoopAction.ts
  src/actions/PageAction.ts
  src/actions/ParallelAction.ts
  src/actions/SwitchAction.ts
  src/actions/ToastAction.ts
  src/env.tsx
  src/factory.tsx
  src/utils/renderer-event.ts
Labels: fix

#4094 chore: 优化 InputKV 在有重复值时的编辑体验 Closes #4071
  src/renderers/Form/Combo.tsx
  src/schemaExtend.ts
Labels: chore

#4095 feat:统一动作特性参数为args&更新文档
  docs/zh-CN/components/form/index.md
  docs/zh-CN/concepts/event-action.md
  examples/components/EventAction/Broadcast.jsx
  examples/components/EventAction/ButtonEvent.jsx
  examples/components/EventAction/CarouselEvent.jsx
  examples/components/EventAction/Common.jsx
  examples/components/EventAction/Custom.jsx
  examples/components/EventAction/DataFlow.jsx
  examples/components/EventAction/FormEvent.jsx
  examples/components/EventAction/InputEvent.jsx
  examples/components/EventAction/InputNumberEvent.jsx
  examples/components/EventAction/InputRatingEvent.jsx
  examples/components/EventAction/InputTreeEvent.jsx
  examples/components/EventAction/Logic.jsx
  examples/components/EventAction/SelectEvent.jsx
  examples/components/EventAction/ServiceEvent.jsx
  examples/components/EventAction/Stop.jsx
  examples/components/EventAction/SwitchEvent.jsx
  examples/components/EventAction/TabsEvent.jsx
  examples/components/EventAction/UploadEvent.jsx
  examples/components/EventAction/WizardEvent.jsx
  examples/components/EventAction/treeSelectEvent.jsx
  examples/components/Example.jsx
  src/actions/AjaxAction.ts
  src/actions/BroadcastAction.ts
  src/actions/CmptAction.ts
  src/actions/CopyAction.ts
  src/actions/DialogAction.ts
  src/actions/EmailAction.ts
  src/actions/LinkAction.ts
  src/actions/LoopAction.ts
  src/actions/PageAction.ts
  src/actions/ToastAction.ts
  src/renderers/Form/InputTree.tsx
  src/renderers/Wizard.tsx
Labels: feat

#4084 fix: 修复table GroupName，中间列未配置导致样式错乱问题
  __tests__/renderers/Form/chainedSelect.test.tsx
  __tests__/renderers/Table.test.tsx
  __tests__/renderers/__snapshots__/Table.test.tsx.snap
  src/store/table.ts
Labels: fix

#4099 chore：更新默认loading icon
  scss/themes/_cxd-variables.scss
Labels: chore

#4096 fix: 修复select table模式下，labelField失效问题
  __tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  __tests__/renderers/Form/select.test.tsx
  src/components/TransferDropDown.tsx
  src/renderers/Form/Select.tsx
Labels: fix

#4097 fix: type为 tree-select时，无showOutline属性配置
  docs/zh-CN/components/form/input-tree.md
  src/renderers/Form/TreeSelect.tsx
Labels: fix

#4087 docs: dialog外部数据域和内部数据域字段冲突解决demo
  docs/zh-CN/components/dialog.md
Labels: doc

#4101 fix: 修复inputText下拉框样式对齐问题
  scss/components/form/_text.scss
  scss/themes/cxd.scss
Labels: fix

#4102 feat:添加beforeDispatchEvent
  src/env.tsx
  src/utils/renderer-event.ts
Labels: feat

#4105 fix: input-excel 空值不显示bug修复
  src/renderers/Form/InputExcel.tsx
Labels: bug, fix

#4111 chore: 优化 dataSchema 相关逻辑
  src/components/index.tsx
  src/components/schema-editor/SchemaVariableList.tsx
  src/components/schema-editor/SchemaVariableListPicker.tsx
  src/index.tsx
  src/locale/de-DE.ts
  src/locale/en-US.ts
  src/locale/zh-CN.ts
  src/renderers/Form/JSONSchemaEditor.tsx
  src/renderers/Form/wrapControl.tsx
  src/schemaExtend.ts
  src/store/formItem.ts
  src/utils/DataSchema.ts
  src/utils/DataScope.ts
Labels: chore

#4117 fix #3966: Tabs组件padding统一
  scss/components/_tabs.scss
Labels: fix

#4116 docs: 补充 radios selectFirst 等文档
  docs/zh-CN/components/form/radios.md
  examples/components/Linkage/OptionsLocal.jsx
Labels: doc

#4125 feat:Select等组件blur&focus事件参数更改
  docs/zh-CN/components/form/input-tag.md
  docs/zh-CN/components/form/nestedselect.md
  docs/zh-CN/components/form/select.md
  src/components/Select.tsx
  src/renderers/Form/InputTag.tsx
  src/renderers/Form/NestedSelect.tsx
  src/renderers/Form/Select.tsx
Labels: bug, feat

#4129 fix #3969(styles): CRUD switch-per-page 文字未垂直居中问题
  scss/components/_crud.scss
  src/renderers/CRUD.tsx
Labels: fix, styles

#4128 fix #3968: tabs组件chrome样式溢出问题
  scss/components/_tabs.scss
Labels: fix, styles

#4131 docs: 补充`&`与`$$`等特殊符号的含义
  docs/zh-CN/components/mapping.md
  docs/zh-CN/types/api.md
Labels: doc

#4127 fix #3967: CRUD导出csv按钮文字size不统一问题
  src/renderers/CRUD.tsx
Labels: fix, styles

#4126 fix:修复文档错误
  docs/zh-CN/concepts/data-mapping.md
Labels: fix, doc

#3440 feat inputNumber
  docs/zh-CN/components/form/input-number.md
  scss/_properties.scss
  scss/components/form/_number.scss
  scss/themes/_cxd-variables.scss
  src/components/NumberInput.tsx
  src/renderers/Form/InputNumber.tsx
  src/renderers/Form/Item.tsx
Labels: awaiting-final-review, request-changes

#4133 feat: json-schema-editor 支持高级配置
  docs/zh-CN/components/form/json-schema-editor.md
  scss/components/_json-schema-editor.scss
  scss/components/form/_selection.scss
  src/components/schema-editor/Array.tsx
  src/components/schema-editor/Common.tsx
  src/components/schema-editor/Object.tsx
  src/components/schema-editor/SchemaVariableListPicker.tsx
  src/components/schema-editor/index.tsx
  src/locale/zh-CN.ts
  src/renderers/Form/JSONSchemaEditor.tsx
  src/utils/DataScope.ts
Labels: feat

#4140 feat: 公式编辑器校验优化
  docs/zh-CN/components/form/input-formula.md
  src/components/formula/Editor.tsx
  src/components/formula/Picker.tsx
  src/components/formula/plugin.ts
Labels: feat

#4146 chore: 先重新恢复 e.persisit
  src/renderers/Action.tsx
  src/utils/handleAction.ts
Labels: chore

#4124 feat:Table2支持事件动作
  src/components/table/HeadCellFilter.tsx
  src/components/table/HeadCellSort.tsx
  src/components/table/index.tsx
  src/index.tsx
  src/renderers/Table-v2/ColumnToggler.tsx
  src/renderers/Table-v2/HeadCellSearchDropdown.tsx
  src/renderers/Table-v2/index.tsx
  src/store/table-v2.ts
Labels: feat

#4157 docs:补充page的inited事件说明
  docs/zh-CN/components/page.md
  docs/zh-CN/concepts/event-action.md
Labels: doc

#4162 fix: inputText组件选择器模式下change事件失效问题
  docs/zh-CN/components/form/input-text.md
  examples/components/EventAction/InputEvent.jsx
  src/renderers/Custom.tsx
  src/renderers/Form/InputText.tsx
Labels: fix

#4159 chore: 调整公式上下文变量选择控件相关逻辑
  src/components/PickerContainer.tsx
  src/components/formula/Editor.tsx
  src/components/formula/Picker.tsx
  src/components/formula/plugin.ts
  src/components/index.tsx
  src/components/schema-editor/SchemaVariableList.tsx
  src/components/schema-editor/SchemaVariableListPicker.tsx
  src/components/table/HeadCellFilter.tsx
  src/components/table/HeadCellSort.tsx
  src/components/table/index.tsx
  src/renderers/Action.tsx
  src/renderers/Form/InputFormula.tsx
  src/renderers/Table-v2/HeadCellSearchDropdown.tsx
  src/renderers/Table-v2/index.tsx
  src/store/table-v2.ts
  src/utils/DataSchema.ts
  src/utils/handleAction.ts
Labels: chore

#4171 fix:穿梭框在级联模式下显示溢出#4103&tab-transfer的文档的动作表完善
  docs/zh-CN/components/form/tabs-transfer.md
  scss/components/form/_transfer.scss
Labels: fix

#4174 feat: data等组件focus&blur组件参数修改,新增级联demo
  docs/zh-CN/components/form/input-date-range.md
  docs/zh-CN/components/form/input-month-range.md
  docs/zh-CN/components/form/input-number.md
  docs/zh-CN/components/form/input-range.md
  docs/zh-CN/components/form/treeselect.md
  examples/components/EventAction/SelectEvent.jsx
  src/renderers/Form/InputDateRange.tsx
  src/renderers/Form/InputMonthRange.tsx
  src/renderers/Form/InputNumber.tsx
  src/renderers/Form/InputRange.tsx
  src/renderers/Form/TreeSelect.tsx
Labels: bug, feat

#4156 fix: 更改月份范围选择器 Render
  __tests__/renderers/Form/inputMonthRange.test.tsx
  src/components/DateRangePicker.tsx
  src/components/calendar/Calendar.tsx
  src/components/calendar/MonthsView.tsx
  src/renderers/Form/InputDateRange.tsx
  src/renderers/Form/InputMonthRange.tsx
  src/renderers/Form/InputQuarterRange.tsx
  src/renderers/Form/InputYearRange.tsx
Labels: fix

#4173 chore: 调整 example 改大预览区域,代码改成drawer 展示与编辑
  examples/components/MdRenderer.jsx
  examples/components/Play.jsx
  examples/style.scss
  scss/components/_debug.scss
  scss/components/_drawer.scss
  src/components/Drawer.tsx
  src/renderers/Drawer.tsx
Labels: chore

#4155 fix #4147: 富文本编辑器receiver无法数据映射问题
  src/renderers/Form/InputRichText.tsx
Labels: fix

#4172 chore: 修复按钮样式问题
  scss/components/_button.scss
Labels: chore

#4175 docs: 增加Text Color示例支持，方便选取颜色
  scss/helper/typography/_text-color.scss
Labels: doc

#4169 feat: 调整Tabs、Carousel、InputTree组件触发动作索引值，从1开始递增
  docs/zh-CN/components/form/input-tree.md
  examples/components/EventAction/CarouselEvent.jsx
  examples/components/EventAction/InputTreeEvent.jsx
  examples/components/EventAction/TabsEvent.jsx
  src/components/Tree.tsx
  src/renderers/Carousel.tsx
  src/renderers/Form/InputTree.tsx
  src/renderers/Tabs.tsx
Labels: bug, request-changes, feat

#4167 feat: 未配置target及api时，派发事件
  docs/zh-CN/components/form/index.md
  examples/components/EventAction/FormEvent.jsx
  src/renderers/Form/index.tsx
Labels: request-changes, feat

#4153 feat: add remark shape
  docs/zh-CN/components/remark.md
  scss/components/_remark.scss
  src/renderers/Remark.tsx
Labels: feat

#4163 feat: inputText组件选择器模式支持transform
  docs/zh-CN/components/form/input-text.md
  src/renderers/Form/InputText.tsx
Labels: feat

#4168 fix #4085: 修复select onEdit/onDelete外部无法获取option
  src/renderers/Form/Select.tsx
Labels: bug, fix

#4178 fix #4039: CRUD分页设置showPageInput无效; chore: Pagination layout属性
  src/components/Pagination.tsx
  src/renderers/CRUD.tsx
  src/renderers/Pagination.tsx
Labels: fix, chore

#4164 Feat tooltip 4.0
  scss/_properties.scss
  scss/components/_modal.scss
  scss/components/form/_tree.scss
Labels: styles

#4183 styles: 日历放大模式样式修复
  scss/components/form/_date.scss
Labels: styles

#4186 chore: 调整判断颜色逻辑
  __tests__/renderers/__snapshots__/Progress.test.tsx.snap
  docs/zh-CN/components/progress.md
  src/components/Progress.tsx
Labels: chore

#4151 fix #3995: validateApi接口提交字段为前一次内容
  src/store/formItem.ts
Labels: fix

#4143 fix #4089: 时间选择器timeConstraints属性不生效问题
  src/components/calendar/TimeView.tsx
Labels: fix

#4139 fix #3998: CRUD导出时未包含breakpoint列
  src/renderers/Table/exportExcel.ts
  src/store/table.ts
Labels: fix

#4135 fix #3973: 修复tree-select开启searchable时无法懒加载节点
  src/components/Tree.tsx
  src/store/formItem.ts
Labels: fix

#4184 fix: 修复邮编校验不准确问题
  src/utils/validations.ts
Labels: fix

#4187 fix: 修复drag模式 description 失效
  src/renderers/Form/InputFile.tsx
Labels: fix

#4180 feat: 公式编辑器变量点选优化&&校验优化
  src/components/formula/Picker.tsx
  src/components/formula/plugin.ts
  src/locale.tsx
  src/locale/de-DE.ts
  src/locale/en-US.ts
  src/locale/zh-CN.ts
  src/renderers/Form/InputFormula.tsx
  src/theme.tsx
Labels: feat

#4191 docs:修复文档错误
  docs/zh-CN/concepts/event-action.md
  src/actions/LinkAction.ts
Labels: doc

#4181 fix: 修复Popover弹框显示异常问题
  src/renderers/PopOver.tsx
Labels: fix

#4190 feat: 事件动作类型增强, 能够根据actionType自动类型提示和校验, 同时修复AjaxAction里会将adaptor/req…
  src/actions/Action.ts
  src/actions/AjaxAction.ts
  src/actions/BreakAction.ts
  src/actions/BroadcastAction.ts
  src/actions/CmptAction.ts
  src/actions/ContinueAction.ts
  src/actions/CopyAction.ts
  src/actions/CustomAction.ts
  src/actions/DialogAction.ts
  src/actions/DrawerAction.ts
  src/actions/EmailAction.ts
  src/actions/LinkAction.ts
  src/actions/LoopAction.ts
  src/actions/PageAction.ts
  src/actions/ParallelAction.ts
  src/actions/SwitchAction.ts
  src/actions/ToastAction.ts
Labels: bug, feat

#4194 fix:完善时间类的focus、blur事件&穿梭框类tabTransferPicker的focus、blur事件
  docs/zh-CN/components/form/input-date.md
  docs/zh-CN/components/form/input-datetime-range.md
  docs/zh-CN/components/form/input-datetime.md
  docs/zh-CN/components/form/input-month.md
  docs/zh-CN/components/form/input-quarter-range.md
  docs/zh-CN/components/form/input-quarter.md
  docs/zh-CN/components/form/input-time-range.md
  docs/zh-CN/components/form/input-time.md
  docs/zh-CN/components/form/input-year-range.md
  docs/zh-CN/components/form/input-year.md
  src/renderers/Form/InputDate.tsx
  src/renderers/Form/InputDateRange.tsx
  src/renderers/Form/TabsTransferPicker.tsx
Labels: fix

#4195 docs:修复demo问题
  docs/zh-CN/concepts/event-action.md
  src/actions/Action.ts
Labels: doc

#4196 fix"修复ts声明导致的schema构建问题
  src/actions/Action.ts
  src/actions/AjaxAction.ts
  src/actions/BroadcastAction.ts
  src/actions/CmptAction.ts
  src/actions/CopyAction.ts
  src/actions/CustomAction.ts
  src/actions/DialogAction.ts
  src/actions/DrawerAction.ts
  src/actions/EmailAction.ts
  src/actions/LinkAction.ts
  src/actions/PageAction.ts
  src/actions/ToastAction.ts
Labels: fix
