Repository baidu/amis, pull requests merged in 2022-08, with the labels that each got.

#5035 fix: 修复DateRangePicker可能存在多个active
  packages/amis-ui/src/components/DateRangePicker.tsx
Labels: fix

#5032 fix: 避免 react 报控件值从 uncontrolled 到 controlled 切换
  packages/amis-ui/src/components/DatePicker.tsx
Labels: fix

#5033 fix: select 接口报错时 url 应该显示为实际请求地址
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/formItem.ts
Labels: fix

#5044 feat:自定义js动作支持异步
  packages/amis-core/src/actions/CustomAction.ts
Labels: feat

#5036 fix：修复table存在异步数据时，固定表头宽度错位问题
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5047 fix: CRUD开启超级表头时展开列显示错误，合并列元素只有1个时无法显示remark问题
  examples/components/CRUD/HeaderGroup.jsx
  packages/amis-core/src/store/table.ts
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/TableContent.tsx
Labels: fix

#5055 docs:补充更新组件数据时获取数据域的说明
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/CustomAction.ts
Labels: doc

#5059 fix: CRUD设置combineNum不生效
  examples/components/CRUD/Fix.jsx
  examples/components/CRUD/MergeCell.jsx
  packages/amis-core/src/store/table.ts
  packages/amis/__tests__/renderers/Table.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5074 fix: #4566 PR 补丁 [pullRefresh.disabled为 false情况下，内容区展示异常问题]
  packages/amis-ui/scss/components/_page.scss
Labels: fix

#5077 fix:修复 CRUD组件更改columns字段不立刻生效问题
  packages/amis-core/src/store/crud.ts
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#5090 fix: crud2 CRUD2TableSchema mode value
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#5068 fix: fix doc parse error caused by vulnerable example.
  packages/amis-formula/src/evalutor.ts
Labels: fix, doc

#5048 fix: tree校验问题 & minLength和maxLength属性提示问题
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: fix

#5056 feat: Form Debug区域使用json显示
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis/__tests__/event-action/renderers/form/__snapshots__/range.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/chainedSelect.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/conditionBuilder.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputArray.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputFormula.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/__tests__/renderers/Form/combo.test.tsx
  packages/amis/__tests__/renderers/Form/conditionBuilder.test.tsx
  packages/amis/__tests__/renderers/Form/inputArray.test.tsx
  packages/amis/__tests__/renderers/Form/text.test.tsx
Labels: feat

#5069 fix: table中toolbar增加padding效果(#4757)
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_table.scss
Labels: fix

#5076 chore: input-number、input-range、checkbox 单测用例补充 & range style 百分比最多保留两位
  packages/amis-ui/src/components/Range.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/checkbox.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/number.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/range.test.tsx.snap
  packages/amis/__tests__/renderers/Form/checkbox.test.tsx
  packages/amis/__tests__/renderers/Form/number.test.tsx
  packages/amis/__tests__/renderers/Form/range.test.tsx
Labels: chore, style

#5037 docs: 修复GitHub编辑链接错误，Flexbox文档链接和文件链接统一
  examples/components/CssDocs.tsx
  examples/components/MdRenderer.jsx
Labels: doc

#5046 fix(CRUD): 操作栏列不派发loading
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5085 feat: optinos 支持配置新增和编辑的弹框属性；修复编辑属性 popover 无法显示问题；去掉代码里遗漏的 component…
  docs/zh-CN/components/form/options.md
  docs/zh-CN/extend/custom-react.md
  examples/components/Form/Full.jsx
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/src/components/calendar/DaysView.tsx
  packages/amis-ui/src/components/calendar/TimeView.tsx
  packages/amis/src/renderers/Form/Checkboxes.tsx
Labels: feat

#5086 chore: 发布 2.1.1-beta.2
  lerna.json
  packages/amis-core/package.json
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
Labels: chore

#5094 fix: CRUD列字段无返回值时会错误展示字段值问题
  docs/zh-CN/components/crud.md
  mock/cfc/mock/crud/table4.js
  packages/amis-core/src/utils/helper.ts
  packages/amis-core/src/utils/resolveVariable.ts
  packages/amis/__tests__/renderers/Form/__snapshots__/range.test.tsx.snap
  packages/amis/__tests__/renderers/Form/range.test.tsx
  packages/amis/src/renderers/Table/TableCell.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5107 style: Dialog显/隐切换卡顿问题
  packages/amis-ui/scss/components/_modal.scss
Labels: style

#5108 fix: InputTable组件needConfirm为true时无法新增行问题
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#5103 fix: 修复导出 CSV 时如果值是对象就无法显示问题
  packages/amis-core/src/store/crud.ts
Labels: fix

#5109 Revert "fix: 兼容低版本浏览器配置table:autoFillHeight（不支持sticky） (#5020)"
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5099 docs: 修复主干版本跳转链接出错的问题
  examples/components/App.tsx
Labels: doc

#5112 fix: options 内容过多时超出显示问题
  docs/zh-CN/components/form/options.md
  packages/amis-ui/scss/components/form/_select.scss
Labels: fix

#5113 fix: Page css、cssVars属性更新问题修复
  packages/amis/src/renderers/Page.tsx
Labels: fix

#5114 fix: 锚点导航定位问题修复
  packages/amis-ui/src/components/AnchorNav.tsx
Labels: fix

#5118 feat: 接口增加defaultMsg处理
  packages/amis-core/src/actions/AjaxAction.ts
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/service.ts
  packages/amis-core/src/store/table-v2.ts
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/api.ts
  packages/amis/src/renderers/CRUD.tsx
Labels: feat

#5124 chore: iframe 类型定义拼写错误
  packages/amis/src/renderers/IFrame.tsx
Labels: chore

#5123 fix:配置指定某个字段的值校验情况，导致校验可能出错
  packages/amis-core/src/store/form.ts
Labels: bug, fix

#5121 fix: 修复 nestedSelect 移动端下选中数据异常问题
  packages/amis-ui/src/components/Cascader.tsx
Labels: fix

#5126 fix: 修复collapse在form下icon右对齐不生效问题
  packages/amis-ui/scss/themes/cxd.scss
Labels: fix

#5125 fix: 修复 tree-select 搜索内容时卡顿
  examples/components/Example.jsx
  examples/components/Form/Tree.jsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: fix

#5129 chore: input-array、textarea、input-rating 单元测试补充
  packages/amis/__tests__/renderers/Form/__snapshots__/inputArray.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/rating.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/testarea.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/textarea.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputArray.test.tsx
  packages/amis/__tests__/renderers/Form/rating.test.tsx
  packages/amis/__tests__/renderers/Form/testarea.test.tsx
  packages/amis/__tests__/renderers/Form/textarea.test.tsx
Labels: chore

#5130 docs: 修复单页跳转示例中的介绍页链接
  docs/zh-CN/components/action.md
Labels: doc

#5110 fix: 修复 table affixHeader 在 dialog 中不生效的问题
  packages/amis-ui/src/components/Modal.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: request-changes, fix

#5120 feat: 增加图片裁剪属性配置 & 增加根据名称获取自定义FormItem方法
  docs/zh-CN/components/form/input-image.md
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/index.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: awaiting-final-review

#5140 fix: 修复弹窗右上角取消事件动作不执行
  packages/amis/src/renderers/Dialog.tsx
Labels: fix

#5132 feat: icon支持schema
  docs/zh-CN/components/icon.md
  packages/amis/src/renderers/Icon.tsx
Labels: feat

#5127 fix: 修复 amis-formula 数字操作返回浮点问题
  packages/amis-core/package.json
  packages/amis-core/src/utils/stripNumber.ts
  packages/amis-formula/package.json
  packages/amis-formula/rollup.config.js
  packages/amis-formula/src/evalutor.ts
  packages/amis-formula/tsconfig.json
  packages/amis-ui/package.json
  packages/amis/package.json
Labels: fix

#5146 Theme: 全局变量替换
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
Labels: bug

#5135 docs: InputPassword标题typos
  docs/zh-CN/components/form/input-password.md
Labels: fix, doc

#5154 chore: drawer 每层宽度递减，方便视觉上分辨是更高层级
  docs/zh-CN/components/drawer.md
  packages/amis-core/src/utils/api.ts
  packages/amis-ui/scss/components/_drawer.scss
Labels: chore

#5148 feat: tabs 支持collapseOnExceed 菜单超出多少个时剩余的开始折叠
  docs/zh-CN/components/tabs.md
  packages/amis-ui/scss/components/_dropdown.scss
  packages/amis-ui/scss/components/_tabs.scss
  packages/amis-ui/src/components/PopOverContainer.tsx
  packages/amis-ui/src/components/Tabs.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/__tests__/renderers/__snapshots__/calendar.test.tsx.snap
  packages/amis/src/renderers/Tabs.tsx
Labels: feat

#5157 fix: InputTable错误触发编辑态问题，CRUD设置查询字段样式问题
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5155 styles: 折叠器\列排序样式修复
  packages/amis-ui/scss/components/_column-toggler.scss
  packages/amis-ui/scss/themes/cxd.scss
Labels: style

#5161 styles: tree最大宽度优化
  packages/amis-ui/scss/components/_result-box.scss
  packages/amis-ui/scss/components/form/_tree.scss
Labels: style

#5162 fix: Form开启trimValues时会将File字段错误转换问题
  packages/amis-core/src/utils/helper.ts
Labels: fix

#5159 styles: CRUD显示列底部操作区样式问题
  packages/amis-ui/scss/components/_column-toggler.scss
Labels: style

#5163 fix: i18n文案错误
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
Labels: fix

#5165 style:amis4.0样式走查
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
Labels: style

#5164 fix: Card组件内置label不显示问题
  docs/zh-CN/components/card.md
  packages/amis/src/renderers/Card.tsx
Labels: fix

#5167 feat: crud 的 autoGenerateFilter 模式交互优化 支持展开收起
  examples/components/CRUD/ItemActions.jsx
  examples/components/CRUD/LoadOnce.jsx
  examples/components/CRUD/Table.jsx
  examples/components/CRUD/TableAutoFill.jsx
  packages/amis-core/src/store/table.ts
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/src/components/TimelineItem.tsx
  packages/amis/__tests__/renderers/Timeline.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Timeline.test.tsx.snap
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#5160 fix: Table表头分组仅有一列时分组名称错误问题
  packages/amis/__tests__/renderers/Table.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/TableContent.tsx
Labels: fix

#5176 fix: Card组件内容区带有label的表单项组件默认不渲染label
  packages/amis/src/renderers/Card.tsx
Labels: fix

#5182 fix: 修复弹窗 toast 不提示问题
  packages/amis-core/src/store/form.ts
Labels: fix

#5175 fix: 弹窗中的 table, fixed 列高度不准确
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#5178 fix: input-image 开启multiple重新上传未覆盖问题
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#5180 fix: input-text labelField 问题修复
  packages/amis/src/renderers/Form/InputText.tsx
Labels: fix

#5186 feat: Calendar组件今日高亮样式支持自定义
  docs/zh-CN/components/calendar.md
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/calendar/Calendar.tsx
  packages/amis-ui/src/components/calendar/DaysView.tsx
  packages/amis/src/renderers/Calendar.tsx
Labels: feat

#5184 fix: 日期表达式兼容 unix 时间参数
  packages/amis-formula/src/evalutor.ts
Labels: fix

#5177 fix: checkbox 分组情况单独分列
  packages/amis/__tests__/renderers/Form/__snapshots__/checkboxes.test.tsx.snap
  packages/amis/__tests__/renderers/Form/checkboxes.test.tsx
  packages/amis/src/renderers/Form/Checkboxes.tsx
Labels: fix

#5174 fix: remove table head/footer toolbar repeated className
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#5128 fix: 日期范围/日期时间范围组件minDate，maxDate失效问题
  packages/amis-ui/scss/components/form/_date.scss
  packages/amis-ui/src/components/DateRangePicker.tsx
Labels: fix

#5196 feat: editor 支持配置 placeholder
  docs/zh-CN/components/form/editor.md
  packages/amis-ui/scss/components/form/_editor.scss
  packages/amis-ui/src/components/Editor.tsx
  packages/amis/src/renderers/Form/Editor.tsx
Labels: feat

#5190 chore: input-date 单测补充
  packages/amis/__tests__/renderers/Form/__snapshots__/inputDate.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputDate.test.tsx
Labels: chore

#5171 fix: 修复 amis-formula ROUND FLOOR CEIL 的位数默认不是 2 问题
  packages/amis-formula/__tests__/fomula.test.ts
  packages/amis-formula/src/evalutor.ts
Labels: fix

#5192 docs: 修复说明中dialog, drawer链接
  docs/zh-CN/concepts/event-action.md
Labels: doc

#5189 fix: Calendar组件schedule日期展示错误
  docs/zh-CN/components/calendar.md
  packages/amis-ui/src/components/calendar/DaysView.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
Labels: fix

#5209 fix: fieldset className 被替换逻辑
  packages/amis/src/compat.ts
Labels: fix

#5141 fix: crud2 columns更新问题修复；table-v2调整为table2；table2的key调整为name
  docs/zh-CN/components/table2.md
  examples/components/Components.tsx
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/store/index.ts
  packages/amis-core/src/store/table2.ts
  packages/amis-ui/scss/components/_table2.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis-ui/src/components/table/Cell.tsx
  packages/amis-ui/src/components/table/HeadCellDropDown.tsx
  packages/amis-ui/src/components/table/HeadCellFilter.tsx
  packages/amis-ui/src/components/table/HeadCellSelect.tsx
  packages/amis-ui/src/components/table/HeadCellSort.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/Schema.ts
  packages/amis/src/index.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Table/ColumnToggler.tsx
  packages/amis/src/renderers/Table2/ColumnToggler.tsx
  packages/amis/src/renderers/Table2/HeadCellSearchDropdown.tsx
  packages/amis/src/renderers/Table2/TableCell.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: awaiting-final-review, fix

#5202 fix: 修复drawer点击左上角取消动作无响应
  packages/amis/src/renderers/Drawer.tsx
Labels: fix

#5218 chore: 补充几个 formula 现有实现的用例避免后续改错
  packages/amis-formula/__tests__/fomula.test.ts
Labels: chore

#5215 fix: 修复 wizard 组件在 step 内容无法格式化为数字时显示配置错误
  docs/zh-CN/components/form/input-date-range.md
  packages/amis-core/src/utils/index.ts
  packages/amis-core/src/utils/toNumber.ts
  packages/amis/src/renderers/Wizard.tsx
Labels: fix

#5213 chore: checkboxes 单测、文档补充
  docs/zh-CN/components/form/checkboxes.md
  packages/amis/__tests__/renderers/Form/__snapshots__/checkboxes.test.tsx.snap
  packages/amis/__tests__/renderers/Form/checkboxes.test.tsx
Labels: chore

#5207 fix: 修复弹窗中的表单提交不自动关闭弹窗的问题
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: fix

#5208 fix: #3994 修复tooltip不可获取变量问题
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Remark.tsx
Labels: fix

#5216 fix: 在 modal 触发关闭动画时, 设置 dialog 的按钮 disabled, 防止二次点击
  packages/amis/src/renderers/Dialog.tsx
Labels: fix

#5221 fix: 修复 select 其它模式不支持配置 placeholder 问题
  packages/amis-ui/scss/components/form/_transfer.scss
  packages/amis-ui/src/components/TransferDropDown.tsx
  packages/amis/src/renderers/Form/Select.tsx
Labels: fix

#5225 chore：统一子依赖的版本
  packages/amis-core/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
Labels: chore

#5227 chore：优化多语言注册方式
  packages/amis-core/src/locale.tsx
Labels: chore

#5228 feat: 主题变量修改
  packages/amis-ui/scss/_properties.scss
Labels: bug, feat

#5229 styles: 新版主题兼容antd
  packages/amis-ui/scss/themes/_antd-variables.scss
Labels: style

#5226 fix: InputNumber组件初始值未按照精度处理问题
  docs/zh-CN/components/form/input-number.md
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/number.test.tsx.snap
  packages/amis/__tests__/renderers/Form/number.test.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#5223 fix: DateRange组件关闭面板时写入InValid Date问题; feat: DateRange游标动画支持控制
  docs/zh-CN/components/form/input-date-range.md
  docs/zh-CN/components/form/input-date.md
  docs/zh-CN/components/form/input-datetime-range.md
  docs/zh-CN/components/form/input-datetime.md
  docs/zh-CN/components/form/input-month-range.md
  docs/zh-CN/components/form/input-month.md
  docs/zh-CN/components/form/input-quarter-range.md
  docs/zh-CN/components/form/input-time-range.md
  docs/zh-CN/components/form/input-time.md
  docs/zh-CN/components/form/input-year-range.md
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/form/_date-range.scss
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/dateRange.test.tsx.snap
  packages/amis/src/renderers/Form/InputDateRange.tsx
Labels: feat, fix

#5096 feat: 只有最外层组件的loading可以生效
  examples/components/Example.jsx
  examples/components/Loading.jsx
  packages/amis-ui/src/components/Spinner.tsx
  packages/amis/src/renderers/Nav.tsx
Labels: feat, fix

#5233 fix: 修复 FormulaPicker value值不同步问题
  packages/amis-ui/src/components/formula/Picker.tsx
Labels: fix

#5238 docs：Page页面 自定义 CSS 关于 myClass的说明，位置调整
  docs/zh-CN/components/page.md
Labels: doc

#5236 fix: table 添加 toggled: false 的列不参与持久化
  packages/amis-core/src/store/table.ts
Labels: fix

#5241 feat: FormItem格式校验支持日期时间规则
  docs/zh-CN/components/form/formitem.md
  examples/components/Form/Validation.jsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/utils/validations.ts
  packages/amis-ui/src/components/calendar/TimeView.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/__tests__/utils/validations.test.ts
Labels: feat

#5242 fix: drawer、dialog 不显示 errorMessage 问题; drawer错误信息错位问题
  packages/amis-ui/scss/components/_drawer.scss
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: fix

#5248 feat: AntD主题对齐
  packages/amis-ui/scss/components/_button.scss
  packages/amis-ui/scss/themes/_antd-variables.scss
Labels: bug, feat

#5244 style: form-static 增加文字换行
  packages/amis-ui/scss/components/form/_form.scss
Labels: fix

#5251 fix: formula 的加法支持字符串拼接
  packages/amis-formula/__tests__/fomula.test.ts
  packages/amis-formula/src/evalutor.ts
Labels: fix

#5252 feat: 按钮样式修复
  packages/amis-ui/scss/components/_button.scss
  packages/amis-ui/src/components/calendar/TimeView.tsx
  packages/amis/src/renderers/Table/ColumnToggler.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
  packages/amis/src/renderers/Tasks.tsx
Labels: feat

#5257 feat: 边框变量修改
  packages/amis-ui/scss/_properties.scss
Labels: feat

#5181 fix: form item options 组件,初始值格式不符合预期问题修复
  packages/amis-core/src/renderers/Options.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/__tests__/renderers/Form/text.test.tsx
Labels: fix

#5259 chore: table2 修复ts报错问题
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/Table2/HeadCellSearchDropdown.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#5220 fix: crud 单条删除后空列表页码重置问题修复、跳转页码不合法问题修复
  docs/zh-CN/components/crud.md
  packages/amis-ui/src/components/Pagination.tsx
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#5258 feat: 大文件上传分块支持重试
  mock/cfc/mock/upload/chunk.json
  mock/cfc/mock/upload/finishChunk.json
  mock/cfc/mock/upload/startChunk.json
  packages/amis/src/renderers/Form/InputFile.tsx
Labels: feat

#5263 fix: options value 为 undefined 不进行 normalize
  packages/amis-core/src/renderers/Options.tsx
  packages/amis/__tests__/renderers/Form/checkboxes.test.tsx
Labels: fix

#5268 fix: InputNumber输入值带单位时渲染错误问题
  docs/zh-CN/components/form/input-number.md
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#5273 chore: typescript erros
  packages/amis-core/src/components/Overlay.tsx
  packages/amis-formula/scripts/genDoc.ts
  packages/amis-formula/scripts/lib.ts
  packages/amis-ui/src/components/Alert2.tsx
  packages/amis-ui/src/components/ImageGallery.tsx
  packages/amis-ui/src/components/Selection.tsx
  packages/amis-ui/src/components/Toast.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis/src/renderers/Container.tsx
  packages/amis/src/renderers/Form/InputMonthRange.tsx
  packages/amis/src/renderers/Form/InputQuarterRange.tsx
  packages/amis/src/renderers/Form/InputYearRange.tsx
  packages/amis/src/renderers/Table/ColumnToggler.tsx
Labels: chore

#5234 style:组件4.0 style修改
  packages/amis-ui/scss/components/_alert.scss
  packages/amis-ui/scss/components/_drawer.scss
  packages/amis-ui/scss/components/form/_switch.scss
  packages/amis-ui/scss/components/form/_text.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
Labels: style
