Repository baidu/amis, pull requests merged in 2023-01, with the labels that each got.

#6008 fix: InputQuarterRange 单测问题修改
  packages/amis/__tests__/renderers/Form/inputQuarterRange.test.tsx
Labels: fix

#6009 chore: api 支持 jsonql 格式
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/api.ts
Labels: chore

#5949 feat: Container支持可拖拽
  packages/amis-ui/package.json
  packages/amis-ui/src/components/DndContainer.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis/src/renderers/Container.tsx
Labels: feat

#5585 feat: 扩充setValue动作, 支持beforeSetData
  examples/components/App.tsx
  examples/components/EventAction/update-data/SetVariable.jsx
  examples/components/Example.jsx
  examples/components/SchemaRender.jsx
  mock/cfc/mock/page/initData2.json
  packages/amis-core/src/Root.tsx
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/env.tsx
  packages/amis-core/src/index.tsx
Labels: in-review, feat

#6014 fix: 修复anchor锚点导航组件设置visible隐藏时,组件报错的bug
  packages/amis/src/renderers/AnchorNav.tsx
Labels: bug, fix

#6011 fix: 修复inputDate组件有默认值时首次触发blur值会被清空的问题
  packages/amis-ui/src/components/DatePicker.tsx
Labels: bug, fix

#6015 styles: 主题变量bugfix
  packages/amis-ui/scss/_properties.scss
Labels: style

#6016 feat:Tag&Icon接入事件
  docs/zh-CN/components/icon.md
  docs/zh-CN/components/tag.md
  packages/amis-ui/src/components/Tag.tsx
  packages/amis/src/renderers/Icon.tsx
  packages/amis/src/renderers/Tag.tsx
Labels: feat

#6021 fix: 输入框图标样式修复
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_text.scss
  packages/amis/src/renderers/Form/InputText.tsx
Labels: fix

#6017 chore: 调整 api jsonql 逻辑
  packages/amis-core/src/utils/api.ts
  packages/amis-core/src/utils/dataMapping.ts
Labels: chore

#6026 feat:动作上下文补充__rendererData用于获取组件当前数据域
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/utils/renderer-event.ts
  packages/amis/src/renderers/DropDownButton.tsx
Labels: feat

#6023 styles：主题二期合入
  examples/style.scss
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/utils/index.ts
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-core/src/utils/style.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/base/_typography.scss
  packages/amis-ui/scss/components/_anchor-nav.scss
  packages/amis-ui/scss/components/_array-input.scss
  packages/amis-ui/scss/components/_button.scss
  packages/amis-ui/scss/components/_collapse-group.scss
  packages/amis-ui/scss/components/_collapse.scss
  packages/amis-ui/scss/components/_divider.scss
  packages/amis-ui/scss/components/_link.scss
  packages/amis-ui/scss/components/_panel.scss
  packages/amis-ui/scss/components/_tabs.scss
  packages/amis-ui/scss/components/form/_checks.scss
  packages/amis-ui/scss/components/form/_combo.scss
  packages/amis-ui/scss/components/form/_file.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/scss/components/form/_image.scss
  packages/amis-ui/scss/components/form/_list.scss
  packages/amis-ui/scss/components/form/_number.scss
  packages/amis-ui/scss/components/form/_range.scss
  packages/amis-ui/scss/components/form/_rating.scss
  packages/amis-ui/scss/components/form/_switch.scss
  packages/amis-ui/scss/components/form/_tag.scss
  packages/amis-ui/scss/components/form/_text.scss
  packages/amis-ui/scss/components/form/_textarea.scss
  packages/amis-ui/scss/themes/_ang-variables.scss
  packages/amis-ui/scss/themes/_antd-variables.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  packages/amis-ui/scss/themes/_dark-variables.scss
  packages/amis-ui/src/components/Collapse.tsx
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis-ui/src/components/Rating.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/icons/cloud-upload.svg
  packages/amis/__tests__/renderers/Form/__snapshots__/fieldSet.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/number.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/rating.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Collapse.test.tsx.snap
  packages/amis/package.json
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Form/IconSelect.tsx
  packages/amis/src/renderers/Form/IconSelectStore.tsx
  packages/amis/src/renderers/Form/InputText.tsx
Labels: style

#6030 styles: 云舍样式对齐
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_number.scss
Labels: style

#6031 styles: 修复公式编辑器样式
  packages/amis-ui/scss/components/_formula.scss
Labels: style

#6006 chore: image/images 单测补充
  packages/amis/__tests__/renderers/Image.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Image.test.tsx.snap
Labels: chore

#6007 chore: tooltipWrapper 单测补充
  packages/amis/__tests__/renderers/TooltipWrapper.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/TooltipWrapper.test.tsx.snap
Labels: chore

#6036 chore: 处理Scope中setData参数声明
  packages/amis-core/src/Scoped.tsx
Labels: chore

#6041 fix:ajax动作responseData配置失效问题
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/AjaxAction.ts
Labels: fix

#6043 fix: 修复 Tree 在拖拽后item使用旧的key导致的渲染异常
  package.json
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/package.json
Labels: fix

#6045 styles: 修复status图标颜色问题
  docs/zh-CN/components/timeline.md
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/icons/check-circle.svg
  packages/amis-ui/src/icons/fail.svg
  packages/amis-ui/src/icons/status-fail.svg
  packages/amis-ui/src/icons/status-info.svg
  packages/amis-ui/src/icons/status-success.svg
  packages/amis-ui/src/icons/status-warning.svg
  packages/amis-ui/src/icons/success.svg
  packages/amis/__tests__/renderers/__snapshots__/Status.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Status.tsx
Labels: style

#6022 feat: transfer & select 其他模式支持 showInvalidMatch 字段; tree 模式带 deferApi 情况下不添加 unmatched option
  packages/amis-ui/scss/components/_result-box.scss
  packages/amis-ui/src/components/ResultBox.tsx
  packages/amis-ui/src/components/ResultList.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/TransferDropDown.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/transfer.test.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: feat

#6056 fix: 修复 tree 配置了 defer 属性时，展开错误
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/__tests__/renderers/Tree.test.tsx
Labels: fix

#6060 fix: 判断 defer tree 条件补充
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: fix

#6062 style: 修复toast组件图标问题
  packages/amis-ui/src/components/Toast.tsx
Labels: style

#6057 fix: 修复 select 级联模式和分组模式下 labelField 丢失问题
  packages/amis-ui/src/components/GroupedSelection.tsx
  packages/amis/src/renderers/Form/Select.tsx
Labels: fix

#6025 feat: 核心组件相关改动
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/api.ts
  packages/amis-core/src/utils/getVariable.ts
  packages/amis-core/src/utils/normalizeOptions.ts
  packages/amis-ui/src/components/table/HeadCellSort.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Table2/HeadCellSearchDropdown.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: feat

#6055 fix: NestedSelect搜索后未重置数据源; chore: NestedSelect搜索支持value字段
  docs/zh-CN/components/form/nestedselect.md
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: fix, chore

#6079 fix: Tree编辑子节点无法取消的情况
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/__tests__/renderers/Tree.test.tsx
Labels: fix

#6085 fix: 修复Tree outline 偏移
  packages/amis-ui/scss/components/form/_tree.scss
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransferPicker.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Tree.test.tsx.snap
Labels: fix

#6049 chore: InputSubForm 单测补充
  packages/amis/__tests__/renderers/Form/__snapshots__/inputSubForm.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputSubForm.test.tsx
Labels: chore

#6038 fix: 修复staticClassName变化时被shouldComponentUpdate优化掉不重新渲染的问题
  packages/amis-core/src/renderers/Item.tsx
Labels: fix

#6053 chore: TplSchema属性声明
  packages/amis/src/renderers/Tpl.tsx
Labels: feat

#6093 chore: Steps 组件单元测试补充
  packages/amis/__tests__/renderers/Steps.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Steps.test.tsx.snap
Labels: chore

#6094 chore: SearchBox 组件单元测试补充
  packages/amis/__tests__/renderers/SearchBox.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/SearchBox.test.tsx.snap
Labels: chore

#6095 chore: Each 组件单元测试补充
  packages/amis/__tests__/renderers/Each.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Each.test.tsx.snap
Labels: chore

#6072 fix: Tabs、table2 warning 问题修复
  packages/amis-ui/src/components/Tabs.tsx
  packages/amis-ui/src/components/table/index.tsx
Labels: fix

#6034 feat: mapping组件默认值value支持表达式
  packages/amis/src/renderers/Mapping.tsx
Labels: feat

#6108 fix: 修复 imageGallery 开启 showToolbar 功能后导致页面不可滚动的问题
  examples/components/Form/Static.jsx
  packages/amis-ui/src/components/ImageGallery.tsx
Labels: fix

#6107 fix: 单测问题修复
  packages/amis/__tests__/renderers/Form/inputMonth.test.tsx
  packages/amis/__tests__/renderers/Form/inputSubForm.test.tsx
Labels: fix

#6111 fix: 修复toast失败图标丢失问题
  packages/amis-ui/src/components/icons.tsx
Labels: fix

#6063 feat: Nav支持layout可视化
  docs/zh-CN/components/nav.md
  examples/nav/index-vite.html
  examples/nav/index.tsx
  packages/amis-ui/package.json
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/scss/components/_nav.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  packages/amis-ui/src/components/WithRemoteConfig.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis-ui/src/components/menu/MenuContext.tsx
  packages/amis-ui/src/components/menu/MenuItem.tsx
  packages/amis-ui/src/components/menu/SubMenu.tsx
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/__tests__/renderers/Nav.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Nav.test.tsx.snap
  packages/amis/src/renderers/DropDownButton.tsx
  packages/amis/src/renderers/Nav.tsx
  scripts/mockApiPlugin.ts
Labels: feat
