Repository baidu/amis, pull requests merged in 2023-11, with the labels that each got.

#8572 fix: 搜索框组件通过事件动作给页面变量赋值导致自身值受影响
  packages/amis/src/renderers/SearchBox.tsx
Labels: fix

#8566 chore: 调整InputFile组件错误提示位置, 增加多文件上传示例
  docs/zh-CN/components/form/input-file.md
  mock/cfc/mock/upload/random.js
  packages/amis-ui/scss/components/form/_file.scss
  packages/amis/src/renderers/Form/InputFile.tsx
Labels: chore

#8575 fix(amis-editor): 表格2.0脚手架loading状态错误
  packages/amis-editor/src/renderer/FieldSetting.tsx
Labels: fix

#8574 fix: 优化 office-viewer 在 justify 下的显示效果 Closes #8569
  packages/amis/package.json
  packages/office-viewer/package.json
  packages/office-viewer/src/render/renderStyle.ts
  packages/office-viewer/src/render/setElementStyle.ts
Labels: fix

#8583 fix: 修复工具栏导出 excel 识别成 button 事件面板没有事件的问题
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#8584 fix(amis-editor): 优化删除快捷键执行逻辑
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
Labels: fix

#8588 fix: 修复 quickSaveImmediately 同时配置 api 时上下文信息错误 Close: #8587
  packages/amis-ui/scss/_properties.scss
  packages/amis/__tests__/renderers/Table.test.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#8601 fix: 修复 schema 被插入 id 被重置的问题
  packages/amis-editor-core/src/util.ts
Labels: fix

#8603 fix: 修复模型组件转成公共组件后功能异常问题
  packages/amis-editor-core/src/component/CommonConfigWrapper.tsx
Labels: fix

#8602 feat: icon组件兼容sdk下使用svg object的情况
  packages/amis-ui/src/components/icons.tsx
Labels: feat

#8598 fix: table2 title重复展示问题、文档完善
  docs/zh-CN/components/table2.md
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#8605 fix(editor): 修复编辑器移动端主题不生效问题
  packages/amis-editor-core/src/component/IFramePreview.tsx
Labels: fix, amis-editor

#8586 fixed: 组件面板搜索功能优化
  packages/amis-editor-core/scss/_renderers.scss
  packages/amis-editor/src/plugin/Audio.tsx
  packages/amis-editor/src/plugin/CollapseGroup.tsx
  packages/amis-editor/src/plugin/Container.tsx
  packages/amis-editor/src/plugin/Date.tsx
  packages/amis-editor/src/plugin/Datetime.tsx
  packages/amis-editor/src/plugin/Divider.tsx
  packages/amis-editor/src/plugin/Each.tsx
  packages/amis-editor/src/plugin/Form/InputText.tsx
  packages/amis-editor/src/plugin/IFrame.tsx
  packages/amis-editor/src/plugin/Image.tsx
  packages/amis-editor/src/plugin/Images.tsx
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-editor/src/plugin/Layout/Layout_fixed.tsx
  packages/amis-editor/src/plugin/Pagination.tsx
  packages/amis-editor/src/plugin/Time.tsx
Labels: fix

#8606 fix: 修复input-number组件外观配置不生效问题
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#8518 feat: calendar组件接入editor & 支持click,hover事件
  docs/zh-CN/components/calendar.md
  packages/amis-editor/src/plugin/Calendar.tsx
  packages/amis-editor/src/plugin/index.ts
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis-ui/src/components/calendar/Calendar.tsx
  packages/amis-ui/src/components/calendar/DaysView.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
Labels: bug, feat

#8609 fix(amis-editor): 修复flex布局容器快捷功能键icon丢失问题
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
Labels: fix

#8597 docs: 补充 crud deferApi 返回详情说明
  docs/zh-CN/components/crud.md
Labels: doc

#8610 fix: 修复外观样式清空不生效问题
  packages/amis-core/src/utils/style-helper.ts
Labels: fix

#8599 feat: App多页应用组件侧边导航栏箭头显示优化 Close: #8595
  packages/amis/src/renderers/App.tsx
Labels: feat

#8622 fix(amis-editor): 容器类组件/定位模式切换成特殊布局后设置默认层级，避免被遮挡导致不能选中
  packages/amis-editor/src/tpl/layout.tsx
Labels: fix

#8624 fix:文档中广播效果失效问题&添加warning提示
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/CmptAction.ts
Labels: fix

#8621 feat: 开放static组件, 增加static事件配置
  packages/amis-editor/src/plugin/Form/Static.tsx
  packages/amis-editor/src/plugin/index.ts
Labels: feat

#8625 style: rem 改成 px2rem 以便于编译 remFactor 为非 16px 的场景
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_card.scss
  packages/amis-ui/scss/components/_page.scss
  packages/amis-ui/scss/components/_progress.scss
  packages/amis-ui/scss/components/_steps.scss
  packages/amis-ui/scss/components/form/_excel.scss
  packages/amis-ui/scss/components/form/_location.scss
  packages/amis-ui/scss/components/form/_picker.scss
  packages/amis-ui/scss/components/form/_range.scss
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/scss/themes/_ang-variables.scss
  packages/amis-ui/scss/themes/_antd-variables.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  packages/amis-ui/scss/themes/_dark-variables.scss
Labels: style

#8627 style: 调整 textarea 的 counter 结构方便定制样式
  packages/amis-ui/scss/components/form/_textarea.scss
  packages/amis-ui/src/components/Textarea.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/textarea.test.tsx.snap
  packages/amis/__tests__/renderers/Form/textarea.test.tsx
Labels: style

#8631 fix: CRUD组件使用非严格比较导致部分场景query无法更新问题
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/utils/helper.ts
Labels: fix

#8636 feat: 移动端日期选择器显示年月日单位 & 月份选择器显示年月日单位
  packages/amis-ui/src/components/calendar/DaysView.tsx
  packages/amis-ui/src/components/calendar/MonthsView.tsx
Labels: feat

#8633 fix: 快速弹窗子编辑器bug
  packages/amis-editor/src/plugin/Form/Static.tsx
  packages/amis-editor/src/plugin/Others/TableCell.tsx
  packages/amis-editor/src/plugin/TableCell2.tsx
Labels: bug, fix

#8639 fix: 修复自定义外观部分属性添加important不生效问题
  packages/amis-core/src/utils/style-helper.ts
Labels: fix

#8628 fix: cards外观修复
  packages/amis/src/renderers/Cards.tsx
Labels: fix

#8647 fix: 修复列过滤选择与实际展示不一致问题
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Table/AutoFilterForm.tsx
Labels: fix

#8512 feat: Transfer组件支持分页
  docs/zh-CN/components/form/transfer.md
  mock/cfc/mock/options/loadDataOnce.js
  mock/cfc/mock/options/transfer.js
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/formItem.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_transfer.scss
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/transfer.test.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: awaiting-review, feat

#8649 fix: 快速弹窗子编辑器bug
  packages/amis-editor/src/plugin/Form/Static.tsx
  packages/amis-editor/src/plugin/Others/TableCell.tsx
  packages/amis-editor/src/plugin/TableCell2.tsx
Labels: bug, fix

#8650 fix:组件特性动作中执行全局变量修改
  packages/amis-core/src/actions/CmptAction.ts
Labels: fix

#8651 fix: InputRange组件max设置大数页面卡顿问题
  packages/amis-ui/src/components/Range.tsx
Labels: fix

#8662 feat: 公式支持uuid生成
  packages/amis-formula/__tests__/evalute.test.ts
  packages/amis-formula/src/doc.md
  packages/amis-formula/src/doc.ts
  packages/amis-formula/src/evalutor.ts
Labels: feat

#8664 fix: 修复ts报错
  packages/amis-editor-core/src/plugin.ts
Labels: fix

#8661 fix: CRUD组件updateQuery严格比较逻辑写反问题(patch PR#8631)
  packages/amis-core/src/store/crud.ts
  packages/amis/__tests__/renderers/CRUD.test.tsx
Labels: fix

#8641 fix(amis-editor): Calendar文档链接拼写错误
  packages/amis-editor/src/plugin/Calendar.tsx
Labels: fix

#8671 style: 优化部分组件样式
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis-editor/src/plugin/Images.tsx
  packages/amis-editor/src/plugin/Nav.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_dropdown.scss
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/scss/components/_pagination.scss
  packages/amis-ui/scss/components/_tabs.scss
  packages/amis-ui/scss/components/form/_date-range.scss
  packages/amis-ui/scss/components/form/_date.scss
  packages/amis-ui/scss/components/form/_nested-select.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/scss/components/form/_text.scss
  packages/amis-ui/src/components/Tabs.tsx
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: style

#8677 fix: 修复 column static 属性影响到 quickEdit 中的问题
  packages/amis/__tests__/renderers/Form/static.test.tsx
  packages/amis/src/renderers/QuickEdit.tsx
Labels: fix

#8674 fix: 变量赋值动作去除多余属性
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/textarea-formula/TextareaFormulaControl.tsx
Labels: fix

#8678 feat: 公式支持uuid生成
  packages/amis-formula/__tests__/evalute.test.ts
  packages/amis-formula/src/evalutor.ts
Labels: feat

#8658 feat: 组件外观改版
  packages/amis-editor/src/component/BaseControl.ts
  packages/amis-editor/src/plugin/Alert.tsx
  packages/amis-editor/src/plugin/Collapse.tsx
  packages/amis-editor/src/plugin/CollapseGroup.tsx
  packages/amis-editor/src/plugin/DropDownButton.tsx
  packages/amis-editor/src/plugin/Form/ChainedSelect.tsx
  packages/amis-editor/src/plugin/Form/Control.tsx
  packages/amis-editor/src/plugin/Form/InputCity.tsx
  packages/amis-editor/src/plugin/Form/InputFile.tsx
  packages/amis-editor/src/plugin/Form/InputRange.tsx
  packages/amis-editor/src/plugin/Form/InputRating.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/NestedSelect.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/plugin/Form/Switch.tsx
  packages/amis-editor/src/plugin/Form/Textarea.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
  packages/amis-editor/src/plugin/Link.tsx
  packages/amis-editor/src/plugin/Panel.tsx
  packages/amis-editor/src/plugin/Progress.tsx
  packages/amis-editor/src/plugin/Status.tsx
  packages/amis-editor/src/plugin/Steps.tsx
  packages/amis-editor/src/plugin/Tabs.tsx
  packages/amis-editor/src/plugin/Tag.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-formula/src/doc.ts
  packages/amis-ui/src/components/CityArea.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputCity.test.tsx.snap
  packages/amis/src/renderers/Alert.tsx
  packages/amis/src/renderers/Collapse.tsx
  packages/amis/src/renderers/CollapseGroup.tsx
  packages/amis/src/renderers/DropDownButton.tsx
  packages/amis/src/renderers/Form/ChainedSelect.tsx
  packages/amis/src/renderers/Form/InputCity.tsx
  packages/amis/src/renderers/Form/InputExcel.tsx
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputRange.tsx
  packages/amis/src/renderers/Form/InputRating.tsx
  packages/amis/src/renderers/Form/InputTag.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/ListSelect.tsx
  packages/amis/src/renderers/Form/NestedSelect.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/Switch.tsx
  packages/amis/src/renderers/Form/Textarea.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
  packages/amis/src/renderers/Link.tsx
  packages/amis/src/renderers/Panel.tsx
  packages/amis/src/renderers/Progress.tsx
  packages/amis/src/renderers/Status.tsx
  packages/amis/src/renderers/Steps.tsx
  packages/amis/src/renderers/Tabs.tsx
  packages/amis/src/renderers/Tag.tsx
Labels: feat

#8667 fix: 修复 combo tabs 模式新成员中有必填字段未填写也能通过校验的问题
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/store/combo.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_tabs.scss
  packages/amis-ui/scss/components/form/_combo.scss
  packages/amis-ui/src/components/Tabs.tsx
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix

#8637 fix: NestedSelect开启onLeaf后选项children为空也视为叶节点
  packages/amis/__tests__/renderers/Form/nestedSelect.test.tsx
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: fix

#8683 chore: 修复Static单测问题
  packages/amis/__tests__/renderers/Form/__snapshots__/static.test.tsx.snap
Labels: chore

#8266 feat: 支持图片点击/鼠标移入移出事件 & 支持图片预览放大缩小动作
  docs/zh-CN/components/image.md
  packages/amis-editor/src/plugin/Image.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis/__tests__/renderers/Image.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Image.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Image.tsx
  packages/amis/src/types.ts
Labels: request-changes, feat

#8680 chore(amis-editor): Form配置面板中表达式使用变量，避免data被赋值导致取值错误
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
Labels: chore

#8685 fix:事件文档里json格式
  docs/zh-CN/concepts/event-action.md
Labels: fix

#8629 feat(amis-editor): InputTable配置面板补充属性
  packages/amis-editor/src/plugin/Form/InputTable.tsx
Labels: feat

#8705 feat: 开放static组件, 增加static事件配置
  packages/amis-editor/src/plugin/Form/Static.tsx
  packages/amis-editor/src/plugin/index.ts
Labels: feat

#8528 feat：同步功能
  packages/amis-editor/src/component/BaseControl.ts
  packages/amis-editor/src/plugin/Form/InputNumber.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Nav.tsx
  packages/amis-editor/src/plugin/Progress.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-editor/src/tpl/options.tsx
Labels: feat

#8714 fix: combo组件数据为空时，无法打开公式编辑器
  packages/amis-editor/src/plugin/Form/Combo.tsx
Labels: fix

#8713 fix: crud的perPageAvailable下发到分页工具中
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#8716 feat: markdown 支持公式渲染 Closes #7833
  docs/zh-CN/components/markdown.md
  index.html
  package.json
  packages/amis-ui/src/components/Markdown.tsx
Labels: feat

#8709 fix(amis-editor): combo组件数据为空时，无法打开公式编辑器
  packages/amis-editor/src/plugin/Form/Combo.tsx
Labels: fix

#8723 fix:分页组件事件问题
  docs/zh-CN/components/pagination.md
  packages/amis-ui/src/components/Pagination.tsx
  packages/amis/src/renderers/Pagination.tsx
Labels: fix

#8725 feat:inputTable支持initDrag动作 Close #8712
  docs/zh-CN/components/form/input-table.md
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: feat

#8728 feat:inputTable支持orderChange、rowClick、rowDbClick、rowMouseEnter、rowMouseLeave事件 Close #8291
  docs/zh-CN/components/form/input-table.md
  docs/zh-CN/components/table.md
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: feat

#8731 fix:修正分页组件事件可视化参数&inputTable可视化新增一些事件和动作
  docs/zh-CN/components/pagination.md
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Pagination.tsx
  packages/amis-editor/src/plugin/Table.tsx
Labels: fix

#8732 feat: LocationPicker 支持全局设置 ak
  packages/amis-core/src/env.tsx
  packages/amis-ui/scss/components/form/_location.scss
  packages/amis/src/renderers/Form/LocationPicker.tsx
Labels: feat

#8733 chore: 图片展示默认图片关闭放大功能
  packages/amis/src/renderers/Image.tsx
Labels: chore

#8718 fix: 修复crud修改配置时会清空用户已有配置的问题 Close: #7445
  packages/amis-core/src/types.ts
  packages/amis-editor/src/plugin/CRUD.tsx
Labels: fix

#8626 chore(amis-editor): CRUD2列配置控件始终展示顶部操作区
  packages/amis-editor/src/renderer/crud2-control/CRUDColumnControl.tsx
Labels: chore

#8687 feat: location-picker-editor 优化
  docs/zh-CN/components/form/location-picker.md
  packages/amis-editor/src/locale/en-US.ts
  packages/amis-editor/src/locale/zh-CN.ts
  packages/amis-editor/src/plugin/Form/LocationPicker.tsx
  packages/amis-ui/scss/components/form/_location.scss
  packages/amis/__tests__/event-action/renderers/form/locationPicker.test.tsx
  packages/amis/src/renderers/Form/LocationPicker.tsx
Labels: bug, feat

#8730 fix(amis-editor): calendar组件默认schema多了外层page
  packages/amis-editor/src/plugin/Calendar.tsx
Labels: fix

#8741 fix: table嵌套在form以及affixHeader模式下自适应问题修复
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#8739 fix: 修复document.requestFullscreen()时弹窗和抽屉不可见的问题
  packages/amis-ui/src/components/Drawer.tsx
  packages/amis-ui/src/components/Modal.tsx
Labels: fix

#8726 feat: InputDateTime在closeOnSelect为false时开启确认模式; chore: datetime类选择器首次选择时时间设置为当前值
  docs/zh-CN/components/form/input-datetime.md
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/calendar/Calendar.tsx
  packages/amis-ui/src/components/calendar/DaysView.tsx
  packages/amis/__tests__/renderers/Form/datetime.test.tsx
Labels: feat

#8691 fix: Options使用上下文变量数据源被错误分页处理问题
  packages/amis-core/src/store/formItem.ts
Labels: fix

#8729 fix: 补充card组件按钮禁用态样式 Close: #8643
  packages/amis-ui/scss/components/_card.scss
  packages/amis/src/renderers/Card.tsx
Labels: fix

#8740 feat(amis-editor): 部分组件配置面板配置项调整
  packages/amis-editor-core/scss/control/_event-action.scss
  packages/amis-editor/src/component/BaseControl.ts
  packages/amis-editor/src/plugin/Form/Combo.tsx
  packages/amis-editor/src/plugin/Form/InputExcel.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/Transfer.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
  packages/amis-editor/src/plugin/Link.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/TableView.tsx
  packages/amis-editor/src/plugin/TooltipWrapper.tsx
  packages/amis-editor/src/plugin/WebComponent.tsx
  packages/amis-editor/src/renderer/RangePartsControl.tsx
  packages/amis-editor/src/tpl/common.tsx
Labels: feat

#8734 fix: CRUD 导出 excel 支持 children 节点 Closes #3563
  examples/components/CRUD/ExportCSVExcel.jsx
  packages/amis/src/renderers/Table/exportExcel.ts
Labels: fix

#8722 feat: 支持屏蔽组件中展示msg信息，默认展示
  packages/amis-core/src/env.tsx
  packages/amis-editor-core/src/env.ts
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Service.tsx
Labels: feat

#8679 chore: table2性能优化close#8594
  docs/zh-CN/components/table2.md
  packages/amis-core/src/store/table2.ts
  packages/amis-ui/scss/components/_table2.scss
  packages/amis-ui/src/components/table/Cell.tsx
  packages/amis-ui/src/components/table/ColGroup.tsx
  packages/amis-ui/src/components/table/Head.tsx
  packages/amis-ui/src/components/table/HeadCellDropDown.tsx
  packages/amis-ui/src/components/table/HeadCellFilter.tsx
  packages/amis-ui/src/components/table/HeadCellSelect.tsx
  packages/amis-ui/src/components/table/HeadCellSort.tsx
  packages/amis-ui/src/components/table/ItemActionsWrapper.tsx
  packages/amis-ui/src/components/table/Row.tsx
  packages/amis-ui/src/components/table/SummaryRow.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis-ui/src/components/table/util.ts
  packages/amis/src/renderers/Table2/HeadCellSearchDropdown.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: chore

#8706 feat: CRUD表头快速过滤支持上下文变量作为数据源
  docs/zh-CN/components/crud.md
  examples/components/Page/Error.jsx
  mock/cfc/mock/crud/filterOptions.js
  packages/amis/src/renderers/Table/HeadCellFilterDropdown.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#8689 feat: textareaFormula新增支持全屏&fx更新前事件配置
  packages/amis-editor/src/renderer/textarea-formula/TextareaFormulaControl.tsx
Labels: feat

#8753 feat: 在pagemaker分支同步editor修改
  packages/amis-core/src/utils/helper.ts
  packages/amis-editor-core/scss/control/_event-action.scss
  packages/amis-editor-core/src/store/node.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/component/BaseControl.ts
  packages/amis-editor/src/plugin/Form/Combo.tsx
  packages/amis-editor/src/plugin/Form/InputExcel.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/Transfer.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
  packages/amis-editor/src/plugin/Link.tsx
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/TableView.tsx
  packages/amis-editor/src/plugin/TooltipWrapper.tsx
  packages/amis-editor/src/plugin/WebComponent.tsx
  packages/amis-editor/src/renderer/RangePartsControl.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/tpl/common.tsx
Labels: feat

#8754 fix: table2编辑器列选中样式问题修复
  packages/amis-editor/src/plugin/TableCell2.tsx
Labels: fix

#8750 fix: 「页面设计器」Page组件支持组件静态数据配置
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/tpl/common.tsx
Labels: fix

#8757 fix:动作没指定目标组件标识时则执行当前组件 Close #8749
  packages/amis-core/src/actions/CmptAction.ts
Labels: fix

#8763 fix: crud2编辑器提示卡死问题修复、table2 autoFillHeight属性支持滚动
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#8767 style: 优化部分组件样式
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_steps.scss
Labels: style

#8764 feat: 表单&功能&展示类组件外观改造
  packages/amis-editor/src/plugin/AnchorNav.tsx
  packages/amis-editor/src/plugin/Audio.tsx
  packages/amis-editor/src/plugin/Avatar.tsx
  packages/amis-editor/src/plugin/ButtonGroup.tsx
  packages/amis-editor/src/plugin/Card.tsx
  packages/amis-editor/src/plugin/CodeView.tsx
  packages/amis-editor/src/plugin/DropDownButton.tsx
  packages/amis-editor/src/plugin/Form/ButtonGroupSelect.tsx
  packages/amis-editor/src/plugin/Form/ButtonToolbar.tsx
  packages/amis-editor/src/plugin/Form/Checkbox.tsx
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
  packages/amis-editor/src/plugin/Form/Radios.tsx
  packages/amis-editor/src/plugin/Form/Transfer.tsx
  packages/amis-editor/src/plugin/Icon.tsx
  packages/amis-editor/src/plugin/Log.tsx
  packages/amis-editor/src/plugin/Mapping.tsx
  packages/amis-editor/src/plugin/Markdown.tsx
  packages/amis-editor/src/plugin/Nav.tsx
  packages/amis-editor/src/plugin/OfficeViewer.tsx
  packages/amis-editor/src/plugin/Pagination.tsx
  packages/amis-editor/src/plugin/Property.tsx
  packages/amis-editor/src/plugin/QRCode.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/plugin/Tasks.tsx
  packages/amis-editor/src/plugin/Timeline.tsx
  packages/amis-editor/src/plugin/Video.tsx
  packages/amis-editor/src/plugin/Wizard.tsx
  packages/amis-editor/src/tpl/style.tsx
  packages/amis/src/renderers/AnchorNav.tsx
  packages/amis/src/renderers/Audio.tsx
  packages/amis/src/renderers/Avatar.tsx
  packages/amis/src/renderers/Card.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/Code.tsx
  packages/amis/src/renderers/Each.tsx
  packages/amis/src/renderers/Form/ButtonGroupSelect.tsx
  packages/amis/src/renderers/Form/ButtonToolbar.tsx
  packages/amis/src/renderers/Form/Checkbox.tsx
  packages/amis/src/renderers/Form/Checkboxes.tsx
  packages/amis/src/renderers/Form/Radios.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/Icon.tsx
  packages/amis/src/renderers/Log.tsx
  packages/amis/src/renderers/Mapping.tsx
  packages/amis/src/renderers/Markdown.tsx
  packages/amis/src/renderers/Nav.tsx
  packages/amis/src/renderers/OfficeViewer.tsx
  packages/amis/src/renderers/Pagination.tsx
  packages/amis/src/renderers/Property.tsx
  packages/amis/src/renderers/QRCode.tsx
  packages/amis/src/renderers/SparkLine.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Tasks.tsx
  packages/amis/src/renderers/Timeline.tsx
  packages/amis/src/renderers/Video.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: feat

#8751 feat: 新增forceSilenceInsideError环境变量支持屏蔽组件中展示msg信息
  packages/amis-core/src/env.tsx
  packages/amis-editor-core/src/env.ts
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Service.tsx
Labels: feat

#8608 chore: rich-text组件配置更新时，对应富文本编辑器也更新配置
  packages/amis-ui/src/components/RichText.tsx
  packages/amis-ui/src/components/Tinymce.tsx
  packages/amis/src/renderers/Form/InputRichText.tsx
Labels: fix

#8768 fix: 修复 each #8452 导致的取数据变化 breakchange Close: #8616
  packages/amis/src/renderers/Each.tsx
Labels: fix

#8766 fix: 修复 envOverwrite 存在副作用的问题 Close: #8745
  packages/amis-core/src/envOverwrite.ts
  packages/amis-core/src/index.tsx
  packages/amis-core/src/utils/helper.ts
Labels: fix

#8777 fix: 模型表单无法编辑数据源配置; chore: 修复Form使用场景兼容逻辑执行环节错误问题
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/util.ts
Labels: fix, chore

#8779 fix: crud编辑器组件面板提示导致页面卡死问题修复
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#8727 feat: qr-code 增加下载事件 Closes #5915
  docs/zh-CN/components/qrcode.md
  packages/amis/src/renderers/QRCode.tsx
Labels: feat

#8759 fix: 修复 quickEdit inline 模式 name 为带层级时发送的数据不符合预期 Close: #8756
  packages/amis-core/src/utils/object.ts
  packages/amis/src/renderers/QuickEdit.tsx
Labels: fix

#8758 feat: Alert组件支持自定义操作项目
  docs/zh-CN/components/alert.md
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_alert.scss
  packages/amis-ui/src/components/Alert2.tsx
  packages/amis/__tests__/renderers/Alert.test.tsx
  packages/amis/src/renderers/Alert.tsx
Labels: feat

#8778 fix: 修复字段集标题CSS类名，边框生效页面展示缺失
  packages/amis-ui/scss/components/form/_fieldset.scss
Labels: fix

#8747 chore: Form联合校验规则过滤不合法规则
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
Labels: chore

#8771 fix: 修复label为schema时star位置错误问题 Close: #8634
  packages/amis-ui/scss/components/form/_form.scss
Labels: fix

#8774 fix: nav刷新数据源保留展开状态、响应式收纳样式问题修复
  docs/zh-CN/components/nav.md
  packages/amis-ui/package.json
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/package.json
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#8696 chore: Scoped组件reolad方法时增加fallback，找不到对应名称组件则继续寻找对应ID组件
  packages/amis-core/src/Scoped.tsx
Labels: fix

#8642 feat(amis): table嵌套批量操作时自动选择父/子级复选框
  packages/amis-core/__tests__/store/table.test.ts
  packages/amis-core/src/store/table.ts
  packages/amis/__tests__/renderers/Table/Cell.test.tsx
  packages/amis/src/renderers/Table/Cell.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
Labels: feat

#8781 feat : dialog支持拖拽移动位置
  packages/amis-editor/src/plugin/Dialog.tsx
  packages/amis-ui/scss/components/_modal.scss
  packages/amis-ui/src/components/Modal.tsx
  packages/amis/src/renderers/Dialog.tsx
Labels: feat

#8793 fix: 修复 patch 逻辑新拖入节点可能不会执行的问题
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/util.ts
Labels: fix

#8788 fix(amis-editor): CRUD2工具栏为空时添加错误; chore: 工具栏控件更新逻辑
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-editor/src/renderer/crud2-control/CRUDToolbarControl.tsx
Labels: fix, chore

#8799 fix(amis):input-number 小数光标偏移问题
  packages/amis-core/__tests__/utils/math.test.ts
  packages/amis-core/src/utils/math.ts
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#8815 fix: table嵌套在form以及affixHeader模式下自适应问题修复 (#8741)
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#8819 fix(amis-editor): 修改input-date 最大最小值定义schema
  packages/amis-editor/src/plugin/Form/InputDate.tsx
Labels: fix

#8797 fix(amis): 修复Audio样式遮挡问题
  packages/amis-ui/scss/components/_audio.scss
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis/src/renderers/Audio.tsx
Labels: fix

#8806 fix: crud编辑器提示导致报错问题修复
  docs/zh-CN/components/table2.md
  packages/amis-core/src/store/crud.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#8761 feat: Table2支持双击事件
  packages/amis-editor/src/plugin/Table2.tsx
  packages/amis-ui/src/components/table/Row.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: feat

#8826 feat:二维码下载动作可视化
  packages/amis-editor/src/plugin/QRCode.tsx
Labels: feat

#8822 fix: table嵌套模式下selectedChange参数错误、table展示单选可多选问题修复
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#8801 fix(amis-editor): 阻止inputTable的在editor中预览时的change事件,避免特殊case时死循环
  packages/amis-editor-core/src/mocker.ts
  packages/amis-editor/src/plugin/Form/InputTable.tsx
Labels: fix

#8827 fix: 修复style不支持css variable问题
  packages/amis-core/src/utils/style.ts
Labels: fix, style

#8813 feat(amis-editor): tree-select支持reload动作
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
Labels: awaiting-final-review, feat

#8834 feat(amis&amis-editor): 地理位置选择器功能完善和强化 close #8802
  docs/zh-CN/components/form/location-picker.md
  packages/amis-editor/src/plugin/Form/LocationPicker.tsx
  packages/amis-ui/src/components/BaiduMapPicker.tsx
  packages/amis-ui/src/components/LocationPicker.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/Form/LocationPicker.tsx
Labels: feat

#8835 docs: 修复文档中的 word 文件链接报错
  fis-conf.js
Labels: doc

#8832 feat: 事件动作支持上报埋点
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/renderer-event.ts
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-editor/src/renderer/event-control/types.ts
Labels: feat

#8839 fix: RootRenderer的runtime error被隐藏问题
  packages/amis-core/src/RootRenderer.tsx
Labels: fix

#8840 docs: 增加 lazyRenderAfter 的 faq 描述
  docs/zh-CN/start/faq.md
Labels: doc

#8838 fix: 本地旧版 node_modules 可能导致 fontawesome-free 打包 sdk 时被使用 Closes #8837
  package.json
  packages/amis-editor-core/package.json
  packages/amis-editor/package.json
Labels: fix

#8841 fix: Select中popoverClassName属性丢失
  packages/amis-ui/src/components/Select.tsx
Labels: fix

#8830 chore: 优化默认字体列表 Closes #6768
  packages/amis-ui/scss/themes/_ang-variables.scss
  packages/amis-ui/scss/themes/_antd-variables.scss
  packages/amis-ui/scss/themes/_cxd-variables.scss
  packages/amis-ui/scss/themes/_dark-variables.scss
Labels: chore

#8844 fix(amis): StaticHoc改用componentDidCatch拦截渲染异常
  packages/amis-core/src/components/ErrorBoundary.tsx
  packages/amis-core/src/index.tsx
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-ui/scss/base/_common.scss
  packages/amis/package.json
  packages/amis/src/renderers/Form/StaticHoc.tsx
Labels: fix

#8814 feat: Switch组件支持加载中状态
  docs/zh-CN/components/form/switch.md
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_spinner.scss
  packages/amis-ui/scss/components/form/_switch.scss
  packages/amis-ui/src/components/Spinner.tsx
  packages/amis-ui/src/components/Switch.tsx
  packages/amis-ui/src/components/formula/Input.tsx
  packages/amis/__tests__/renderers/Form/switch.test.tsx
  packages/amis/src/renderers/Form/Switch.tsx
Labels: feat, fix, doc

#8852 fix: 修复由#8822引入的crud多选问题
  packages/amis-core/src/store/table.ts
  packages/amis/__tests__/renderers/Table.test.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#8855 docs: 修正CRUD2不同形态的文档链接
  packages/amis-editor/src/plugin/CRUD2/CRUDCards.tsx
  packages/amis-editor/src/plugin/CRUD2/CRUDList.tsx
  packages/amis-editor/src/plugin/CRUD2/CRUDTable.tsx
Labels: doc

#8854 docs: 修正CRUD2不同形态的文档链接
  packages/amis-editor/src/plugin/CRUD2/CRUDCards.tsx
  packages/amis-editor/src/plugin/CRUD2/CRUDList.tsx
  packages/amis-editor/src/plugin/CRUD2/CRUDTable.tsx
Labels: doc

#8849 chore: 弹窗中校验表单错误 3s 后自动消失以免误会 Close: #1636
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: chore

#8866 style: 「设计器」配置面板居中必填项*样式调整
  packages/amis-editor-core/scss/control/_formItem-control.scss
Labels: style

#8872 feat: location-picker-editor 取消输入框样式
  packages/amis-editor/src/plugin/Form/LocationPicker.tsx
Labels: bug, feat

#8868 fix: 修复 jssdk 模式通过 embed 返回的 scoped 获取组件失败的问题 Close: #8864
  examples/embed.tsx
Labels: fix

#8870 docs: 补充 crud column 的 searchable 说明结合 defaultParams 可配置默认排序
  docs/zh-CN/components/crud.md
Labels: doc

#8846 chore: attachement 兼容文件名空格转义成 + 号的情况 Closes #8488
  packages/amis-core/src/utils/attachmentAdpator.ts
Labels: chore

#8848 feat: input-date & input-date-range 事件动作 setValue 支持相对时间 Close: #8845
  packages/amis/__tests__/renderers/Form/inputDate.test.tsx
  packages/amis/__tests__/renderers/Form/inputDateRange.test.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
  packages/amis/src/renderers/Form/InputDateRange.tsx
Labels: feat

#8831 fix: 修复 combo 同步父级数据可能存在展示值和实际值不一致的问题 Close: #8773
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/__tests__/renderers/Form/combo.test.tsx
  packages/amis/__tests__/renderers/Form/inputArray.test.tsx
  packages/amis/src/renderers/Form/Combo.tsx
Labels: bug, fix

#8863 style: 调整 table 固顶模式的样式兼容 safari Close: #8708
  packages/amis-core/src/store/table.ts
  packages/amis-ui/scss/components/_table.scss
  packages/amis/__tests__/event-action/renderers/__snapshots__/crud.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/ItemActionsWrapper.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: style

#8860 fix: 修复弹窗中 className 使用表达式无效的问题
  packages/amis-core/src/WithStore.tsx
  packages/amis-core/src/utils/filter-schema.ts
Labels: fix

#8859 fix: 修复 quickEdit 通信找不到的问题(由 #8206 引发优先级乱了)
  packages/amis/__tests__/renderers/Table.test.tsx
  packages/amis/src/renderers/QuickEdit.tsx
Labels: fix

#8862 feat: CRUD组件matchFunc支持使用matchSorter函数; docs: 前端分页的使用提示
  docs/zh-CN/components/crud.md
  examples/components/CRUD/MatchFunc.jsx
  packages/amis-core/src/store/crud.ts
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/renderer/APIAdaptorControl.tsx
Labels: feat, doc

#8875 feat:scoped支持调用amis动作
  docs/zh-CN/start/getting-started.md
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/actions/AjaxAction.ts
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/actions/CopyAction.ts
  packages/amis-core/src/actions/LinkAction.ts
  packages/amis-core/src/actions/ToastAction.ts
Labels: feat

#8869 styles: 调整InputRating组件图标尺寸
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_rating.scss
Labels: style

#8816 feat: Switch组件的onText和offText支持Schema配置
  docs/zh-CN/components/form/switch.md
  packages/amis-editor/src/plugin/Form/Switch.tsx
  packages/amis/__tests__/renderers/Form/switch.test.tsx
  packages/amis/src/renderers/Form/Switch.tsx
Labels: feat, doc

#8882 fix: 修复下拉弹窗在某些情况点击外层不关闭的问题
  packages/amis-core/src/components/PopOver.tsx
Labels: fix

#8865 feat: 子编辑器公式输入框变量中加入宿主组件上下文变量的声明
  packages/amis-editor-core/scss/control/_formItem-control.scss
  packages/amis-editor-core/src/component/SubEditor.tsx
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/plugin/Form/ListSelect.tsx
  packages/amis-editor/src/renderer/ExpressionFormulaControl.tsx
  packages/amis-editor/src/tpl/common.tsx
Labels: request-changes, feat

#8884 pick fix: 修复弹窗中 className 使用表达式无效的问题、 fix: 修复下拉弹窗在某些情况点击外层不关闭的问题、style: 调整 table 固顶模式的样式兼容 safari
  packages/amis-core/src/WithStore.tsx
  packages/amis-core/src/components/PopOver.tsx
  packages/amis-core/src/store/table.ts
  packages/amis-core/src/utils/filter-schema.ts
  packages/amis-ui/scss/components/_table.scss
  packages/amis/__tests__/event-action/renderers/__snapshots__/crud.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/ItemActionsWrapper.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix, style

#8885 fix: 修复页面设计器重复执行onChange的问题
  packages/amis-core/src/renderers/Form.tsx
Labels: fix

#8881 feat: location-picker-editor 地图ak支持变量映射
  packages/amis-editor/src/plugin/Form/LocationPicker.tsx
Labels: feat

#8889 fix(amis-editor): Combo可视化配置兼容schema为空的情况
  packages/amis-editor/src/plugin/Form/Combo.tsx
Labels: fix

#8888 fix(amis-editor): Combo可视化配置兼容schema为空的情况
  packages/amis-editor/src/plugin/Form/Combo.tsx
Labels: fix

#8891 fix(amis-editor): 渲染错误拦截不展示schema
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis/src/renderers/Form/StaticHoc.tsx
Labels: fix

#7946 feat: 树组件优化
  docs/zh-CN/components/form/input-tree.md
  docs/zh-CN/components/form/options.md
  docs/zh-CN/components/form/treeselect.md
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-ui/src/components/AssociatedSelection.tsx
  packages/amis-ui/src/components/ChainedSelection.tsx
  packages/amis-ui/src/components/Selection.tsx
  packages/amis-ui/src/components/TabsTransfer.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis-ui/src/components/TreeSelection.tsx
  packages/amis-ui/src/components/UserSelect.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/TabsTransferPicker.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: feat
