Repository baidu/amis, pull requests merged in 2023-06, with the labels that each got.

#7051 feat:CRUD&Table上下文校正
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis/__tests__/renderers/Carousel.test.tsx
  packages/amis/src/renderers/CRUD.tsx
Labels: feat

#7055 fix: 修复 inputImage 裁剪模式配置文件大小限制报错问题
  docs/zh-CN/components/form/input-image.md
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#7056 chore: 增加图标配置地址
  .vscode/iconConfig.json
Labels: chore

#7058 fix: 处理table.column渲染mapping值是 tagSchema 不正常渲染的情况, 避免渲染tag时从 props.va…
  packages/amis/src/renderers/Mapping.tsx
Labels: fix

#7059 style(amis-editor): 右侧属性配置面板底部提交按钮确保滚动吸附时在最底部
  packages/amis-editor-core/scss/_rightPanel.scss
Labels: style

#7068 feat: 补充form和crud的事件动作面板
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
Labels: feat

#7069 chore: 修复DateRangePicker组件shortcuts属性兼容问题
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/MonthRangePicker.tsx
  packages/amis/src/renderers/Form/InputMonthRange.tsx
Labels: chore

#7061 chore: mapping 远程字段支持 data 直接返回数组情况
  docs/zh-CN/components/mapping.md
  packages/amis/src/renderers/Mapping.tsx
Labels: in-review, chore

#7082 fix: 修复 tpl 改成异步模版后存在不更新的情况
  packages/amis/src/renderers/Tpl.tsx
Labels: fix

#7110 fix:editor修复input-rich-text的图片接收器默认值问题
  packages/amis-editor/src/plugin/Form/InputRichText.tsx
Labels: fix

#7113 feat(amis): chart组件补充内置词云插件
  fis-conf.js
  packages/amis/package.json
  packages/amis/src/renderers/Chart.tsx
Labels: feat

#7114 fix(amis-editor): 编辑器ScaffoldModal切换步骤Form数据丢失问题
  packages/amis-editor-core/src/component/ScaffoldModal.tsx
  packages/amis-editor-core/src/store/editor.ts
Labels: fix

#7122 chore: 优化图片项的key 属性
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: chore

#7117 docs: 补充 wizard 文档 & 优化 vite 响应 /examples/index 页面
  docs/zh-CN/components/wizard.md
  index.html
  mock/cfc/mock/initWizard.json
  packages/amis/src/renderers/Wizard.tsx
  scripts/mockApiPlugin.ts
Labels: doc

#7115 fix(amis-editor): 右侧属性配置 collapseGroup 增加可折叠控制项
  packages/amis-core/package.json
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
Labels: fix

#7112 chore: vite版本升级，解决项目启动vite报错
  package.json
Labels: chore

#7106 fix: 修复 minLength maxLength 关联上下文变量的及时性问题 Close: #2864
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix

#7103 fix: api使用JSONQL时无法解析上层变量; chore: 调整api中JSONQL结构
  packages/amis-core/src/utils/api.ts
Labels: awaiting-final-review, fix, chore

#7095 fix: wizard 修复在没有配置 api 时最后一步不跳转的问题 Close: #2860
  packages/amis/src/renderers/Wizard.tsx
Labels: fix

#7094 feat: input-kv 添加 autoParseJSON 配置 Close: #7092
  docs/zh-CN/components/form/input-kv.md
  packages/amis/src/schemaExtend.ts
Labels: feat

#7072 feat: crud新增双击行事件
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/__tests__/renderers/CRUD2.test.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: in-review, feat

#7119 feat(amis-editor;amis):时间范围组件快捷键自定义支持固定值的配置 + 设计器快捷键配置功能
  packages/amis-editor-core/scss/_mixin.scss
  packages/amis-editor-core/scss/_rightPanel.scss
  packages/amis-editor-core/scss/control/_dateshortcut-control.scss
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
  packages/amis-editor/src/renderer/DateShortCutControl.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
Labels: feat

#7121 fix: select maxTagCount 在 jssdk 下弹窗不可见 Close: #7099
  packages/amis-ui/src/components/ResultBox.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis-ui/src/components/TransferDropDown.tsx
  packages/amis/src/renderers/Form/InputTag.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: fix

#7127 fix: 参照录入的悬浮窗的取消点击后无法关闭弹窗
  packages/amis-core/src/renderers/Item.tsx
Labels: fix

#7091 fix: 修复schemaApi直接返回表单项 label 不展示问题 Close: #2668
  packages/amis-core/src/store/service.ts
Labels: fix

#7065 fix: 修复 input-excel 在二维数据模式下 plainText 属性不生效问题
  packages/amis/src/renderers/Form/InputExcel.tsx
Labels: in-review, fix

#7128 fix: inputDateRange 快捷键选择上周时，配置面板报错
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
Labels: fix

#7120 feat: condition-builder支持selectMode为chained的选项层级显示
  docs/zh-CN/components/form/condition-builder.md
  mock/cfc/mock/condition-fields/chained.json
  mock/cfc/mock/condition-fields/custom.json
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/src/components/ChainedDropdownSelection.tsx
  packages/amis-ui/src/components/DropDownSelection.tsx
  packages/amis-ui/src/components/condition-builder/Expression.tsx
  packages/amis-ui/src/components/condition-builder/Field.tsx
  packages/amis-ui/src/components/condition-builder/Group.tsx
  packages/amis-ui/src/components/condition-builder/GroupOrItem.tsx
  packages/amis-ui/src/components/condition-builder/Item.tsx
  packages/amis-ui/src/components/condition-builder/index.tsx
  packages/amis/__tests__/renderers/Form/conditionBuilder.test.tsx
  packages/amis/src/renderers/Form/ConditionBuilder.tsx
Labels: feat

#7129 feat: tabs source支持动态hash key 配置
  docs/zh-CN/components/tabs.md
  packages/amis/src/renderers/Tabs.tsx
Labels: feat

#7136 fix: text文本框下默认值不支持不加空格的“-”减法运算
  packages/amis-editor/src/plugin/Form/Checkbox.tsx
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
  packages/amis-editor/src/plugin/Form/Radios.tsx
  packages/amis-formula/__tests__/__snapshots__/lexer.test.ts.snap
  packages/amis-formula/__tests__/async-evalute.test.ts
  packages/amis-formula/__tests__/evalute.test.ts
  packages/amis-formula/src/lexer.ts
Labels: fix

#7139 fix:自定义valueField的情况下transfer的统计信息和全选按钮失效的问题 & feat:condition-builder支持selectMode为chained的选项层级显示
  docs/zh-CN/components/form/condition-builder.md
  mock/cfc/mock/condition-fields/chained.json
  mock/cfc/mock/condition-fields/custom.json
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/src/components/ChainedDropdownSelection.tsx
  packages/amis-ui/src/components/DropDownSelection.tsx
  packages/amis-ui/src/components/Selection.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/condition-builder/Expression.tsx
  packages/amis-ui/src/components/condition-builder/Field.tsx
  packages/amis-ui/src/components/condition-builder/Group.tsx
  packages/amis-ui/src/components/condition-builder/GroupOrItem.tsx
  packages/amis-ui/src/components/condition-builder/Item.tsx
  packages/amis-ui/src/components/condition-builder/index.tsx
  packages/amis/__tests__/renderers/Form/conditionBuilder.test.tsx
  packages/amis/src/renderers/Form/ConditionBuilder.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: feat, fix

#7135 feat: nav组件增加最小高度
  packages/amis-ui/scss/components/_nav.scss
Labels: feat

#7145 styles: 修复input-color组件样式问题
  packages/amis-ui/scss/components/form/_color.scss
  packages/amis-ui/src/components/ColorPicker.tsx
Labels: style

#7144 styles: 优化combo组件删除按钮提示浮层的位置
  packages/amis-ui/scss/components/form/_combo.scss
Labels: style

#7086 styles: 修复select组件全选样式错乱问题
  packages/amis-ui/scss/components/form/_select.scss
Labels: style

#7148 fix:修复动作配置面板切换动作选中失效问题
  packages/amis-core/src/store/form.ts
Labels: fix

#7155 fix:sdk中popup失效
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/src/components/ConfirmBox.tsx
  packages/amis-ui/src/components/PickerContainer.tsx
  packages/amis-ui/src/components/TabsTransferPicker.tsx
  packages/amis-ui/src/components/TransferPicker.tsx
  packages/amis-ui/src/components/formula/Picker.tsx
  packages/amis-ui/src/components/schema-editor/Common.tsx
  packages/amis/src/renderers/Form/InputMonthRange.tsx
  packages/amis/src/renderers/Form/InputQuarterRange.tsx
  packages/amis/src/renderers/Form/InputRepeat.tsx
  packages/amis/src/renderers/Form/InputSubForm.tsx
  packages/amis/src/renderers/Form/InputTag.tsx
  packages/amis/src/renderers/Form/InputYearRange.tsx
  packages/amis/src/renderers/Form/JSONSchemaEditor.tsx
  packages/amis/src/renderers/Form/TabsTransferPicker.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
Labels: fix

#7156 fix:input-table构建dataschema报错问题
  packages/amis-editor/src/plugin/Form/InputTable.tsx
Labels: fix

#7159 fix: 移动端表单项错误提示、description 样式调整
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/form/_color.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/scss/components/form/_range.scss
  packages/amis-ui/src/components/Tabs.tsx
Labels: fix

#7163 fix:表单视图中动作配置面板报错问题
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#7154 chore: ios 的 DragEvent 报错修复挪到 core 模块下
  examples/polyfills/index.ts
  packages/amis-core/src/index.tsx
  packages/amis-core/src/polyfills.ts
Labels: awaiting-final-review, chore

#7186 feat: input-number 支持根据精度设置展示长度
  packages/amis/__tests__/renderers/Form/number.test.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: feat

#7194 feat: tabs 配置面板优化
  packages/amis-editor/src/plugin/Tabs.tsx
Labels: feat

#7181 feat: CRUD 的 filterTogglable 支持配置文案和图标 Close: #7089
  docs/zh-CN/components/crud.md
  packages/amis/src/renderers/CRUD.tsx
Labels: awaiting-review, feat

#7177 chore: affixRow 和 prefixRow 支持跟列固定搭配使用 Close: #7131
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: awaiting-review, chore

#7175 fix: 修复二级弹窗表格表头固顶位置不正确问题 Close: baidu#7153
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/index.tsx
Labels: awaiting-review, chore

#7174 fix: 修复 select 的 tree 模式点击搜索结果无效果问题 Close: #7173
  packages/amis-ui/src/components/Transfer.tsx
Labels: awaiting-review, fix

#7169 feat: 数据域组件扩充 trackExpression 属性用于显式的设置跟踪上层数据变化 Close: #7152
  docs/zh-CN/concepts/datascope-and-datachain.md
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/WithStore.tsx
  packages/amis-core/src/types.ts
  packages/amis/src/Schema.ts
Labels: awaiting-review, feat

#7164 feat: JSSDK 支持更新 schema Close: #7150
  docs/zh-CN/start/getting-started.md
  examples/embed.tsx
Labels: awaiting-review, feat

#7158 chore: fieldset 没有配置 title 时不要输出相关 dom
  packages/amis/__tests__/renderers/Form/__snapshots__/fieldSet.test.tsx.snap
  packages/amis/__tests__/renderers/Form/fieldSet.test.tsx
  packages/amis/src/renderers/Collapse.tsx
Labels: awaiting-review, chore

#7183 styles(amis-editor): FeatControl样式优化
  packages/amis-editor-core/scss/control/_feature-control.scss
  packages/amis-editor-core/scss/control/_go-config.scss
Labels: awaiting-final-review, style

#7197 chore: 补充 picker 值右侧删除按钮不触发 change 事件问题 Close: #7084
  packages/amis/__tests__/renderers/__snapshots__/Card.test.tsx.snap
  packages/amis/src/renderers/Card.tsx
  packages/amis/src/renderers/Form/Picker.tsx
  packages/amis/src/renderers/List.tsx
Labels: awaiting-review, chore

#7188 chore: Table2排序属性名称变更order => orderDir
  packages/amis-ui/src/components/table/HeadCellSort.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: awaiting-final-review, chore

#7187 chore(amis-editor): EditorNode中info支持设置sharedContext; fix: InputTable…
  packages/amis-editor-core/src/builder/DSBuilder.ts
  packages/amis-editor-core/src/index.ts
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/store/node.ts
  packages/amis-editor/src/plugin/Form/Combo.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
Labels: awaiting-final-review, fix, chore

#7182 chore: JSONQL请求支持追加 data 中的变量到 query 中
  packages/amis-core/src/utils/api.ts
Labels: awaiting-final-review, chore

#7193 fix: 传图多选，joinValues为false的时候，render死循环问题修复
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: awaiting-final-review, feat

#7189 chore(amis-editor): TplFormulaControl补充onFormulaEditorOpen
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
Labels: awaiting-final-review, chore

#7191 fix: 修复 inputFile 的initAutoFill false 功能 Close: #7087
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/formItem.ts
  packages/amis-editor/src/plugin/Form/Item.tsx
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: awaiting-final-review, fix

#7208 fix:formulaeditor单测
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
Labels: fix

#7203 fix: 修复List多选情况下两个全选按钮的问题
  packages/amis/src/renderers/List.tsx
Labels: fix

#7207 chore: 尝试修复 codecov 不生效问题
  .github/workflows/gh-pages.yml
  package.json
  packages/amis-core/package.json
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
  packages/ooxml-viewer/package.json
Labels: chore

#7209 fix: 修复循环each组件，配置成员渲染器，选中容器，组件侧边栏隐藏的问题
  packages/amis-editor/src/plugin/Each.tsx
Labels: fix

#7214 fix: GET请求中api.data未追加到query中问题
  packages/amis-core/src/utils/api.ts
Labels: fix

#7222 fix: 编辑态下子编辑器不能展示正确数据
  packages/amis-editor-core/src/store/editor.ts
Labels: fix

#7218 fix: 公式函数参数描述可能不存在的问题
  packages/amis-ui/src/components/formula/FuncList.tsx
Labels: fix

#7217 fix:表达式编辑器数组高亮&限制数组成员变量操作层级
  packages/amis-ui/src/components/formula/VariableList.tsx
Labels: fix

#7232 fix:表达式编辑器升级增加变量normalize
  packages/amis-ui/src/components/formula/Editor.tsx
  packages/amis-ui/src/components/formula/VariableList.tsx
Labels: fix

#7231 feat: crud 导出csv支持自定义文件名
  docs/zh-CN/components/crud.md
  packages/amis-core/src/store/crud.ts
  packages/amis/src/renderers/CRUD.tsx
Labels: feat

#7212 feat: Tabs组件title支持schema
  docs/zh-CN/components/tabs.md
  packages/amis-ui/src/components/Tabs.tsx
  packages/amis/src/renderers/Tabs.tsx
Labels: feat

#7228 fix: 修复Editor-Tag 配置面板状态变更时schema中icon未清除的问题
  packages/amis-editor/src/plugin/Tag.tsx
Labels: fix

#7235 feat: 新增tab的tip属性&tab的title为自定义schema
  docs/zh-CN/components/tabs.md
  packages/amis-ui/src/components/Tabs.tsx
  packages/amis/src/renderers/Tabs.tsx
Labels: feat

#7239 fix:表达式编辑器回显示&非对象数组处理
  packages/amis-editor-core/src/util.ts
  packages/amis-ui/src/components/formula/Editor.tsx
  packages/amis-ui/src/components/formula/plugin.ts
Labels: fix

#7242 chore:表达式函数注释微调
  packages/amis-formula/src/doc.md
  packages/amis-formula/src/doc.ts
  packages/amis-formula/src/evalutor.ts
Labels: awaiting-review, chore

#7254 fix:去掉editor里api请求适配器里关于api.body的说明,统一使用api.data
  packages/amis-editor/src/renderer/APIAdaptorControl.tsx
Labels: fix

#7256 styles: 优化treeSelection组件样式
  packages/amis-ui/scss/components/form/_selection.scss
Labels: style

#7237 fix: button-group-select校验配置&多个button换行
  packages/amis-editor/src/plugin/Form/ButtonGroupSelect.tsx
  packages/amis-ui/scss/components/_button-group.scss
Labels: fix

#7259 feat:dataschema增加typeLabel
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/DataScope.ts
Labels: feat

#7266 feat:表达式输入框高亮改为源码
  packages/amis-core/src/utils/DataScope.ts
  packages/amis-editor-core/src/variable.ts
  packages/amis-ui/src/components/formula/Editor.tsx
Labels: feat

#7241 feat(amis): 日历组件日程内容支持富文本
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis-ui/src/components/calendar/Calendar.tsx
  packages/amis-ui/src/components/calendar/DaysView.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
  packages/amis/src/renderers/Page.tsx
Labels: awaiting-final-review, feat

#7267 feat:动作的componentId支持表达式&动作增加componentName属性、fix: nav仅点击箭头才能展开、source重置导致菜单自动关闭问题修复
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/form/combo.md
  docs/zh-CN/components/table.md
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/store/crud.ts
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/src/components/WithRemoteConfig.tsx
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/src/renderers/CRUD.tsx
Labels: feat, fix

#7278 fix(amis-editor): 修复collapseGroup tpl 可折叠控制项不生效问题
  packages/amis-editor-core/package.json
  packages/amis-editor-core/src/locale/en-US.ts
  packages/amis-editor-core/src/locale/zh-CN.ts
  packages/amis-editor-core/src/tpl.tsx
  packages/amis-editor/package.json
  packages/amis-editor/src/locale/en-US.ts
  packages/amis-editor/src/locale/zh-CN.ts
  packages/amis-editor/src/plugin/Container.tsx
  packages/amis-editor/src/plugin/Grid.tsx
  packages/amis-editor/src/plugin/IFrame.tsx
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/plugin/Tpl.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-editor/src/tpl/style.tsx
Labels: fix

#7281 feat:表达式编辑器支持变量为函数和表达式&editor导出上下文变量获取方法
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/ExpressionFormulaControl.tsx
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-editor/src/renderer/textarea-formula/TextareaFormulaControl.tsx
  packages/amis-editor/src/renderer/textarea-formula/utils.ts
  packages/amis-editor/src/util.ts
  packages/amis-ui/src/components/formula/Editor.tsx
  packages/amis-ui/src/components/formula/Picker.tsx
Labels: feat

#7282 chore:去掉表达式编辑器组件没用代码
  packages/amis-editor/src/renderer/ExpressionFormulaControl.tsx
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
  packages/amis-editor/src/renderer/textarea-formula/TextareaFormulaControl.tsx
Labels: chore

#7280 fix: 事件动作 -> 页面变量列表为空，无法选择 & 勾选框组件默认值配置fx无效
  packages/amis-editor-core/src/variable.ts
  packages/amis-editor/examples/Editor.tsx
  packages/amis-editor/src/plugin/Form/Checkbox.tsx
Labels: fix

#7284 fix: 编辑器添加文档预览组件
  packages/amis-editor/src/index.tsx
Labels: fix

#7290 fix: 修复英文环境下日程展示问题
  packages/amis-ui/src/components/calendar/DaysView.tsx
Labels: fix

#7291 fix:文档链接错误
  docs/zh-CN/concepts/event-action.md
  docs/zh-CN/start/getting-started.md
  packages/amis/__tests__/event-action/drawer.test.tsx
Labels: fix

#7275 chore: crud 的 api 返回容忍返回为空 null Close: #6391
  packages/amis-core/src/store/crud.ts
Labels: awaiting-review, chore

#7273 feat: app 渲染器页面配置支持 visibleOn Close: #7067
  packages/amis-core/src/store/app.ts
Labels: awaiting-review, feat

#7261 chore: 调整 jssdk 产出压缩所有部分 Close: #7249
  fis-conf.js
  scripts/embed-packager.js
Labels: awaiting-review, chore

#7263 chore: 接口轮训添加限制, 接口正常返回才轮训 Close: #7260
  package.json
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Service.tsx
Labels: awaiting-review, chore

#7264 chore: 调整 dataMapping 中 '&' 特殊 key 的逻辑 始终优先处理 Close: #7247
  packages/amis-core/src/utils/dataMapping.ts
Labels: awaiting-review, chore

#7295 fix: 修复condition-builder的下拉icon和select不统一
  packages/amis-ui/scss/components/_condition-builder.scss
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/src/components/DropDownSelection.tsx
  packages/amis-ui/src/components/condition-builder/Func.tsx
  packages/amis-ui/src/components/condition-builder/Item.tsx
Labels: fix

#7292 fix: disabled 失效问题
  packages/amis-core/src/utils/helper.ts
Labels: fix

#7268 chore: inputText 优化下拉 popvoer 支持在 table 下下拉展示全 Close: #7075
  packages/amis-ui/scss/components/form/_text.scss
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/src/renderers/Form/InputText.tsx
Labels: awaiting-review, chore

#7204 feat: action 支持 confirmTitle 来设置 confirmText 的弹窗标题 Close: #7200
  docs/zh-CN/components/action.md
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/CRUD.tsx
Labels: awaiting-review, awaiting-final-review, feat

#7233 DropDownButton 支持配置 amis json 作为下拉内容 #7141
  packages/amis/src/renderers/DropDownButton.tsx
Labels: awaiting-final-review

#7227 fix: Nav完善事件动作以及相关文档
  docs/zh-CN/components/nav.md
  packages/amis-ui/src/components/WithRemoteConfig.tsx
  packages/amis-ui/src/components/menu/MenuItem.tsx
  packages/amis-ui/src/components/menu/SubMenu.tsx
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/src/renderers/Nav.tsx
Labels: request-changes, fix

#7297 chore:去掉组件动作调用目标为自身的判断
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/WithRootStore.tsx
  packages/amis-core/src/actions/CmptAction.ts
Labels: awaiting-final-review, chore

#7301 fix: 修复 Page 组件快速切换可能的 warning 报错 Close: #6657
  packages/amis/src/renderers/Page.tsx
Labels: awaiting-review, fix

#7289 fix: 修复 inputGroup 表单项在 service 下时校验问题 Close: #7279
  mock/cfc/index.js
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/form.ts
  packages/amis/src/renderers/Form/InputGroup.tsx
Labels: awaiting-review, fix

#7202 feat: crud filter 支持深层数组的清除 Close: #7083
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/src/components/ResultBox.tsx
Labels: awaiting-review, feat

#7269 chore: 总结行与列显隐切换联动 Close: #7073
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: awaiting-review, chore

#7303 fix: 修复condition-builder的下拉icon和select不统一
  packages/amis-ui/scss/components/_condition-builder.scss
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/src/components/DropDownSelection.tsx
  packages/amis-ui/src/components/condition-builder/Func.tsx
  packages/amis-ui/src/components/condition-builder/Item.tsx
Labels: fix

#7305 fix: 动作支持动态标识、nav相关问题修复
  docs/zh-CN/components/form/combo.md
  docs/zh-CN/components/nav.md
  docs/zh-CN/concepts/event-action.md
  docs/zh-CN/start/getting-started.md
  examples/components/SchemaRender.jsx
  packages/amis-core/__tests__/async-filter.test.ts
  packages/amis-core/__tests__/filter.test.ts
  packages/amis-core/src/Root.tsx
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/StatusScoped.tsx
  packages/amis-core/src/WithStore.tsx
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/envOverwrite.ts
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/index.tsx
  packages/amis-core/src/store/iRenderer.ts
  packages/amis-core/src/store/root.ts
  packages/amis-core/src/store/status.ts
  packages/amis-core/src/utils/object.ts
  packages/amis-formula/src/evalutorForAsync.ts
  packages/amis-ui/src/components/WithRemoteConfig.tsx
  packages/amis-ui/src/components/menu/MenuItem.tsx
  packages/amis-ui/src/components/menu/SubMenu.tsx
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#7311 fix: normalizeLink url处理问题
  packages/amis-core/src/utils/normalizeLink.ts
Labels: fix

#7312 fix:修复确认弹窗自定义内容问题
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/DialogAction.ts
  packages/amis-core/src/actions/DrawerAction.ts
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: fix

#7310 fix(amis-editor): 修复返回适配器中包含 js 字符模版时的问题 Close: #7276
  packages/amis-editor/src/renderer/APIAdaptorControl.tsx
Labels: fix

#7302 feat: inputDateTime 支持 isEndDate 配置自动选中 23:59:59 Close: #7277
  docs/zh-CN/components/form/input-datetime.md
  packages/amis-ui/src/components/CalendarMobile.tsx
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
Labels: awaiting-review, feat

#7309 fix: 修复 office-viewer 插件中文档链接地址错误
  packages/amis-editor/src/plugin/OfficeViewer.tsx
Labels: fix

#7111 feat: conditionBuilder组件增加是否可拖拽字段控制
  docs/zh-CN/components/form/condition-builder.md
  packages/amis-ui/src/components/condition-builder/Group.tsx
  packages/amis-ui/src/components/condition-builder/index.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/conditionBuilder.test.tsx.snap
  packages/amis/src/renderers/Form/ConditionBuilder.tsx
Labels: awaiting-final-review, feat

#7304 fix:BCE-FE-1706文档目录大纲可收起
  examples/doc.css
Labels: fix

#7308 chore: 文心千帆问答机器人示例
  .editorconfig
  scripts/bot/.dockerignore
  scripts/bot/.gitignore
  scripts/bot/Dockerfile
  scripts/bot/README.md
  scripts/bot/app.py
  scripts/bot/base/Dockerfile
  scripts/bot/base/requirements.txt
  scripts/bot/embedding.py
  scripts/bot/gen_embedding.py
  scripts/bot/gui.py
  scripts/bot/llm/base.py
  scripts/bot/llm/wenxin.py
  scripts/bot/playground.ipynb
  scripts/bot/split_markdown.py
  scripts/bot/vector_store.py
Labels: chore

#7213 feat: collapse-group组件支持对外抛出 折叠状态改变 事件
  docs/zh-CN/components/collapse.md
  packages/amis-editor/src/plugin/Collapse.tsx
  packages/amis-editor/src/plugin/CollapseGroup.tsx
  packages/amis-ui/src/components/Collapse.tsx
  packages/amis-ui/src/components/CollapseGroup.tsx
  packages/amis/src/renderers/Collapse.tsx
  packages/amis/src/renderers/CollapseGroup.tsx
Labels: feat

#7319 chore: renderTextByKeyword过滤掉非法输入
  packages/amis-core/src/utils/dom.tsx
Labels: chore

#7320 docs: 增加 JSON Schema 说明 Closes #7240
  docs/zh-CN/components/form/json-schema.md
Labels: doc
