Repository baidu/amis, pull requests merged in 2023-09, with the labels that each got.

#7982 fix: editor-修复大纲里activeId变化时，无法自动滚动到可视区的问题
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/util.ts
Labels: fix

#7986 chore: 将主题的默认数据绑定到数据链上,避免数据无效diff
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-editor-core/src/util.ts
Labels: chore

#7984 feat: 容器/图片/page外观配置
  package.json
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/plugin/Carousel.tsx
  packages/amis-editor/src/plugin/Form/InputImage.tsx
  packages/amis-editor/src/plugin/Icon.tsx
  packages/amis-editor/src/plugin/Image.tsx
  packages/amis-editor/src/plugin/Images.tsx
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/plugin/TooltipWrapper.tsx
  packages/amis-editor/src/plugin/Tpl.tsx
  packages/amis-editor/src/renderer/style-control/ThemeCssCode.tsx
  packages/amis-editor/src/tpl/layout.tsx
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_images.scss
  packages/amis-ui/src/components/icons.tsx
  packages/amis/__tests__/renderers/CRUDfilter.test.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/combo.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Action.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Flex.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/GridNav.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/IFrame.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Image.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Progress.test.tsx.snap
  packages/amis/__tests__/utils/api.test.ts
  packages/amis/src/renderers/Carousel.tsx
  packages/amis/src/renderers/Chart.tsx
  packages/amis/src/renderers/Container.tsx
  packages/amis/src/renderers/Flex.tsx
  packages/amis/src/renderers/Grid.tsx
  packages/amis/src/renderers/IFrame.tsx
  packages/amis/src/renderers/Image.tsx
  packages/amis/src/renderers/Images.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/TableView.tsx
  packages/amis/src/renderers/TooltipWrapper.tsx
  packages/amis/src/renderers/Tpl.tsx
Labels: feat

#7966 fix: 修复指定列数 > 1 的情况下 form 最后一行 margin-bottom 不为 0 的问题
  packages/amis-ui/scss/components/form/_form.scss
Labels: fix

#7965 fix: 修复 form item 个数刚好为 columnCount 的整数倍时, 多一行 placeholder dom 的问题
  packages/amis-core/src/renderers/Form.tsx
Labels: fix

#7998 fix: 外观配置修复
  packages/amis-core/src/components/CustomStyle.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-editor/src/plugin/Carousel.tsx
  packages/amis-editor/src/plugin/Image.tsx
  packages/amis-editor/src/plugin/Images.tsx
  packages/amis-editor/src/renderer/style-control/ThemeCssCode.tsx
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_carousel.scss
  packages/amis-ui/scss/components/_image-gallery.scss
  packages/amis-ui/src/components/ImageGallery.tsx
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Carousel.tsx
  packages/amis/src/renderers/Chart.tsx
  packages/amis/src/renderers/Container.tsx
  packages/amis/src/renderers/Flex.tsx
  packages/amis/src/renderers/Grid.tsx
  packages/amis/src/renderers/IFrame.tsx
  packages/amis/src/renderers/Image.tsx
  packages/amis/src/renderers/Images.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/TableView.tsx
  packages/amis/src/renderers/TooltipWrapper.tsx
  packages/amis/src/renderers/Tpl.tsx
Labels: fix

#8002 fix: 数据源构造器 & Form & CRUD2 & Service相关问题修复
  lerna.json
  packages/amis-core/package.json
  packages/amis-editor-core/package.json
  packages/amis-editor-core/scss/control/_crud2-control.scss
  packages/amis-editor-core/scss/control/_table-column-width-control.scss
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor/package.json
  packages/amis-editor/src/builder/ApiDSBuilder.ts
  packages/amis-editor/src/builder/DSBuilder.ts
  packages/amis-editor/src/builder/DSBuilderManager.ts
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/plugin/Form/Combo.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Pagination.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/Table2.tsx
  packages/amis-editor/src/renderer/FieldSetting.tsx
  packages/amis-editor/src/renderer/TableColumnWidthControl.tsx
  packages/amis-editor/src/renderer/crud2-control/CRUDColumnControl.tsx
  packages/amis-editor/src/renderer/crud2-control/CRUDFiltersControl.tsx
  packages/amis-editor/src/renderer/crud2-control/CRUDToolbarControl.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis-ui/src/components/Tag.tsx
  packages/amis-ui/src/components/formula/Input.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/package.json
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#8000 fix: select组件国际化问题
  packages/amis-ui/src/components/Select.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
Labels: fix

#8001 fix: 修复divider组件切换方向时宽高异常问题
  packages/amis-editor/src/plugin/Divider.tsx
Labels: fix

#8004 fix: 源码编辑优化&去掉类名
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-editor/src/plugin/Carousel.tsx
  packages/amis-editor/src/plugin/Container.tsx
  packages/amis-editor/src/plugin/Image.tsx
  packages/amis-editor/src/plugin/Images.tsx
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/plugin/Sparkline.tsx
  packages/amis-editor/src/plugin/TooltipWrapper.tsx
  packages/amis-editor/src/renderer/style-control/ThemeCssCode.tsx
  packages/amis-editor/src/tpl/style.tsx
Labels: fix

#8007 fix: 解决表单项 pipeIn 和 pipeOut 的 this 丢失
  packages/amis-core/src/renderers/wrapControl.tsx
Labels: fix

#7973 fix: inputRange输入大小限制
  docs/zh-CN/components/form/input-range.md
  packages/amis/src/renderers/Form/InputRange.tsx
Labels: fix

#8015 fix: diffEditor组件在某些场景下使用变量时导致页面卡死的问题
  packages/amis/src/renderers/Form/DiffEditor.tsx
  packages/amis/src/renderers/SearchBox.tsx
Labels: fix

#8019 fix:去掉无用的hr全局样式
  packages/amis-ui/scss/base/_normalize.scss
Labels: fix

#8016 chore: 组件销毁时清空自定义样式
  packages/amis-core/src/components/CustomStyle.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/utils/style-helper.ts
  packages/amis/src/renderers/Form/InputText.tsx
Labels: chore

#8021 feat: page组件外观增加基本样式
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis/src/renderers/Page.tsx
Labels: feat

#8018 styles: 修复 CRUD 列元素嵌套表格时, affixOffsetTop计算错误问题
  packages/amis/src/renderers/Table/index.tsx
Labels: style

#7968 fix: 修复 input-file 和 input-image 组件请求适配器 context 获取不到的问题
  packages/amis-core/src/utils/api.ts
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#7939 fix: ConditionBuilder从 query 中获取初始值时值类型错误问题
  packages/amis-ui/src/components/formula/Input.tsx
Labels: fix

#7999 feat: add a new clear event for input-text component
  docs/zh-CN/components/form/input-text.md
  packages/amis/__tests__/renderers/Form/inputText.test.tsx
  packages/amis/src/renderers/Form/InputText.tsx
Labels: feat

#8022 chore:公式编辑器支持配置源码模式&展开变量开关
  docs/zh-CN/components/form/input-formula.md
  packages/amis-ui/src/components/formula/Editor.tsx
  packages/amis-ui/src/components/formula/Picker.tsx
  packages/amis/src/renderers/Form/InputFormula.tsx
Labels: chore

#8028 fix: 「配置面板」日期范围组件配置面板在配置hoursago快捷键时无法正常显示的问题
  packages/amis-editor/src/renderer/DateShortCutControl.tsx
Labels: fix

#8030 fix: 「配置面板」日期范围组件配置面板在配置hoursago快捷键时无法正常显示的问题
  packages/amis-editor/src/renderer/DateShortCutControl.tsx
  packages/amis/src/renderers/Form/DiffEditor.tsx
Labels: fix

#8020 chore: 优化 Table 渲染性能
  docs/zh-CN/components/table.md
  mock/cfc/mock/sample.db.js
  packages/amis-core/__tests__/helper.tsx
  packages/amis-core/package.json
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/components/LazyComponent.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/store/root.ts
  packages/amis-core/src/store/table.ts
  packages/amis-core/src/utils/debug.tsx
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/scss/components/_chart.scss
  packages/amis-ui/scss/components/_table.scss
  packages/amis/__tests__/helper.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/package.json
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/QuickEdit.tsx
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#7730 fix: 过滤已执行事件监听
  packages/amis-core/src/utils/renderer-event.ts
Labels: fix

#8033 fix: 过滤已执行事件监听
  packages/amis-core/src/utils/renderer-event.ts
Labels: fix

#8023 fix: 命名拼写错误
  packages/amis-core/src/components/PopOver.tsx
  packages/amis-core/src/locale.tsx
  packages/amis-core/src/theme.tsx
Labels: fix

#8036 fix: 修复 crud toolbar 中使用 form 表单项回显状态丢失问题
  packages/amis-core/src/WithStore.tsx
  packages/amis-ui/scss/components/_table.scss
  packages/amis/__tests__/renderers/Form/__snapshots__/combo.test.tsx.snap
  packages/amis/__tests__/renderers/Form/combo.test.tsx
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix

#8032 fix: crud列排序重置后orderDir参数未置空问题
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#8034 fix: 修复 crud toolbar 中使用 form 表单项回显状态丢失问题
  packages/amis-core/src/WithStore.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/combo.test.tsx.snap
  packages/amis/__tests__/renderers/Form/combo.test.tsx
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix

#8040 chore: 修复性能优化后 列固定宽度不刷新问题
  packages/amis-core/src/store/table.ts
  packages/amis-core/src/utils/resize-sensor.ts
  packages/amis/__tests__/event-action/renderers/__snapshots__/crud.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#8038 fix: office-viewer 的 print 默认不用 page, 避免可能差异太大
  packages/office-viewer/examples/app.ts
  packages/office-viewer/package.json
  packages/office-viewer/src/Word.ts
Labels: fix

#8039 fix: 修复 crud 自动过滤器中 select 下拉 zIndex 问题 Close: #8031
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#8049 fix:图片缩略图支持fx取值;占位图fx获取不到值
  packages/amis-editor/src/plugin/Image.tsx
  packages/amis/src/renderers/Image.tsx
Labels: fix

#8052 styles: 分割线默认样式为实线
  packages/amis/__tests__/renderers/Form/__snapshots__/combo.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Action.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/GridNav.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Image.test.tsx.snap
  packages/amis/src/renderers/Divider.tsx
Labels: style

#8065 style: 优化弹框场景下select全选样式问题
  packages/amis-ui/scss/components/form/_select.scss
Labels: style

#8076 styles: 分割线默认样式为实线
  docs/zh-CN/components/divider.md
  packages/amis/__tests__/renderers/Form/__snapshots__/combo.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Action.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/GridNav.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Image.test.tsx.snap
  packages/amis/src/renderers/Divider.tsx
Labels: style

#8077 chore: 调整table nested 样式 & table 默认还原成 auto 布局
  docs/zh-CN/components/table.md
  examples/components/CRUD/Nested.jsx
  packages/amis-core/src/store/table.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/__tests__/event-action/renderers/__snapshots__/crud.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/AutoFilterForm.tsx
  packages/amis/src/renderers/Table/ColGroup.tsx
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#8084 fix: 修复表单项配置 staticOn 无效的问题 Close: #8072
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis/__tests__/renderers/Form/static.test.tsx
Labels: fix

#8080 styles: 优化图片上传\表单label样式
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_image.scss
Labels: style

#8087 fix: 修复表单项 requiredOn 无效问题 Close: #8071
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/formItem.ts
  packages/amis/__tests__/event-action/renderers/form/form.test.tsx
Labels: fix

#8090 fix: 修复由 #8034 引发的 combo select autofill 失效问题
  packages/amis-core/src/WithStore.tsx
  packages/amis/__tests__/renderers/Form/combo.test.tsx
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix

#8089 fix: 修复由 #8034 引发的 combo select autofill 失效问题
  packages/amis-core/src/WithStore.tsx
  packages/amis/__tests__/renderers/Form/combo.test.tsx
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix

#8092 fix: 修复 InputTable 列表单项受控模式回显数字问题 Close: #8070
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/src/renderers/QuickEdit.tsx
Labels: fix

#8083 fix(amis-editor): 优化canAppendSiblings判定逻辑
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor/src/plugin/Cards.tsx
  packages/amis-editor/src/plugin/CustomRegion.tsx
  packages/amis-editor/src/plugin/Each.tsx
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-editor/src/plugin/List.tsx
  packages/amis-editor/src/plugin/List2.tsx
Labels: fix, amis-editor

#8094 fix: InputTable组件上层disabled变化后未更新按钮状态问题
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#8113 chore: import类型依赖问题
  packages/amis-editor-core/src/component/Panel/Outline.tsx
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
Labels: fix

#8097 fix(amis-editor): 卡片列表和列表组件剔除重复的容器嵌套
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/plugin/Cards.tsx
  packages/amis-editor/src/plugin/Container.tsx
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-editor/src/plugin/List2.tsx
Labels: fix

#8103 chore: 优化 Table 渲染单元格性能
  packages/amis-core/src/store/table.ts
  packages/amis/__tests__/event-action/renderers/__snapshots__/crud.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/Cell.tsx
  packages/amis/src/renderers/Table/ColGroup.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#8116 fix: 对静态展示时默认值是object等未知情况进行错误边界处理
  packages/amis/package.json
  packages/amis/src/renderers/Form/StaticHoc.tsx
Labels: fix

#8117 fix: 对静态展示时默认值是object等未知情况进行错误边界处理
  packages/amis/package.json
  packages/amis/src/renderers/Form/StaticHoc.tsx
Labels: fix

#8115 fix: 对静态展示时默认值是object等未知情况进行错误边界处理
  packages/amis/package.json
  packages/amis/src/renderers/Form/StaticHoc.tsx
Labels: fix

#8124 feat: update amis-editor version
  packages/amis-editor-core/package.json
  packages/amis-editor/package.json
Labels: feat

#8127 chore: 优化表单渲染性能
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/store/root.ts
  packages/amis-core/src/utils/debug.tsx
Labels: chore

#8120 fix: 修复源码编辑样式时important问题
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/plugin/Tpl.tsx
  packages/amis-editor/src/renderer/style-control/ThemeCssCode.tsx
  packages/amis-editor/src/tpl/style.tsx
  packages/amis/src/renderers/Page.tsx
Labels: fix

#8095 fix moment version to 2.19.4
  packages/amis-formula/package.json
Labels: fix

#8123 feat(amis-editor): 将style转换为themeCss
  packages/amis-editor-core/src/util.ts
Labels: awaiting-final-review, feat, style

#8046 fix: Select组件 Tree 模式下搜索点击选项不能正常关闭下拉浮层问题
  docs/zh-CN/components/form/select.md
  packages/amis-ui/src/components/Transfer.tsx
Labels: awaiting-final-review, fix

#8081 chore: CollapseGroup组件新增enableFieldSetStyle控制样式
  docs/zh-CN/components/collapse.md
  packages/amis-ui/scss/components/_collapse.scss
  packages/amis-ui/src/components/Collapse.tsx
  packages/amis/__tests__/renderers/Collapse.test.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/fieldSet.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Collapse.test.tsx.snap
  packages/amis/src/renderers/Collapse.tsx
  packages/amis/src/renderers/CollapseGroup.tsx
Labels: awaiting-final-review, chore

#7956 feat: 支持静默请求屏蔽报错
  packages/amis-core/src/actions/AjaxAction.ts
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/store/service.ts
  packages/amis-core/src/store/table2.ts
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/renderer/APIControl.tsx
  packages/amis-editor/src/tpl/api.tsx
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/src/renderers/Chart.tsx
  packages/amis/src/renderers/Form/ChainedSelect.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Form/TabsTransfer.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/Log.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: awaiting-final-review, feat

#8134 feat: style2themecss仅处理部分组件
  packages/amis-editor-core/src/util.ts
Labels: style

#8121 perf:删除无用字段
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: awaiting-final-review

#8122 perf:删除无用字段
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: awaiting-final-review

#8135 fix: 修复 requiredOn 问题 Close: #8133
  packages/amis-core/src/store/formItem.ts
  packages/amis/__tests__/event-action/renderers/form/form.test.tsx
Labels: fix

#8093 fix: InputTable组件上层disabled变化后未更新按钮状态问题
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#8075 feat(amis-editor): Select, Checkboxes, InputTree & TreeSelect组件新增、编辑、删除控件
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
  packages/amis-editor/src/renderer/OptionControl.tsx
  packages/amis-editor/src/tpl/options.tsx
  packages/amis-ui/scss/components/form/_checks.scss
Labels: feat

#8027 feat(amis-editor): InputRange组件默认值控件
  packages/amis-editor-core/scss/control/_formItem-control.scss
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/plugin/Form/InputRange.tsx
  packages/amis-editor/src/renderer/InputRangeValueControl.tsx
  packages/amis-editor/src/tpl/options.tsx
Labels: feat

#8078 fix(amis-editor): Tree静态选项控件删除校验逻辑错误, 值从props.value获取
  packages/amis-editor/src/renderer/TreeOptionControl.tsx
Labels: fix

#8140 feat: 外观样式在运行时赋值className
  packages/amis-core/src/components/CustomStyle.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/plugin/Form/InputImage.tsx
  packages/amis-ui/src/components/virtual-list/index.tsx
  packages/amis/__tests__/renderers/__snapshots__/Image.test.tsx.snap
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Carousel.tsx
  packages/amis/src/renderers/Chart.tsx
  packages/amis/src/renderers/Container.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/Flex.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
  packages/amis/src/renderers/Form/InputText.tsx
  packages/amis/src/renderers/Grid.tsx
  packages/amis/src/renderers/IFrame.tsx
  packages/amis/src/renderers/Icon.tsx
  packages/amis/src/renderers/Image.tsx
  packages/amis/src/renderers/Images.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/TableView.tsx
  packages/amis/src/renderers/TooltipWrapper.tsx
  packages/amis/src/renderers/Tpl.tsx
Labels: feat

#8147 fix: 修复 crud toolbar 中使用 form 表单项回显状态丢失问题
  packages/amis-core/src/WithStore.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/combo.test.tsx.snap
  packages/amis/__tests__/renderers/Form/combo.test.tsx
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix

#8152 fix: TreeSelect组件单选模式开启searchable绑定值后输入框仍然存在问题
  packages/amis/__tests__/renderers/Tree.test.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: fix

#8149 fix: 日期时间范围选择器的时间选择点击无效问题
  docs/zh-CN/components/form/input-datetime.md
  packages/amis-ui/src/components/CalendarMobile.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/calendar/Calendar.tsx
  packages/amis-ui/src/components/calendar/DaysView.tsx
Labels: fix

#8157 fix: 公式WEEKDAY文档示例问题
  packages/amis-formula/src/doc.md
  packages/amis-formula/src/evalutor.ts
Labels: fix

#8155 chore: chart数据映射配置升级、api适配器提示不展示问题修复
  packages/amis-editor-core/scss/control/_api-control.scss
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/plugin/Chart.tsx
  packages/amis-editor/src/renderer/APIAdaptorControl.tsx
  packages/amis-editor/src/renderer/FunctionEditorControl.tsx
Labels: chore

#8156 Revert "fix: table 添加 toggled: false 的列不参与持久化" Close: #8096
  packages/amis-core/src/store/table.ts
Labels: fix

#8162 feat: 添加 getChangeLog script 帮助快速生成内部版本差异
  package.json
  scripts/getChangeLog.ts
Labels: feat

#8167 styles(amis-editor): 提高编辑器右侧面板折叠器样式优先级
  packages/amis-editor-core/scss/control/_formItem-control.scss
  packages/amis-editor/src/component/BaseControl.ts
  packages/amis-editor/src/tpl/common.tsx
Labels: style

#8169 fix: 修复 ci 脚本报错
  package.json
  packages/amis-core/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
  packages/office-viewer/package.json
Labels: fix

#8171 fix: 修复部分组件配置面板变更配置后，默认值选项没有更新的问题
  packages/amis-editor/src/plugin/Form/ButtonGroupSelect.tsx
  packages/amis-editor/src/plugin/Form/ChainedSelect.tsx
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
  packages/amis-editor/src/plugin/Form/InputCity.tsx
  packages/amis-editor/src/plugin/Form/InputDate.tsx
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
  packages/amis-editor/src/plugin/Form/InputTag.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/ListSelect.tsx
  packages/amis-editor/src/plugin/Form/NestedSelect.tsx
  packages/amis-editor/src/plugin/Form/Radios.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/plugin/Form/Transfer.tsx
  packages/amis-editor/src/plugin/Pagination.tsx
  packages/amis-editor/src/renderer/FormulaControl.tsx
Labels: fix

#8175 chore: 调整 schema.children 用法中自定义 validate 上下文信息
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-ui/src/components/Form.tsx
  packages/amis-ui/src/components/FormField.tsx
  packages/amis-ui/src/components/InputTable.tsx
  packages/amis-ui/src/hooks/use-sub-form.ts
Labels: chore

#8166 fix:修复弹窗大纲滚动条超出无法滚动,移动端弹窗预览挂载点出错等问题
  packages/amis-editor-core/scss/_outline.scss
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/IFramePreview.tsx
  packages/amis-editor-core/src/component/Panel/Outline.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/store/node.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/plugin/Dialog.tsx
  packages/amis-editor/src/plugin/Drawer.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-editor/src/tpl/options.tsx
Labels: fix

#8177 fix: picker非内嵌模式初次选中回显问题修复
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#8182 fix: jssdk导出页面时自定义组件模块缺失
  examples/loader.ts
  package.json
  packages/amis-core/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
  packages/office-viewer/package.json
Labels: fix

#8181 fix: 修复border-radius样式配置相互影响问题
  packages/amis-core/src/utils/style-helper.ts
Labels: fix

#8184 fix: 修复 cards 里面再用 crud 报错导致 无限刷新问题
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/WithStore.tsx
  packages/amis-ui/src/components/Combo.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#8185 fix(amis-editor): 修复列表类型组件预览及配置
  packages/amis-editor/src/plugin/Cards.tsx
  packages/amis-editor/src/plugin/Each.tsx
  packages/amis-editor/src/plugin/List2.tsx
Labels: fix

#8189 fix: 修复自定义样式id混乱问题
  packages/amis-core/src/components/CustomStyle.tsx
  packages/amis-core/src/utils/style-helper.ts
Labels: fix

#8165 feat: form&crud&date外观配置
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Form/InputDate.tsx
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis/package.json
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Date.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
  packages/amis/src/renderers/Form/InputDateRange.tsx
  packages/amis/src/renderers/Json.tsx
  packages/amis/src/renderers/Panel.tsx
Labels: feat

#8194 fix: 修复组件拖入时未递归生成id导致样式丢失问题
  packages/amis-core/src/components/CustomStyle.tsx
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/util.ts
Labels: fix

#8193 fix: InputTable 修复性能优化后在需要用到父级数据的时候没有及时更新的问题 Close: #8188
  packages/amis-core/src/utils/helper.ts
  packages/amis/src/renderers/Table/Cell.tsx
Labels: fix

#8163 chore: 简单分页新增方向变量让后端知道是应该取after 还是取 before Close: #7196
  docs/zh-CN/components/crud.md
  examples/components/CRUD/SimplePager.tsx
  examples/components/Example.jsx
  mock/cfc/mock/sample.js
  packages/amis-ui/src/components/Pagination.tsx
  packages/amis/__tests__/renderers/Pagination.test.tsx
  packages/amis/src/renderers/CRUD.tsx
Labels: chore

#8192 chore(amis-editor): 编辑器减少主题css变量的重复引入
  packages/amis-editor-core/scss/_mixin.scss
  packages/amis-editor-core/src/component/Panel/RightPanels.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/component/ScaffoldModal.tsx
  packages/amis-editor/src/component/BaseControl.ts
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/renderer/APIControl.tsx
  packages/amis-editor/src/renderer/ActionApiControl.tsx
  packages/amis-editor/src/renderer/crud2-control/AddColumnModal.tsx
  packages/amis-editor/src/renderer/event-control/action-config-dialog.tsx
Labels: chore

#8197 fix: Service组件的api和schemaApi更新时添加合法性校验
  packages/amis/src/renderers/Service.tsx
Labels: fix

#8183 fix: jssdk自定义组件缺失依赖
  examples/loader.ts
Labels: fix

#8180 fix: 组合穿梭器 可检索功能无效问题 & 配置面板调整
  packages/amis-editor/src/plugin/Form/TabsTransfer.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-ui/src/components/TabsTransfer.tsx
  packages/amis/src/renderers/Form/TabsTransfer.tsx
Labels: fix

#8198 chore:补充发送请求动作silent单测
  docs/zh-CN/concepts/event-action.md
  packages/amis/__tests__/event-action/ajax.test.tsx
  packages/amis/__tests__/renderers/CRUD.test.tsx
Labels: chore

#8186 fix(amis-editor): 数据源构造器兼容历史存量Schema
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/builder/ApiDSBuilder.ts
  packages/amis-editor/src/builder/DSBuilder.ts
  packages/amis-editor/src/builder/DSBuilderManager.ts
  packages/amis-editor/src/builder/constants.ts
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/Table2.tsx
  packages/amis-editor/src/renderer/FieldSetting.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-ui/scss/components/_result-box.scss
Labels: fix

#8202 chore: 调整 api 构建有 jsonql 的情况
  lerna.json
  packages/amis-core/package.json
  packages/amis-core/src/utils/api.ts
  packages/amis-formula/package.json
  packages/amis-formula/src/doc.ts
  packages/amis-ui/package.json
  packages/amis/package.json
Labels: chore

#8206 fix:QuickEdit inline模式时找不到组件问题 Close #7989
  packages/amis/__tests__/renderers/Table.test.tsx
  packages/amis/src/renderers/QuickEdit.tsx
Labels: fix

#8148 feat: 补充datetimerange单测
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis/__tests__/renderers/Form/datetimeRange.test.tsx
Labels: feat

#8207 fix(amis-editor): 编辑器面板Collapse Header样式错误
  packages/amis-editor-core/scss/control/_formItem-control.scss
  packages/amis-editor/src/component/BaseControl.ts
  packages/amis-editor/src/tpl/common.tsx
Labels: fix

#8209 fix:修复历史数据dialog没有type的兼容
  packages/amis-core/src/actions/DrawerAction.ts
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#8210 fix: 修复编辑器表格在有快速编辑配置时点选不上的问题 Close: #8208
  packages/amis-core/src/store/table.ts
Labels: fix

#8213 chore: 当页面中没有对应id元素时才删除改id的样式
  packages/amis-core/src/components/CustomStyle.tsx
Labels: chore

#8211 fix:Select值不变时不应触发change Close #8179
  packages/amis-ui/src/components/Select.tsx
Labels: fix

#8214 style: 优化组合条件或\且选择样式
  packages/amis-ui/scss/components/_condition-builder.scss
Labels: style

#8217 feat: 树组件支持配置虚拟渲染时的高度\宽度\可见区外缓冲渲染数
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
Labels: feat

#8226 chore: pr #8039 代码丢失重新补上
  examples/sdk-test.html
  packages/amis/src/renderers/Table/AutoFilterForm.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#8233 fix: nav横向导航增加最大高度限制
  packages/amis-ui/scss/components/_menu.scss
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#8238 fix: 调整tpl输入框表达式匹配规则
  packages/amis-editor/src/renderer/textarea-formula/TextareaFormulaControl.tsx
  packages/amis-editor/src/renderer/textarea-formula/plugin.tsx
Labels: fix

#8239 fix: 修改组合穿梭器默认脚手架id
  packages/amis-editor/src/plugin/Form/TabsTransfer.tsx
Labels: fix

#8248 fix:上传文件&图片成功事件数据
  packages/amis-editor/src/plugin/Form/InputFile.tsx
  packages/amis-editor/src/plugin/Form/InputImage.tsx
Labels: fix

#8249 fix:表达式编辑器变量列表样式问题
  packages/amis-ui/scss/components/_formula.scss
Labels: fix

#8245 fix: JSON 组件缺失的属性说明
  packages/amis/src/renderers/Json.tsx
Labels: fix

#8252 fix:表达式编辑器数组成员快捷操作语句错误问题
  packages/amis-ui/src/components/formula/VariableList.tsx
Labels: fix

#8261 fix: 修复api适配器回显问题
  packages/amis-editor/src/renderer/APIAdaptorControl.tsx
  packages/amis-editor/src/renderer/FunctionEditorControl.tsx
  packages/amis-editor/src/tpl/common.tsx
Labels: fix

#8264 styles: 调整Collapse组件关闭enableFieldSetStyle的样式优先级
  packages/amis-ui/scss/components/_collapse.scss
  packages/amis-ui/src/components/Collapse.tsx
  packages/amis/__tests__/renderers/Collapse.test.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/fieldSet.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Collapse.test.tsx.snap
Labels: style

#8009 feat:图片缩略图占位图地址栏添加fx;占位图支持取fx变量
  packages/amis-editor/src/plugin/Image.tsx
  packages/amis/src/renderers/Image.tsx
Labels: feat

#8268 fix:下拉选择上下文支持labelField和valueField
  packages/amis-editor/src/plugin/Form/ButtonGroupSelect.tsx
  packages/amis-editor/src/plugin/Form/ChainedSelect.tsx
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
  packages/amis-editor/src/plugin/Form/InputTag.tsx
  packages/amis-editor/src/plugin/Form/InputText.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/ListSelect.tsx
  packages/amis-editor/src/plugin/Form/NestedSelect.tsx
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis-editor/src/plugin/Form/Radios.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/plugin/Form/TabsTransfer.tsx
  packages/amis-editor/src/plugin/Form/Transfer.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
Labels: fix

#8272 fix:修复弹窗自定义宽度时媒体查询max-width限制宽度显示
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-editor/src/plugin/Drawer.tsx
  packages/amis-editor/src/tpl/options.tsx
  packages/amis-ui/scss/components/_modal.scss
  packages/amis-ui/src/components/Modal.tsx
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix
