Repository baidu/amis, pull requests merged in 2023-10, with the labels that each got.

#8296 style: 优化组合条件或\且选择样式 (#8214)
  packages/amis-ui/scss/components/_condition-builder.scss
Labels: style

#8247 fix: table组件 rowClassNameExpr 优先级
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/TableRow.tsx
Labels: fix

#8297 fix: 修复表单保存成功可能导致 combo 中新增部分重置的问题
  packages/amis-core/src/store/formItem.ts
Labels: fix

#8287 fix(amis-editor): 补充国际化预料，并发版5.6.1
  packages/amis-editor-core/package.json
  packages/amis-editor-core/src/locale/en-US.ts
  packages/amis-editor-core/src/locale/zh-CN.ts
  packages/amis-editor/package.json
  packages/amis-editor/src/locale/en-US.ts
  packages/amis-editor/src/locale/zh-CN.ts
  packages/amis/src/renderers/List.tsx
Labels: fix

#8300 fix: 修复 combo 表单项中存在同名表单项时内部表单项值被覆盖的问题
  packages/amis-core/src/WithStore.tsx
  packages/amis/__tests__/renderers/Form/combo.test.tsx
Labels: fix

#8279 fix: 数字输入框禁用时单位选择也禁用
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#8270 style: 修复toast组件info和success级别下body字体大小不一致的问题
  packages/amis-ui/scss/_components.scss
Labels: style

#8286 feat: export-excel 初步支持总结行 Closes #2911
  examples/components/CRUD/ExportCSVExcel.jsx
  packages/amis/src/renderers/Table/exportExcel.ts
Labels: feat

#8278 feat: 列表类组件支持更新指定行记录 Close #8258
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/form/combo.md
  docs/zh-CN/components/form/input-table.md
  docs/zh-CN/components/table.md
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#8302 fix: 修复嵌套模式当列隐藏时不显示展开按钮问题 Close: #8301
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/Table/Cell.tsx
Labels: fix

#8305 styles: 优化combo组件tabs模式下样式问题
  packages/amis-ui/scss/components/form/_combo.scss
  packages/amis/src/renderers/Form/Combo.tsx
Labels: style

#8309 chore(editor): 优化editor侧边栏拖拽卡顿问题
  packages/amis-editor-core/src/component/base/WidthDraggableBtn.tsx
Labels: chore

#8288 fix: 修复inputNumber配置面板在配置校验触发规则没有生效的问题
  packages/amis-editor/src/renderer/FormulaControl.tsx
Labels: fix

#8289 fix: 修复pm分支 inputNumber配置面板在配置校验触发规则没有生效的问题
  packages/amis-editor/src/renderer/FormulaControl.tsx
Labels: fix

#8313 fix(amis-editor): 数据源构造器 match 规则，分页组件面板控件样式错误问题
  packages/amis-editor-core/scss/control/_crud2-control.scss
  packages/amis-editor/src/builder/ApiDSBuilder.ts
  packages/amis-editor/src/builder/DSBuilderManager.ts
  packages/amis-editor/src/plugin/Pagination.tsx
Labels: fix

#8314 fix: 公式编辑器弹窗，会缓存已删除的内容
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/renderer/textarea-formula/FormulaPicker.tsx
Labels: fix

#8303 chore: table、表单渲染性能优化、一些问题修复
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/table.md
  examples/components/CRUD/Nested.jsx
  examples/components/CRUD/SimplePager.tsx
  examples/components/Example.jsx
  mock/cfc/mock/sample.db.js
  mock/cfc/mock/sample.js
  packages/amis-core/__tests__/helper.tsx
  packages/amis-core/package.json
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/components/LazyComponent.tsx
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/store/root.ts
  packages/amis-core/src/store/table.ts
  packages/amis-core/src/utils/debug.tsx
  packages/amis-core/src/utils/helper.ts
  packages/amis-core/src/utils/resize-sensor.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_chart.scss
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/src/components/Combo.tsx
  packages/amis-ui/src/components/Pagination.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/__tests__/event-action/renderers/__snapshots__/crud.test.tsx.snap
  packages/amis/__tests__/event-action/renderers/form/form.test.tsx
  packages/amis/__tests__/helper.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/Form/combo.test.tsx
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/__tests__/renderers/Form/static.test.tsx
  packages/amis/__tests__/renderers/Pagination.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/package.json
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Nav.tsx
  packages/amis/src/renderers/QuickEdit.tsx
  packages/amis/src/renderers/Table/AutoFilterForm.tsx
  packages/amis/src/renderers/Table/Cell.tsx
  packages/amis/src/renderers/Table/ColGroup.tsx
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: chore

#8318 styles: 优化图片上传\表单label样式
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_image.scss
Labels: style

#8315 fix: 修复table rowClassNameExpr一般背景样式不生效问题
  packages/amis-ui/scss/components/_table.scss
Labels: fix

#8321 fix(editor): 修复style2themecss报错问题
  packages/amis-editor-core/src/util.ts
Labels: fix, style

#8319 fix: 修复steps title展示[object object]问题
  packages/amis-ui/src/components/Steps.tsx
  packages/amis/__tests__/renderers/__snapshots__/Steps.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Wizard.test.tsx.snap
Labels: fix

#8324 fix: CURD组件设置查询字段数据域二次同步导致渲染错误问题
  docs/zh-CN/components/crud.md
  packages/amis/src/renderers/Table/AutoFilterForm.tsx
Labels: fix

#8323 fix: 文字外观去掉vertical-align
  packages/amis-editor/src/plugin/Tpl.tsx
Labels: fix

#8326 fix: 修复在 toolbar 中的 form 值变化回显不正确的问题
  packages/amis-core/src/WithStore.tsx
  vite.config.ts
Labels: fix

#8327 fix: 修复inputTable当前页数据删除完无法自动调整到上一页问题
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#8325 styles: table tr样式优先级调整
  packages/amis-ui/scss/components/_table.scss
Labels: style

#8316 feat: 「页面设计器」组件搜索框支持不输入"-"进行搜索
  packages/amis-editor-core/src/component/base/SearchCustomRendererPanel.tsx
  packages/amis-editor-core/src/component/base/SearchPanel.tsx
  packages/amis-editor-core/src/store/editor.ts
Labels: feat

#8317 fix: 数据配置外部接口添加防抖处理，避免输入内容错乱
  packages/amis-editor/src/renderer/APIControl.tsx
  packages/amis-editor/src/renderer/OptionControl.tsx
Labels: fix

#8328 fix: 修复在 toolbar 中的 form 值变化回显不正确的问题、inputTable当前页数据删除完无法自动调整到上一页问题
  packages/amis-core/src/WithStore.tsx
  packages/amis/__tests__/renderers/Form/combo.test.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  vite.config.ts
Labels: fix

#8333 chore:调整formula-editor中数组变量成员快捷列表文字为左对齐
  packages/amis-ui/scss/components/_formula.scss
Labels: chore

#8330 fix: 修复icon组件设置外观不生效问题
  packages/amis-editor/src/plugin/Icon.tsx
  packages/amis-ui/scss/components/form/_icon-select.scss
  packages/amis/src/renderers/Icon.tsx
Labels: fix

#8335 fix: 弹窗外观文字去掉vertical
  packages/amis-editor/src/plugin/Dialog.tsx
  packages/amis-editor/src/plugin/Tpl.tsx
Labels: fix

#8331 fix: 表单配置面板-可见 配置项默认开启
  packages/amis-editor/src/renderer/StatusControl.tsx
  packages/amis-editor/src/tpl/common.tsx
Labels: fix

#8337 fix: 事件动作组件变量赋值编辑后回显错误
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#8340 chore: 添加补丁修复存量配置中存在无用主题属性问题
  packages/amis-editor-core/src/util.ts
Labels: chore

#8329 chore: 调整选项搜索策略改成 contains 更加精准
  packages/amis-core/src/store/crud.ts
  packages/amis-editor/src/renderer/DataBindingControl.tsx
  packages/amis-ui/src/components/DropDownSelection.tsx
  packages/amis-ui/src/components/InputBoxWithSuggestion.tsx
  packages/amis-ui/src/components/SelectMobile.tsx
  packages/amis-ui/src/components/formula/VariableList.tsx
  packages/amis/src/renderers/Form/IconPicker.tsx
  packages/amis/src/renderers/Form/IconSelect.tsx
  packages/amis/src/renderers/Form/InputText.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/NestedSelect.tsx
  packages/amis/src/renderers/Form/TabsTransfer.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: chore

#8336 docs: API文档错别字修复
  docs/zh-CN/types/api.md
Labels: doc

#8343 chore: 优化 name 中直接写表达式用法
  packages/amis-core/src/utils/helper.ts
Labels: chore

#8332 fix: 修复固定表头不生效问题
  packages/amis-core/src/store/table.ts
  packages/amis-ui/scss/components/_table.scss
Labels: fix

#8347 styles: 修复textarea组件在设置size时底线消失问题
  packages/amis-ui/scss/components/form/_textarea.scss
Labels: style

#8341 fix: 组合穿梭器 预览拖拽排序已选项 页面有弹框提醒
  packages/amis-editor-core/src/component/Preview.tsx
Labels: fix

#8353 fix: 页面设计器组件搜索改用matchSorter
  packages/amis-editor-core/src/component/base/SearchPanel.tsx
  packages/amis-editor-core/src/store/editor.ts
Labels: fix

#8351 feat: loadDataOnceFetchOnFilter 可以控制列的 searchable 或者 filterable 或者 se…
  docs/zh-CN/components/crud.md
  packages/amis-core/src/store/crud.ts
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
Labels: feat

#8349 fix: 修复table columns、tableLayout属性变化realWidth未更新
  packages/amis-core/src/store/table.ts
Labels: fix

#8356 fix: 将页面设计器最近的改动同步给PageMaker分支
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/component/base/SearchPanel.tsx
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor/src/plugin/Form/ButtonGroupSelect.tsx
  packages/amis-editor/src/plugin/Form/ChainedSelect.tsx
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
  packages/amis-editor/src/plugin/Form/InputCity.tsx
  packages/amis-editor/src/plugin/Form/InputDate.tsx
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
  packages/amis-editor/src/plugin/Form/InputTag.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/ListSelect.tsx
  packages/amis-editor/src/plugin/Form/NestedSelect.tsx
  packages/amis-editor/src/plugin/Form/Radios.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/plugin/Form/Transfer.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
  packages/amis-editor/src/plugin/Pagination.tsx
  packages/amis-editor/src/renderer/APIControl.tsx
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/OptionControl.tsx
  packages/amis-editor/src/renderer/StatusControl.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-editor/src/renderer/textarea-formula/FormulaPicker.tsx
  packages/amis-editor/src/tpl/common.tsx
Labels: fix

#7990 feat: options类文本过长，显示优化
  packages/amis-ui/scss/components/form/_result-list.scss
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/src/components/ChainedSelection.tsx
  packages/amis-ui/src/components/GroupedSelection.tsx
  packages/amis-ui/src/components/ResultList.tsx
  packages/amis-ui/src/components/Selection.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis-ui/src/components/TreeSelection.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/transfer.test.tsx
  packages/amis/src/renderers/Form/TabsTransfer.tsx
  packages/amis/src/renderers/Form/TabsTransferPicker.tsx
Labels: awaiting-final-review, feat

#8359 fix: nextjs13环境下formulaControl组件popOverContainer 写死，导致编辑器出现死循环bug Close:#8355
  packages/amis-core/src/utils/helper.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/FormulaControl.tsx
Labels: bug, fix

#8361 fix: return trabslateScahema函数
  packages/amis-editor/src/renderer/FormulaControl.tsx
Labels: fix

#8364 fix: 修复 input-table 中存在公式表达式值没有及时更新的问题 Close: #8263
  examples/components/CRUD/List.jsx
  packages/amis-core/src/WithStore.tsx
  packages/amis-core/src/store/crud.ts
Labels: fix

#8367 fix: formulaControl去除rendererSchema对popOverContainer的配置
  packages/amis-editor/src/renderer/FormulaControl.tsx
Labels: fix

#8370 feat: 表达式新增幂函数(Math.pow)
  packages/amis-formula/__tests__/evalute.test.ts
  packages/amis-formula/src/doc.md
  packages/amis-formula/src/doc.ts
  packages/amis-formula/src/evalutor.ts
Labels: feat

#8360 chore: 调整列的快速搜索逻辑干掉之前没清理干净的排序相关逻辑 Close: #8342
  packages/amis/src/renderers/Table/HeadCellSearchDropdown.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#8371 chore: 修复 downshift 使用 es6 语法导致
  fis-conf.js
Labels: chore

#8369 fix: 修复 react-json-view import 异常 Close: #8145
  packages/amis-core/src/utils/debug.tsx
  packages/amis-core/src/utils/helper.ts
  packages/amis-editor-core/src/plugin/DataDebug.tsx
  packages/amis/src/renderers/Json.tsx
Labels: fix

#8354 fix: Form组件配置页面跳转事件可能会导致持久化数据无法清除问题
  packages/amis-core/src/renderers/Form.tsx
Labels: fix

#8372 fix: table2单元格宽度自适应、嵌套数据展示等问题修复
  docs/zh-CN/components/table2.md
  packages/amis-core/src/store/table2.ts
  packages/amis-ui/scss/components/_table2.scss
  packages/amis-ui/src/components/table/Cell.tsx
  packages/amis-ui/src/components/table/ColGroup.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#8365 fix: 修复 REPLACE 公式第二个参数是空字符串时导致的死循环问题 Close: #8200
  packages/amis-formula/src/evalutor.ts
Labels: fix

#8374 fix:修复组件特性动作无法选中弹窗之外组件的兼容
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/event-control/action-config-panel.tsx
  packages/amis-editor/src/renderer/event-control/comp-action-select.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#8380 chore(editor): style中的backgroun-color转为themeCss中的background
  packages/amis-editor-core/src/util.ts
Labels: chore, style

#8358 feat: divider支持带文字配置
  docs/zh-CN/components/divider.md
  packages/amis-editor/src/plugin/Divider.tsx
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_divider.scss
  packages/amis/src/renderers/Divider.tsx
Labels: feat

#8394 feat: input-table增加是否展示列开关配置项, table更新配置项交互
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Table.tsx
Labels: feat

#8399 fix: 修复复用的 contextmenu 实例可能已销毁的问题
  packages/amis-ui/src/components/Alert.tsx
  packages/amis-ui/src/components/ContextMenu.tsx
Labels: fix

#8377 fix: 修复 crud 中使用 pagination 配置 showPerPage 无效问题 Close: #8373
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#8378 fix: 修复 dialog title 为空时 showButtonClose 开启不显示关闭按钮的问题 Close: #8108
  packages/amis-ui/scss/components/_modal.scss
  packages/amis-ui/src/components/icons.tsx
Labels: fix

#8390 fix: 修复 crud column 中 searchable 表单项为 input-date-range 时重置无法重置 extraName Close: #8389
  lerna.json
  packages/amis-core/package.json
  packages/amis-core/src/store/form.ts
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
  packages/amis/src/renderers/Table/HeadCellSearchDropdown.tsx
Labels: fix

#8387 fix #8383 修复Form 表单项设置validateOnChange，初始化 initApi后，validate被触发
  packages/amis-core/src/store/form.ts
Labels: fix

#8392 feat: classname 配置中类名支持表达式 Close: #8388
  docs/zh-CN/types/classname.md
  packages/amis-core/src/utils/filter-schema.ts
  packages/amis-core/src/utils/helper.ts
Labels: feat

#8385 feat: formula 取 cookie, localstorage, sessionstorage支持 &['xxx'] 来获取复杂变量名数据 Close: #8376
  packages/amis-formula/__tests__/async-evalute.test.ts
  packages/amis-formula/__tests__/evalute.test.ts
  packages/amis-formula/src/evalutor.ts
  packages/amis-ui/package.json
  packages/amis/package.json
Labels: feat

#8402 fix(amis-editor): Form & CRUD2脚手架使用api数据源时无法新增字段问题
  packages/amis-editor-core/scss/control/_crud2-control.scss
  packages/amis-editor/src/renderer/FieldSetting.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#8407 styles: 优化combo组件tabs模式下样式问题
  packages/amis-ui/scss/components/form/_combo.scss
  packages/amis/src/renderers/Form/Combo.tsx
Labels: style

#8416 chore: 锁定codemirror声明版本5.60.10，避免不兼容升级
  packages/amis-editor-core/package.json
  packages/amis-editor/package.json
  packages/amis/package.json
Labels: chore

#8419 fix: editor组件面板排序问题
  packages/amis-editor-core/scss/control/_formula-control.scss
  packages/amis-editor-core/src/component/base/SearchPanel.tsx
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor/src/locale/en-US.ts
Labels: fix

#8414 chore:同步table性能优化
  docs/zh-CN/components/table.md
  examples/components/CRUD/Nested.jsx
  mock/cfc/mock/sample.db.js
  packages/amis-core/__tests__/helper.tsx
  packages/amis-core/package.json
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/components/LazyComponent.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/store/root.ts
  packages/amis-core/src/store/table.ts
  packages/amis-core/src/utils/debug.tsx
  packages/amis-core/src/utils/helper.ts
  packages/amis-core/src/utils/resize-sensor.ts
  packages/amis-editor-core/package.json
  packages/amis-editor/package.json
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_chart.scss
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/__tests__/event-action/renderers/__snapshots__/crud.test.tsx.snap
  packages/amis/__tests__/helper.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/package.json
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/QuickEdit.tsx
  packages/amis/src/renderers/Table/AutoFilterForm.tsx
  packages/amis/src/renderers/Table/Cell.tsx
  packages/amis/src/renderers/Table/ColGroup.tsx
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#8421 fix: combo、toolbar等问题修复
  examples/components/CRUD/List.jsx
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/WithStore.tsx
  packages/amis-core/src/store/crud.ts
  packages/amis/__tests__/renderers/Form/combo.test.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  vite.config.ts
Labels: fix

#8423 fix: editor组件面板排序问题
  packages/amis-editor-core/src/component/base/SearchPanel.tsx
  packages/amis-editor-core/src/store/editor.ts
Labels: fix

#8422 fix: 同步crud、inputtable、form、nav的一些问题修复
  docs/zh-CN/components/crud.md
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/formItem.ts
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/src/components/Combo.tsx
  packages/amis/__tests__/event-action/renderers/form/form.test.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/__tests__/renderers/Form/static.test.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Nav.tsx
  packages/amis/src/renderers/QuickEdit.tsx
  packages/amis/src/renderers/Table/AutoFilterForm.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#8424 fix: className为对象且下发给子组件时表达式计算错误问题
  packages/amis-core/src/utils/filter-schema.ts
  packages/amis/__tests__/renderers/Card.test.tsx
  packages/amis/src/renderers/Card.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/DropDownButton.tsx
  packages/amis/src/renderers/List.tsx
Labels: fix

#8431 fix: editor组件面板排序问题
  packages/amis-editor-core/src/component/base/SearchPanel.tsx
  packages/amis-editor-core/src/store/editor.ts
Labels: fix

#8434 fix(editor): 修复antd主题下button主题选择无样式问题 Close#8413
  packages/amis-editor-core/scss/components/_button.scss
  packages/amis-editor/src/tpl/common.tsx
Labels: fix, amis-editor

#8443 fix: editor manager getContentSchemas 中 type 获取问题
  packages/amis-editor-core/src/manager.ts
Labels: fix

#8445 feat: InputExcel组件支持autoFill Close: #8432
  docs/zh-CN/components/form/input-excel.md
  docs/zh-CN/components/form/options.md
  packages/amis/src/renderers/Form/InputExcel.tsx
Labels: feat

#8437 feat(amis-editor): inputNumber unitOptions支持key-value形式，修复value是number时错误相加问题，新增配置面板编辑时组件实时更新
  packages/amis-editor/src/plugin/Form/InputNumber.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: feat

#8451 fix: input-number 光标漂移问题
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#8463 feat: 同步pagemaker以下功能: inputNumber单位选项支持key/value; inputTable增加是否展示列开…
  packages/amis-editor-core/scss/control/_key-value-map-control.scss
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/plugin/Cards.tsx
  packages/amis-editor/src/plugin/DropDownButton.tsx
  packages/amis-editor/src/plugin/Each.tsx
  packages/amis-editor/src/plugin/Form/DiffEditor.tsx
  packages/amis-editor/src/plugin/Form/FieldSet.tsx
  packages/amis-editor/src/plugin/Form/Hidden.tsx
  packages/amis-editor/src/plugin/Form/InputCity.tsx
  packages/amis-editor/src/plugin/Form/InputColor.tsx
  packages/amis-editor/src/plugin/Form/InputDate.tsx
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
  packages/amis-editor/src/plugin/Form/InputGroup.tsx
  packages/amis-editor/src/plugin/Form/InputNumber.tsx
  packages/amis-editor/src/plugin/Form/InputRepeat.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Form/InputTag.tsx
  packages/amis-editor/src/plugin/Form/InputText.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/plugin/Form/Textarea.tsx
  packages/amis-editor/src/plugin/Form/UUID.tsx
  packages/amis-editor/src/plugin/Grid.tsx
  packages/amis-editor/src/plugin/Log.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/plugin/TableView.tsx
  packages/amis-editor/src/plugin/Tasks.tsx
  packages/amis-editor/src/plugin/TooltipWrapper.tsx
  packages/amis-editor/src/renderer/KeyValueMapControl.tsx
  packages/amis-editor/src/tpl/options.tsx
Labels: feat

#8461 feat: 组件增加searchKeywords,使得编辑器组件的名称和amis文档保持一致
  packages/amis-editor/src/plugin/Cards.tsx
  packages/amis-editor/src/plugin/DropDownButton.tsx
  packages/amis-editor/src/plugin/Each.tsx
  packages/amis-editor/src/plugin/Form/DiffEditor.tsx
  packages/amis-editor/src/plugin/Form/FieldSet.tsx
  packages/amis-editor/src/plugin/Form/Hidden.tsx
  packages/amis-editor/src/plugin/Form/InputCity.tsx
  packages/amis-editor/src/plugin/Form/InputColor.tsx
  packages/amis-editor/src/plugin/Form/InputDate.tsx
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
  packages/amis-editor/src/plugin/Form/InputGroup.tsx
  packages/amis-editor/src/plugin/Form/InputNumber.tsx
  packages/amis-editor/src/plugin/Form/InputRepeat.tsx
  packages/amis-editor/src/plugin/Form/InputTag.tsx
  packages/amis-editor/src/plugin/Form/InputText.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/plugin/Form/Textarea.tsx
  packages/amis-editor/src/plugin/Form/UUID.tsx
  packages/amis-editor/src/plugin/Grid.tsx
  packages/amis-editor/src/plugin/Log.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/TableView.tsx
  packages/amis-editor/src/plugin/Tasks.tsx
  packages/amis-editor/src/plugin/TooltipWrapper.tsx
Labels: feat

#8469 fix: input-date 静态展示问题 Close: #8458
  packages/amis/src/renderers/Form/StaticHoc.tsx
Labels: fix

#8436 fix: 修复 inputTable 中自动计算值更新不正确的问题 Close:#8263
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/QuickEdit.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#8438 fix: 修复 combo 的 unique 模式 选项是个树形结构时的异常 Close: #8085
  packages/amis-core/src/store/combo.ts
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/utils/helper.ts
Labels: fix

#8468 style: select 的其他模式值显示超长时与默认模式保持统一 Close: #4514
  packages/amis-ui/scss/components/_result-box.scss
  packages/amis-ui/src/components/ResultBox.tsx
Labels: style

#8439 fix: 修复 searchable 在 sdk 中弹窗层被挡住问题 & 配置为 input-group 换行问题
  packages/amis/src/renderers/Table/HeadCellSearchDropdown.tsx
Labels: fix

#8472 feat: tinymce 编辑器当配置文件接收器为空时图片上传改成 base64 模式 Close: #6220
  docs/zh-CN/components/form/input-rich-text.md
  packages/amis/src/renderers/Form/InputRichText.tsx
Labels: feat

#8471 feat: api 文件下载文件名识别忽略大小写同时支持前端指定 Close: #6177
  docs/zh-CN/components/action.md
  examples/components/Play.jsx
  examples/embed.tsx
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/attachmentAdpator.ts
  packages/amis-core/src/utils/handleAction.ts
  packages/amis-editor-core/src/env.ts
  packages/amis/src/Schema.ts
  packages/amis/src/renderers/Action.tsx
Labels: feat

#8470 chore: 调整 crud source 模式与 loadDataOnce 行为一致 Close: #6040
  packages/amis-core/src/store/crud.ts
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
Labels: chore

#8466 fix: 修复sdk报错问题 Close: #8464
  packages/amis-core/src/components/CustomStyle.tsx
Labels: fix

#8440 fix: 修复 嵌套模式标题字段的判断 Close: #8386
  packages/amis-core/src/store/table.ts
Labels: fix

#8442 chore: 图片放大器点击阴影可关闭 Close: #8420
  packages/amis-ui/src/components/ImageGallery.tsx
Labels: chore

#8444 fix: 修复 app 模式 bcn 中存在动态路径问题 Close: #8012
  packages/amis-core/src/store/app.ts
  packages/amis-core/src/utils/helper.ts
Labels: fix

#8446 feat: jump 补充第三个参数信息 Close: #2936
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/store/app.ts
  packages/amis/src/renderers/App.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Card.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/Nav.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Service.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: feat

#8447 fix: 修复app 模式渲染菜单报 key 重复的 warning
  packages/amis/src/renderers/App.tsx
Labels: fix

#8462 feat: inputFile & inputImage 开放 capture 属性可以用于配置移动端拍照行为 Close: #4330
  docs/zh-CN/components/form/input-file.md
  docs/zh-CN/components/form/input-image.md
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: feat

#8465 feat: input-text 支持配置 nativeAutoComplete 比如可用来配置支持浏览器生成默认密码 Close: #4471
  docs/zh-CN/components/form/input-text.md
  packages/amis/src/renderers/Form/InputText.tsx
Labels: feat

#8403 fix(amis-editor): Form & CRUD2脚手架使用api数据源时无法新增字段问题
  packages/amis-editor-core/scss/control/_crud2-control.scss
  packages/amis-editor/src/renderer/FieldSetting.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#8452 feat: 表单项支持动态 name 可搭配 each 一起使用 Close: #4212
  docs/zh-CN/components/each.md
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis/__tests__/renderers/Form/formitem.test.tsx
  packages/amis/src/renderers/Each.tsx
Labels: feat

#8476 feat: 扩展mountIconSpriteToDom方法
  packages/amis/src/renderers/Form/IconSelectStore.tsx
Labels: feat

#8435 feat: inputNumber配置单位支持label/value这种配置,显示和给后端的单位区分开
  packages/amis-editor-core/scss/control/_key-value-map-control.scss
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/plugin/Form/InputNumber.tsx
  packages/amis-editor/src/renderer/KeyValueMapControl.tsx
  packages/amis-editor/src/tpl/options.tsx
Labels: feat

#8481 fix: 遍历key && 无数据时展示0
  packages/amis-editor/src/renderer/KeyValueMapControl.tsx
Labels: fix

#8487 fix: 解决表单项 pipeIn 和 pipeOut 的 this 丢失
  packages/amis-core/src/renderers/wrapControl.tsx
Labels: fix

#8486 fix: 兼容事件动作中schema没有actions的情况
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#8478 chore(amis-editor): Form配置面板删除多余的labelAlign控件
  packages/amis-editor/src/plugin/Form/Form.tsx
Labels: chore

#8491 Revert "chore: combo 中减少表单项重绘"
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/WithStore.tsx
  packages/amis/src/renderers/Form/Combo.tsx
Labels: chore

#8473 docs: 补充自定义 fetcher 时可能漏了 attachmentAdpator 实现的说明文档
  docs/zh-CN/types/api.md
  examples/components/SchemaRender.jsx
  mock/cfc/index.js
  mock/cfc/mock/download.zip
  mock/cfc/mock/index.js
  mock/index.js
Labels: doc

#8500 feat: CRUD组件支持开启syncLocation后解析Query中的原始类型数据
  docs/zh-CN/components/crud.md
  examples/components/CRUD/ParsePrimitiveQuery.jsx
  examples/components/Example.jsx
  mock/cfc/mock/crud/table5.js
  packages/amis-core/src/utils/helper.ts
  packages/amis/src/renderers/CRUD.tsx
Labels: feat

#8433 feat:富文本和分页组件添加change事件
  docs/zh-CN/components/form/input-rich-text.md
  docs/zh-CN/components/pagination.md
  packages/amis-editor/src/plugin/Form/InputRichText.tsx
  packages/amis-editor/src/plugin/Pagination.tsx
  packages/amis-ui/src/components/Pagination.tsx
  packages/amis/__tests__/event-action/renderers/pagination.test.tsx
  packages/amis/__tests__/renderers/Pagination.test.tsx
  packages/amis/src/renderers/Form/InputRichText.tsx
Labels: feat

#8506 feat:富文本和分页组件事件面板新增change事件
  docs/zh-CN/components/form/input-rich-text.md
  docs/zh-CN/components/pagination.md
  packages/amis-editor/src/plugin/Form/InputRichText.tsx
  packages/amis-editor/src/plugin/Pagination.tsx
  packages/amis-ui/src/components/Pagination.tsx
  packages/amis/__tests__/event-action/renderers/pagination.test.tsx
  packages/amis/__tests__/renderers/Pagination.test.tsx
  packages/amis/src/renderers/Form/InputRichText.tsx
Labels: feat

#8514 chore: 规范自定义样式生成id
  packages/amis-core/src/utils/style-helper.ts
Labels: chore

#8501 chore: api 对象中添加 context 变量支持全局适配器获取原始上下文数据
  docs/zh-CN/start/getting-started.md
  docs/zh-CN/types/api.md
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/api.ts
  packages/amis/__tests__/renderers/Form/__snapshots__/index.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/initData.test.tsx.snap
Labels: chore

#8505 fix: 修复位运算与过滤器冲突问题 Close: #8391
  packages/amis-formula/__tests__/evalute.test.ts
  packages/amis-formula/__tests__/lexer.test.ts
  packages/amis-formula/__tests__/parser.test.ts
  packages/amis-formula/src/lexer.ts
  packages/amis-formula/src/types.ts
Labels: fix

#8497 style: inputTree 节点操作按钮根据规范改成左对齐 Close: #6273
  packages/amis-ui/scss/components/form/_tree.scss
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
Labels: style

#8490 chore: 补充缺失依赖信息 Close: #8477
  packages/amis-core/package.json
Labels: chore

#8510 feat: env.replaceTextIgnoreKeys 支持函数 Close: #7035
  docs/zh-CN/start/getting-started.md
  packages/amis-core/src/env.tsx
  packages/amis-core/src/utils/replaceText.ts
Labels: feat

#8507 fix(amis-editor): 日期组件配置面板格式初始值不正确
  packages/amis-editor/src/plugin/Form/InputDate.tsx
Labels: fix

#8352 chore(amis-editor): Form配置面板支持持久化数据相关配置
  packages/amis-editor/src/plugin/Form/Form.tsx
Labels: chore

#8517 feat: CRUD & Table 嵌套支持懒加载 Close: #8411
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/table.md
  examples/components/CRUD/Nested.jsx
  mock/cfc/mock/crud/table6.js
  mock/cfc/mock/index.js
  packages/amis-core/src/store/table.ts
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Table/Cell.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#8515 fix: 处理input-number单位选项交互;input-table展示列配置项位置处理 & progress组件配置面板去除模版配置项 feat：组件状态支持"可见"配置项
  packages/amis-editor/src/component/BaseControl.ts
  packages/amis-editor/src/plugin/Form/InputNumber.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Nav.tsx
  packages/amis-editor/src/plugin/Progress.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-editor/src/tpl/options.tsx
Labels: feat, fix

#8475 fix：打开页面动作迁移到平台；组件特性动作-变量赋值修改后shcema不生效
  packages/amis-editor/src/renderer/event-control/comp-action-select.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#8494 fix：打开页面动作迁移到平台；组件特性动作-变量赋值修改后shcema不生效
  packages/amis-editor/src/renderer/event-control/comp-action-select.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#8524 fix: 修复 crud 点选出现无限循环的问题 Close: #8523
  packages/amis-core/src/store/formItem.ts
Labels: fix

#8467 feat: Nav组件支持搜索
  docs/zh-CN/components/nav.md
  packages/amis-ui/scss/components/_nav.scss
  packages/amis/__tests__/renderers/Nav.test.tsx
  packages/amis/src/renderers/Nav.tsx
Labels: feat

#8474 chore: Wizard组件在第一步时可以隐藏默认prev按钮，按钮数据域支持currentStep
  docs/zh-CN/components/wizard.md
  packages/amis/__tests__/renderers/__snapshots__/Wizard.test.tsx.snap
  packages/amis/src/renderers/Wizard.tsx
Labels: chore

#8056 fix: 修复 table 组件提前映射了 lable, 导致 label 使用数据容器获取到的远程数据时无法正确获取到值的问题
  packages/amis-core/src/store/table.ts
Labels: fix

#8535 feat:input-file样式调整
  packages/amis-ui/scss/components/form/_file.scss
  packages/amis/src/renderers/Form/InputFile.tsx
Labels: feat

#8527 fix: Cards & Operation组件配置面板去除“新增按钮”配置项
  packages/amis-editor/src/plugin/Card.tsx
  packages/amis-editor/src/plugin/Operation.tsx
Labels: fix

#8522 feat: InputFile组件样式调整
  packages/amis-ui/scss/components/form/_file.scss
  packages/amis/src/renderers/Form/InputFile.tsx
Labels: awaiting-final-review, feat

#8532 fix: 修复 $ref 在表格的 table 中时 label 不展示的问题 Close: #1121
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/Table/index.tsx
Labels: awaiting-final-review, fix

#8537 fix: 修复两层弹窗里面都放 crud , 里面的弹窗确认同时关闭外层弹窗的问题 Close: #1405
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: awaiting-final-review, fix

#8553 fix: 修复 formItem label 做两次变量替换的问题同时优化 label 描述中取当前数据的及时性问题
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/formItem.ts
  packages/amis/__tests__/renderers/Form/formitem.test.tsx
  packages/amis/__tests__/renderers/Form/inputDate.test.tsx
Labels: awaiting-final-review, fix

#8529 fix: 修复合并单元模式表格行延时渲染没有渲染对单元格数量问题
  packages/amis/src/renderers/Table/TableRow.tsx
Labels: awaiting-final-review, fix

#8526 feat: 日期展示类组件支持配置时区 Close: #1096
  docs/zh-CN/components/date.md
  packages/amis/src/renderers/Date.tsx
Labels: awaiting-final-review, feat

#8533 feat: inputTag 支持边输入边搜索 Close: #1124
  packages/amis/src/renderers/Form/InputTag.tsx
Labels: awaiting-final-review, feat

#8539 fix(input-table): 修复inputTable组件中使用combo，值为数组merge问题Close: #7921
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#8561 fix: 修复引入 moment-timezone 后文档页面报错 Close:#8560
  fis-conf.js
Labels: fix

#8558 feat(amis-editor): Picker配置面板升级
  docs/zh-CN/components/date.md
  fis-conf.js
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-editor/src/locale/en-US.ts
  packages/amis-editor/src/locale/zh-CN.ts
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis-ui/scss/components/form/_picker.scss
  packages/amis/__tests__/renderers/Form/formitem.test.tsx
  packages/amis/__tests__/renderers/Form/inputDate.test.tsx
  packages/amis/src/renderers/Date.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Form/InputTag.tsx
  packages/amis/src/renderers/Form/Picker.tsx
  packages/amis/src/renderers/Form/StaticHoc.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
Labels: feat

#8555 fix: 修复 tabs 下表单项禁用状态判断可能不正确的问题
  packages/amis/__tests__/event-action/disabled.test.tsx
  packages/amis/__tests__/renderers/Form/formitem.test.tsx
  packages/amis/src/renderers/Tabs.tsx
Labels: fix

#8556 feat: CRUD支持matchFunc，用于前端分页的搜索匹配函数
  docs/zh-CN/components/crud.md
  examples/components/CRUD/MatchFunc.jsx
  examples/components/Example.jsx
  mock/cfc/mock/crud/loadDataOnce.js
  packages/amis-core/src/store/crud.ts
  packages/amis/src/renderers/CRUD.tsx
Labels: feat

#8568 docs: 修正表格2组件的文档链接
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
Labels: doc
