Repository baidu/amis, pull requests merged in 2023-02, with the labels that each got.

#6114 styles: 优化图片上传组件图标样式
  packages/amis-ui/scss/components/form/_image.scss
  packages/amis-ui/src/icons/check.svg
  packages/amis-ui/src/icons/close.svg
  packages/amis-ui/src/icons/retry.svg
Labels: style

#6120 fix: 修复sdk导出报错问题
  examples/nav/index-vite.html
  examples/nav/index.tsx
  scripts/mockApiPlugin.ts
Labels: fix

#6122 fix: 修复 sdk 报 index.html 找不到的问题
  fis-conf.js
Labels: fix

#6134 feat:下拉框&时间/日期选择器主题适配
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_result-box.scss
  packages/amis-ui/scss/components/form/_date-range.scss
  packages/amis-ui/scss/components/form/_date.scss
  packages/amis-ui/scss/components/form/_location.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/scss/components/form/_tree.scss
  packages/amis-ui/scss/components/react-datetime.scss
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/datetime.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputDate.test.tsx.snap
  packages/amis/__tests__/renderers/Form/checkboxes.test.tsx
Labels: feat

#6086 docs: 修复ConditionBuilder文档中tree模式格式代码示例错误导致的下拉框无法被选中问题
  docs/zh-CN/components/form/condition-builder.md
Labels: doc

#6139 fix:icon兼容低版本浏览器
  packages/amis-ui/src/components/icons.tsx
Labels: fix

#6141 styles: 兼容Safari浏览器input元素disabled状态下文字颜色显示错误问题
  packages/amis-ui/scss/base/_normalize.scss
Labels: style

#6142 feat:下拉框主题样式优化
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis/__tests__/renderers/Carousel.test.tsx
Labels: feat

#6143 fix: tabs isObjectShallowModified 深层调用卡顿问题
  packages/amis-ui/src/components/Tabs.tsx
Labels: fix

#5844 styles: Tabs组件垂直模式时Table超出范围无法滚动问题
  examples/components/Tabs/Normal.jsx
  packages/amis-ui/scss/components/_tabs.scss
Labels: style

#5796 feat: Action组件支持isolateScope
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: feat

#6113 fix: Tree组件同时配置source & autoComplete时数据覆盖问题
  docs/zh-CN/components/form/treeselect.md
  mock/cfc/mock/tree/search.js
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: fix

#6104 fix: 表单项使用表达式默认值时联动计算结果无法触发校验问题
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/formItem.ts
Labels: fix

#6098 fix: 统一渲染流，补充loadingConfig文档
  docs/zh-CN/components/spinner.md
  packages/amis-ui/src/components/Spinner.tsx
Labels: fix

#6136 fix: 修复tabs 内的表单项无法设置 static 属性的问题
  packages/amis-core/src/renderers/Form.tsx
Labels: bug, fix

#6084 fix: tabs activeKey 表达式支持问题;增加defaultKey属性
  docs/zh-CN/components/tabs.md
  packages/amis-ui/src/components/Tabs.tsx
  packages/amis/src/renderers/Tabs.tsx
Labels: fix

#6146 chore: isValueSchemaExp可选参数声明问题
  packages/amis-core/src/store/formItem.ts
Labels: chore

#6147 fix: 修复输入框附加组件样式
  packages/amis-ui/scss/_components.scss
Labels: fix

#6148 fix: Nav组件问题修复
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/src/components/menu/SubMenu.tsx
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/src/renderers/DropDownButton.tsx
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#6151 fix: InputNumber清空输入导致字段值为empty string问题
  packages/amis-ui/src/components/NumberInput.tsx
Labels: fix

#6149 chore: 更新 nav 单测延迟的判断逻辑
  packages/amis/__tests__/renderers/Nav.test.tsx
Labels: chore

#6154 fix: 动态注册支持config配置
  packages/amis-core/src/renderers/register.ts
Labels: fix

#6187 chore: confirmBox 在确认过程中底下按钮应该禁用,以免重复提交, 同时解决 tabs 在 form 中 disabled …
  packages/amis-ui/src/components/ConfirmBox.tsx
  packages/amis/src/renderers/Tabs.tsx
Labels: chore

#6189 fix:恢复测试用例
  packages/amis/__tests__/renderers/Form/checkboxes.test.tsx
Labels: fix

#6193 chore: confirmBox 重新打开时清空错误
  packages/amis-ui/src/components/ConfirmBox.tsx
Labels: chore

#6182 fix: Nav无法展开、高亮不同步问题修复
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#6195 fix:crud2 支持 onQuery;loadMore动作支持
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#6197 docs:补充table事件文档&修复timeline文档问题
  docs/zh-CN/components/action.md
  docs/zh-CN/components/icon.md
  docs/zh-CN/components/table.md
  docs/zh-CN/components/tag.md
  docs/zh-CN/components/timeline.md
  docs/zh-CN/components/tpl.md
Labels: doc

#6198 docs:补充table事件动作文档
  docs/zh-CN/components/table.md
Labels: doc

#6166 fix: ChainedSelect 组件多展示一个空 Select
  packages/amis-ui/scss/components/form/_chained-select.scss
  packages/amis/__tests__/renderers/Form/__snapshots__/chainedSelect.test.tsx.snap
  packages/amis/__tests__/renderers/Form/chainedSelect.test.tsx
  packages/amis/src/renderers/Form/ChainedSelect.tsx
Labels: fix

#6169 chore: Timeline 组件单元测试补充
  docs/zh-CN/components/timeline.md
  packages/amis/__tests__/renderers/Timeline.test.tsx
Labels: chore

#6170 chore: Link 组件单元测试补充
  packages/amis/__tests__/renderers/Link.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Link.test.tsx.snap
Labels: chore

#6171 chore: Alert 组件单元测试补充
  packages/amis/__tests__/renderers/Alert.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Alert.test.tsx.snap
  packages/amis/src/renderers/Alert.tsx
Labels: chore

#6172 chore: List 组件单元测试补充
  packages/amis/__tests__/renderers/List.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/List.test.tsx.snap
Labels: chore

#6160 fix: 单独使用input-group&Combo静态展示不生效
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputGroup.tsx
Labels: fix

#6205 feat: Nav支持默认展开层级、样式问题修复
  packages/amis-ui/scss/components/_menu.scss
  packages/amis/src/renderers/Nav.tsx
Labels: feat

#6204 feat:formula补充一些数组函数
  packages/amis-formula/__tests__/evalute.test.ts
  packages/amis-formula/src/doc.md
  packages/amis-formula/src/doc.ts
  packages/amis-formula/src/evalutor.ts
Labels: feat

#6191 fix:恢复测试用例
  packages/amis/__tests__/renderers/Carousel.test.tsx
Labels: fix

#6211 feat: InputNumber支持clearValueOnEmpty
  docs/zh-CN/components/form/input-number.md
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: feat

#6206 feat: SearchBox支持清空内容后立即执行搜索
  docs/zh-CN/components/search-box.md
  packages/amis-ui/src/components/SearchBox.tsx
  packages/amis/src/renderers/SearchBox.tsx
Labels: feat

#6207 styles: 优化表单项label样式
  packages/amis-ui/scss/components/form/_form.scss
Labels: style

#6208 fix: input-table组件 修复静态（static）展示 和禁用（disabled）展示问题 && 支持表格底部按钮配置
  docs/zh-CN/components/form/input-table.md
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#6227 feat: Nav支持菜单项分组、修复一些问题
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/src/components/menu/SubMenu.tsx
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/src/renderers/DropDownButton.tsx
  packages/amis/src/renderers/Nav.tsx
Labels: feat

#6228 styles: InputFormula超长文本溢出问题
  docs/zh-CN/components/form/input-formula.md
  packages/amis-ui/scss/components/_formula.scss
Labels: style

#6233 styles: 优化表单项label样式
  packages/amis-ui/scss/components/form/_form.scss
Labels: style

#6235 fix: Nav分组缩起样式问题修复
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#6232 chore: 修复JsonSchemaEditor的ts warning问题
  packages/amis-ui/src/components/schema-editor/index.tsx
  packages/amis/src/renderers/Form/JSONSchemaEditor.tsx
Labels: chore

#6237 docs: 补充 echarts 点击事件的参数说明
  docs/zh-CN/components/chart.md
Labels: doc

#6236 chore: 优化接口报错的显示, 如果没有 msg 就显示 status, 默认开启网络请求的 debug 信息
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/utils/debug.tsx
Labels: chore

#6241 styles: 优化number组件hover样式
  packages/amis-ui/scss/components/form/_number.scss
Labels: style

#6161 feat: TreeSelect & InputTree支持menuTpl, enableDefaultIcon
  docs/zh-CN/components/form/input-tree.md
  docs/zh-CN/components/form/treeselect.md
  lerna.json
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_tree.scss
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: feat

#6240 feat: table组件autoFillHeigh属性支持maxHeight
  docs/zh-CN/components/table.md
  packages/amis/src/renderers/Table/TableCell.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/TableCell.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: feat

#6248 styles: 更改表单报错表单label颜色
  packages/amis-ui/scss/_components.scss
Labels: style

#6249 fix: 修复 bytes 过滤器重复执行问题 Closes #6231
  packages/amis-core/src/utils/filter.ts
  packages/amis-core/src/utils/prettyBytes.ts
Labels: fix

#6250 style:Tpl文字组件 组件自定义样式
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_tpl.scss
Labels: style

#6245 fix: Nav样式问题修复
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/src/components/menu/MenuItem.tsx
  packages/amis-ui/src/components/menu/SubMenu.tsx
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/__tests__/renderers/__snapshots__/Nav.test.tsx.snap
Labels: fix

#6253 fix: 修复 crud column 配置 wrapperComponent 属性导致 dom 结构错误问题
  packages/amis/src/renderers/Card.tsx
  packages/amis/src/renderers/Copyable.tsx
  packages/amis/src/renderers/Form/Static.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/PopOver.tsx
  packages/amis/src/renderers/QuickEdit.tsx
  packages/amis/src/renderers/Table/TableCell.tsx
Labels: fix

#6252 fix: Nav label支持渲染组件数组
  packages/amis-ui/src/components/menu/MenuItem.tsx
  packages/amis-ui/src/components/menu/SubMenu.tsx
Labels: fix

#5942 feat: select 支持自定义下拉框宽度与对齐方式
  docs/zh-CN/components/form/select.md
  packages/amis-ui/src/components/PopOverContainer.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis-ui/src/components/TransferDropDown.tsx
  packages/amis/src/renderers/Form/Select.tsx
Labels: feat

#6254 feat:补充DATETOSTR能力&新增日期范围解析函数
  packages/amis-formula/__tests__/fomula.test.ts
  packages/amis-formula/src/doc.md
  packages/amis-formula/src/doc.ts
  packages/amis-formula/src/evalutor.ts
Labels: feat

#6225 docs: List组件innerClassName补充说明
  docs/zh-CN/components/list.md
  packages/amis/src/renderers/List.tsx
Labels: doc

#6226 chore: schema的style属性错误赋值问题
  packages/amis-core/src/SchemaRenderer.tsx
Labels: chore, style

#6263 chore: 修复一些单测容易报错的问题
  packages/amis/__tests__/event-action/renderers/form/range.test.tsx
  packages/amis/__tests__/renderers/Form/chainedSelect.test.tsx
  packages/amis/__tests__/renderers/Form/combo.test.tsx
  packages/amis/__tests__/renderers/Form/inputArray.test.tsx
  packages/amis/__tests__/renderers/Form/inputCity.test.tsx
  packages/amis/__tests__/renderers/Form/inputMonth.test.tsx
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/__tests__/renderers/Form/inputTag.test.tsx
  packages/amis/__tests__/renderers/Form/listSelect.test.tsx
  packages/amis/__tests__/renderers/Form/range.test.tsx
  packages/amis/__tests__/renderers/Form/tabsTransfer.test.tsx
  packages/amis/__tests__/renderers/Form/tabsTransferPicker.test.tsx
  packages/amis/__tests__/renderers/Page.test.tsx
Labels: fix

#6264 fix: SDK导出后TooltipWrapper默认挂载点错误导致样式丢失
  docs/zh-CN/components/form/static.md
  packages/amis/src/renderers/Copyable.tsx
  packages/amis/src/renderers/DropDownButton.tsx
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Table/ColumnToggler.tsx
Labels: fix

#6261 fix: input-table 表格操作栏 文字图标更换展示位置
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#6265 chore: 还原几个 antd 比较显著的样式, 避免一眼就看出不一致
  packages/amis-ui/scss/components/form/_number.scss
  packages/amis-ui/scss/components/form/_tag.scss
  packages/amis-ui/scss/themes/_antd-variables.scss
Labels: chore

#6165 fix: 修复条件组合组件，自定义类型 value 不回显问题
  packages/amis-ui/src/components/condition-builder/Value.tsx
Labels: fix

#6269 styles: 优化button组件单icon情况的样式
  packages/amis-ui/scss/components/_button.scss
Labels: style

#6267 fix: Badge设置overflowCount不生效问题修复
  packages/amis-ui/src/components/Badge.tsx
Labels: fix

#5803 feat: InputGroup报错展示优化
  docs/zh-CN/components/form/input-group.md
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/formItem.ts
  packages/amis-ui/scss/components/form/_input-group.scss
  packages/amis/__tests__/renderers/Form/__snapshots__/inputGroup.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputGroup.test.tsx
  packages/amis/src/renderers/Form/InputGroup.tsx
Labels: feat

#6266 feat: 表达式增加WEEKDAY函数
  packages/amis-formula/__tests__/fomula.test.ts
  packages/amis-formula/src/doc.md
  packages/amis-formula/src/doc.ts
  packages/amis-formula/src/evalutor.ts
Labels: feat

#6272 chore: 2.7.3版本改为2.8.0
  docs/zh-CN/components/form/input-group.md
  docs/zh-CN/components/form/input-number.md
  docs/zh-CN/components/form/input-tree.md
  docs/zh-CN/components/form/json-schema-editor.md
  docs/zh-CN/components/form/select.md
  docs/zh-CN/components/form/treeselect.md
  docs/zh-CN/components/search-box.md
  docs/zh-CN/components/status.md
  docs/zh-CN/components/table.md
  packages/amis/src/renderers/Status.tsx
Labels: chore

#6274 feat:页面编辑器值继承
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_text.scss
  packages/amis/src/renderers/Form/InputText.tsx
Labels: feat

#6271 styles: 输入框附加组件样式
  packages/amis-ui/scss/components/form/_text.scss
Labels: style

#6277 styles: 优化checkbox组件选中态样式
  packages/amis-ui/scss/components/form/_checks.scss
Labels: style

#6279 feat:增加判断日期范围的表达式BETWEENRANGE&&优化STARTOF和ENDOF
  packages/amis-formula/__tests__/evalute.test.ts
  packages/amis-formula/__tests__/fomula.test.ts
  packages/amis-formula/src/doc.md
  packages/amis-formula/src/doc.ts
  packages/amis-formula/src/evalutor.ts
Labels: feat

#6282 docs:表达式文档问题
  packages/amis-formula/src/doc.md
  packages/amis-formula/src/doc.ts
  packages/amis-formula/src/evalutor.ts
Labels: doc

#6280 fix: Nav样式问题、性能优化
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/src/renderers/Nav.tsx
  tsconfig.json
Labels: fix

#6276 chore: 还原几个 antd 导航及表格的颜色
  packages/amis-ui/scss/themes/_antd-variables.scss
  packages/amis/src/renderers/CRUD.tsx
Labels: chore

#5943 chore: Action倒计时默认key增加id属性
  docs/zh-CN/components/action.md
  packages/amis/src/renderers/Action.tsx
Labels: chore

#6285 fix: nav同层拖拽问题修复
  packages/amis/src/renderers/Nav.tsx
Labels: fix
