Repository baidu/amis, pull requests merged in 2023-12, with the labels that each got.

#8950 fix(amis-editor): api中心类型的接口校验设置弹窗中含表达式的query等参数初次渲染不正确
  packages/amis-editor/src/renderer/ValidationControl.tsx
Labels: fix

#8976 fix: Form 数据同步改为lazyEmitChange
  packages/amis-core/src/renderers/Form.tsx
Labels: fix

#8981 pick: fix: 修复 combo 中有 pipeIn & pipeOut 场景时报错 Close: #8970
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix

#8975 style: 优化复选框半选禁用样式
  packages/amis-ui/scss/components/form/_checks.scss
Labels: style

#8982 chore: Copilot for Pull Request 功能下线了, 删除相关配置
  pull_request_template.md
Labels: chore

#8977 feat: Form脚手架支持查看场景
  packages/amis-editor/src/builder/ApiDSBuilder.ts
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/renderer/FieldSetting.tsx
Labels: feat

#8985 fix: Form 数据同步改为lazyEmitChange
  packages/amis-core/src/renderers/Form.tsx
Labels: fix

#8430 feat(amis-editor): 动作弹窗中记录常用动作
  packages/amis-editor-core/scss/control/_event-action.scss
  packages/amis-editor/src/renderer/event-control/action-config-dialog.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: feat

#8989 pick: fix: 修复 inputTable 在列中表单项有默认值的情况下无法新增的问题
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#8988 fix: 修复 inputTable 在列中表单项有默认值的情况下无法新增的问题
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#8979 chore: 分页组件 go 字符翻译
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
Labels: fix

#8995 fix:快读编辑弹窗多层嵌套、立即保存失效
  packages/amis-editor/src/plugin/Form/Static.tsx
  packages/amis-editor/src/plugin/Others/TableCell.tsx
  packages/amis-editor/src/plugin/TableCell2.tsx
Labels: fix

#9004 fix:快读编辑弹窗多层嵌套、立即保存失效
  packages/amis-editor/src/plugin/Form/Static.tsx
  packages/amis-editor/src/plugin/Others/TableCell.tsx
  packages/amis-editor/src/plugin/TableCell2.tsx
Labels: fix

#9006 fix:快读编辑弹窗多层嵌套、立即保存失效
  packages/amis-editor/src/plugin/Form/Static.tsx
  packages/amis-editor/src/plugin/Others/TableCell.tsx
  packages/amis-editor/src/plugin/TableCell2.tsx
Labels: fix

#8986 style: 优化checkbox组件样式
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_checks.scss
Labels: style

#9007 chore: classNameExpr 已经所有组件都支持,不需要单独处理了 Closes #3869
  packages/amis/src/renderers/Table/TableCell.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: chore

#9014 fix: 修复由#8905引入的row.index丢失问题
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#9002 style: 优化table中label字体大小 Close:#8879
  packages/amis-ui/scss/components/_table.scss
Labels: style

#8947 fix(amis-editor): icon组件添加事件面板 & inputColor组件去除事件面板
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor/src/plugin/Form/InputColor.tsx
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#9022 fix: PopOver嵌套场景下错误触发hidden事件问题 Close: #9015
  packages/amis-core/src/components/Overlay.tsx
  packages/amis-core/src/components/PopOver.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputCity.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTag.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/repeat.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/PopOver.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Tabs.test.tsx.snap
Labels: fix

#9027 fix: Combo配置flat且成员配置必填后校验无法通过问题
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix

#9038 feat: api 添加 concatDataFields 配置支持多次请求将数据字段自动合并功能
  docs/zh-CN/components/log.md
  mock/cfc/mock/log/app.js
  mock/cfc/mock/log/date.js
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/iRenderer.ts
  packages/amis-core/src/store/service.ts
  packages/amis-core/src/store/table2.ts
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/concatData.ts
  packages/amis-core/src/utils/index.ts
  packages/amis/__tests__/renderers/Form/service.test.tsx
  packages/amis/src/renderers/Log.tsx
  packages/amis/src/renderers/Service.tsx
Labels: feat

#9026 fix: 修复 chrome 低版本列设置宽度无效的问题
  packages/amis-core/src/utils/browser.ts
  packages/amis-core/src/utils/index.ts
  packages/amis/src/renderers/Table/ColGroup.tsx
Labels: fix

#9045 fix:修复api query包含event变量报错的问题
  packages/amis-core/src/utils/renderer-event.ts
Labels: fix

#9049 fix: 外观值继承修复
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/plugin/Form/InputImage.tsx
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis-editor/src/renderer/style-control/helper.tsx
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-theme-editor-helper/src/renderers/Border.tsx
  packages/amis-theme-editor-helper/src/renderers/ColorPicker.tsx
  packages/amis-theme-editor-helper/src/renderers/Font.tsx
  packages/amis-theme-editor-helper/src/renderers/PaddingAndMargin.tsx
  packages/amis-theme-editor-helper/src/renderers/Radius.tsx
  packages/amis-theme-editor-helper/src/renderers/Shadow.tsx
Labels: fix

#9059 fix(editor): tree组件配置面板去除只读配置
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
Labels: fix

#9061 fix: editor中mapping组件配置的itemSchema无法预览隐藏态无法选中
  packages/amis-editor/src/plugin/Mapping.tsx
Labels: fix

#9067 chore: inputTable 中单元格数据没有差异时不触发变更
  packages/amis/src/renderers/QuickEdit.tsx
Labels: chore

#9064 styles: InputTag下拉浮层添加最大高度避免超出屏幕
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_tag.scss
Labels: style

#9023 fix: Select移动端组件多选且设置menuTpl时无法选择 Close: #9005
  packages/amis-ui/src/components/SelectMobile.tsx
Labels: fix

#9013 feat(amis-editor): CRUD2组件支持Mock配置&最大展示条数
  packages/amis-editor-core/src/component/NodeWrapper.tsx
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/plugin/CRUD2/constants.ts
  packages/amis-editor/src/plugin/Table2.tsx
  packages/amis-ui/src/components/table/SummaryRow.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: feat

#9042 fix: Select移动端组件多选且设置menuTpl时无法选择 Close: #9005
  packages/amis-ui/src/components/SelectMobile.tsx
Labels: fix

#9079 fix: 修复rich-text更新挂载异常问题
  packages/amis-ui/src/components/RichText.tsx
  packages/amis-ui/src/components/Tinymce.tsx
  packages/amis/src/renderers/Form/InputRichText.tsx
Labels: fix

#9083 fix:解决事件动作面板卡顿问题
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#9082 fix:解决事件动作面板卡死问题
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#9100 fix:解决事件动作面板卡死问题
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#9099 fix:解决事件动作面板卡死问题
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#9087 fix(amis-ui): 修复collapse-group组件特性动作/收起 执行异常问题
  packages/amis-ui/src/components/Collapse.tsx
  packages/amis-ui/src/components/CollapseGroup.tsx
  packages/amis/src/renderers/Collapse.tsx
Labels: fix

#9105 fix：树组件测试问题修复
  packages/amis-editor/src/locale/en-US.ts
  packages/amis-editor/src/locale/zh-CN.ts
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-editor/src/tpl/options.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: fix

#9109 fix:(amis-editor)修个日期结尾字段提示
  packages/amis-editor-core/src/locale/en-US.ts
  packages/amis-editor-core/src/locale/zh-CN.ts
  packages/amis-editor/src/tpl/common.tsx
Labels: fix

#9076 doc: 添加 strictMode 的说明
  docs/zh-CN/components/form/formitem.md
Labels: doc

#9121 fix:列表类组件更新指定行记录condition失效问题
  packages/amis-core/src/actions/Action.ts
Labels: fix

#9095 feat: 表单提交前进行强制校验
  packages/amis-core/src/store/form.ts
  packages/amis/__tests__/event-action/renderers/form/__snapshots__/form.test.tsx.snap
  packages/amis/__tests__/event-action/renderers/form/form.test.tsx
Labels: request-changes, feat

#9120 fix: 修复表单项校验动作类型判断及editor中outputVar问题
  docs/zh-CN/components/form/index.md
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#9115 fix(amis-editor): 修复设计器切换预览按钮后选中组件变更的问题
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/Preview.tsx
Labels: fix

#9124 chart组件功能优化
  packages/amis-editor/src/plugin/Chart.tsx
  packages/amis/src/renderers/Chart.tsx
Labels: feat, fix

#9119 fix: crud2搜索表单和列搜索参数同步问题修复、table2渲染性能优化、table2完善事件动作以及相关文档
  docs/zh-CN/components/table.md
  docs/zh-CN/components/table2.md
  packages/amis-core/src/store/table2.ts
  packages/amis-ui/package.json
  packages/amis-ui/scss/components/_table2.scss
  packages/amis-ui/src/components/table/HeadCellFilter.tsx
  packages/amis-ui/src/components/table/Row.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/Table2/ColumnToggler.tsx
  packages/amis/src/renderers/Table2/HeadCellSearchDropdown.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#9126 fix(amis-editor): CRUD2列配置使用快速保存时配置不生效问题
  packages/amis-editor/src/plugin/TableCell2.tsx
Labels: fix

#9127 fix: InputDateRange开启内嵌模式选择日期错误问题
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/calendar/Calendar.tsx
Labels: fix

#9123 fix: InputFormula组件allowInput属性未透传问题
  packages/amis-ui/src/components/formula/Input.tsx
Labels: fix

#9132 chore: 更新theme-editor依赖
  package.json
  packages/amis-theme-editor-helper/i18nConfig.js
  packages/amis-theme-editor-helper/package.json
Labels: chore

#9135 fix: CRUD&CRUD2列搜索配置使用Form组件无法匹配问题 (#9032)
  docs/zh-CN/components/crud.md
  packages/amis/src/renderers/Table/HeadCellSearchDropdown.tsx
  packages/amis/src/renderers/Table2/HeadCellSearchDropdown.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#9125 fix: 修复 qrcode 下载不支持 codeSize 配置
  packages/amis/src/renderers/QRCode.tsx
Labels: fix

#9112 chore: 时间选择器设置timeConstraints后点击「此刻」选择最接近的有效时间 Close: #8281
  docs/zh-CN/components/form/input-time.md
  packages/amis-ui/src/components/calendar/TimeView.tsx
Labels: chore

#9107 chore: CRUD组件导出Excel时默认隐藏操作列 Close #8067
  docs/zh-CN/components/crud.md
  packages/amis/src/renderers/Table/exportExcel.ts
Labels: chore

#9106 docs: InputFile & InputImage补充autoUpload、hideUploadButton属性Demo
  docs/zh-CN/components/form/input-file.md
  docs/zh-CN/components/form/input-image.md
Labels: doc

#9055 feat: InputText多选模式下的tag自适应展示tooltip(OverflowTpl)
  docs/zh-CN/components/form/input-text.md
  package.json
  packages/amis-core/__tests__/jest.setup.js
  packages/amis-core/package.json
  packages/amis-ui/examples/App.tsx
  packages/amis-ui/examples/basic/OverflowTpl.tsx
  packages/amis-ui/scss/components/_overflow-tpl.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/OverflowTpl.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/__tests__/renderers/Form/text.test.tsx
  packages/amis/src/renderers/Form/InputText.tsx
Labels: feat

#9145 style: 修复DropDownButton下拉选项禁用样式
  packages/amis-ui/scss/components/_dropdown.scss
Labels: style

#9143 cherry-pick feat: icon支持配置事件动作
  packages/amis-editor/src/plugin/Icon.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis/__tests__/event-action/renderers/icon.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Action.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Breadcrumb.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Page.test.tsx.snap
Labels: feat

#9154 fix: 修复最大时间约束不了时间范围选择器的结束时间问题
  packages/amis-ui/src/components/DateRangePicker.tsx
Labels: fix

#9162 fix: 修复最大时间约束不了时间范围选择器的结束时间问题 (#9154)
  packages/amis-ui/src/components/DateRangePicker.tsx
Labels: fix

#9153 fix: 修复fieldset设置边框样式后，再设置大小，边框样式不生效问题
  packages/amis-ui/scss/components/form/_fieldset.scss
Labels: fix

#8821 feat: SearchBox组件支持disabled & loading状态
  docs/zh-CN/components/search-box.md
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_search-box.scss
  packages/amis-ui/src/components/SearchBox.tsx
  packages/amis/__tests__/renderers/SearchBox.test.tsx
  packages/amis/src/renderers/SearchBox.tsx
Labels: feat

#9168 fix: 分页组件activePage为非number类型时导致设计器卡死
  packages/amis/src/renderers/Pagination.tsx
Labels: fix

#8962 feat: CRUD & CRUD2 parsePrimitiveQuery配置支持转化数字类型
  docs/zh-CN/components/crud.md
  examples/components/CRUD/ParsePrimitiveQuery.jsx
  packages/amis-core/src/utils/helper.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
Labels: feat

#9172 docs: fix example code in ui-library.md
  docs/zh-CN/extend/ui-library.md
Labels: fix, doc

#9160 chore: jssdk 中使用代码编辑器在不同的 locale 下加载编辑器对应的语言文件 Close: #8880
  examples/loadMonacoEditor.ts
  packages/amis-ui/src/components/Editor.tsx
Labels: chore

#9165 chore: 调整文档模版写法,避免使用容易导致 xss 的写法 Close: #9164
  docs/zh-CN/components/carousel.md
  docs/zh-CN/components/each.md
  docs/zh-CN/components/form/combo.md
  docs/zh-CN/components/form/input-image.md
  docs/zh-CN/components/form/input-table.md
  docs/zh-CN/components/table.md
  docs/zh-CN/components/table2.md
  docs/zh-CN/concepts/template.md
Labels: chore

#9167 fix: 修复 dialog 内部做常规动作没反应的问题 Close: #9149
  packages/amis/__tests__/renderers/Dialog.test.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: fix

#9152 style:深色模式 变量替换
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/scss/components/form/_date-range.scss
  packages/amis-ui/scss/components/form/_textarea.scss
Labels: style

#9189 fix: 修复主题配置icon失败问题
  packages/amis-core/src/utils/style-helper.ts
Labels: fix

#9180 fix：picker配置优化修复
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/components/form/_picker.scss
Labels: fix

#9190 fix: 修复 table 的 column 的 id 属性可能重复导致样式错误的问题
  packages/amis-core/src/store/table.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/src/components/PopOverContainer.tsx
  packages/amis-ui/src/components/condition-builder/Item.tsx
  packages/amis-ui/src/components/formula/VariableList.tsx
Labels: fix

#9193 fix: 修复 picker 点选时无法区分 false 和 数字 0 的问题
  packages/amis-core/src/store/list.ts
  packages/amis-core/src/store/table.ts
Labels: fix

#9194 fix: 修复 select 同时配置 source 和 options 时,页面切换选项有可能被重置为 options 而不是 sour…
  packages/amis-core/src/renderers/Options.tsx
Labels: fix

#9188 chore(amis-editor): 数据源构造器基于接口生成字段逻辑对齐CRUD的fetch逻辑
  packages/amis-editor/src/builder/ApiDSBuilder.ts
Labels: chore

#9187 fix(amis-editor): CRUD组件工具栏配置内容被遮挡问题
  packages/amis-editor/src/plugin/CRUD.tsx
Labels: fix

#9140 fix: Table、Table2组件列固定宽度时禁止拖拽伸缩
  docs/zh-CN/components/table.md
  docs/zh-CN/components/table2.md
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/scss/components/_table2.scss
  packages/amis-ui/src/components/table/Head.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#9186 fix: ConditionBuilder使用公式编辑器切换类型异常问题
  packages/amis-ui/src/components/condition-builder/Item.tsx
  packages/amis-ui/src/components/formula/Editor.tsx
  packages/amis-ui/src/components/formula/Input.tsx
  packages/amis/__tests__/renderers/Form/conditionBuilder.test.tsx
Labels: fix

#9196 fix: CRUD组件触发reload后已选项未清空问题
  docs/zh-CN/components/crud.md
  packages/amis-core/src/store/crud.ts
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/__tests__/renderers/Form/conditionBuilder.test.tsx
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#9198 fix:兼容dispatchEvent数据未定义的情况
  packages/amis-core/src/actions/Action.ts
Labels: fix

#9202 styles: 修复ConditionBuilder下拉浮层被Table表头遮挡问题
  packages/amis-ui/scss/components/_condition-builder.scss
Labels: feat

#9205 feat: 事件动作支持上报埋点
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/renderer-event.ts
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-editor/src/renderer/event-control/types.ts
Labels: feat

#9208 fix:(amis-editor) picker默认自定义选项回显
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/Form/Picker.tsx
Labels: fix

#9211 fix: 表格数据源更新由嵌套切换为非嵌套单元格未更新问题修复
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/src/renderers/Table/Cell.tsx
Labels: fix

#9213 fix(amis-editor): 英语环境下样式调整及国际化语料
  packages/amis-editor-core/scss/control/_event-action.scss
  packages/amis-editor/src/locale/en-US.ts
  packages/amis-editor/src/locale/zh-CN.ts
  packages/amis-editor/src/renderer/event-control/action-config-dialog.tsx
Labels: fix

#9215 fix: NestedSelect级联下拉开启onlyChildren&onlyleaf后，导致下拉最后一项默认选中问题
  packages/amis/__tests__/renderers/Form/nestedSelect.test.tsx
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: fix

#9218 fix: 修复有单位时默认值不对,点击事件阻止冒泡
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis/__tests__/renderers/Form/number.test.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#9141 fix: 修复 export-excel 中 mapping 不支持 array 格式 map 问题 Closes #9136
  packages/amis/src/renderers/Table/exportExcel.ts
Labels: fix

#9012 fix: input-number 在大数输入下不处理精度 Closes #6334
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#9233 fix: InputNumber更新逻辑变更
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#9238 fix: InputNumber更新逻辑变更，修复setValue时单位丢失问题
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#9191 feat: editor 设计器 page 撑开画布区
  packages/amis-editor-core/scss/editor.scss
Labels: feat

#9098 feat: Inputrange组件支持单位显示;优化marks显示位置
  docs/zh-CN/components/form/input-range.md
  packages/amis-ui/scss/components/form/_range.scss
  packages/amis/__tests__/renderers/Form/__snapshots__/range.test.tsx.snap
  packages/amis/__tests__/renderers/Form/range.test.tsx
  packages/amis/src/renderers/Form/InputRange.tsx
Labels: awaiting-final-review, feat

#9252 cherry-pick feat(amis-editor): 动作弹窗中记录常用动作
  packages/amis-editor-core/scss/control/_event-action.scss
  packages/amis-editor/src/locale/en-US.ts
  packages/amis-editor/src/locale/zh-CN.ts
  packages/amis-editor/src/renderer/event-control/action-config-dialog.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: feat

#8600 fix(amis-editor): api中心类型的接口校验设置弹窗中含表达式的query等参数初次渲染不正确
  packages/amis-editor/src/renderer/ValidationControl.tsx
Labels: fix

#9071 feat: Progress组件支持事件动作
  docs/zh-CN/components/progress.md
  packages/amis-editor/src/plugin/Progress.tsx
  packages/amis-ui/src/components/Progress.tsx
  packages/amis/__tests__/renderers/Progress.test.tsx
  packages/amis/src/renderers/Progress.tsx
Labels: awaiting-final-review, request-changes, feat

#9261 cherry-pick fix(amis) input-number 小数光标漂移问题
  packages/amis-core/__tests__/utils/math.test.ts
  packages/amis-core/src/utils/math.ts
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#9017 feat:Pagination组件省略部分支持切换页码
  docs/zh-CN/components/pagination.md
  packages/amis-core/src/store/pagination.ts
  packages/amis-editor/src/plugin/Pagination.tsx
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_pagination.scss
  packages/amis-ui/src/components/Pagination.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/icons/arrow-double-left.svg
  packages/amis-ui/src/icons/arrow-double-right.svg
  packages/amis/__tests__/renderers/Pagination.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/src/renderers/PaginationWrapper.tsx
Labels: awaiting-final-review, feat

#9248 fix(amis-editor): addChild新增reGenerateId参数控制，并优化reGenerateID逻辑
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/util.ts
Labels: fix

#9224 chore:表单项事件参数动态构建&事件补充&文档补充
  docs/zh-CN/components/form/button-group-select.md
  docs/zh-CN/components/form/chain-select.md
  docs/zh-CN/components/form/checkbox.md
  docs/zh-CN/components/form/checkboxes.md
  docs/zh-CN/components/form/combo.md
  docs/zh-CN/components/form/input-city.md
  docs/zh-CN/components/form/input-range.md
  docs/zh-CN/components/form/input-table.md
  docs/zh-CN/components/form/input-tag.md
  docs/zh-CN/components/form/input-text.md
  docs/zh-CN/components/form/input-tree.md
  docs/zh-CN/components/form/list-select.md
  docs/zh-CN/components/form/location-picker.md
  docs/zh-CN/components/form/matrix-checkboxes.md
  docs/zh-CN/components/form/nestedselect.md
  docs/zh-CN/components/form/picker.md
  docs/zh-CN/components/form/radio.md
  docs/zh-CN/components/form/radios.md
  docs/zh-CN/components/form/select.md
  docs/zh-CN/components/form/tabs-transfer.md
  docs/zh-CN/components/form/transfer.md
  docs/zh-CN/components/form/treeselect.md
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor/src/plugin/Form/ButtonGroupSelect.tsx
  packages/amis-editor/src/plugin/Form/ChainedSelect.tsx
  packages/amis-editor/src/plugin/Form/Checkbox.tsx
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
  packages/amis-editor/src/plugin/Form/Combo.tsx
  packages/amis-editor/src/plugin/Form/InputCity.tsx
  packages/amis-editor/src/plugin/Form/InputKV.tsx
  packages/amis-editor/src/plugin/Form/InputRange.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Form/InputTag.tsx
  packages/amis-editor/src/plugin/Form/InputText.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/ListSelect.tsx
  packages/amis-editor/src/plugin/Form/MatrixCheckboxes.tsx
  packages/amis-editor/src/plugin/Form/NestedSelect.tsx
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis-editor/src/plugin/Form/Radios.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/plugin/Form/Switch.tsx
  packages/amis-editor/src/plugin/Form/TabsTransfer.tsx
  packages/amis-editor/src/plugin/Form/Transfer.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-editor/src/util.ts
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: chore

#9207 feat: CRUD & 与其搭配的 table,cards,list三种模式支持配置 affixFooter
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/table.md
  packages/amis-ui/scss/components/_cards.scss
  packages/amis-ui/scss/components/_list.scss
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#9267 fix:修复tabs激活卡片动作失效问题
  docs/zh-CN/components/tabs.md
  packages/amis/src/renderers/Tabs.tsx
Labels: fix

#9258 fix: 修复table2行内无法获取全局参数Close:#9177
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#9262 style: transfer结果选择添加hover样式&字体居中
  packages/amis-ui/scss/components/form/_result-list.scss
  packages/amis-ui/scss/components/form/_selection.scss
Labels: style

#9269 fix(amis-editor): reGenerateID细节优化，避免多余的二次遍历
  packages/amis-editor-core/src/util.ts
Labels: fix

#9271 fix: 兼容字段类型不同导致的报错
  packages/amis-editor/src/plugin/Dialog.tsx
Labels: fix

#9264 fix: transfer级连模式支持虚拟列表时，显示文本问题 #9116
  docs/zh-CN/components/form/transfer.md
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis/__tests__/renderers/CRUDReload.test.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/transfer.test.tsx
Labels: fix

#9255 fix: InputDateTimeRanege组件首次选择后无法选择0点问题
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis/__tests__/renderers/Form/datetimeRange.test.tsx
Labels: awaiting-final-review, fix

#9237 style: 修复Alert在编辑时样式和预览时样式不一致问题
  packages/amis-ui/scss/components/_alert.scss
Labels: feat

#9280 fix:可见性、可用性动作配置字段校验失效
  packages/amis-editor/src/renderer/event-control/action-config-dialog.tsx
Labels: fix
