Repository baidu/amis, pull requests merged in 2023-08, with the labels that each got.

#7635 fix: 修复特殊字符串被当成操作符的问题 Close: #7492
  packages/amis-formula/__tests__/evalute.test.ts
  packages/amis-formula/src/lexer.ts
Labels: fix

#7643 fix: 修复 static 属性嵌套影响问题 Close: #7088
  packages/amis-core/src/SchemaRenderer.tsx
Labels: fix

#7637 fix: 优化autoGenerateFilter展开收起逻辑 Close: #7471
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#7642 chore: 优化 input-kv 在编辑过程中不更换顺序 Close: #7201
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis/src/schemaExtend.ts
Labels: chore

#7616 fix: table2支持批量编辑功能
  packages/amis-core/src/store/table2.ts
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#7586 feat: 新增 amis-render 组件, 用于渲染数据里的 amis 配置
  docs/zh-CN/components/amis.md
  examples/components/Components.tsx
  packages/amis/__tests__/renderers/AMISRender.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/AMISRender.test.tsx.snap
  packages/amis/src/Schema.ts
  packages/amis/src/index.tsx
  packages/amis/src/renderers/AMIS.tsx
Labels: feat

#7639 feat: 日期类选择器支持配置 disabledDate 用js控制哪些天不可点选 Close: #7593
  docs/zh-CN/components/form/input-date.md
  docs/zh-CN/components/form/input-datetime.md
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis/__tests__/renderers/Form/inputDate.test.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
Labels: feat

#7677 styles: InputRange设置size后输入框被强制换行问题
  packages/amis-ui/scss/components/form/_range.scss
Labels: style

#7678 fix: table2 rowClassName兼容数据替换场景
  packages/amis-core/src/store/table2.ts
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#7682 fix: Nav组件 visibleOn 动态控制失效问题; chore: InputNumber依赖包兼容问题 (legacy version)
  docs/zh-CN/components/nav.md
  package.json
  src/components/NumberInput.tsx
  src/renderers/Nav.tsx
Labels: fix, chore

#7676 styles: InputRange设置size后输入框被强制换行问题
  packages/amis-ui/scss/components/form/_range.scss
Labels: style

#7681 fix: flex布局容器,、表单等取消边距
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-editor/src/plugin/Layout/Layout_sorption_container.tsx
  packages/amis-ui/scss/components/_wrapper.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/scss/layout/_grid.scss
Labels: feat

#7690 fix: 修改禁用和隐藏的schema配置面板不实时更新
  packages/amis-editor/src/plugin/Card.tsx
  packages/amis-editor/src/plugin/Cards.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Form/Item.tsx
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis-editor/src/renderer/StatusControl.tsx
  packages/amis-ui/scss/components/form/_transfer.scss
Labels: fix

#7683 fix: nav图标增加默认间距、菜单项显隐问题修复
  packages/amis-ui/scss/components/_menu.scss
  packages/amis/__tests__/renderers/__snapshots__/Nav.test.tsx.snap
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#7724 docs: 重写 drawer 组件文档
  docs/zh-CN/components/drawer.md
Labels: doc

#7666 style: 优化宽度同步 Close: #7664
  packages/amis/src/renderers/Table/index.tsx
Labels: style

#7726 fix: nav popOverContainer兼容env不存在的情况
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#7722 fix: table2兼容render方法不同返回值 Close:#7348
  packages/amis-ui/src/components/table/index.tsx
Labels: fix

#7728 fix:ajax动作不配置data时不应该发送数据
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/AjaxAction.ts
  packages/amis/__tests__/event-action/ajax.test.tsx
Labels: fix

#7654 feat: timeline组件支持detailClaaName/titleClassName/timeClassName & 可视化配置
  docs/zh-CN/components/timeline.md
  packages/amis-editor/src/plugin/Timeline.tsx
  packages/amis-ui/scss/components/_timeline.scss
  packages/amis-ui/src/components/Timeline.tsx
  packages/amis-ui/src/components/TimelineItem.tsx
  packages/amis/__tests__/renderers/Timeline.test.tsx
  packages/amis/src/renderers/Timeline.tsx
Labels: feat, fix

#7665 fix: 修复 autoFillHeight 模式高度问题 Close: #7606, #6850, #5565, #5067, #493…
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#7650 style: 解决页面设计器预览 table 的 sticky 表头显示元素会重叠的问题
  packages/amis-editor-core/scss/editor.scss
Labels: style

#7688 fix: 修复展示类组件 value 配置表达式可能会原样输出的问题 Close: #7662
  packages/amis-core/src/utils/helper.ts
Labels: fix

#7649 feat: conditionBuilder 支持 showIf 来开启条件组启动条件配置
  docs/zh-CN/components/form/condition-builder.md
  packages/amis-core/src/types.ts
  packages/amis-ui/scss/components/_condition-builder.scss
  packages/amis-ui/src/components/condition-builder/Expression.tsx
  packages/amis-ui/src/components/condition-builder/Func.tsx
  packages/amis-ui/src/components/condition-builder/Group.tsx
  packages/amis-ui/src/components/condition-builder/GroupOrItem.tsx
  packages/amis-ui/src/components/condition-builder/Item.tsx
  packages/amis-ui/src/components/condition-builder/Value.tsx
  packages/amis-ui/src/components/condition-builder/config.ts
  packages/amis-ui/src/components/condition-builder/index.tsx
  packages/amis-ui/src/components/condition-builder/types.ts
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/icons/if.svg
  packages/amis/src/renderers/Form/ConditionBuilder.tsx
Labels: feat

#7684 chore: 调整 responseData 当接口返回错误但是有数据返回时也有用 Close: #7680
  packages/amis-core/src/utils/api.ts
  packages/amis/__tests__/utils/api.test.ts
Labels: chore

#7732 fix: 修复 itemAction 与行选中冲突问题
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/src/components/Checkbox.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/checkbox.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/checkboxes.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/options.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/radios.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransferPicker.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Picker.test.tsx.snap
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#7733 fix: crud批量操作勾选和取消勾选项时selectedItems数据结构不一样
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#7741 feat: 外观自定义样式改版优化
  packages/amis-core/src/components/CustomStyle.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-editor-core/scss/style-control/_theme-css-code.scss
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/plugin/Form/InputImage.tsx
  packages/amis-editor/src/plugin/Icon.tsx
  packages/amis-editor/src/renderer/style-control/ThemeCssCode.tsx
  packages/amis-editor/src/renderer/style-control/themeLanguage.ts
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-ui/scss/components/form/_editor.scss
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Chart.tsx
  packages/amis/src/renderers/Container.tsx
  packages/amis/src/renderers/Flex.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
  packages/amis/src/renderers/Grid.tsx
  packages/amis/src/renderers/IFrame.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/TableView.tsx
  packages/amis/src/renderers/Tpl.tsx
Labels: feat

#7736 fix:picker全选排除已禁用的行
  packages/amis-core/src/store/table.ts
Labels: fix

#7739 style: 优化inputtext,textarea组件readonly状态样式
  packages/amis-ui/src/components/Textarea.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/textarea.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Wizard.test.tsx.snap
  packages/amis/src/renderers/Form/InputText.tsx
Labels: style

#7751 fix: picker问题修复
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#7743 feat: 条件组件作为表单项配置面板隐藏极小宽度 & 增加必选校验
  packages/amis-editor/src/plugin/Form/Item.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/Form/ConditionBuilder.tsx
Labels: feat

#7745 fix: crud显隐切换未获取正确选中项
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#7746 fix: 「动作配置」组件赋值面板点【取消】关闭弹窗后，再次打开值被清空
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: awaiting-final-review, fix

#7705 chore: 修复CRUDFilter UT 超时失败问题
  packages/amis/__tests__/renderers/CRUDfilter.test.tsx
Labels: chore

#7756 fix: SearchBox组件开启输入法提交数据错误
  packages/amis-ui/src/components/Input.tsx
  packages/amis-ui/src/components/SearchBox.tsx
  packages/amis/__tests__/renderers/SearchBox.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/SearchBox.test.tsx.snap
Labels: fix

#7766 fix:复选框上下文单选情况
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
Labels: fix

#7754 feat(amis-editor): timeline组件配置面板增加关联上下文配置
  packages/amis-editor/src/renderer/TimelineItemControl.tsx
Labels: feat

#7752 fix: CRUD组件列过滤重置时未触发 columnFilter 事件问题
  docs/zh-CN/components/crud.md
  packages/amis/src/renderers/Table/HeadCellFilterDropdown.tsx
Labels: fix

#7764 fix(amis-ui): chart组件剔除默认最小宽高样式限制，支持特小宽高设置
  packages/amis-ui/scss/components/_chart.scss
  packages/amis/src/renderers/Chart.tsx
Labels: fix

#7780 chore:确认弹窗动作取消后阻止组件默认行为 Close #6115
  docs/zh-CN/components/form/switch.md
  packages/amis-core/src/actions/Action.ts
  packages/amis/__tests__/event-action/renderers/form/swtich.test.tsx
Labels: chore

#7772 fix:修复Carousel配置description、href不生效问题
  packages/amis-editor/src/plugin/Carousel.tsx
  packages/amis/__tests__/renderers/Carousel.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Carousel.test.tsx.snap
  packages/amis/src/renderers/Carousel.tsx
Labels: fix

#7777 feat:dropdownButton children buttons level & className
  packages/amis/__tests__/renderers/DropDownButton.test.tsx
  packages/amis/src/renderers/DropDownButton.tsx
Labels: feat

#7769 chore: 删去timelineitem引入的声明
  packages/amis/src/renderers/Timeline.tsx
Labels: fix

#7753 chore(editor): reexport all builtin plugins Close: #7725
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/plugin/index.ts
Labels: chore

#7700 fix: SearchBox组件开启输入法提交数据错误
  packages/amis-ui/src/components/Input.tsx
  packages/amis-ui/src/components/SearchBox.tsx
  packages/amis/__tests__/renderers/SearchBox.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/SearchBox.test.tsx.snap
Labels: awaiting-review, fix

#7693 fix:「事件监听」动作配置-页面地址-全屏模式下，默认置灰字体「请输入」和光标对不齐
  packages/amis-editor-core/scss/control/_textarea-formula-control.scss
Labels: fix

#7792 styles: InputFile组件上传列表中错误任务飘红
  packages/amis-ui/scss/components/form/_file.scss
Labels: style

#7794 fix: 修复input-image以及tree相关的一些问题
  packages/amis-core/src/components/CustomStyle.tsx
  packages/amis-core/src/index.tsx
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#7783 fix: InputFile组件限制选择文件上限后重新上传无效问题
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#7785 styles: InputFile组件上传列表中错误任务飘红
  packages/amis-ui/scss/components/form/_file.scss
Labels: style

#7793 fix: 修复树组件懒加载情况下，第一次点击节点展开后收起，再点击其他根节点懒加载时，第一次点击节点显示异常问题
  packages/amis-ui/src/components/Tree.tsx
Labels: fix

#7610 fix: CRUD组件列配置 reload 动作后已选项未清空问题
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/__tests__/renderers/CRUDReload.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#7679 fix: 解决transfer\tree等options组件渲染大量节点时页面卡死崩溃的问题
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/utils/helper.ts
  packages/amis-core/src/utils/optionValueCompare.ts
  packages/amis-ui/src/components/ResultTableList.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis-ui/src/components/Selection.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis-ui/src/components/TreeSelection.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: fix

#7735 chore: 调整 table 宽度同步逻辑, 解决可能出现异常滚动条问题
  packages/amis-core/src/store/table.ts
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#7776 fix: 修复 amis-editor 本地开发代码编辑器 json-schema 加载失败问题 & 移动端编辑预览方式调整无需提供 iframeUrl
  docs/zh-CN/extend/editor.md
  packages/amis-editor-core/package.json
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/HighlightBox.tsx
  packages/amis-editor-core/src/component/IFrameBridge.tsx
  packages/amis-editor-core/src/component/IFramePreview.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/component/SubEditor.tsx
  packages/amis-editor-core/src/index.ts
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor/editor.html
  packages/amis-editor/examples/Editor.tsx
  packages/amis-ui/src/components/ContextMenu.tsx
  packages/amis-ui/src/components/index.tsx
  vite.config.ts
Labels: fix

#7809 fix(amis): 修正chart的height设置
  packages/amis/src/renderers/Chart.tsx
Labels: fix

#7812 fix: 修复 amis-editor 下拉框关闭可多选会自动干掉joinValues/delimiter/extractValue等相关…
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-editor/src/renderer/SwitchMoreControl.tsx
  packages/amis-editor/src/tpl/options.tsx
Labels: fix

#7804 fix: 修复transfer支持配置noResultsText
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: fix

#7823 style: 降低 sticky zindex Close: #7791
  packages/amis-ui/scss/_variables.scss
Labels: style

#7821 feat: tinymce 支持扩充插件 Close: #7801
  docs/zh-CN/components/form/input-rich-text.md
  docs/zh-CN/start/getting-started.md
  examples/components/Play.jsx
  examples/components/SchemaRender.jsx
  packages/amis-core/src/env.tsx
  packages/amis-ui/src/components/Tinymce.tsx
  packages/amis/src/renderers/Form/InputRichText.tsx
Labels: feat

#7817 chore(amis-editor): 调整编辑器的 debug 数据查看,去掉修改当前层数据功能(此功能貌似无用)
  packages/amis-editor-core/src/plugin/DataDebug.tsx
Labels: chore

#7805 fix: 支持表达式多语言默认显示
  packages/amis-core/src/locale.tsx
Labels: fix

#7807 chore: 增加 word 拼写检查的说明
  docs/zh-CN/components/office-viewer.md
  packages/office-viewer/__tests__/OpenXML.test.ts
  scripts/get-all-docs.js
Labels: chore

#7820 style: 还原容器边距
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-editor/src/plugin/Layout/Layout_sorption_container.tsx
  packages/amis-ui/scss/components/_wrapper.scss
  packages/amis-ui/scss/layout/_grid.scss
Labels: style

#7814 完善国际化调试代码
  packages/amis-editor/examples/Editor.tsx
  packages/amis-editor/examples/renderer/InputTextI18n.tsx
  packages/amis-editor/examples/renderer/TextareaI18n.tsx
  packages/amis-editor/examples/utils/overwriteSchemaTpl.tsx
Labels: awaiting-final-review

#7816 fix: picker显隐勾选、value绑定上层数据变量等问题修复
  docs/zh-CN/components/form/picker.md
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#7829 style: 还原label为空串时margin问题
  packages/amis-ui/scss/components/form/_form.scss
Labels: style

#7836 feat: nav配置面板自定义数据模块更新,与平台交互一致
  packages/amis-editor-core/scss/control/_nav-control.scss
  packages/amis-editor/src/plugin/Nav.tsx
  packages/amis-editor/src/renderer/NavSourceControl.tsx
Labels: feat

#7832 fix: chart配置面板去除自定义class & 添加trackExpression配置项
  packages/amis-editor/src/plugin/Chart.tsx
Labels: fix, style

#7831 fix: picker selectedChange事件中缺少shift连续多选的数据
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#7841 fix: crud兼容cards使用场景
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#7822 chore: 允许 api 配置相对路径 Close: #7815
  packages/amis-core/src/utils/api.ts
  packages/amis/__tests__/utils/api.test.ts
Labels: chore

#7846 fix(amis-editor): chart支持宽高可视化配置
  packages/amis-editor/src/plugin/Chart.tsx
  packages/amis/src/renderers/Chart.tsx
Labels: fix

#7855 chore:动作执行支持ignoreError，用于忽略执行错误继续执行动作列表
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis/__tests__/event-action/prevent.test.tsx
  packages/amis/src/renderers/Table/ColGroup.tsx
Labels: chore

#7851 fix: nav配置reload动作发送无效请求的问题
  packages/amis-ui/src/components/WithRemoteConfig.tsx
  packages/amis/__tests__/renderers/Nav.test.tsx
Labels: fix

#7819 fix: 修复折叠器组件标题配置面板无法配置schema的问题
  packages/amis-editor/src/plugin/Collapse.tsx
  packages/amis-editor/src/plugin/CollapseGroup.tsx
Labels: fix

#7865 chore: 调整事件动作找不到组件时报错策略，默认只是 warning
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-editor/src/renderer/event-control/action-config-dialog.tsx
Labels: chore

#7856 chore: 调整 condition-builder 中 tooltip 实现,解决遮挡问题
  packages/amis-ui/src/components/condition-builder/GroupOrItem.tsx
Labels: chore

#7808 chore: input-sub-form 表单项默认改成不可读取上层数据 Close: #7715
  packages/amis/__tests__/renderers/Form/inputSubForm.test.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Form/InputSubForm.tsx
Labels: chore

#7872 fix:ajax/dialog相关动作args中存在非预期配置时导致数据映射失败
  packages/amis-core/src/actions/Action.ts
  packages/amis/__tests__/event-action/ajax.test.tsx
Labels: fix

#7869 fix: InputText组件autoComplete标签显示错误问题
  docs/zh-CN/components/form/input-text.md
  packages/amis-core/src/store/formItem.ts
Labels: fix

#7878 fix: nav面板css
  packages/amis-editor-core/scss/control/_nav-control.scss
Labels: fix

#7875 fix:import错误
  packages/amis-editor/src/renderer/NavSourceControl.tsx
Labels: fix

#7874 fix: 【配置面板】grid组件布局方式&button角标配置样式
  packages/amis-editor/src/plugin/Grid.tsx
  packages/amis-editor/src/renderer/BadgeControl.tsx
Labels: fix

#7880 fix: 修复 amis-ui 编译后引用 rc-overflow 包路径问题 Close: #7853
  packages/amis-ui/package.json
Labels: fix

#7882 fix: picker选中项不显示label问题修复
  packages/amis-core/src/store/formItem.ts
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#7883 Revert "fix: InputText组件autoComplete标签显示错误问题 (#7869)"
  packages/amis-core/src/store/formItem.ts
Labels: fix

#7893 chore: 调整 static 属性下发当为弹窗时不继承上层是否为静态展示属性
  packages/amis-core/src/SchemaRenderer.tsx
Labels: chore

#7876 chore: 优化 table 编辑器体验支持宽度调整实时更新
  packages/amis-core/src/store/table.ts
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-ui/scss/_mixins.scss
  packages/amis/__tests__/event-action/renderers/__snapshots__/crud.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#7898 chore: 调整 inputTable 的 addItem 动作,不指定 index 时从后插入
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-ui/src/components/ConfirmBox.tsx
  packages/amis-ui/src/components/PickerContainer.tsx
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: chore

#7695 feat: transfer 树形搜索的时候支持高亮& feat: transfer 提供清空搜索的事件动作 & fix: transfer 穿梭器左上角的全选勾选时，没有处理 onlyChildren:true 的逻辑
  docs/zh-CN/components/form/transfer.md
  examples/components/EventAction/cmpt-event-action/TransferEvent.jsx
  packages/amis-core/src/types.ts
  packages/amis-ui/src/components/ResultList.tsx
  packages/amis-ui/src/components/ResultTableList.tsx
  packages/amis-ui/src/components/ResultTreeList.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/TransferSearch.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/transfer.test.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: awaiting-review, feat, fix

#7903 chore: editor开发态国际化
  i18nConfig.ts
  packages/amis-editor/examples/Editor.tsx
  vite.config.ts
Labels: chore

#7909 styles: 修复选择框不居中问题
  packages/amis-ui/scss/components/form/_checks.scss
  packages/amis-ui/scss/components/form/_select.scss
Labels: style

#7910 styles: 修复select箭头对不齐问题和buttonGroupSelect选中态颜色问题
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_button-group.scss
  packages/amis-ui/scss/components/_result-box.scss
  packages/amis-ui/scss/components/form/_color.scss
  packages/amis-ui/scss/components/form/_combo.scss
  packages/amis-ui/scss/components/form/_location.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/scss/components/form/_text.scss
  packages/amis/__tests__/renderers/Form/__snapshots__/buttonGroupSelect.test.tsx.snap
  packages/amis/src/renderers/Form/ButtonGroupSelect.tsx
Labels: style

#7900 chore: 导出 Excel 遇到整数的时候不用科学计数法
  examples/components/CRUD/ExportCSVExcel.jsx
  packages/amis/src/renderers/Table/exportExcel.ts
  packages/amis/src/renderers/TableView.tsx
Labels: chore

#7906 chore: Table layout 默认改成 fixed 去掉 tableLayout 配置
  docs/zh-CN/components/table.md
  examples/components/CRUD/ItemAction.jsx
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix, chore

#7916 chore: PickerContaienr ConfirmBox 支持配置 disabled 允许弹出查看但是不可以提交
  packages/amis-ui/src/components/ConfirmBox.tsx
  packages/amis-ui/src/components/PickerContainer.tsx
Labels: chore

#7913 fix: 修复弹窗下直接用 formitem 不包裹 form 的场景下弹窗提交数据不符合预期的问题
  packages/amis-core/src/store/node.ts
  packages/amis/__tests__/event-action/__snapshots__/dialog.test.tsx.snap
  packages/amis/__tests__/event-action/dialog.test.tsx
  packages/amis/src/renderers/Dialog.tsx
Labels: fix

#7912 chore: condition-builder 的 showIf 功能通过 formulaForIf 配置上下文信息而不是复用值的公式信息
  docs/zh-CN/components/form/condition-builder.md
  packages/amis-ui/src/components/condition-builder/Group.tsx
  packages/amis-ui/src/components/condition-builder/GroupOrItem.tsx
  packages/amis-ui/src/components/condition-builder/index.tsx
Labels: chore

#7917 fix: 修复transfer高亮带来的transfer-picker显示options问题
  docs/zh-CN/components/form/transfer-picker.md
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/transferPicker.test.tsx.snap
  packages/amis/__tests__/renderers/Form/transfer.test.tsx
  packages/amis/__tests__/renderers/Form/transferPicker.test.tsx
  packages/amis/src/renderers/Form/TabsTransfer.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
Labels: fix

#7919 fix: 复制后粘贴组件schema会被schemaFilter方法转换，出现一些异常的结果
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor/examples/Editor.tsx
  packages/amis-ui/scss/components/_json-schema-editor.scss
Labels: fix

#7918 fix: 表单项组件开启 static 后部分不合法输入未处理导致异常
  packages/amis/src/renderers/Form/StaticHoc.tsx
Labels: fix

#7926 fix: buttonGroupSelect传入buttons时没有选中态
  packages/amis/src/renderers/Form/ButtonGroupSelect.tsx
Labels: fix

#7925 docs: 补充描述:本地运行测试用例前需要执行编译
  README.md
Labels: doc

#7897 feat: Picker组件已选项支持限制最大展示数量
  docs/zh-CN/components/form/picker.md
  packages/amis-core/src/utils/math.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/components/_crud.scss
  packages/amis-ui/scss/components/form/_picker.scss
  packages/amis/__tests__/renderers/Picker.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Picker.test.tsx.snap
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Form/Picker.tsx
Labels: feat

#7318 chore: 收敛时间组件format相关属性
  docs/zh-CN/components/date.md
  docs/zh-CN/components/form/input-date-range.md
  docs/zh-CN/components/form/input-date.md
  docs/zh-CN/components/form/input-datetime-range.md
  docs/zh-CN/components/form/input-datetime.md
  docs/zh-CN/components/form/input-month.md
  docs/zh-CN/components/form/input-quarter-range.md
  docs/zh-CN/components/form/input-time-range.md
  docs/zh-CN/components/form/input-time.md
  docs/zh-CN/components/form/input-year-range.md
  packages/amis-editor/src/plugin/Form/InputDate.tsx
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
  packages/amis-ui/src/components/CalendarMobile.tsx
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/calendar/Calendar.tsx
  packages/amis/__tests__/renderers/Date.test.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/datetime.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputDate.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputMonthRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputQuarterRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputYearRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/dateRange.test.tsx
  packages/amis/__tests__/renderers/Form/datetime.test.tsx
  packages/amis/__tests__/renderers/Form/inputDate.test.tsx
  packages/amis/__tests__/renderers/Form/inputMonth.test.tsx
  packages/amis/__tests__/renderers/Form/inputQuarterRange.test.tsx
  packages/amis/__tests__/renderers/Form/mobileInputDate.test.tsx
  packages/amis/src/renderers/Date.tsx
  packages/amis/src/renderers/DateRange.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
  packages/amis/src/renderers/Form/InputDateRange.tsx
  packages/amis/src/renderers/Form/InputMonthRange.tsx
  packages/amis/src/renderers/Form/InputQuarterRange.tsx
  packages/amis/src/renderers/Form/InputYearRange.tsx
Labels: awaiting-review

#7901 1. 折叠器组件增加组件展开和组件收起事件; 2. 折叠器组件增加展开和收起特性动作;
  packages/amis-editor/src/plugin/Collapse.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-ui/src/components/Collapse.tsx
  packages/amis/__tests__/event-action/renderers/collapse.test.tsx
  packages/amis/src/renderers/Collapse.tsx
Labels: request-test-cases

#7927 fix: 修复Transfer 搜索后选择导致已选项清空
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis/__tests__/renderers/Form/transfer.test.tsx
Labels: fix

#7828 docs: 去掉tpl组件快速编辑部分的说明
  docs/zh-CN/components/tpl.md
Labels: fix

#7915 feat: 支持maxTagCount和overflowTagPopover配置项
  docs/zh-CN/components/form/condition-builder.md
  packages/amis-ui/src/components/TabsTransferPicker.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/TransferPicker.tsx
  packages/amis-ui/src/components/condition-builder/Value.tsx
  packages/amis-ui/src/components/condition-builder/types.ts
  packages/amis/__tests__/renderers/SearchBox.test.tsx
  packages/amis/src/renderers/Form/TabsTransferPicker.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
Labels: feat

#7959 fix: 修复多行文本展示特殊字符报错问题 Close: #7942
  packages/amis/src/renderers/Form/Textarea.tsx
  packages/amis/src/renderers/MultilineText.tsx
Labels: fix

#7962 feat: office-viewer 下载支持图片变量
  packages/office-viewer/__tests__/docx/simple/image-var-table.docx
  packages/office-viewer/__tests__/docx/simple/image-var.docx
  packages/office-viewer/__tests__/docx/simple/var-table.docx
  packages/office-viewer/__tests__/util/replaceVar.test.ts
  packages/office-viewer/examples/app.ts
  packages/office-viewer/examples/static/image/firefox.jpg
  packages/office-viewer/examples/static/image/ie.png
  packages/office-viewer/src/Word.ts
  packages/office-viewer/src/package/PackageParser.ts
  packages/office-viewer/src/package/XMLPackageParser.ts
  packages/office-viewer/src/package/ZipPackageParser.ts
  packages/office-viewer/src/util/fileType.ts
  packages/office-viewer/src/util/replaceVar.ts
Labels: feat

#7979 feat: icon组件支持传入svg字符串作为图标
  packages/amis-ui/src/components/icons.tsx
Labels: feat

#7955 fix: 修复多层级拖拽发送的 order 字段没有包含子层级的问题 Close #7615
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/scss/components/_table2.scss
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#7954 fix: nav垂直模式下内容宽度自适应问题修复
  packages/amis-ui/scss/components/_menu.scss
Labels: fix

#7961 fix: 匹配 markdown 中的 schema 正则兼容 windows
  scripts/markdownPlugin.ts
Labels: fix

#7976 feat: 图表数据映射配置优化
  packages/amis-editor/src/plugin/Chart.tsx
Labels: feat

#7974 fix: 修复在字段集中插入input-table后打开的表达式弹窗报错问题
  packages/amis-editor/src/plugin/Form/InputTable.tsx
Labels: fix

#7975 style: 调整 table badge 的 zIndex
  packages/amis-ui/scss/components/_table.scss
Labels: style

#7963 feat: 表单项支持配置字符串形式的 pipeIn 和 pipeOut 钩子 Close: #7057
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/utils/api.ts
Labels: feat

#7970 fix: 修复 editor 环境下默认的 fetcher 无法传入 headers 的问题
  packages/amis-editor-core/src/env.ts
Labels: fix

#7930 fix:「事件监听」动作配置-页面地址-全屏模式下，默认置灰字体「请输入」和光标对不齐。针对fullscreen类名fix该问题
  packages/amis-editor-core/scss/control/_textarea-formula-control.scss
Labels: fix

#7969 feat: form 插件支持配置 columnCount
  packages/amis-editor/src/plugin/Form/Form.tsx
Labels: feat

#7977 fix: editor - 勾选框配置trueValue\falseValue时,默认值切换无法设置最新正确value的问题
  packages/amis-editor/src/plugin/Form/Checkbox.tsx
  packages/amis-editor/src/renderer/FormulaControl.tsx
Labels: fix

#7945 fix: table2设计态loading报错、拖拽无效、单元格渲染property组件问题修复
  docs/zh-CN/components/table2.md
  packages/amis-ui/scss/components/_table2.scss
  packages/amis-ui/src/components/table/Cell.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#7950 style: table 外层调整宽度固定列高亮未及时显示问题 Close: #7924
  packages/amis/src/renderers/Table/index.tsx
Labels: style

#7951 style: 修复 app 模式下边栏收起时 tooltip 被挡住的问题 Close: #7661
  packages/amis-ui/scss/layout/_layout.scss
Labels: style

#7978 fix: 修复编辑器在 antd 主题下拖入带有编辑弹窗的组件时编辑弹窗不显示的问题
  packages/amis-editor-core/src/component/ScaffoldModal.tsx
Labels: fix

#7981 chore: 更新 office-viewer 版本
  packages/amis/package.json
  packages/office-viewer/README.md
  packages/office-viewer/package.json
Labels: chore
