Repository baidu/amis, pull requests merged in 2023-05, with the labels that each got.

#6763 fix:#6294动作列表为空的情况下广播失效问题
  packages/amis-core/src/utils/renderer-event.ts
Labels: fix

#6770 fix:#6757按钮二次确认后并没有触发点击事件
  packages/amis/src/renderers/Action.tsx
Labels: fix

#6755 fix: 修复 itemAction 与行选中冲突问题
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/src/components/Checkbox.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/checkbox.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/checkboxes.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/options.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/radios.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransferPicker.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Picker.test.tsx.snap
  packages/amis/src/renderers/Table/TableRow.tsx
Labels: fix

#6678 fix: 修复 columnToggler 与 affixRow 总结行结合使用时的异常
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#6738 fix: 修复input-image单选情况报错
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#6756 feat(office-viewer): 支持图片里的变量
  docs/zh-CN/components/office-viewer.md
  examples/static/image-alt-var.docx
  examples/static/table-list.docx
  examples/static/word-alt.png
  packages/amis/package.json
  packages/ooxml-viewer/__tests__/docx/simple/smart-art.docx
  packages/ooxml-viewer/__tests__/docx/simple/smart-art.xml
  packages/ooxml-viewer/examples/presetShape.ts
  packages/ooxml-viewer/package.json
  packages/ooxml-viewer/src/Word.ts
  packages/ooxml-viewer/src/openxml/drawing/Blip.ts
  packages/ooxml-viewer/src/openxml/drawing/BlipFill.ts
  packages/ooxml-viewer/src/openxml/drawing/CustomGeom.ts
  packages/ooxml-viewer/src/openxml/drawing/Drawing.ts
  packages/ooxml-viewer/src/openxml/drawing/Geom.ts
  packages/ooxml-viewer/src/openxml/drawing/Path.ts
  packages/ooxml-viewer/src/openxml/drawing/Pic.ts
  packages/ooxml-viewer/src/openxml/drawing/Shape.ts
  packages/ooxml-viewer/src/openxml/drawing/ShapeProperties.ts
  packages/ooxml-viewer/src/openxml/drawing/Transform.ts
  packages/ooxml-viewer/src/openxml/drawing/diagram/Diagram.ts
  packages/ooxml-viewer/src/openxml/drawing/diagram/Sp.ts
  packages/ooxml-viewer/src/openxml/drawing/diagram/SpTree.ts
  packages/ooxml-viewer/src/openxml/drawing/presetShape.ts
  packages/ooxml-viewer/src/openxml/drawing/svg/arcToA.ts
  packages/ooxml-viewer/src/openxml/drawing/svg/formulas.ts
  packages/ooxml-viewer/src/openxml/drawing/svg/generateDefines.ts
  packages/ooxml-viewer/src/openxml/drawing/svg/presetVal.ts
  packages/ooxml-viewer/src/openxml/drawing/svg/shapeToSVG.ts
  packages/ooxml-viewer/src/openxml/word/Run.ts
  packages/ooxml-viewer/src/openxml/word/drawing/Pic.ts
  packages/ooxml-viewer/src/openxml/word/wps/WPS.ts
  packages/ooxml-viewer/src/parse/parseShape.ts
  packages/ooxml-viewer/src/render/renderCustGeom.ts
  packages/ooxml-viewer/src/render/renderDrawing.ts
  packages/ooxml-viewer/src/render/renderGeom.ts
  packages/ooxml-viewer/src/render/renderRun.ts
  packages/ooxml-viewer/src/util/replaceVar.ts
  packages/ooxml-viewer/tools/converDrawingML.ts
Labels: feat

#6771 fix: 「事件动作」变量赋值 - 页面/内存变量选择添加变量类型
  packages/amis-core/src/utils/renderer-event.ts
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#6663 styles: InputNumber带单位样式调整
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_number.scss
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: style

#6662 fix: Form开启columnCount后inline表单项展示错误问题; chore(editor): 表单控件可设置预设布局
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-editor-core/src/builder/ApiBuilder.ts
  packages/amis-editor-core/src/builder/DSBuilder.ts
  packages/amis-editor/src/plugin/CRUD2.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-ui/scss/components/form/_form.scss
Labels: fix, chore

#4836 fix: 修复实时日志组件过滤时序不正确导致日志丢失的问题
  packages/amis/src/renderers/Log.tsx
Labels: fix

#5431 fix: crud toolbar data同步更新问题修复、table支持maxKeepItemSelectionLength问题修复
  packages/amis-core/src/store/table2.ts
  packages/amis-ui/src/components/table/HeadCellFilter.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/HeadCellSearchDropdown.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: request-changes, fix

#5766 fix: 修复table组件自动生成筛选条件渲染错误问题
  packages/amis/src/renderers/Form/Group.tsx
Labels: fix

#5962 pagination支持使用变量
  packages/amis/src/renderers/Pagination.tsx
Labels: request-changes

#6012 fix(tree): onleyleaf为true时children严格判断
  packages/amis-ui/src/components/Tree.tsx
Labels: request-changes, fix

#5718 feat: input-range属性配置下的下标内容过长时遮挡滑块下的其他组件名称
  packages/amis-ui/scss/components/form/_range.scss
  packages/amis-ui/src/components/Range.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/range.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
Labels: bug, feat

#6781 fix: 修复事件动作请求接口报错 & 输入框样式调整
  packages/amis-editor-core/scss/_mixin.scss
  packages/amis-editor-core/scss/_rightPanel.scss
  packages/amis-editor-core/scss/control/_api-control.scss
  packages/amis-editor-core/scss/control/_formula-control.scss
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#6410 fix:修复checkboxs按钮模式的disabled样式和table高亮行bg类失效问题
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/form/_checks.scss
Labels: fix

#6783 fix: issues-6779 input-formula 检索问题
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/src/components/formula/VariableList.tsx
Labels: fix

#6087 fix: 修复CRUD直接传递Pagination组件时，丢失total属性 (#6081)
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#6785 chore: 修复 ts 报错,并加入 pr 检测
  .github/workflows/pr-test.yml
  examples/components/ECharts.tsx
  examples/loader.ts
  examples/polyfills/index.ts
  mock/cfc/index.js
  mock/index.js
  package.json
  packages/amis-core/src/components/Overlay.tsx
  packages/amis-core/src/types.ts
  packages/amis-editor-core/src/builder/ApiBuilder.ts
  packages/amis-editor-core/src/builder/DSBuilder.ts
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/tpl.tsx
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/component/TableViewEditor.tsx
  packages/amis-editor/src/plugin/Alert.tsx
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/CRUD2.tsx
  packages/amis-editor/src/plugin/Form/CodeEditor.tsx
  packages/amis-editor/src/plugin/Form/DiffEditor.tsx
  packages/amis-editor/src/plugin/Form/InputSubForm.tsx
  packages/amis-editor/src/plugin/Form/NestedSelect.tsx
  packages/amis-editor/src/plugin/Others/Action.tsx
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/plugin/SearchBox.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/plugin/Table2.tsx
  packages/amis-editor/src/plugin/TableCell2.tsx
  packages/amis-editor/src/plugin/TableView.tsx
  packages/amis-editor/src/renderer/APIAdaptorControl.tsx
  packages/amis-editor/src/renderer/APIControl.tsx
  packages/amis-editor/src/renderer/ActionApiControl.tsx
  packages/amis-editor/src/renderer/BadgeControl.tsx
  packages/amis-editor/src/renderer/DataBindingControl.tsx
  packages/amis-editor/src/renderer/MapSourceControl.tsx
  packages/amis-editor/src/renderer/NavBadgeControl.tsx
  packages/amis-editor/src/renderer/NavDefaultActive.tsx
  packages/amis-editor/src/renderer/NavSourceControl.tsx
  packages/amis-editor/src/renderer/OptionControl.tsx
  packages/amis-editor/src/renderer/StatusControl.tsx
  packages/amis-editor/src/renderer/SwitchMoreControl.tsx
  packages/amis-editor/src/renderer/TimelineItemControl.tsx
  packages/amis-editor/src/renderer/TransferTableControl.tsx
  packages/amis-editor/src/renderer/TreeOptionControl.tsx
  packages/amis-editor/src/renderer/ValidationItem.tsx
  packages/amis-editor/src/renderer/style-control/ThemeCssCode.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-editor/src/tpl/options.tsx
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-ui/src/components/RichText.tsx
  packages/amis-ui/src/custom.d.ts
  packages/amis/src/index.tsx
  scripts/mockApiPlugin.ts
  tsconfig.json
Labels: chore

#6697 fix bug: editor 的 editorDidMount 支持 string格式
  packages/amis/src/renderers/Form/Editor.tsx
Labels: bug, fix

#6780 feat:组件数据支持变量
  packages/amis-editor/src/plugin/Form/ListSelect.tsx
  packages/amis-editor/src/plugin/Images.tsx
  packages/amis-editor/src/plugin/List.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/plugin/Tabs.tsx
  packages/amis-editor/src/renderer/MapSourceControl.tsx
  packages/amis-editor/src/renderer/OptionControl.tsx
  packages/amis-editor/src/renderer/TransferTableControl.tsx
  packages/amis-editor/src/renderer/TreeOptionControl.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-ui/src/components/Tag.tsx
Labels: feat

#6681 fix:LIst单行点击事件上下文补全更多信息
  packages/amis/src/renderers/List.tsx
Labels: fix

#6536 feat: 注册插件的时候默认添加 ID 给 注销插件使用
  packages/amis-editor-core/src/manager.ts
Labels: feat

#6792 chore: 调整 debug 日志
  packages/amis-core/src/utils/debug.tsx
Labels: chore

#6465 fix: Cards 组件编辑态 source 不生效
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/base/ShortcutKey.tsx
  packages/amis-editor/src/plugin/Cards.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/List.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/plugin/Table2.tsx
  packages/amis-editor/src/util.ts
Labels: fix, amis-editor

#6566 feat: autoGenerateFilter增加列数及设置查询字段配置控制
  docs/zh-CN/components/crud.md
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#6797 fix: 修复 mock api 跨域问题
  mock/cfc/index.js
Labels: fix

#6545 feat: tpl支持异步表达式
  packages/amis-core/src/utils/tokenize.ts
  packages/amis-core/src/utils/tpl-builtin.ts
  packages/amis-core/src/utils/tpl-lodash.ts
  packages/amis-core/src/utils/tpl.ts
  packages/amis/__tests__/renderers/Form/inputSubForm.test.tsx
  packages/amis/__tests__/renderers/Page.test.tsx
  packages/amis/__tests__/renderers/Progress.test.tsx
  packages/amis/src/renderers/Tpl.tsx
Labels: feat

#6799 styles: 优化部分表单组件报错边框颜色
  packages/amis-ui/scss/components/form/_color.scss
  packages/amis-ui/scss/components/form/_date-range.scss
  packages/amis-ui/scss/components/form/_date.scss
  packages/amis-ui/scss/components/form/_number.scss
  packages/amis-ui/scss/components/form/_tag.scss
Labels: style

#6800 fix: 修复 editor 合入后导致插件配置项失效问题
  packages/amis-editor-core/src/manager.ts
Labels: fix

#6802 fix: issues-6683: jssdk helper样式优先级问题
  examples/sdk-placeholder.html
  packages/amis-editor-core/src/manager.ts
Labels: fix

#6806 fix(amis-editor): 补充国际化语料,并发布5.3.0版本
  packages/amis-editor-core/i18nConfig.js
  packages/amis-editor-core/package.json
  packages/amis-editor-core/src/locale/en-US.ts
  packages/amis-editor-core/src/locale/zh-CN.ts
  packages/amis-editor/i18nConfig.js
  packages/amis-editor/package.json
  packages/amis-editor/src/locale/en-US.ts
  packages/amis-editor/src/locale/zh-CN.ts
Labels: fix

#6804 feat: tpl 异步解析支持 formulaEvalErrorHandler
  packages/amis-core/src/utils/tokenize.ts
  packages/amis-core/src/utils/tpl-builtin.ts
  packages/amis/src/renderers/Tpl.tsx
Labels: feat

#6807 fix: 修复 ScopedContext 的 getComponentById 在 SPA环境下查找组件不准确问题
  packages/amis-core/src/Scoped.tsx
Labels: fix

#6803 fix: issues-6740: picker loadOptions 时默认查询参数名与 valueField 保持一致
  packages/amis/src/renderers/Form/Picker.tsx
Labels: fix

#6801 feat: 增加amis错误捕获钩子
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/env.tsx
Labels: feat

#6809 fix: 修复inputImage的receiver等参数如果使用变量无法及时获取变量最新值的问题。
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#6813 styles: 优化number组件handle出现后的样式
  packages/amis-ui/scss/components/form/_number.scss
  packages/amis/__tests__/renderers/Picker.test.tsx
Labels: style

#6817 fix: scss变量在calc错误使用问题
  packages/amis-ui/scss/components/_modal.scss
  packages/amis-ui/scss/components/_spinner.scss
Labels: fix

#6819 docs: 避免文档搜索框被主题样式影响 Closes #6389
  examples/components/DocSearch.jsx
  examples/style.scss
Labels: doc

#6808 feat: video 组件支持配置循环播放
  docs/zh-CN/components/video.md
  packages/amis/src/renderers/Video.tsx
Labels: feat

#6821 fix: nav收纳图标样式问题修复
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#6825 fix: 修复可能获取不到 attachement 里的文件名问题 Closes #6305
  packages/amis-core/src/utils/attachmentAdpator.ts
Labels: fix

#6824 feat: export-excel 支持 label 使用 tpl Closes #5811
  examples/components/CRUD/ExportCSVExcel.jsx
  packages/amis/src/renderers/Table/exportExcel.ts
Labels: feat

#6823 feat: export-excel 支持文字颜色及背景色 Closes #6174
  examples/components/CRUD/ExportCSVExcel.jsx
  packages/amis/src/renderers/Table/exportExcel.ts
Labels: feat

#6816 feat: input-kv 组件允许自定义 keySchema 和 valueSchema Closes #6782 #6717
  docs/zh-CN/components/form/input-kv.md
  packages/amis/src/schemaExtend.ts
Labels: feat

#6596 feat: wizard组件样式交互改造
  docs/zh-CN/components/wizard.md
  examples/components/Example.jsx
  examples/components/WizardPage.jsx
  packages/amis-ui/scss/components/_steps.scss
  packages/amis-ui/scss/components/_wizard.scss
  packages/amis-ui/src/components/Steps.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/__tests__/renderers/Wizard.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Steps.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Wizard.test.tsx.snap
  packages/amis/src/renderers/Wizard.tsx
Labels: feat

#6796 feat:CRUD、Table上下文优化
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/utils/DataScope.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Service.tsx
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#6833 feat: 主题编辑值继承
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/plugin/Form/InputImage.tsx
  packages/amis-editor/src/renderer/style-control/helper.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
  packages/amis/src/renderers/Form/InputText.tsx
Labels: feat

#6832 feat:初始化请求事件参数补充状态信息
  docs/zh-CN/components/form/index.md
  docs/zh-CN/components/page.md
  docs/zh-CN/components/service.md
  docs/zh-CN/components/wizard.md
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/Wizard.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Service.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: feat

#6830 fix: 修复 closeOnOutSide 点击有鼠标移动时关闭逻辑不正确的问题 Close: #6775
  packages/amis-ui/src/components/Drawer.tsx
  packages/amis-ui/src/components/Modal.tsx
  packages/amis/src/renderers/Dialog.tsx
Labels: fix

#6836 fix: 修复crud 无限更新和 jsonToJsonSchema 堆栈超出问题
  packages/amis-editor-core/src/util.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#6829 fix: ConditionBuilder组件RHS defaultValue未生效问题
  packages/amis-ui/src/components/condition-builder/Item.tsx
Labels: fix

#6837 fix: tpl组件销毁时取消setState
  packages/amis/src/renderers/Tpl.tsx
Labels: fix

#6841 fix(amis): flex组件alignItems默认值改为stretch,和flex默认行为保持一致.
  packages/amis-editor-core/src/manager.ts
  packages/amis/__tests__/renderers/__snapshots__/Flex.test.tsx.snap
  packages/amis/src/renderers/Flex.tsx
Labels: fix

#6844 fix: 修复 table 点击 checkbox 无反应问题
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#6845 fix:crud fetchinited异步
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#6847 styles: 优化form label的line-height的计算方式
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_form.scss
Labels: style

#6857 fix:drawer data映射时__undefined失效
  packages/amis-core/src/store/iRenderer.ts
Labels: fix

#6856 fix:发送请求动作，阻断条件支持获取请求结果数据
  packages/amis-core/src/actions/Action.ts
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: feat

#6858 fix: InputTable使用operation列无法正常渲染问题
  docs/zh-CN/components/form/input-table.md
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#6860 chore: 优化 scaffoldForm 实现统一用 store 来控制
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-editor-core/src/component/ScaffoldModal.tsx
  packages/amis-editor-core/src/store/editor.ts
  packages/amis/src/renderers/CRUD.tsx
Labels: chore

#6863 fix: nav收纳图标、独立应用相关问题
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#6864 fix: 修复 #6372 引入的刷新目标无法传递复杂对象的问题
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/index.tsx
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Service.tsx
  packages/amis/src/renderers/Table2/index.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: fix

#6469 fix: input number 兼容1.x 没有设置精度也可以录入小数
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: bug

#6859 feat(amis): input-image文件过大提示显示优化
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: feat

#6623 feat: select弹框长度&nestSelect的弹框长度&文本优化
  packages/amis-ui/scss/components/form/_nested-select.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: feat

#6869 chore:crud支持canAccessSuperData&文档说明
  docs/zh-CN/components/crud.md
  packages/amis/src/renderers/Table/TableCell.tsx
Labels: chore

#6874 fix: input-excel 忽略 hidden 的 worksheet
  packages/amis/src/renderers/Form/InputExcel.tsx
Labels: fix

#6881 fix: 修复select弹框因为最小为100px导致的curd分页下拉的显示问题
  packages/amis-ui/scss/components/form/_select.scss
Labels: fix

#6870 chore: expose getIconNames Close: #6831
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/components/index.tsx
Labels: chore

#6868 chore: GridNav 支持配置 contentClassName 配置列表项内容 className close: #6865
  docs/zh-CN/components/grid-nav.md
  index.html
  packages/amis-ui/src/components/GridNav.tsx
  packages/amis/src/renderers/GridNav.tsx
Labels: chore

#6884 docs: 增加 crud 默认 query 参数说明 Closes #6219
  docs/zh-CN/components/crud.md
Labels: doc

#6883 docs: registerFilter 的方法名不要加 - Closes #5958
  docs/zh-CN/concepts/data-mapping.md
Labels: doc

#6885 fix: 修复 treeSelect 选项回显异常问题 Close: #6873
  package.json
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: fix

#6888 chore: 修改组件导入方式
  packages/amis-ui/src/components/AssociatedSelection.tsx
  packages/amis-ui/src/components/UserSelect.tsx
  packages/amis-ui/src/components/UserTabSelect.tsx
  packages/amis-ui/src/components/index.tsx
Labels: chore

#6891 fix:编辑器插件多余上下文
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/Wizard.tsx
Labels: fix

#6882 feat: log 组件支持简单 ansi 颜色，可配置 credentials 设置 Closes #6039
  docs/zh-CN/components/log.md
  packages/amis/src/renderers/Log.tsx
  packages/ooxml-viewer/__tests__/xlsx/simple/init.xlsx
Labels: feat

#6892 fix: 修复 inputTable ui 组件删除中间数据后修改后面的行导致数据混乱的问题
  packages/amis-ui/src/components/Combo.tsx
  packages/amis-ui/src/components/InputTable.tsx
Labels: fix

#6899 chore: Nav 组件调用 isCurrentUrl 传递菜单信息
  packages/amis/src/renderers/Nav.tsx
Labels: chore

#6900 chore:日期format兼容
  packages/amis-ui/src/components/DatePicker.tsx
Labels: chore

#6905 feat: render 支持传入 context 数据在弹窗数据映射后依然可访问
  docs/zh-CN/start/getting-started.md
  examples/components/SchemaRender.jsx
  packages/amis-core/src/Root.tsx
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/WithStore.tsx
  packages/amis-core/src/envOverwrite.ts
  packages/amis-core/src/index.tsx
  packages/amis-core/src/store/iRenderer.ts
  packages/amis-core/src/store/root.ts
  packages/amis-core/src/utils/object.ts
Labels: feat

#6906 chore: 调整表格数据上下文
  packages/amis-core/src/store/list.ts
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#6911 fix: options 有默认值时不触发autoFill
  packages/amis-core/src/renderers/Options.tsx
Labels: fix

#6908 feat(amis): DropDownButton 下拉菜单buttons支持动态解析
  packages/amis/src/renderers/DropDownButton.tsx
Labels: feat

#6912 fix: combo delItem时length未立即更新
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix

#6910 fix: 修复 hash query 解析问题
  packages/amis-core/src/utils/helper.ts
Labels: fix

#6916 fix: table2和crud2属性对齐
  packages/amis-core/src/store/table2.ts
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#6913 feat: editor增加button图标大小选择
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/tpl/style.tsx
  packages/amis/src/renderers/Action.tsx
Labels: feat

#6897 feat: select下拉框开启本地搜索时支持自定义检索函数
  docs/zh-CN/components/form/select.md
  packages/amis-ui/src/components/Select.tsx
  packages/amis/__tests__/renderers/Form/select.test.tsx
  packages/amis/__tests__/renderers/Form/transfer.test.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: feat

#6920 feat: Code 组件支持配置 maxHeight Close: #6894
  docs/zh-CN/components/code.md
  packages/amis/src/renderers/Code.tsx
Labels: feat

#6926 fix: 修复日期展示 fromNow 展示为德文的问题 Close: #6914
  packages/amis-core/src/utils/date.ts
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis/src/renderers/Date.tsx
Labels: fix

#6925 feat: 自定义动作支持 await Close: #6572
  packages/amis-core/src/actions/CustomAction.ts
Labels: feat

#6924 feat: picker 支持配置标题 Close: #5545
  docs/zh-CN/components/form/picker.md
  packages/amis/src/renderers/Form/Picker.tsx
Labels: feat

#6923 feat: InputImages 多选图片列表支持拖拽排序 Close: #6826
  docs/zh-CN/components/form/input-image.md
  packages/amis-ui/scss/components/form/_image.scss
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: feat

#6927 chore: ConditonBuilder非内嵌模式热区扩大
  docs/zh-CN/components/form/condition-builder.md
  packages/amis-ui/src/components/condition-builder/index.tsx
Labels: chore

#6928 chore(amis-editor): 脚手架pipeOut支持异步; styles(amis-editor): 操作列配置面板按钮样式
  packages/amis-editor-core/src/component/ScaffoldModal.tsx
  packages/amis-editor/src/plugin/Operation.tsx
Labels: chore, style

#6929 feat: CURD2支持设置顶部&底部的外层CSS类
  packages/amis/src/renderers/CRUD2.tsx
Labels: feat

#6937 fix(amis-core): 修复select组件中一个未判空导致的渲染错误
  packages/amis-core/src/utils/normalizeOptions.ts
Labels: fix

#6938 fix: 过滤器filter解析错误
  packages/amis-formula/src/evalutorForAsync.ts
Labels: fix

#6946 feat:form刷新支持inited事件&增加asyncApiFinished事件 Close: #6575
  docs/zh-CN/components/form/index.md
  packages/amis-core/src/renderers/Form.tsx
Labels: feat

#6940 fix: 修复 form submit 事件触发时机问题 Close: #6901
  packages/amis-core/src/renderers/Form.tsx
Labels: fix

#6951 fix: InputTable包裹在容器中无法响应props.disbaled变化问题
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/src/renderers/Container.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#6953 styles: 修复button iconfont图标垂直不居中问题
  packages/amis-ui/scss/_mixins.scss
Labels: style

#6934 feat: 自定义样式支持添加前缀;优化实现方式
  examples/embed.tsx
  packages/amis-core/src/components/CustomStyle.tsx
  packages/amis-core/src/env.tsx
  packages/amis-core/src/index.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-editor/src/plugin/Icon.tsx
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
  packages/amis/src/renderers/Form/InputText.tsx
  packages/amis/src/renderers/Icon.tsx
Labels: feat

#6950 chore: 调整 layout 与 app 渲染器样式,支持配置成左右布局(非厂子型布局) Close: #6947
  packages/amis-ui/scss/components/_app.scss
  packages/amis-ui/scss/layout/_layout.scss
  packages/amis-ui/src/components/Layout.tsx
  packages/amis/src/renderers/App.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#6954 fix(amis-core): extendLocale增加cover参数，可用于设置非覆盖式扩展国际化语料数据
  packages/amis-core/src/locale.tsx
Labels: fix

#6955 fix: 修复label为空时SubMenu高度为0不展示问题
  packages/amis-ui/scss/components/_menu.scss
Labels: fix

#6968 fix: 修复input组件font自定义样式不生效问题
  packages/amis-core/src/utils/style-helper.ts
  packages/amis/src/renderers/Form/InputText.tsx
Labels: fix

#6974 fix: 修复图标选择组件无法渲染iconfont
  packages/amis-ui/scss/components/form/_icon-select.scss
  packages/amis-ui/src/components/icons.tsx
  packages/amis/src/renderers/Form/IconSelect.tsx
Labels: fix

#6969 feat: 新增注册foumula文档方法
  packages/amis-formula/src/function.ts
  packages/amis-formula/src/index.ts
  packages/amis-formula/src/types.ts
  packages/amis-ui/src/components/formula/Editor.tsx
Labels: feat

#6965 fix: 修复 table selectable 没有开启缺可以点选 Close: #6944
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#6975 fix: 修复 createObjectFromChain 导致页面编辑器 api 编辑报错问题 Close: #6943
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/iRenderer.ts
  packages/amis-core/src/utils/object.ts
  packages/amis-editor/src/renderer/APIControl.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-ui/scss/layout/_layout.scss
  packages/amis/src/renderers/App.tsx
Labels: fix

#6976 fix: 修复tpl输入框竖向滚动条样式&日期组件配置面板字体调整
  packages/amis-editor-core/scss/_mixin.scss
  packages/amis-editor-core/scss/control/_tpl-formula-control.scss
Labels: fix

#6979 fix: input-excel 自动去掉邮箱地址里的 mailto: Closes #6889
  packages/amis/src/renderers/Form/InputExcel.tsx
Labels: fix

#6978 fix: 修复 InputDateRange 选择开始时间不能选择将来的问题 Close: #6966
  packages/amis-ui/scss/layout/_layout.scss
  packages/amis-ui/src/components/DateRangePicker.tsx
Labels: fix

#6982 fix: 修复 jssdk json-schema-editor 开启 开启高级配置 无效问题 Close: #6977
  packages/amis-ui/src/components/PickerContainer.tsx
  packages/amis-ui/src/components/schema-editor/Array.tsx
  packages/amis-ui/src/components/schema-editor/Common.tsx
  packages/amis-ui/src/components/schema-editor/Object.tsx
  packages/amis-ui/src/components/schema-editor/index.tsx
  packages/amis/src/renderers/Form/JSONSchemaEditor.tsx
Labels: fix

#6984 fix: 修复 inputTable 编辑点取消删除行问题 Close: #6980
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#6990 styles: 优化table组件选中态样式
  packages/amis-ui/scss/_components.scss
Labels: style

#6997 chore: Service组件api支持静默
  lerna.json
  package.json
  packages/amis-core/package.json
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
  packages/amis/src/renderers/Service.tsx
Labels: chore

#7002 feat:CRUD&Table上下文校正、fix: 修复label为空时SubMenu高度为0不展示问题
  packages/amis-ui/scss/components/_menu.scss
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/src/renderers/CRUD.tsx
Labels: feat

#7004 fix: 修复 condition-builder 切换规则后右值丢失的问题
  packages/amis-ui/src/components/condition-builder/Item.tsx
Labels: fix

#7006 fix(amis-editor): 接口适配器输入时不自动对其进行折叠隐藏
  packages/amis-editor/src/renderer/APIAdaptorControl.tsx
Labels: fix

#7007 feat(amis)：CRUD组件列表头过滤时重置页码
  packages/amis/src/renderers/Table/HeadCellFilterDropdown.tsx
Labels: feat

#7003 styles: 优化remark组件svg icon样式
  packages/amis/src/renderers/Remark.tsx
Labels: style

#7010 feat(amis-editor;amis):时间范围组件快捷键自定义支持固定值的配置 + 设计器快捷键配置功能
  packages/amis-editor-core/scss/_mixin.scss
  packages/amis-editor-core/scss/_rightPanel.scss
  packages/amis-editor-core/scss/control/_dateshortcut-control.scss
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
  packages/amis-editor/src/renderer/DateShortCutControl.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
Labels: feat

#7008 styles: 优化checkbox组件字体大小变量
  packages/amis-ui/scss/_components.scss
  packages/amis/__tests__/renderers/Form/conditionBuilder.test.tsx
Labels: style

#7027 fix: 修复nestSelect下拉弹框宽度相关的问题
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/scss/components/form/_nested-select.scss
Labels: fix

#7026 fix(amis-editor): icon-button-group支持icon字体
  packages/amis-editor-core/scss/control/_icon-button-group-control.scss
  packages/amis-editor/src/renderer/ButtonGroupControl.tsx
Labels: fix

#7029 feat:动作的componentId支持表达式&动作增加componentName属性 Close #6907&#6996
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/form/combo.md
  docs/zh-CN/components/table.md
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/store/crud.ts
  packages/amis/src/renderers/CRUD.tsx
Labels: feat

#7033 feat:状态控制动作支持动态标识&补充combo行内联动demo Close #6972
  docs/zh-CN/components/form/combo.md
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/store/status.ts
Labels: feat

#7025 chore: 补充可视化编辑器里 CRUD 的 autoFillHeight 属性配置 Closes #6196
  packages/amis-editor/src/plugin/CRUD.tsx
Labels: chore

#7024 fix: 修复自动解析文件下载里的 text 导致报错 Closes #7021
  packages/amis-core/src/utils/api.ts
Labels: fix

#7023 fix: 修复 export-excel 中 mapping 不支持 source 变量问题 Closes #5134
  examples/components/CRUD/ExportCSVExcel.jsx
  packages/amis/src/renderers/Table/exportExcel.ts
Labels: fix

#6703 feat: 确认对话框支持schema配置
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/DialogAction.ts
  packages/amis-core/src/types.ts
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/plugin/BasicToolbar.tsx
  packages/amis-editor/src/plugin/Dialog.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-ui/src/components/Alert.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Dialog.tsx
Labels: feat

#7034 fix: 修复 inputFormula 组件在 sdk 模式下弹窗样式问题 Close: #5755
  packages/amis-ui/src/components/formula/Picker.tsx
  packages/amis/src/renderers/Form/InputFormula.tsx
Labels: fix

#7031 fix: 修复 inputTable 在弹窗中新增行 disabled 状态 Close: #6828
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#7001 feat: 新增 radio 组件可结合 combo 或者 inputTable 实现单选效果 Close: #6995
  docs/zh-CN/components/form/radio.md
  examples/components/Components.tsx
  packages/amis-core/src/utils/helper.ts
  packages/amis/src/Schema.ts
  packages/amis/src/index.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Form/Radio.tsx
Labels: feat

#6963 feat(amis): 日期选择器支持用表达式自定义快捷键
  docs/zh-CN/components/form/input-date-range.md
  docs/zh-CN/components/form/input-date.md
  docs/zh-CN/components/form/input-datetime-range.md
  docs/zh-CN/components/form/input-datetime.md
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
  packages/amis-editor/src/renderer/DateShortCutControl.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/MonthRangePicker.tsx
  packages/amis/__tests__/renderers/Form/dateRange.test.tsx
  packages/amis/__tests__/renderers/Form/datetimeRange.test.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
  packages/amis/src/renderers/Form/InputDateRange.tsx
  packages/amis/src/renderers/Form/InputMonthRange.tsx
  packages/amis/src/renderers/Form/InputQuarterRange.tsx
  packages/amis/src/renderers/Form/InputYearRange.tsx
Labels: feat

#7036 fix: 修复 inputTable 内部列默认值无效问题 Close: #6838
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/utils/api.ts
  packages/amis-core/src/utils/grammar.ts
  packages/amis-core/src/utils/isPureVariable.ts
  packages/amis-core/src/utils/memoryParse.ts
  packages/amis-core/src/utils/resolveVariable.ts
  packages/amis-core/src/utils/resolveVariableAndFilterForAsync.ts
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#7037 fix: 修复分组情况的列固顶功能 Close: #6646
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/scss/layout/_layout.scss
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#7039 chore(amis-editor): 调整 api 适配器 tip 写法,换成内部渲染器的 render 渲染配置 Close: #6971
  packages/amis-editor/src/renderer/APIAdaptorControl.tsx
Labels: chore

#7044 chore: 增加iconConfig配置
  .gitignore
  .vscode/iconConfig.json
Labels: chore

#6612 feat: input-table接入事件动作面板
  docs/zh-CN/components/form/input-table.md
  mock/cfc/mock/table/addFail.json
  mock/cfc/mock/table/addSuccess.json
  mock/cfc/mock/table/deleteFail.json
  mock/cfc/mock/table/deleteSuccess.json
  mock/cfc/mock/table/editFail.json
  mock/cfc/mock/table/editSuccess.json
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: feat

#6992 feat: table行支持双击事件
  docs/zh-CN/components/table.md
  packages/amis/__tests__/renderers/Table.test.tsx
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#7049 fix: nav仅点击箭头才能展开、source重置导致菜单自动关闭问题修复
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/src/components/WithRemoteConfig.tsx
  packages/amis-ui/src/components/menu/index.tsx
Labels: fix

#7020 chore: Pagination 组件部分属性支持关联上下文参数 Close: #6887
  docs/zh-CN/components/pagination.md
  packages/amis-editor-core/scss/_rightPanel.scss
  packages/amis-ui/src/components/Pagination.tsx
  packages/amis/src/renderers/Pagination.tsx
Labels: chore

#7047 feat:image&images增加enlargeWithGallary用于开关图片放大模式下图片集的显示
  docs/zh-CN/components/form/index.md
  docs/zh-CN/components/image.md
  docs/zh-CN/components/images.md
  packages/amis-ui/src/components/ImageGallery.tsx
  packages/amis/src/renderers/Image.tsx
  packages/amis/src/renderers/Images.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat
