Repository baidu/amis, pull requests merged in 2023-03, with the labels that each got.

#6291 chore: 删除在 ts 编译后永远都不会成立的代码
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: chore

#6289 styles: 将组件透明背景颜色改为白色
  packages/amis-ui/scss/_components.scss
Labels: style

#6284 fix:Select组件overlay属性在popOverContainer时宽度错误问题
  docs/zh-CN/components/form/select.md
  packages/amis-ui/src/components/PopOverContainer.tsx
  packages/amis-ui/src/components/Select.tsx
Labels: fix

#6292 styles: 优化link组件svg图标样式
  packages/amis-ui/scss/components/_link.scss
Labels: style

#6194 chore: Tree 组件中使用 value 替换 key
  packages/amis-ui/src/components/Tree.tsx
Labels: feat

#6258 fix: 单选选项值包含逗号时获取选项错误问题
  docs/zh-CN/components/form/transfer.md
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/formItem.ts
  packages/amis/__tests__/renderers/Form/select.test.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: fix

#5941 fix: select 各种模式支持 checkAll
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/src/components/AssociatedSelection.tsx
  packages/amis-ui/src/components/ChainedSelection.tsx
  packages/amis-ui/src/components/GroupedSelection.tsx
  packages/amis-ui/src/components/Selection.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/src/renderers/Form/Select.tsx
Labels: fix

#6299 feat(页面交互行为跟踪): 新增pageLoaded事件
  docs/zh-CN/extend/tracker.md
  packages/amis-core/src/types.ts
  packages/amis/src/renderers/Page.tsx
Labels: feat

#6304 fix: nav拖拽卡顿、更多操作打开定位等问题修复
  docs/zh-CN/components/nav.md
  packages/amis-ui/scss/components/_dropdown.scss
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/src/renderers/DropDownButton.tsx
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#6302 fix: toast组件css变量拼错
  packages/amis-ui/scss/_properties.scss
Labels: fix

#6307 style:inputTree树形选择框组件变量
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_tree.scss
Labels: style

#6298 fix: CRUD2 加载更多时接口page传参始终为1
  packages/amis-core/src/store/crud.ts
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#6301 fix: 日期范围底部按钮居中
  packages/amis-ui/scss/components/_calendar.scss
Labels: fix

#6313 fix: table2全选、嵌套展开等问题修复
  docs/zh-CN/components/table2.md
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/Table2/ColumnToggler.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#6314 docs(API 适配器): 调整文档细节
  docs/zh-CN/types/api.md
Labels: doc

#6312 styles: 优化清除图标样式
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/components/form/_date-range.scss
  packages/amis-ui/scss/components/form/_date.scss
  packages/amis-ui/scss/components/form/_location.scss
  packages/amis-ui/scss/components/form/_picker.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/scss/components/form/_text.scss
Labels: style

#6324 style: Dialog 对话框组件变量配置化
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_modal.scss
Labels: style

#6328 fix: 解决因部分组件默认配置,导致编辑器配置面板宽度溢出问题
  packages/amis-ui/scss/components/form/_icon-picker.scss
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#6321 fix: 调整 spinner-overlay 和 dialog 的 z-index，使关闭按钮不会被 spinner 遮挡
  examples/components/Loading.jsx
  packages/amis-ui/scss/_variables.scss
  packages/amis-ui/scss/components/_modal.scss
  packages/amis-ui/scss/components/_spinner.scss
Labels: fix

#6330 feat: 新增 number 组件用来展示数字
  docs/zh-CN/components/number.md
  examples/components/Components.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/Schema.ts
  packages/amis/src/index.tsx
  packages/amis/src/renderers/Form/StaticHoc.tsx
  packages/amis/src/renderers/Number.tsx
Labels: feat

#6332 chore: tableCell 内部属性换个名字,以免跟已有其他组件组合使用时冲突
  packages/amis/src/renderers/Table/TableCell.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#6331 style: Drawer抽屉 组件变量配置 & 迁移
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_drawer.scss
Labels: style

#6327 fix: 注销renderer问题
  packages/amis-core/src/factory.tsx
Labels: fix

#6295 feat: InputExcel支持placeholder
  docs/zh-CN/components/form/input-excel.md
  packages/amis/src/renderers/Form/InputExcel.tsx
Labels: feat

#6337 chore: 暴露 InputBoxWithSuggestion
  packages/amis-ui/src/components/InputBoxWithSuggestion.tsx
  packages/amis-ui/src/components/index.tsx
Labels: chore

#6338 fix: 修复注销renderer的判断
  packages/amis-core/src/factory.tsx
Labels: fix

#6286 docs: 补充trackExpression用法示例
  docs/zh-CN/components/chart.md
  docs/zh-CN/types/api.md
  packages/amis/src/renderers/Chart.tsx
Labels: doc

#6283 fix: 解决monaco环境变量和monaco插件的冲突
  index.html
  packages/amis-ui/src/components/Editor.tsx
Labels: fix

#6054 styles: 优化带单位的number组件样式
  packages/amis-ui/scss/components/form/_number.scss
  packages/amis/__tests__/renderers/Form/__snapshots__/number.test.tsx.snap
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: in-review, style

#6028 fix(Table): #2978 嵌套表格如何设置默认全部展开
  examples/components/CRUD/Nested.jsx
  packages/amis-core/src/store/table.ts
Labels: fix

#5783 fix: now表达式作为form组件默认值时，增加特殊逻辑，处理数据更新
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/utils/formula.ts
  packages/amis/__tests__/renderers/Date.test.tsx
Labels: in-review, fix

#6345 fix: 解决公式编辑器 搜索变量失效bug
  packages/amis-ui/src/components/formula/VariableList.tsx
Labels: bug, fix

#6346 fix: nav角标、悬浮展开子菜单、更多操作不可点击等问题修复
  packages/amis-ui/scss/components/_dropdown.scss
  packages/amis-ui/src/components/menu/MenuItem.tsx
  packages/amis-ui/src/components/menu/SubMenu.tsx
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#6340 feat: spinner组件接入主题
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_spinner.scss
Labels: bug, feat

#6339 feat: icon-select 上传图标
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_tpl.scss
  packages/amis-ui/scss/components/form/_icon-select.scss
  packages/amis/src/renderers/Form/IconSelect.tsx
Labels: feat

#6361 feat:config动作优化
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/DialogAction.ts
Labels: feat

#6365 fix: 修复卡片的 checkOnItemClick 配置问题
  docs/zh-CN/components/cards.md
  packages/amis/src/renderers/Card.tsx
Labels: fix

#6368 fix: 修复弹窗中 form 配置 closeDialogOnSubmit 无效的问题
  docs/zh-CN/components/form/index.md
  docs/zh-CN/components/wizard.md
  packages/amis/src/renderers/Dialog.tsx
Labels: fix

#6342 fix: Transfer tree mode 支持 onlyChildren;两个值为undefined的Option不相等
  packages/amis-core/src/utils/optionValueCompare.ts
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: fix

#6354 feat:carousel支持卡片动画模式
  docs/zh-CN/components/carousel.md
  packages/amis-ui/scss/components/_carousel.scss
  packages/amis/src/renderers/Carousel.tsx
Labels: feat

#6360 fix: inputTable 组件value依赖别的字段时,不同步数据域的问题
  packages/amis-core/src/renderers/Form.tsx
Labels: fix

#6357 feat: 添加input-table子表单校验
  docs/zh-CN/components/form/input-table.md
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/QuickEdit.tsx
Labels: feat

#6370 feat: Steps source支持动态获取value status
  docs/zh-CN/components/steps.md
  mock/cfc/mock/steps/steps.json
  packages/amis-ui/scss/components/_steps.scss
  packages/amis/__tests__/renderers/Steps.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Steps.test.tsx.snap
  packages/amis/src/renderers/Steps.tsx
Labels: feat

#6373 fix: 修复 drawer reload 目标可能找不到的问题
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/store/iRenderer.ts
  packages/amis/src/renderers/Page.tsx
Labels: fix

#6375 fix: 修复 this.model.validated 可能读取不到的报错
  packages/amis-core/src/renderers/wrapControl.tsx
Labels: fix

#6378 chore: alert 支持多个实例
  packages/amis-ui/src/components/Alert.tsx
Labels: chore

#6325 feat: Tag支持事件动作
  docs/zh-CN/components/tag.md
  examples/components/EventAction/cmpt-event-action/TagEvent.jsx
  examples/components/Example.jsx
  packages/amis/src/renderers/Tag.tsx
Labels: feat

#6347 chore: Select组件checkAllBySearch默认为true
  docs/zh-CN/components/form/select.md
  packages/amis-ui/src/components/Select.tsx
Labels: chore

#6380 feat: toast主题组件
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_toast.scss
Labels: feat

#6371 fix: Nav切换数据源实时更新、点击分组卡顿、横向模式排序等问题修复
  packages/amis-ui/src/components/WithRemoteConfig.tsx
  packages/amis-ui/src/components/menu/MenuItem.tsx
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/__tests__/renderers/__snapshots__/Nav.test.tsx.snap
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#6353 fix: table单元格支持自定义样式、crud支持本地数据快速过滤
  docs/zh-CN/components/table.md
  packages/amis-core/src/store/crud.ts
  packages/amis/src/renderers/Table/HeadCellFilterDropdown.tsx
  packages/amis/src/renderers/Table/TableCell.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#6394 fix: 图标选择器，如果图标不属于saas项目中的，则默认显示schema配置的内容
  packages/amis/src/renderers/Form/IconSelect.tsx
Labels: fix

#6379 feat: icon支持自定义样式
  packages/amis/src/renderers/Icon.tsx
Labels: feat

#6400 fix: 解决input-table某些场景下无法新增的bug
  docs/zh-CN/components/form/input-table.md
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: bug, fix

#6402 fix: input-table内columns为下拉框时，删掉下拉框的选中值，发现input-table的数据域更新错误
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#6415 chore: 修复 ghpages 报错，office-viewer 改成异步渲染
  docs/zh-CN/components/office-viewer.md
  examples/loader.ts
  fis-conf.js
  package.json
  packages/amis-formula/src/doc.md
  packages/amis/package.json
  packages/amis/rollup.config.js
  packages/amis/src/renderers/OfficeViewer.tsx
  packages/office-viewer/.gitignore
Labels: chore

#6416 chore: amis-editor 调整一下资源引用
  packages/amis-editor/editor.html
  packages/amis-editor/examples/Editor.tsx
  packages/amis-editor/index.html
Labels: chore

#6406 fix: webpack5 import css error
  packages/amis-editor-core/package.json
  packages/amis/package.json
Labels: fix, style

#6420 chore: amis-editor 暂无用例,先跳过报错
  packages/amis-editor-core/package.json
  packages/amis-editor/package.json
Labels: chore

#6421 fix: 修复 office-viewer 本地文件加载出错；numbering 每个层级重置计数
  docs/zh-CN/components/office-viewer.md
  examples/app/index-vite.html
  examples/app/index.html
  examples/index.html
  examples/loader.ts
  examples/static/example.docx
  examples/static/font/symbol.ttf
  examples/static/font/wingding.ttf
  examples/static/officefont.css
  examples/static/simple.docx
  fis-conf.js
  index.html
  package.json
  packages/amis-core/package.json
  packages/amis-editor-core/.gitignore
  packages/amis-editor/.gitignore
  packages/amis-ui/package.json
  packages/amis/package.json
  packages/amis/rollup.config.js
  packages/amis/src/renderers/OfficeViewer.tsx
  packages/office-viewer/__tests__/OpenXML.test.ts
  packages/office-viewer/__tests__/docx/simple/helloworld.docx
  packages/office-viewer/examples/static/css/app.css
  packages/office-viewer/src/openxml/word/table/Tc.ts
  packages/office-viewer/src/openxml/word/table/Tr.ts
  packages/office-viewer/src/parse/parsePr.ts
  packages/office-viewer/src/render/renderNumbering.ts
  vite.config.ts
Labels: fix

#6427 fix(amis-editor-core): exports补充scss文件，支持本地vite调试
  packages/amis-editor-core/package.json
Labels: fix

#6429 feat: transfer&inputTag&fieldset主题适配
  docs/zh-CN/components/form/fieldset.md
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_fieldset.scss
  packages/amis-ui/scss/components/form/_tag.scss
  packages/amis-ui/scss/components/form/_transfer.scss
  packages/amis/src/renderers/Form/FieldSet.tsx
Labels: feat

#6409 fix: 完善input-table新增的按钮置灰提示
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#6432 chore: 修复 office-viewer 在gh-pages 里面的报错
  fis-conf.js
  packages/office-viewer/src/index.ts
Labels: chore

#6435 chore: 修复 office viewer 文件在 ghpages 里无法访问
  .gitattributes
  docs/zh-CN/components/office-viewer.md
  examples/app/index.html
  examples/components/Example.jsx
  examples/components/OfficeViewer.jsx
  examples/components/Play.jsx
  examples/mobile.html
  examples/static/simple.docx
Labels: chore

#6430 feat:支持condition-builder条件运算
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/__tests__/condition.test.ts
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/SwitchAction.ts
  packages/amis-core/src/index.tsx
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/index.ts
  packages/amis-core/src/utils/resolveCondition.ts
  packages/amis-core/src/utils/resolveVariableAndFilterForAsync.ts
  packages/amis-core/src/utils/tpl.ts
  packages/amis-formula/__tests__/async-evalute.test.ts
  packages/amis-formula/__tests__/async-fomula.test.ts
  packages/amis-formula/src/evalutor.ts
  packages/amis-formula/src/evalutorForAsync.ts
  packages/amis-formula/src/index.ts
  packages/amis-ui/src/components/condition-builder/Expression.tsx
  packages/amis-ui/src/components/condition-builder/Func.tsx
  packages/amis-ui/src/components/condition-builder/Group.tsx
  packages/amis-ui/src/components/condition-builder/GroupOrItem.tsx
  packages/amis-ui/src/components/condition-builder/Item.tsx
  packages/amis-ui/src/components/condition-builder/Value.tsx
  packages/amis-ui/src/components/condition-builder/config.ts
  packages/amis-ui/src/components/condition-builder/index.tsx
  packages/amis-ui/src/components/condition-builder/types.ts
Labels: feat

#6436 fix: 修复本地vite 开发移动端预览报错问题
  scripts/transformMobileHtml.ts
  vite.config.ts
Labels: fix

#6431 feat: Service组件支持隐藏错误提示, chore: 错误提示使用Alert
  docs/zh-CN/components/service.md
  packages/amis/src/renderers/Service.tsx
Labels: feat, chore

#6439 fix: Transfer tree mode 支持 onlyChildren;两个值为undefined的Option不相等 (#6342)
  packages/amis-core/src/utils/optionValueCompare.ts
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: fix

#6440 fix: 修复 gh-pages 报 css 找不到的异常
  examples/mobile.html
  fis-conf.js
  scripts/transformMobileHtml.ts
Labels: fix

#6443 fix:事件干预条件判断
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/utils/tpl.ts
Labels: fix

#6442 chore: 尝试修复一些 ts 报错
  package.json
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/WithRootStore.tsx
  packages/amis-core/src/components/LazyComponent.tsx
  packages/amis-core/src/env.tsx
  packages/amis-core/src/locale.tsx
  packages/amis-core/src/theme.tsx
  packages/amis-core/src/types.ts
  packages/amis-editor-core/src/component/IFramePreview.tsx
  packages/amis-ui/src/components/Alert.tsx
  packages/amis-ui/src/components/Alert2.tsx
  packages/amis-ui/src/components/AsideNav.tsx
  packages/amis-ui/src/components/Button.tsx
  packages/amis-ui/src/components/Modal.tsx
  packages/amis-ui/src/components/PopUp.tsx
  packages/amis-ui/src/components/PullRefresh.tsx
  packages/amis-ui/src/components/TooltipWrapper.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Nav.tsx
  packages/amis/src/renderers/Table/TableCell.tsx
Labels: chore

#6445 fix:修复Carousel多图展示问题
  docs/zh-CN/components/carousel.md
  packages/amis/src/renderers/Carousel.tsx
Labels: fix

#6441 feat：timeline接入主题
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_timeline.scss
Labels: feat

#6446 style: progress & image & images组件主题变量替换
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_image-gallery.scss
  packages/amis-ui/scss/components/_images.scss
  packages/amis-ui/scss/components/_progress.scss
Labels: style

#6405 fix: CRUD2 中form组件reset不生效问题
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#6449 feat: crud组件loadDataOnce为true，前端下拉筛选如果选择多个值时，支持筛选出值
  packages/amis-core/src/store/crud.ts
Labels: feat

#6455 chore: 尝试修复一些 ts 报错
  packages/amis-core/__tests__/jest.setup.js
  packages/amis-ui/src/components/404.tsx
  packages/amis/__tests__/jest.setup.js
Labels: chore

#6457 chore: 尝试修复一些 ts 报错
  packages/amis-core/src/Root.tsx
  packages/amis-core/src/components/Overlay.tsx
  packages/amis-editor/src/renderer/DateShortCutControl.tsx
  packages/amis-editor/src/renderer/SwitchMoreControl.tsx
  packages/amis-ui/src/components/Alert.tsx
  packages/amis-ui/src/components/Alert2.tsx
  packages/amis-ui/src/components/AnchorNav.tsx
  packages/amis-ui/src/components/Avatar.tsx
  packages/amis-ui/src/components/Badge.tsx
  packages/amis-ui/src/components/Checkbox.tsx
  packages/amis-ui/src/components/Collapse.tsx
  packages/amis-ui/src/components/CollapseGroup.tsx
  packages/amis-ui/src/components/Drawer.tsx
  packages/amis-ui/src/components/FormField.tsx
  packages/amis-ui/src/components/GridNav.tsx
  packages/amis-ui/src/components/ImageGallery.tsx
  packages/amis-ui/src/components/InputBox.tsx
  packages/amis-ui/src/components/Link.tsx
  packages/amis-ui/src/components/ListMenu.tsx
  packages/amis-ui/src/components/Modal.tsx
  packages/amis-ui/src/components/PickerColumn.tsx
  packages/amis-ui/src/components/PopUp.tsx
  packages/amis-ui/src/components/PullRefresh.tsx
  packages/amis-ui/src/components/Range.tsx
  packages/amis-ui/src/components/Rating.tsx
  packages/amis-ui/src/components/Tabs.tsx
  packages/amis-ui/src/components/Tag.tsx
  packages/amis-ui/src/components/TooltipWrapper.tsx
  packages/amis-ui/src/components/WithRemoteConfig.tsx
  packages/amis-ui/src/components/calendar/MonthsView.tsx
  packages/amis-ui/src/components/json-schema/Array.tsx
  packages/amis-ui/src/components/menu/MenuItem.tsx
  packages/amis-ui/src/components/table/HeadCellDropDown.tsx
  packages/amis-ui/src/components/table/HeadCellFilter.tsx
  packages/amis-ui/src/components/table/HeadCellSelect.tsx
  packages/amis-ui/src/components/table/ItemActionsWrapper.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis-ui/src/hooks/use-set-state.ts
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Table/ItemActionsWrapper.tsx
  packages/amis/src/renderers/TooltipWrapper.tsx
Labels: chore

#6453 fix: Picker 组件 itemClick 事件改成驼峰式的命名
  examples/components/Form/Picker.jsx
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis/__tests__/renderers/Form/combo.test.tsx
Labels: fix

#6462 fix: nav页面切换性能问题修复
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#6463 fix: nav页面切换性能问题修复
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#6461 styles: 修复select组件样式问题
  packages/amis-ui/scss/components/form/_select.scss
Labels: style

#6478 feat: confirm 支持cancelText
  packages/amis-ui/src/components/Alert.tsx
Labels: feat

#6403 fix: 完善button&action关于按钮提示的文档
  docs/zh-CN/components/action.md
  docs/zh-CN/components/button.md
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/form/input-table.md
  packages/amis-core/src/store/crud.ts
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
Labels: fix

#6485 fix: 解决amis-editor-core 内部发包错误
  packages/amis-editor-core/rollup.config.js
Labels: fix

#6483 chore: vite 模式下 mobile 预览资源引用改成源码
  scripts/transformMobileHtml.ts
Labels: chore

#6486 fix: quickEdit只读时,无法将value同步到数据域
  docs/zh-CN/components/form/formula.md
  packages/amis/src/renderers/QuickEdit.tsx
Labels: fix

#6471 feat: icon-select组件 上传回调
  packages/amis/src/renderers/Form/IconSelect.tsx
Labels: feat

#6490 fix: 修复 ios 没有 DragEvent 会报错问题
  examples/polyfills/index.ts
Labels: fix

#6473 styles: 修复flex组件style无解析问题
  packages/amis/src/renderers/Flex.tsx
Labels: style

#6494 fix: Select开启autoComplete时搜索导致显示值错误问题
  packages/amis/src/renderers/Form/Select.tsx
Labels: fix

#6495 fix: 日期时间范围组件开始时间会被重置
  packages/amis-ui/src/components/DateRangePicker.tsx
Labels: fix

#6481 docs: 修复editor组件的options参数说明url失效问题
  docs/zh-CN/components/form/editor.md
Labels: doc

#6498 chore: 修复 office-viewer 里导致的编译报错
  packages/office-viewer/src/util/dom.ts
Labels: chore

#6479 feat: crud列过滤支持展开刷新
  docs/zh-CN/components/crud.md
  packages/amis/src/renderers/Table/HeadCellFilterDropdown.tsx
Labels: feat

#6505 chore: 同步内网代码
  packages/amis-editor-core/scss/control/_formItem-control.scss
  packages/amis-editor-core/src/component/SubEditor.tsx
  packages/amis-editor/src/plugin/Alert.tsx
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/plugin/CRUD2.tsx
  packages/amis-editor/src/plugin/Form/Combo.tsx
  packages/amis-editor/src/plugin/Form/InputRichText.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/LocationPicker.tsx
  packages/amis-editor/src/plugin/IFrame.tsx
  packages/amis-editor/src/plugin/Others/TableCell.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/plugin/Table2.tsx
  packages/amis-editor/src/plugin/TableCell2.tsx
  packages/amis-editor/src/plugin/Tabs.tsx
  packages/amis-editor/src/plugin/Tpl.tsx
  packages/amis-editor/src/plugin/Wizard.tsx
  packages/amis-editor/src/renderer/APIControl.tsx
  packages/amis-editor/src/renderer/DataMappingControl.tsx
  packages/amis-editor/src/renderer/DataPickerControl.tsx
  packages/amis-editor/src/renderer/StatusControl.tsx
  packages/amis-editor/src/renderer/event-control/action-config-dialog.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/textarea-formula/FormulaPicker.tsx
  packages/amis-editor/src/tpl/common.tsx
Labels: chore

#6504 fix: 修复collapse嵌套时，内部collapse收起时，箭头不正确问题
  packages/amis-ui/scss/components/_collapse.scss
Labels: fix
