Repository baidu/amis, pull requests merged in 2023-04, with the labels that each got.

#6521 fix: crud组件loadDataOnce为true，前端下拉筛选如果选择多个值时，支持筛选出值
  packages/amis-core/src/store/crud.ts
Labels: fix

#6518 feat: crud组件loadDataOnce为true，前端下拉筛选如果选择多个值时，支持筛选出值
  docs/zh-CN/components/action.md
  docs/zh-CN/components/button.md
  docs/zh-CN/components/crud.md
  packages/amis-core/src/store/crud.ts
Labels: feat

#6515 style: progress主题样式修复
  packages/amis-ui/scss/components/_progress.scss
Labels: style

#6523 feat: table2&combo主题配置
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_column-toggler.scss
  packages/amis-ui/scss/components/_table2.scss
  packages/amis-ui/scss/components/form/_combo.scss
  packages/amis-ui/src/components/table/HeadCellFilter.tsx
  packages/amis-ui/src/components/table/HeadCellSort.tsx
  packages/amis/src/renderers/Table2/HeadCellSearchDropdown.tsx
Labels: feat

#6527 chore: 更新editor内网发布脚本
  packages/amis-editor-core/package.json
  packages/amis-editor/package.json
  publish-editor-to-internal.sh
Labels: chore

#6535 fix: 自定义列样式修复
  packages/amis/src/renderers/Table2/ColumnToggler.tsx
Labels: fix

#6547 fix:完善Overlay弹层自动计算位置的兜底逻辑
  packages/amis-core/src/utils/dom.tsx
Labels: fix

#6550 fix:编辑态弹窗问题
  packages/amis-core/src/actions/DialogAction.ts
Labels: fix

#6551 fix:事件动作支持获取crud批量操作ids
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#6553 feat: 表单项校验变更为顺序校验模式
  docs/zh-CN/components/form/formitem.md
  docs/zh-CN/extend/addon.md
  packages/amis-core/src/utils/validations.ts
  packages/amis/__tests__/renderers/Form/inputGroup.test.tsx
  packages/amis/__tests__/utils/validations.test.ts
Labels: feat

#6544 chore: combo 扩充 subFormHorizontal 属性支持
  docs/zh-CN/components/form/combo.md
  docs/zh-CN/components/form/index.md
  packages/amis/src/renderers/Form/Combo.tsx
Labels: chore

#6556 fix: 修复options选项hidden为true时无效的问题
  packages/amis-core/src/store/formItem.ts
Labels: feat

#6549 style:checkbox 文本溢出时顶部对齐
  packages/amis-ui/scss/components/form/_checks.scss
Labels: style

#6560 fix: 修复 ooxml-viewer 包中 tslib 引用地址错误
  packages/amis/package.json
  packages/ooxml-viewer/package.json
Labels: fix

#6562 feat: 主题配置合并master
  docs/zh-CN/components/form/fieldset.md
  docs/zh-CN/components/steps.md
  packages/amis-core/src/index.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_alert.scss
  packages/amis-ui/scss/components/_column-toggler.scss
  packages/amis-ui/scss/components/_condition-builder.scss
  packages/amis-ui/scss/components/_crud.scss
  packages/amis-ui/scss/components/_crud2.scss
  packages/amis-ui/scss/components/_drawer.scss
  packages/amis-ui/scss/components/_image-gallery.scss
  packages/amis-ui/scss/components/_images.scss
  packages/amis-ui/scss/components/_modal.scss
  packages/amis-ui/scss/components/_progress.scss
  packages/amis-ui/scss/components/_spinner.scss
  packages/amis-ui/scss/components/_status.scss
  packages/amis-ui/scss/components/_steps.scss
  packages/amis-ui/scss/components/_table2.scss
  packages/amis-ui/scss/components/_tag.scss
  packages/amis-ui/scss/components/_timeline.scss
  packages/amis-ui/scss/components/_toast.scss
  packages/amis-ui/scss/components/_wizard.scss
  packages/amis-ui/scss/components/form/_combo.scss
  packages/amis-ui/scss/components/form/_fieldset.scss
  packages/amis-ui/scss/components/form/_icon-select.scss
  packages/amis-ui/scss/components/form/_picker.scss
  packages/amis-ui/scss/components/form/_rich-text.scss
  packages/amis-ui/scss/components/form/_tag.scss
  packages/amis-ui/scss/components/form/_text.scss
  packages/amis-ui/scss/components/form/_transfer.scss
  packages/amis-ui/scss/components/form/_tree.scss
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis-ui/src/components/Steps.tsx
  packages/amis-ui/src/components/table/HeadCellFilter.tsx
  packages/amis-ui/src/components/table/HeadCellSort.tsx
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Form/FieldSet.tsx
  packages/amis/src/renderers/Form/IconSelect.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
  packages/amis/src/renderers/Form/InputText.tsx
  packages/amis/src/renderers/Table2/ColumnToggler.tsx
  packages/amis/src/renderers/Table2/HeadCellSearchDropdown.tsx
Labels: feat

#6564 fix: 修复number组件ts报错
  packages/amis-ui/src/components/NumberInput.tsx
Labels: fix

#6565 chore: 修复ts报错
  packages/amis/src/renderers/Table2/ColumnToggler.tsx
Labels: chore

#6569 fix: CRUD2 不透传columnsTogglable;getData问题修改
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#6570 fix: PageMaker315专项问题修复
  packages/amis-editor-core/scss/_rightPanel.scss
  packages/amis-editor-core/scss/control/_api-control.scss
  packages/amis-editor-core/scss/control/_option-control.scss
  packages/amis-editor-core/scss/control/_validation-control.scss
  packages/amis-editor-core/src/component/PopOverForm.tsx
  packages/amis-editor-core/src/plugin/BasicToolbar.tsx
  packages/amis-editor-core/src/plugin/Unknown.tsx
  packages/amis-editor/src/icons/index.tsx
  packages/amis-editor/src/icons/layout/layout-fixed.svg
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/locale/en-US.ts
  packages/amis-editor/src/locale/zh-CN.ts
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/plugin/Carousel.tsx
  packages/amis-editor/src/plugin/Date.tsx
  packages/amis-editor/src/plugin/Datetime.tsx
  packages/amis-editor/src/plugin/Form/ButtonGroupSelect.tsx
  packages/amis-editor/src/plugin/Form/InputDate.tsx
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Form/Radios.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/plugin/Form/Static.tsx
  packages/amis-editor/src/plugin/Icon.tsx
  packages/amis-editor/src/plugin/List.tsx
  packages/amis-editor/src/plugin/Mapping.tsx
  packages/amis-editor/src/plugin/Others/Action.tsx
  packages/amis-editor/src/plugin/SearchBox.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/plugin/Tag.tsx
  packages/amis-editor/src/plugin/Time.tsx
  packages/amis-editor/src/renderer/APIAdaptorControl.tsx
  packages/amis-editor/src/renderer/APIControl.tsx
  packages/amis-editor/src/renderer/ActionApiControl.tsx
  packages/amis-editor/src/renderer/BadgeControl.tsx
  packages/amis-editor/src/renderer/ExpressionFormulaControl.tsx
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/OptionControl.tsx
  packages/amis-editor/src/renderer/StatusControl.tsx
  packages/amis-editor/src/renderer/ValidationControl.tsx
  packages/amis-editor/src/renderer/event-control/action-config-panel.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/textarea-formula/TextareaFormulaControl.tsx
  packages/amis-editor/src/renderer/textarea-formula/utils.ts
  packages/amis-editor/src/tpl/options.tsx
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-editor/src/util.ts
Labels: fix

#6308 feat: input-table添加事件动作
  docs/zh-CN/components/form/input-table.md
  examples/components/EventAction/cmpt-event-action/InputTableEvent.jsx
  examples/components/Example.jsx
  packages/amis-core/src/actions/Action.ts
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: feat

#6568 fix: 「组件」「Bug」Dropdown组件hover触发时移开不消失
  packages/amis/src/renderers/DropDownButton.tsx
Labels: fix

#6578 fix: 「组件」「Bug」Dropdown组件hover触发时移开不消失 (#6568)
  packages/amis/src/renderers/DropDownButton.tsx
Labels: fix

#6583 chore(amis-editor): 优化 input-number 的 mock 逻辑
  packages/amis-editor-core/src/mocker.ts
Labels: chore

#6586 chore(amis-editor): 调整部分 ts 逻辑
  packages/amis-editor-core/package.json
  packages/amis-editor-core/src/builder/ApiBuilder.ts
  packages/amis-editor-core/src/component/ClassNameControl.tsx
  packages/amis-editor-core/src/component/ContainerWrapper.tsx
  packages/amis-editor-core/src/component/IFramePreview.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/component/RendererThumb.tsx
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor/package.json
  packages/amis-editor/src/plugin/TableCell2.tsx
  packages/amis-editor/src/renderer/DataBindingControl.tsx
  packages/amis-editor/src/tpl/common.tsx
Labels: chore

#6590 chore: 升级 vite
  lerna.json
  package.json
  vite.config.ts
Labels: chore

#6571 docs: 修正 crud 文档错别字
  docs/zh-CN/components/crud.md
Labels: fix

#6529 docs: 补充 echarts 变量设置初始值的说明
  docs/zh-CN/components/chart.md
Labels: doc

#6588 fix: 树选择器样式修复
  packages/amis-ui/scss/components/form/_tree.scss
Labels: fix

#6589 fix(amis): chart组件支持主题样式相关配置
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis/src/renderers/Chart.tsx
Labels: fix

#6582 feat:Icon组件支持接收svg字符串直接展示&iconSelect样式优化
  packages/amis-ui/scss/components/form/_icon-select.scss
  packages/amis/src/renderers/Form/IconSelect.tsx
Labels: feat

#6593 theme: 分栏组件支持新版外观配置
  packages/amis-editor/src/plugin/Grid.tsx
  packages/amis/src/renderers/Grid.tsx
Labels: theme

#6594 fix: 修复开发态编辑器没有主题和翻译的问题
  packages/amis-editor/examples/Editor.tsx
  packages/amis-editor/src/index.tsx
Labels: fix

#6592 fix: CRUD组件列类型为mapping时导出excel展示错误
  docs/zh-CN/components/crud.md
  packages/amis/src/renderers/Table/exportExcel.ts
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#6599 feat: LocationPicker 添加 AMap 支持
  docs/zh-CN/components/form/location-picker.md
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/src/components/GaodeMapPicker.tsx
  packages/amis-ui/src/components/LocationPicker.tsx
Labels: feat

#6595 feat: 增加formulaEvalErrorHandler&conditionComputeErrorHandler用于跳过amis解析
  packages/amis-core/__tests__/compat.test.ts
  packages/amis-core/__tests__/condition.test.ts
  packages/amis-core/src/utils/resolveCondition.ts
  packages/amis-core/src/utils/resolveVariableAndFilterForAsync.ts
  packages/amis-core/src/utils/tpl-builtin.ts
  packages/amis-formula/src/error.ts
  packages/amis-formula/src/evalutor.ts
  packages/amis-formula/src/evalutorForAsync.ts
Labels: feat

#6602 feat: amis-ui添加导入模块
  packages/amis-ui/src/components/index.tsx
Labels: feat

#6609 style(amis-editor): 调高画布区高亮元素区域的层级，避免被遮挡
  packages/amis-editor-core/scss/editor.scss
Labels: style

#6605 fix: InputImage裁剪后图片上传失效问题
  packages/amis-core/src/utils/api.ts
Labels: fix

#6613 chore:简化resolveEventData调用
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-core/src/utils/renderer-event.ts
  packages/amis/src/renderers/Form/ChainedSelect.tsx
  packages/amis/src/renderers/Form/Checkbox.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/DiffEditor.tsx
  packages/amis/src/renderers/Form/Editor.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
  packages/amis/src/renderers/Form/InputDateRange.tsx
  packages/amis/src/renderers/Form/InputExcel.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
  packages/amis/src/renderers/Form/InputRange.tsx
  packages/amis/src/renderers/Form/InputRating.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Form/InputTag.tsx
  packages/amis/src/renderers/Form/InputText.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/MatrixCheckboxes.tsx
  packages/amis/src/renderers/Form/NestedSelect.tsx
  packages/amis/src/renderers/Form/Picker.tsx
  packages/amis/src/renderers/Form/Radios.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/Switch.tsx
  packages/amis/src/renderers/Form/TabsTransfer.tsx
  packages/amis/src/renderers/Form/TabsTransferPicker.tsx
  packages/amis/src/renderers/Form/Textarea.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
  packages/amis/src/renderers/Form/UserSelect.tsx
  packages/amis/src/renderers/SearchBox.tsx
  packages/amis/src/renderers/Tabs.tsx
Labels: chore

#6611 fix: 修复 inputTag 对 valueField 和 labelField 的适配问题
  packages/amis/src/renderers/Form/InputTag.tsx
Labels: fix

#6616 fix: 修复Tree添加元素问题
  packages/amis-ui/src/components/Tree.tsx
Labels: fix

#6629 chore: remove redundant
  packages/amis-editor-core/src/component/PopOverForm.tsx
  packages/amis-editor/src/renderer/BadgeControl.tsx
Labels: chore

#6615 amis-saas-10292 fix: 属性表组件，新增属性页面渲染报错
  packages/amis-editor/src/plugin/Property.tsx
Labels: fix

#6624 chore: 梳理 conditionBuilder 代码
  packages/amis-ui/src/components/condition-builder/Item.tsx
  packages/amis-ui/src/components/condition-builder/Value.tsx
  packages/amis/src/renderers/Form/ConditionBuilder.tsx
Labels: chore

#6635 feat: ui 组件用法支持监听内部渲染的事件动作
  docs/zh-CN/extend/ui-library.md
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/utils/renderer-event.ts
Labels: feat

#6507 feat: crud、crud2支持行移入、行移出事件
  docs/zh-CN/components/table.md
  examples/components/EventAction/cmpt-event-action/TableEvent.jsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/plugin/Table2.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: feat

#6638 fix: html 组件支持filterHtml
  packages/amis-ui/src/components/Html.tsx
  packages/amis-ui/src/components/TooltipWrapper.tsx
  packages/amis/src/renderers/App.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Carousel.tsx
  packages/amis/src/renderers/Form/Picker.tsx
  packages/amis/src/renderers/TooltipWrapper.tsx
Labels: fix

#6642 fix: 修复Tag组件status模式下的图标问题
  packages/amis-ui/scss/components/_tag.scss
  packages/amis-ui/src/components/Tag.tsx
Labels: fix

#6604 fix: 解决editor 报错 'getVariableOptions' of undefined
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#6641 feat: editor导出拖动组件
  packages/amis-editor-core/src/index.ts
Labels: feat

#6647 feat(amis-editor): 增加layout:wrapper-contanier，用于实现子配置项包裹效果
  package.json
  packages/amis-editor-core/package.json
  packages/amis-editor-core/scss/_rightPanel.scss
  packages/amis-editor/package.json
  packages/amis-editor/src/tpl/layout.tsx
  packages/amis/package.json
Labels: feat

#6614 feat: tabsTransfer tab title 支持模版
  packages/amis-ui/src/components/TabsTransfer.tsx
  packages/amis-ui/src/components/Tree.tsx
Labels: feat

#6649 fix: 向导组件onactive字体颜色不显示问题修复
  packages/amis-ui/scss/_components.scss
Labels: fix

#6644 fix: 修复日历样式和排序bug
  packages/amis-ui/scss/components/_calendar.scss
  packages/amis-ui/scss/components/form/_date.scss
  packages/amis-ui/src/components/calendar/DaysView.tsx
  packages/amis/__tests__/renderers/__snapshots__/calendar.test.tsx.snap
Labels: bug, fix

#6659 feat: 调整页面设计器系统组件顺序
  packages/amis-editor/examples/layout/plugin/Layout_fixed.tsx
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/plugin/Alert.tsx
  packages/amis-editor/src/plugin/AnchorNav.tsx
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/plugin/ButtonGroup.tsx
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/CollapseGroup.tsx
  packages/amis-editor/src/plugin/Container.tsx
  packages/amis-editor/src/plugin/Divider.tsx
  packages/amis-editor/src/plugin/DropDownButton.tsx
  packages/amis-editor/src/plugin/Flex.tsx
  packages/amis-editor/src/plugin/Form/ButtonGroupSelect.tsx
  packages/amis-editor/src/plugin/Form/ButtonToolbar.tsx
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Form/InputDate.tsx
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
  packages/amis-editor/src/plugin/Form/InputDateTimeRange.tsx
  packages/amis-editor/src/plugin/Form/InputMonthRange.tsx
  packages/amis-editor/src/plugin/Form/InputNumber.tsx
  packages/amis-editor/src/plugin/Form/InputQuarterRange.tsx
  packages/amis-editor/src/plugin/Form/InputTag.tsx
  packages/amis-editor/src/plugin/Form/InputText.tsx
  packages/amis-editor/src/plugin/Form/InputTimeRange.tsx
  packages/amis-editor/src/plugin/Form/InputYearRange.tsx
  packages/amis-editor/src/plugin/Form/ListSelect.tsx
  packages/amis-editor/src/plugin/Form/Radios.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/plugin/Form/Static.tsx
  packages/amis-editor/src/plugin/Form/Switch.tsx
  packages/amis-editor/src/plugin/Form/Textarea.tsx
  packages/amis-editor/src/plugin/Grid.tsx
  packages/amis-editor/src/plugin/IFrame.tsx
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-editor/src/plugin/Layout/Layout_fixed.tsx
  packages/amis-editor/src/plugin/Layout/Layout_free_container.tsx
  packages/amis-editor/src/plugin/Layout/Layout_sorption_container.tsx
  packages/amis-editor/src/plugin/Panel.tsx
  packages/amis-editor/src/plugin/Property.tsx
  packages/amis-editor/src/plugin/SearchBox.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/Steps.tsx
  packages/amis-editor/src/plugin/TableView.tsx
  packages/amis-editor/src/plugin/Tabs.tsx
  packages/amis-editor/src/plugin/Timeline.tsx
  packages/amis-editor/src/plugin/TooltipWrapper.tsx
  packages/amis-editor/src/plugin/Tpl.tsx
  packages/amis-editor/src/plugin/WebComponent.tsx
Labels: feat

#6660 chore: 调整组件顺序& 分类
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/plugin/Divider.tsx
  packages/amis-editor/src/plugin/Panel.tsx
Labels: fix

#6661 feat(amis-editor):增加inputText、textArea最大字数配置&修复上下文变量过长显示问题
  packages/amis-editor-core/scss/_data-chain.scss
  packages/amis-editor/src/plugin/Form/InputText.tsx
  packages/amis-editor/src/plugin/Form/Textarea.tsx
Labels: feat

#6665 fix: issue-6546: spinner icon 属性无效问题
  docs/zh-CN/components/spinner.md
  packages/amis-ui/src/components/Spinner.tsx
Labels: fix

#6651 feat: inputTree 支持 heightAuto 属性支持高度自动撑开
  docs/zh-CN/components/form/input-tree.md
  examples/components/CRUD/Aside.jsx
  packages/amis-ui/scss/components/form/_tree.scss
  packages/amis/src/renderers/Form/InputTree.tsx
Labels: feat

#6669 chore: 调整amis内网发布脚本
  publish-to-internal.sh
Labels: chore

#6674 fix: 修复一些 ts 报错
  .github/workflows/gh-pages.yml
  .github/workflows/pr-test.yml
  packages/amis-core/src/index.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/store/node.ts
  packages/amis-ui/src/components/TabsTransfer.tsx
  packages/amis-ui/src/index.tsx
  packages/amis/src/Schema.ts
  packages/amis/src/compat.ts
  packages/amis/src/index.tsx
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Card.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/Form/TabsTransfer.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Remark.tsx
  packages/amis/src/renderers/Table/ColumnToggler.tsx
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/ooxml-viewer/src/Word.ts
  packages/ooxml-viewer/src/util/print.ts
Labels: fix

#6689 styles: button-group-select不限制最大宽度
  packages/amis-ui/scss/components/_button-group.scss
Labels: style

#6676 fix: issues-6666：修复select组件懒加载时label回显问题
  docs/zh-CN/components/form/select.md
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/transfer.test.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: fix

#6633 fix: Nav功能、样式问题修复
  packages/amis-ui/package.json
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/scss/components/_nav.scss
  packages/amis-ui/src/components/menu/MenuItem.tsx
  packages/amis-ui/src/components/menu/SubMenu.tsx
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/__tests__/renderers/__snapshots__/Nav.test.tsx.snap
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#6679 fix(amis): NestedSelect 级联选择器搜索高亮逻辑重构
  packages/amis-core/src/utils/dom.tsx
  packages/amis-editor-core/scss/_rightPanel.scss
  packages/amis-editor/src/renderer/ButtonGroupControl.tsx
  packages/amis-editor/src/tpl/layout.tsx
  packages/amis-ui/scss/base/_common.scss
  packages/amis-ui/scss/components/_result-box.scss
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: fix

#6692 fix(amis-editor): flex-setting 改成 flex-layout-setting
  packages/amis-editor/src/renderer/FlexSettingControl.tsx
  packages/amis-editor/src/tpl/layout.tsx
Labels: fix

#6696 fix: 修复 quickEdit 在弹窗中异常的问题
  packages/amis/src/renderers/QuickEdit.tsx
Labels: fix

#6506 feat: Button-group-select支持统一配置所有选项角标
  packages/amis-editor/src/plugin/Form/ButtonGroupSelect.tsx
  packages/amis-editor/src/renderer/BadgeControl.tsx
  packages/amis-editor/src/renderer/OptionControl.tsx
  packages/amis/src/renderers/Form/ButtonGroupSelect.tsx
Labels: feat

#6693 feat: editor 表单项支持单独配置label宽度
  packages/amis-editor/src/tpl/style.tsx
Labels: feat, amis-editor

#6695 fix: editor 修复预览态弹框主题不生效问题
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix, amis-editor

#6672 fix: 主题测试修复&日历日程样式修复
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_calendar.scss
  packages/amis-ui/scss/components/_toast.scss
  packages/amis-ui/scss/components/form/_transfer.scss
  packages/amis-ui/src/icons/status-close.svg
Labels: fix

#6699 fix: nav外观配置问题修复
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/scss/components/_nav.scss
  packages/amis-ui/src/components/menu/MenuItem.tsx
  packages/amis-ui/src/components/menu/SubMenu.tsx
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/__tests__/renderers/__snapshots__/Nav.test.tsx.snap
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#6648 feat: 图片上传外观配置
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/plugin/Form/InputImage.tsx
  packages/amis-editor/src/renderer/style-control/ThemeCssCode.tsx
  packages/amis-editor/src/renderer/style-control/helper.tsx
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_image.scss
  packages/amis/src/renderers/Form/InputImage.tsx
  packages/amis/src/renderers/Form/InputText.tsx
Labels: feat

#6702 feat(ooxml): 支持艺术字部分样式；修复外部数据变更不会重新渲染问题
  docs/zh-CN/components/office-viewer.md
  mock/cfc/mock/sample.js
  package.json
  packages/amis/src/renderers/OfficeViewer.tsx
  packages/ooxml-viewer/__tests__/docx/simple/art.xml
  packages/ooxml-viewer/__tests__/docx/simple/loop-var-test.docx
  packages/ooxml-viewer/__tests__/docx/simple/word-art.docx
  packages/ooxml-viewer/package.json
  packages/ooxml-viewer/src/parse/parseChildColor.ts
  packages/ooxml-viewer/src/parse/parsePr.ts
  packages/ooxml-viewer/src/render/renderStyle.ts
Labels: feat

#6704 fix: toast className fix
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-ui/src/components/Toast.tsx
Labels: fix

#6700 styles: 优化tag关闭按钮样式
  packages/amis-ui/scss/components/_tag.scss
Labels: style

#6670 fix(ooxml): 修复 Drawing 相对定位错乱及颜色获取不正确问题
  packages/ooxml-viewer/__tests__/docx/simple/smart-art.xml
  packages/ooxml-viewer/__tests__/docx/simple/text-background.docx
  packages/ooxml-viewer/__tests__/docx/unsupport/pass-protect.docx
  packages/ooxml-viewer/__tests__/simple/__snapshots__/all-shape1.test.ts.snap
  packages/ooxml-viewer/__tests__/simple/__snapshots__/all-shape2.test.ts.snap
  packages/ooxml-viewer/__tests__/simple/__snapshots__/textbox-behindDoc.test.ts.snap
  packages/ooxml-viewer/__tests__/simple/__snapshots__/textbox.test.ts.snap
  packages/ooxml-viewer/src/OpenXML.ts
  packages/ooxml-viewer/src/Word.ts
  packages/ooxml-viewer/src/openxml/Settings.ts
  packages/ooxml-viewer/src/openxml/Theme.ts
  packages/ooxml-viewer/src/openxml/word/Settings.ts
  packages/ooxml-viewer/src/openxml/word/WDocument.ts
  packages/ooxml-viewer/src/parse/colorNameMap.ts
  packages/ooxml-viewer/src/parse/modifyColor.ts
  packages/ooxml-viewer/src/parse/parseChildColor.ts
  packages/ooxml-viewer/src/parse/parseColor.ts
  packages/ooxml-viewer/src/parse/parsePr.ts
  packages/ooxml-viewer/src/render/renderBody.ts
  packages/ooxml-viewer/src/render/renderDocument.ts
  packages/ooxml-viewer/src/render/renderSection.ts
  packages/ooxml-viewer/src/render/renderStyle.ts
  packages/ooxml-viewer/src/util/color.ts
Labels: fix

#6707 fix: 修复表达式输入框回车回显等问题
  packages/amis-editor-core/scss/control/_textarea-formula-control.scss
  packages/amis-editor-core/scss/control/_tpl-formula-control.scss
  packages/amis-editor/src/plugin/Form/InputTag.tsx
  packages/amis-editor/src/renderer/ExpressionFormulaControl.tsx
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/textarea-formula/TextareaFormulaControl.tsx
Labels: fix

#6708 fix:修复carousel样式+数据源未选中问题
  packages/amis-editor/src/plugin/Carousel.tsx
Labels: fix

#6705 fix: nav收纳样式问题修复
  docs/zh-CN/components/nav.md
  packages/amis-ui/scss/components/_menu.scss
Labels: fix

#6622 style: drawer&dialog iconContent增加
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_drawer.scss
  packages/amis-ui/scss/components/_modal.scss
  packages/amis-ui/src/components/Drawer.tsx
  packages/amis/__tests__/event-action/__snapshots__/dialog.test.tsx.snap
  packages/amis/__tests__/event-action/__snapshots__/drawer.test.tsx.snap
  packages/amis/__tests__/event-action/__snapshots__/prevent.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/button.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/buttonToolBar.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/checkboxes.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputSubForm.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/List.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Page.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Picker.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Wizard.test.tsx.snap
  packages/amis/src/renderers/Dialog.tsx
Labels: style

#6722 fix(editor): 主题数据不应该被保存下来
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/util.ts
Labels: fix

#6723 feat: cherry-pick图片上传修复
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_image.scss
  packages/amis/src/renderers/Form/InputImage.tsx
  packages/amis/src/renderers/Form/InputText.tsx
Labels: feat

#6724 fix(amis-editor): 修复从预览切到编辑态 toolbar, panel, 可能有原 node 节点引用读取异常问题
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/plugin.ts
Labels: fix

#6726 fix: 修复input-image 背景图问题
  packages/amis-ui/scss/components/form/_image.scss
Labels: fix

#6725 feat: images增加imageGallaryClassName 配置详情图类名 & 修改checkbox组件变量
  packages/amis-editor/src/plugin/Images.tsx
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_checks.scss
  packages/amis-ui/src/components/ImageGallery.tsx
  packages/amis/src/renderers/Image.tsx
  packages/amis/src/renderers/Images.tsx
Labels: feat

#6729 fix: 下掉文档预览组件
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/plugin/Progress.tsx
Labels: fix

#6736 fix: 列表选择器弹窗样式修复
  packages/amis-editor/src/plugin/Form/Picker.tsx
Labels: fix

#6739 feat: 完善spinner组件文档
  docs/zh-CN/components/spinner.md
Labels: feat

#6742 fix:[amis-saas-11642]主题组件tag padding不生效修复
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_tag.scss
Labels: fix

#6746 fix(amis-editor-core): 调整editor默认值公式编辑器中获取amis对应渲染器上下文的方法
  packages/amis-editor-core/src/component/IFramePreview.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor/src/renderer/FormulaControl.tsx
Labels: fix

#6748 fix: HeadCellFilterDropdown配置source切换页面卡顿问题修复
  packages/amis/src/renderers/Table/HeadCellFilterDropdown.tsx
Labels: fix

#6751 fix: imageGallary props
  packages/amis-ui/src/components/ImageGallery.tsx
  packages/amis/src/renderers/Image.tsx
Labels: fix

#6753 feat: input-excel 支持 xls 格式上传
  docs/zh-CN/components/form/input-excel.md
  fis-conf.js
  packages/amis/package.json
  packages/amis/src/renderers/Form/InputExcel.tsx
Labels: feat

#6762 fix:js动作提示错误
  packages/amis-editor/src/locale/zh-CN.ts
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix
