Repository baidu/amis, pull requests merged in 2023-07, with the labels that each got.

#7316 feat：导出 excel 支持指定行 Closes #2738
  docs/zh-CN/components/crud.md
  packages/amis-core/__tests__/utils/arraySlice.test.ts
  packages/amis-core/src/utils/arraySlice.ts
  packages/amis-core/src/utils/index.ts
  packages/amis/src/renderers/Table/exportExcel.ts
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#7329 chore: condition-builder 弹窗模式支持 jssdk Close: #7324
  packages/amis/src/renderers/Form/ConditionBuilder.tsx
Labels: chore

#7328 fix:修复列表选取bool类型选择错误
  packages/amis-core/src/store/list.ts
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis-editor/src/tpl/options.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Form/Picker.tsx
  packages/amis/src/renderers/List.tsx
Labels: awaiting-final-review, fix

#7331 fix(amis): input-sub-form优先使用input-sub-form
  packages/amis-editor-core/src/plugin.ts
  packages/amis/src/renderers/Form/InputSubForm.tsx
Labels: awaiting-final-review, fix

#7334 fix: 修复InputNumber 数字输入框 带单位数字 表单设置为静态时会显示数字无效的问题
  packages/amis/src/renderers/Number.tsx
Labels: fix

#7338 fix: 解决分页变量表达式不生效问题
  packages/amis/src/renderers/Pagination.tsx
Labels: fix

#7340 fix: 修复 api 无变量时的地址变化检测问题
  packages/amis-core/package.json
  packages/amis-core/src/utils/api.ts
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
  packages/office-viewer/package.json
Labels: awaiting-review, fix

#7234 feat:ajaxAction传参处理
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/AjaxAction.ts
  packages/amis-editor/src/renderer/event-control/comp-action-select.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: request-changes, feat

#7341 chore:表达式编辑器函数选择交互还原
  packages/amis-ui/src/components/formula/FuncList.tsx
Labels: chore

#7347 fix:折叠器事件参数类型显示问题
  packages/amis-editor/src/plugin/CollapseGroup.tsx
Labels: fix

#7366 chore: 调整 snapshot 比对忽略 aria-labelledby
  packages/amis/__tests__/helper.tsx
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/chainedSelect.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/combo.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/conditionBuilder.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/iconPicker.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputCity.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTag.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/number.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/repeat.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/service.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/__tests__/renderers/Form/chainedSelect.test.tsx
  packages/amis/__tests__/renderers/Form/combo.test.tsx
  packages/amis/__tests__/renderers/Form/conditionBuilder.test.tsx
  packages/amis/__tests__/renderers/Form/iconPicker.test.tsx
  packages/amis/__tests__/renderers/Form/inputCity.test.tsx
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/__tests__/renderers/Form/inputTag.test.tsx
  packages/amis/__tests__/renderers/Form/number.test.tsx
  packages/amis/__tests__/renderers/Form/repeat.test.tsx
  packages/amis/__tests__/renderers/Form/select.test.tsx
  packages/amis/__tests__/renderers/Form/service.test.tsx
  packages/amis/__tests__/renderers/Form/text.test.tsx
  packages/amis/__tests__/renderers/Pagination.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
Labels: chore

#7343 chore: 优化判断是否是 api 的正则判断
  packages/amis-core/src/utils/api.ts
  packages/amis/__tests__/event-action/ajax.test.tsx
  packages/amis/__tests__/event-action/custom.test.tsx
  packages/amis/__tests__/event-action/prevent.test.tsx
  packages/amis/__tests__/utils/api.test.ts
Labels: chore

#7369 chore: api 变更检测优化补充从无到有的检测
  packages/amis-core/src/utils/api.ts
Labels: chore

#7353 fix: 修复容忍 null #7275 后导致的自动取对象第一个数组功能异常
  packages/amis-core/src/store/crud.ts
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#7377 fix: 移动端inputTable无法滚动
  packages/amis-ui/scss/components/form/_form.scss
Labels: fix

#7379 revert: 回滚功能不完整代码
  docs/zh-CN/components/form/combo.md
  docs/zh-CN/concepts/event-action.md
  docs/zh-CN/start/getting-started.md
  examples/components/SchemaRender.jsx
  packages/amis-core/__tests__/async-filter.test.ts
  packages/amis-core/__tests__/filter.test.ts
  packages/amis-core/src/Root.tsx
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/StatusScoped.tsx
  packages/amis-core/src/WithStore.tsx
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/envOverwrite.ts
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/index.tsx
  packages/amis-core/src/store/iRenderer.ts
  packages/amis-core/src/store/root.ts
  packages/amis-core/src/store/status.ts
  packages/amis-core/src/utils/object.ts
  packages/amis-formula/src/evalutorForAsync.ts
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: fix

#7376 fix: 修复 office-viewer 不支持问边框组合问题
  packages/amis/package.json
  packages/amis/src/renderers/OfficeViewer.tsx
  packages/office-viewer/__tests__/docx/simple/group-in-group.docx
  packages/office-viewer/__tests__/docx/simple/group.docx
  packages/office-viewer/__tests__/docx/simple/shape-gradFill.docx
  packages/office-viewer/__tests__/docx/simple/shape-group.docx
  packages/office-viewer/__tests__/docx/simple/tab.xml
  packages/office-viewer/__tests__/docx/simple/tab2.xml
  packages/office-viewer/__tests__/docx/simple/tab3.xml
  packages/office-viewer/__tests__/docx/simple/theme-not-found.docx
  packages/office-viewer/__tests__/docx/var/table-loop.docx
  packages/office-viewer/__tests__/simple/__snapshots__/all-shape1.test.ts.snap
  packages/office-viewer/__tests__/simple/__snapshots__/all-shape2.test.ts.snap
  packages/office-viewer/__tests__/simple/__snapshots__/group.test.ts.snap
  packages/office-viewer/__tests__/simple/__snapshots__/info.test.ts.snap
  packages/office-viewer/__tests__/simple/__snapshots__/textbox-rotation.test.ts.snap
  packages/office-viewer/__tests__/simple/__snapshots__/textbox-vert.test.ts.snap
  packages/office-viewer/__tests__/simple/__snapshots__/textbox.test.ts.snap
  packages/office-viewer/__tests__/simple/group.test.ts
  packages/office-viewer/__tests__/util/replaceVar.test.ts
  packages/office-viewer/__tests__/util/var/space.docx
  packages/office-viewer/examples/app.ts
  packages/office-viewer/package.json
  packages/office-viewer/src/Word.ts
  packages/office-viewer/src/openxml/drawing/Drawing.ts
  packages/office-viewer/src/openxml/drawing/Transform.ts
  packages/office-viewer/src/openxml/word/Tab.ts
  packages/office-viewer/src/openxml/word/wps/WPG.ts
  packages/office-viewer/src/openxml/word/wps/WPS.ts
  packages/office-viewer/src/render/renderDrawing.ts
  packages/office-viewer/src/render/renderParagraph.ts
  packages/office-viewer/src/render/renderRun.ts
  packages/office-viewer/src/render/renderStyle.ts
  packages/office-viewer/src/render/renderTab.ts
  packages/office-viewer/src/util/get.ts
  packages/office-viewer/src/util/mergeRun.ts
  packages/office-viewer/src/util/replaceVar.ts
Labels: awaiting-final-review, fix

#7374 fix:input-text组件label为schema时，editor表达式配置报错
  packages/amis-editor/src/plugin/Form/Form.tsx
Labels: awaiting-final-review, fix

#7385 fix: 修复 dropdownbutton 配置 confirmText 弹出来两次的问题 Close: #7378
  packages/amis/src/renderers/DropDownButton.tsx
Labels: awaiting-review, fix

#7384 feat: App 应用支持设置菜单徽标 Close: #7380
  examples/app/app.tsx
  packages/amis-core/src/store/app.ts
Labels: awaiting-review, feat

#7382 fix: 修复 jssdk 中 popOver 问题 Close: #7372
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-editor/src/renderer/APIControl.tsx
  packages/amis-editor/src/renderer/MapSourceControl.tsx
  packages/amis-editor/src/renderer/NavSourceControl.tsx
  packages/amis-editor/src/renderer/OptionControl.tsx
  packages/amis-editor/src/renderer/TimelineItemControl.tsx
  packages/amis-editor/src/renderer/TransferTableControl.tsx
  packages/amis-editor/src/renderer/TreeOptionControl.tsx
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/Form/ChainedSelect.tsx
  packages/amis/src/renderers/Form/ConditionBuilder.tsx
  packages/amis/src/renderers/Form/InputCity.tsx
  packages/amis/src/renderers/Form/InputColor.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
  packages/amis/src/renderers/Form/InputDateRange.tsx
  packages/amis/src/renderers/Form/InputFormula.tsx
  packages/amis/src/renderers/Form/InputMonthRange.tsx
  packages/amis/src/renderers/Form/InputQuarterRange.tsx
  packages/amis/src/renderers/Form/InputRepeat.tsx
  packages/amis/src/renderers/Form/InputSubForm.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Form/InputTag.tsx
  packages/amis/src/renderers/Form/InputYearRange.tsx
  packages/amis/src/renderers/Form/JSONSchemaEditor.tsx
  packages/amis/src/renderers/Form/NestedSelect.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/TabsTransferPicker.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Remark.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/ColumnToggler.tsx
  packages/amis/src/renderers/Table2/index.tsx
  packages/amis/src/renderers/TooltipWrapper.tsx
Labels: awaiting-review, fix

#7346 fix: 解决input-rich-text偶发性parse报错的问题
  packages/amis-ui/src/components/Tinymce.tsx
Labels: awaiting-final-review

#7383 fix: 修复静态展示设置 style 后展示双份的问题 Close: #7381
  packages/amis/src/renderers/Form/Static.tsx
Labels: awaiting-review, fix, style

#7388 fix: combo 唯一验证触发后，当删除其中一个时，唯一验证的报错没有消失
  packages/amis-core/src/store/combo.ts
Labels: awaiting-final-review, fix

#7398 docs: 更新Tabs组件文档
  docs/zh-CN/components/tabs.md
  packages/amis/src/renderers/Tabs.tsx
Labels: doc

#7399 chore(amis-editor): 编辑器配置面板支持异步加载
  packages/amis-editor-core/src/component/AsyncLayer.tsx
  packages/amis-editor-core/src/plugin.ts
Labels: chore

#7395 fix: office-viewer 加载错误时显示错误信息
  lerna.json
  packages/amis-core/package.json
  packages/amis-core/src/utils/dataMapping.ts
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/package.json
  packages/amis/src/renderers/OfficeViewer.tsx
Labels: fix

#7400 chore: tinymce 修复 video 插入后显示两份的问题 Close: #7370
  packages/amis-ui/src/components/Tinymce.tsx
Labels: chore

#7412 feat: math.ts 单测
  packages/amis-core/__tests__/utils/math.test.ts
Labels: feat

#7405 feat: amis-ui组件样式变量增加命名空间
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
Labels: feat

#7415 feat: inputNubmer formatter优化
  packages/amis-core/__tests__/utils/math.test.ts
  packages/amis-core/src/utils/math.ts
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: feat

#7363 chore:表单校验和提交动作支持返回结果 Close #6941
  docs/zh-CN/components/form/index.md
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/utils/helper.ts
  packages/amis-core/src/utils/object.ts
  packages/amis-core/src/utils/renderer-event.ts
  packages/amis/__tests__/event-action/renderers/form/__snapshots__/form.test.tsx.snap
  packages/amis/__tests__/event-action/renderers/form/form.test.tsx
Labels: awaiting-review, chore

#7414 fix: 修复 office-viewer 开启变量后无限渲染问题
  lerna.json
  packages/amis-core/package.json
  packages/amis-formula/package.json
  packages/amis-ui/package.json
  packages/amis/package.json
  packages/amis/src/renderers/OfficeViewer.tsx
  packages/office-viewer/src/util/replaceVar.ts
Labels: fix

#7416 fix: input-number 值为0时静态展示问题
  packages/amis/__tests__/renderers/Form/number.test.tsx
  packages/amis/src/renderers/Number.tsx
Labels: fix, awaiting-release

#7421 feat: InputRange组件min,max,step支持变量
  docs/zh-CN/components/form/input-range.md
  packages/amis/__tests__/renderers/Form/__snapshots__/range.test.tsx.snap
  packages/amis/__tests__/renderers/Form/range.test.tsx
  packages/amis/src/renderers/Form/InputRange.tsx
Labels: awaiting-final-review, feat

#7420 chore: select 默认的搜索调整相关性参数 Close: #7410
  packages/amis-ui/src/components/Select.tsx
  packages/amis/__tests__/renderers/Form/select.test.tsx
Labels: awaiting-final-review, chore

#7418 fix: 修复crud查询条件中的值回显问题,只回显 query 部分 Close: #7274
  packages/amis/__tests__/renderers/CRUDfilter.test.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: awaiting-final-review, fix

#7350 fix:正则表达式文档增加提示
  docs/zh-CN/components/form/formitem.md
Labels: awaiting-final-review, fix

#7408 feat: checkboxs允许配置全选/不选文案
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
  packages/amis/src/renderers/Form/Checkboxes.tsx
Labels: awaiting-final-review

#7423 feat: NestedSelect组件支持最大展示标签数量
  docs/zh-CN/components/form/nestedselect.md
  packages/amis/__tests__/renderers/Form/__snapshots__/nestedSelect.test.tsx.snap
  packages/amis/__tests__/renderers/Form/nestedSelect.test.tsx
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: awaiting-final-review, feat

#7432 chore: 进一步避免 office viewer 在 loading 时更新
  packages/amis/src/renderers/OfficeViewer.tsx
Labels: chore

#7413 fix:文档属性表、事件表table固定列样式
  examples/doc.css
Labels: awaiting-final-review, fix

#7411 fix: 修复crud 中 drawer 动作后不刷新问题 Close: #6903
  .vscode/launch.json
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/__tests__/renderers/CRUDReload.test.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Service.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: awaiting-review, fix

#7431 nav组件下的option下的label属性支持表达式 #7430
  packages/amis/src/renderers/Nav.tsx
Labels: awaiting-final-review

#7422 chore: CRUD列为Image组件时, placeholder属性无法覆盖兜底图片
  packages/amis/src/renderers/Image.tsx
Labels: awaiting-final-review, chore

#7361 chore: Combo组件的deleteBtn数据域透传index
  docs/zh-CN/components/form/combo.md
  packages/amis/src/renderers/Form/Combo.tsx
Labels: awaiting-final-review, chore

#7394 feat: autoGenerateFilter 添加 defaultCollapsed 配置,同时优化搜索框位置有空间时复用表单项那行 …
  docs/zh-CN/components/crud.md
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: awaiting-review, feat

#7436 fix input-number 前后缀问题
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: feat

#7419 chore:刷新动作参数调整（默认不传数据）
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/form/index.md
  docs/zh-CN/components/page.md
  docs/zh-CN/components/service.md
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/Action.ts
  packages/amis/__tests__/event-action/renderers/__snapshots__/crud.test.tsx.snap
  packages/amis/__tests__/event-action/renderers/__snapshots__/page.test.tsx.snap
  packages/amis/__tests__/event-action/renderers/__snapshots__/service.test.tsx.snap
  packages/amis/__tests__/event-action/renderers/crud.test.tsx
  packages/amis/__tests__/event-action/renderers/form/__snapshots__/form.test.tsx.snap
  packages/amis/__tests__/event-action/renderers/form/form.test.tsx
  packages/amis/__tests__/event-action/renderers/page.test.tsx
  packages/amis/__tests__/event-action/renderers/service.test.tsx
Labels: awaiting-final-review, chore

#7440 docs: 补充toast文档展示html片段示例及属性
  docs/zh-CN/components/toast.md
Labels: feat

#7434 input-file组件的btnLabel属性支持表达式 #7433
  packages/amis/src/renderers/Form/InputFile.tsx
Labels: awaiting-final-review

#7442 feat:细化表单项上下文
  packages/amis-editor/src/plugin/Form/ButtonGroupSelect.tsx
  packages/amis-editor/src/plugin/Form/ChainedSelect.tsx
  packages/amis-editor/src/plugin/Form/Checkbox.tsx
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
  packages/amis-editor/src/plugin/Form/InputCity.tsx
  packages/amis-editor/src/plugin/Form/InputNumber.tsx
  packages/amis-editor/src/plugin/Form/InputRange.tsx
  packages/amis-editor/src/plugin/Form/InputRating.tsx
  packages/amis-editor/src/plugin/Form/InputTag.tsx
  packages/amis-editor/src/plugin/Form/InputText.tsx
  packages/amis-editor/src/plugin/Form/ListSelect.tsx
  packages/amis-editor/src/plugin/Form/LocationPicker.tsx
  packages/amis-editor/src/plugin/Form/NestedSelect.tsx
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis-editor/src/plugin/Form/Radios.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/plugin/Form/Switch.tsx
  packages/amis-editor/src/plugin/Form/TabsTransfer.tsx
  packages/amis-editor/src/plugin/Form/Transfer.tsx
  packages/amis-editor/src/util.ts
Labels: awaiting-final-review, feat

#7453 chore: Combo组件的deleteBtn数据域透传index
  docs/zh-CN/components/form/combo.md
  packages/amis/src/renderers/Form/Combo.tsx
Labels: chore

#7451 fix(amis): flex组件/合并flex和flexBasis，并优先使用flexBasis
  packages/amis-ui/scss/base/_common.scss
  packages/amis/src/renderers/Flex.tsx
Labels: fix

#7460 fix: input-image 多选时失败校验提示失效问题
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#7449 chore: 调整 table 固定列和固定表头逻辑
  docs/zh-CN/components/table.md
  examples/components/CRUD/Aside.jsx
  examples/components/CRUD/Aside2.jsx
  examples/components/CRUD/Fields.jsx
  examples/components/CRUD/Fix.jsx
  examples/components/CRUD/Footable.jsx
  examples/components/CRUD/HeaderGroup.jsx
  examples/components/CRUD/ItemAction.jsx
  examples/components/CRUD/JumpNext.jsx
  examples/components/CRUD/Keyboards.jsx
  examples/components/CRUD/List.jsx
  examples/components/CRUD/PopOver.tsx
  examples/components/CRUD/Table.jsx
  examples/components/SchemaRender.jsx
  mock/cfc/mock/service/schema.js
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/store/table.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_cards.scss
  packages/amis-ui/scss/components/_list.scss
  packages/amis-ui/scss/components/_progress.scss
  packages/amis-ui/scss/components/_table.scss
  packages/amis/__tests__/event-action/renderers/__snapshots__/crud.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Card.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/List.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Picker.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table/ColGroup.tsx
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableCell.tsx
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: awaiting-review, chore

#7461 chore: table column 中如果设置了 width 也自动用 table-layout:fixed 模式
  docs/zh-CN/components/table.md
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix, chore

#7463 chore:赋值动作支持覆盖模式&示例补充
  docs/zh-CN/components/chart.md
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/dialog.md
  docs/zh-CN/components/drawer.md
  docs/zh-CN/components/form/index.md
  docs/zh-CN/components/page.md
  docs/zh-CN/components/service.md
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/src/renderers/Chart.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: chore

#7427 input-text组件的placeholder属性支持表达式 #7426
  packages/amis/src/renderers/Form/InputText.tsx
Labels: awaiting-review

#7425 feat: 矩阵勾选MatrixCheckboxes功能增强
  docs/zh-CN/components/form/matrix-checkboxes.md
  packages/amis-editor/src/plugin/Form/MatrixCheckboxes.tsx
  packages/amis/src/renderers/Form/MatrixCheckboxes.tsx
Labels: awaiting-review, feat

#7466 feat: radios组件下的option下的label属性支持表达式 #7428
  packages/amis-ui/src/components/Radios.tsx
  packages/amis/src/renderers/Form/Radios.tsx
Labels: awaiting-final-review, feat

#7462 fix: 修复quickEdit column 只显示一半时弹窗定位问题
  packages/amis/src/renderers/QuickEdit.tsx
Labels: awaiting-final-review, fix

#7456 feat: api adpator 和 requestAdaptor 添加新变量 context 可用来获取请求发送前的上下文数据 Clo…
  docs/zh-CN/types/api.md
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/api.ts
Labels: awaiting-final-review, feat

#7474 fix:schemaApi在设计器设计态报错
  packages/amis-editor-core/src/component/factory.tsx
Labels: fix

#7472 feat:input-table&combo&table上下文细化
  packages/amis-editor/src/plugin/Form/Combo.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-ui/scss/components/_formula.scss
  packages/amis-ui/src/components/formula/Editor.tsx
  packages/amis-ui/src/components/formula/VariableList.tsx
Labels: feat

#7480 chore:补充刷新动作说明
  docs/zh-CN/components/chart.md
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/form/index.md
  docs/zh-CN/components/page.md
  docs/zh-CN/components/service.md
Labels: awaiting-final-review, chore

#7483 fix:input-city上下文类型
  packages/amis-editor/src/plugin/Form/InputCity.tsx
Labels: awaiting-review, fix

#7475 fix: 修复 office-viewer 在 input-file 预览模式下不支持打印问题 Closes #7389
  packages/amis/src/renderers/OfficeViewer.tsx
Labels: fix

#7464 fix: editor配置buttongroup 按钮类名预览态失效
  packages/amis/src/compat.ts
Labels: fix

#7476 feat:「动作配置」刷新动作配置面板优化
  packages/amis-editor/src/locale/zh-CN.ts
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: awaiting-final-review, feat

#7486 feat:弹窗&树选择框上下文优化
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/SubEditor.tsx
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/Dialog.tsx
  packages/amis-editor/src/plugin/Drawer.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
  packages/amis-editor/src/util.ts
Labels: feat

#7494 fix: icon组件支持传入style
  packages/amis-ui/src/components/icons.tsx
Labels: fix, style

#7495 feat:表单校验和提交动作面板支持配置结果存储
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: feat

#7498 chore:调整上下文文案
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: chore

#7493 fix: transfer组件disabled的选项 在全选父级的时候，仍然可以被选到
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/__tests__/renderers/Tree.test.tsx
Labels: fix

#7485 feat: 添加只打包esm的npm script
  package.json
  packages/amis-core/package.json
  packages/amis-core/rollup.esm.config.js
  packages/amis-editor-core/package.json
  packages/amis-editor-core/rollup.esm.config.js
  packages/amis-editor/package.json
  packages/amis-editor/rollup.esm.config.js
  packages/amis-formula/package.json
  packages/amis-formula/rollup.esm.config.js
  packages/amis-ui/package.json
  packages/amis-ui/rollup.esm.config.js
  packages/amis/package.json
  packages/amis/rollup.esm.config.js
  packages/office-viewer/package.json
  packages/office-viewer/rollup.esm.config.js
Labels: feat

#7469 chore: 调整 lodash 引用大文件改成异步加载
  docs/zh-CN/start/getting-started.md
  fis-conf.js
  package.json
  packages/amis-core/package.json
  packages/amis-core/rollup.config.js
  packages/amis-core/src/actions/DialogAction.ts
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/service.ts
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/debug.tsx
  packages/amis-core/src/utils/icon.tsx
  packages/amis-core/src/utils/optionValueCompare.ts
  packages/amis-editor-core/src/component/SubEditor.tsx
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-editor-core/src/plugin/DataDebug.tsx
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/plugin/CRUD2.tsx
  packages/amis-editor/src/plugin/Form/ConditionBuilder.tsx
  packages/amis-editor/src/plugin/TableCell2.tsx
  packages/amis-editor/src/renderer/DataBindingControl.tsx
  packages/amis-editor/src/renderer/FeatureControl.tsx
  packages/amis-editor/src/renderer/SwitchMoreControl.tsx
  packages/amis-editor/src/renderer/style-control/ThemeCssCode.tsx
  packages/amis-editor/src/renderer/style-control/themeLanguage.ts
  packages/amis-editor/src/tpl/api.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-editor/src/tpl/horizontal.tsx
  packages/amis-ui/package.json
  packages/amis-ui/rollup.config.js
  packages/amis-ui/src/components/FormField.tsx
  packages/amis-ui/src/components/Rating.tsx
  packages/amis-ui/src/components/ResultList.tsx
  packages/amis-ui/src/components/ResultTreeList.tsx
  packages/amis-ui/src/components/SearchBox.tsx
  packages/amis-ui/src/components/TableSelection.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/TransferSearch.tsx
  packages/amis-ui/src/components/formula/Editor.tsx
  packages/amis-ui/src/components/formula/FuncList.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis/__tests__/event-action/renderers/form/__snapshots__/form.test.tsx.snap
  packages/amis/__tests__/event-action/renderers/form/form.test.tsx
  packages/amis/__tests__/event-action/renderers/form/range.test.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputFormula.test.tsx
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/__tests__/renderers/JSON.test.tsx
  packages/amis/package.json
  packages/amis/rollup.config.js
  packages/amis/src/renderers/Form/ChainedSelect.tsx
  packages/amis/src/renderers/Json.tsx
  packages/amis/src/renderers/Wizard.tsx
  scripts/sdk-size.js
  scripts/transform-node-env-inline.js
Labels: awaiting-review, chore

#7503 fix: 修复css icon修改不生效问题
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/src/components/icons.tsx
Labels: fix

#7508 chore:调整表达式编辑器数组快捷菜单
  packages/amis-ui/src/components/formula/VariableList.tsx
Labels: awaiting-review, chore

#7518 fix: 修复editor部分国际化未翻译问题
  package.json
Labels: fix

#7516 feat: 容器组件支持鼠标点击、移入、移出事件
  docs/zh-CN/components/container.md
  packages/amis-editor/src/plugin/Container.tsx
  packages/amis/__tests__/event-action/renderers/container.test.tsx
  packages/amis/src/renderers/Container.tsx
Labels: feat

#7522 style: conditionBuilder在tree模式下下拉框高度限制
  packages/amis-ui/scss/components/form/_selection.scss
Labels: style

#7526 fix: 修复直接传入react组件icon渲染异常问题
  packages/amis-ui/src/components/icons.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/combo.test.tsx.snap
  packages/amis/src/renderers/Collapse.tsx
  packages/amis/src/renderers/Icon.tsx
Labels: fix

#7514 fix: transfer组件disabled的选项 在全选父级的时候，仍然可以被选到
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/__tests__/renderers/Tree.test.tsx
Labels: fix

#7525 feat: api 发送适配器支持异步
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/api.ts
  packages/amis/__tests__/utils/api.test.ts
Labels: feat

#7535 chore: 调整 debug 样式 补充销毁逻辑, 适配 react 18
  packages/amis-core/src/index.tsx
  packages/amis-core/src/utils/debug.tsx
  packages/amis-ui/scss/components/_debug.scss
  packages/amis-ui/scss/components/_drawer.scss
  packages/amis-ui/src/components/Alert.tsx
  packages/amis-ui/src/components/ContextMenu.tsx
  packages/amis/__tests__/renderers/Action.test.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/Table/TableBody.tsx
Labels: chore

#7537 chore: InputTable单测用例修复
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
Labels: chore

#7536 fix: nav图标展示问题、菜单浮层支持指定挂载
  packages/amis-ui/scss/components/_menu.scss
  packages/amis/__tests__/renderers/Nav.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Nav.test.tsx.snap
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#7538 fix: Service同步数据问题
  packages/amis/__tests__/event-action/renderers/__snapshots__/service.test.tsx.snap
  packages/amis/src/renderers/Service.tsx
Labels: fix

#7545 chore: 修复文档中的裂图
  docs/zh-CN/components/avatar.md
  docs/zh-CN/components/carousel.md
  docs/zh-CN/components/form/list-select.md
  docs/zh-CN/components/form/static.md
  docs/zh-CN/components/office-viewer.md
  docs/zh-CN/components/table.md
  examples/components/EventAction/cmpt-event-action/CarouselEvent.jsx
  mock/cfc/mock/crud/list.js
  mock/cfc/mock/options/carousel.js
  mock/cfc/mock/service/data.js
  mock/cfc/mock/upload/image.json
Labels: chore

#7546 chore: 返还到 react 16 的语法
  packages/amis-core/src/utils/debug.tsx
  packages/amis-ui/src/components/Alert.tsx
  packages/amis-ui/src/components/ContextMenu.tsx
Labels: chore

#7527 feat: Timeline组件支持itemTitleSchema配置节点标题
  packages/amis-editor/src/plugin/Timeline.tsx
  packages/amis/__tests__/renderers/Timeline.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Timeline.test.tsx.snap
  packages/amis/src/renderers/Timeline.tsx
Labels: feat

#7551 fix(amis-editor): MatrixCheckboxes多选属性配置错误问题
  packages/amis-editor/src/plugin/Form/MatrixCheckboxes.tsx
Labels: fix

#7553 chore:数组类组件当前行上下文优化
  docs/zh-CN/components/form/index.md
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/Form/Combo.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-ui/src/components/formula/VariableList.tsx
Labels: chore

#7549 chore: form 获取表单项应该排除子表单项内部的
  packages/amis-core/src/store/form.ts
Labels: chore

#7529 fix:修复ajax动作数据获取不到问题 Close #7524
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/AjaxAction.ts
  packages/amis-core/src/actions/DialogAction.ts
  packages/amis-core/src/actions/DrawerAction.ts
  packages/amis/__tests__/event-action/__snapshots__/ajax.test.tsx.snap
  packages/amis/__tests__/event-action/__snapshots__/dialog.test.tsx.snap
  packages/amis/__tests__/event-action/__snapshots__/drawer.test.tsx.snap
  packages/amis/__tests__/event-action/ajax.test.tsx
  packages/amis/__tests__/event-action/custom.test.tsx
  packages/amis/__tests__/event-action/dialog.test.tsx
  packages/amis/__tests__/event-action/drawer.test.tsx
Labels: fix

#7567 fix:表达式编辑器变量提示文案错误
  packages/amis-ui/src/components/formula/VariableList.tsx
Labels: fix

#7566 feat: api 的 requestAdaptor 支持拦截请求
  docs/zh-CN/start/getting-started.md
  docs/zh-CN/types/api.md
  examples/embed.tsx
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/api.ts
  packages/amis/__tests__/utils/api.test.ts
Labels: feat

#7570 fix(amis-editor): chart配置/同时放开api和config配置
  packages/amis-editor/src/plugin/Chart.tsx
  packages/amis-editor/src/plugin/Container.tsx
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-editor/src/plugin/Wrapper.tsx
  packages/amis-editor/src/tpl/layout.tsx
Labels: fix

#7575 fix: transfer 组件searchApi 不生效
  docs/zh-CN/components/form/transfer.md
  mock/cfc/mock/transfer/search.json
  packages/amis/__tests__/renderers/Form/transfer.test.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
Labels: fix

#7561 fix: 条件组选项触发弹出框后会显示底层其他条件组中select组件的删除按钮
  packages/amis-ui/scss/components/_condition-builder.scss
  packages/amis-ui/src/components/condition-builder/GroupOrItem.tsx
Labels: fix

#7576 fix: 修复列固定调整后总结行没有对应固定的问题 Close: #7557
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableContent.tsx
Labels: fix

#7555 feat: form 的自动提交支持设置 close 来避免关闭弹框
  docs/zh-CN/components/drawer.md
  packages/amis-core/src/renderers/Form.tsx
Labels: feat

#7584 fix:input-table删除行记录动作问题 Close #7559
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#7583 feat: 范围类组件支持 extraName 拆成两个字段
  docs/zh-CN/components/form/input-date-range.md
  docs/zh-CN/components/form/input-datetime-range.md
  docs/zh-CN/components/form/input-month-range.md
  docs/zh-CN/components/form/input-quarter-range.md
  docs/zh-CN/components/form/input-range.md
  docs/zh-CN/components/form/input-time-range.md
  docs/zh-CN/components/form/input-year-range.md
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/formItem.ts
  packages/amis/__tests__/renderers/Form/autoFill.test.tsx
  packages/amis/__tests__/renderers/Form/formitem.test.tsx
  packages/amis/src/renderers/Form/InputRange.tsx
Labels: feat

#7597 style: tr 的active 样式调整 close: #7585
  packages/amis-ui/scss/components/_table.scss
Labels: style

#7590 docs: 更新 React 官网链接
  docs/zh-CN/extend/contribute.md
Labels: doc

#7592 docs: 添加 position 默认值示意
  docs/zh-CN/components/drawer.md
Labels: doc

#7595 chore:调用组件动作时找不到则throw Error
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/actions/DialogAction.ts
  packages/amis-core/src/actions/StatusAction.ts
  packages/amis-core/src/actions/index.ts
  packages/amis/__tests__/event-action/__snapshots__/hidden.test.tsx.snap
  packages/amis/__tests__/event-action/hidden.test.tsx
Labels: chore

#7601 fix: inputFormula 弹窗位置错误
  packages/amis/src/renderers/Form/InputFormula.tsx
Labels: fix

#7603 docs: add title props for `Alert` docs
  docs/zh-CN/components/alert.md
Labels: doc

#7602 docs: 调整 showSteps 注释
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: doc

#7599 docs: 更新 input-number 文档
  docs/zh-CN/components/form/input-number.md
Labels: doc

#7608 chore(amis-editor): form & dialog 的操作按钮在没有设置的情况下也可以点选
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/store/node.ts
  packages/amis-editor/src/plugin/Dialog.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
  packages/amis-editor/src/tpl/common.tsx
Labels: chore

#7613 chore: 补充编辑器属性说明
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/types.ts
  packages/office-viewer/package.json
Labels: chore

#7619 fix: transferPicker 弹窗位置错误
  packages/amis/src/renderers/Form/TabsTransferPicker.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
Labels: fix

#7580 fix(amis-editor): sparkline走势图 属性配置面板升级
  packages/amis-editor-core/src/component/Panel/AMisCodeEditor.tsx
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor/src/plugin/Chart.tsx
  packages/amis-editor/src/plugin/Sparkline.tsx
Labels: fix

#7624 feat: inputCity 支持itemClassName
  docs/zh-CN/components/form/input-city.md
  packages/amis-ui/scss/_variables.scss
  packages/amis-ui/scss/helper/sizing/_width.md
  packages/amis-ui/scss/helper/sizing/_width.scss
  packages/amis/src/renderers/Form/InputCity.tsx
Labels: feat
