Repository baidu/amis, pull requests merged in 2024-09, with the labels that each got.

#10857 feat： 编辑器支持只读模式
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/HighlightBox.tsx
  packages/amis-editor-core/src/component/Panel/RightPanels.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/component/SubEditor.tsx
  packages/amis-editor-core/src/component/base/SchemaForm.tsx
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/store/node.ts
  packages/amis-editor-core/src/util.ts
Labels: feat

#10859 fix: rich-text loading 位置
  packages/amis-ui/scss/components/form/_rich-text.scss
Labels: fix

#10861 fix: 折叠器（collapse）箭头显示异常 Close: #10564
  packages/amis-ui/scss/components/_collapse.scss
Labels: fix

#10864 style:condition下拉框样式细节优化,避免内容过多导致超长
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/src/components/DropDownSelection.tsx
Labels: style

#10865 style:condition下拉框样式细节优化,避免内容过多导致超长 (#10864)
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/src/components/DropDownSelection.tsx
Labels: style

#10867 chore: update saxes.ts
  packages/office-viewer/src/util/saxes.ts
Labels: chore

#10882 style: form label强制折行
  packages/amis-ui/scss/components/form/_form.scss
Labels: style

#10898 docs: fix spelling errors
  docs/zh-CN/start/getting-started.md
Labels: fix, chore

#10901 feat: jssdk 支持 qiankun, wujie 微前端框架作为子应用加载
  examples/mod.js
  fis-conf.js
  scripts/embed-packager.js
Labels: feat

#10902 fix: 修复 autoComplete 和 addApi 搭配时新增选项不刷新的问题
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis/src/renderers/Form/Select.tsx
Labels: fix

#10903 fix: 修复图片放大功能右键也会触发图片移动的问题
  packages/amis-ui/src/components/ImageGallery.tsx
Labels: fix

#10904 style: 修复table 中放置带单位的 inputNumber 弹出被挡住问题
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: style

#10883 fix: inputTree defer模式下悬浮不展示操作按钮 #10873
  packages/amis-ui/src/components/Tree.tsx
Labels: fix

#10895 fix: inputTable开启拖拽后会导致表头文字可拖拽
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#10926 fix: 设置inTag时，label 为对象时渲染异常
  packages/amis/src/renderers/Words.tsx
Labels: fix

#10924 feat: amis 添加更多扩展功能
  examples/embed.tsx
  packages/amis-core/__tests__/jest.setup.js
  packages/amis-core/src/components/PopOver.tsx
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/index.tsx
  packages/amis-core/src/store/index.ts
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/api.ts
  packages/amis-formula/rollup.config.js
  packages/amis-formula/scripts/genDoc.ts
  packages/amis-formula/src/doc.ts
  packages/amis-formula/src/evalutor.ts
  packages/amis-formula/src/filter.ts
  packages/amis-formula/src/function.ts
  packages/amis-formula/src/index.ts
  packages/amis-formula/src/types.ts
  packages/amis-ui/src/components/Menu.tsx
  packages/amis-ui/src/components/Table.tsx
  packages/amis-ui/src/components/formula/Editor.tsx
  packages/amis-ui/src/components/formula/Picker.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis-ui/src/index.tsx
  packages/amis-ui/src/withRemoteConfig.ts
  packages/amis/__tests__/event-action/renderers/__snapshots__/crud.test.tsx.snap
  packages/amis/__tests__/event-action/renderers/crud.test.tsx
  packages/amis/__tests__/helper.tsx
  packages/amis/__tests__/renderers/Form/conditionBuilder.test.tsx
  packages/amis/package.json
  packages/amis/rollup.config.js
  packages/amis/src/index.tsx
Labels: feat

#10928 fix: 设置intag时，label 为对象时渲染异常
  packages/amis/src/renderers/Words.tsx
Labels: fix

#10935 fix: 配置面板首次变更无效
  packages/amis-editor-core/src/component/base/SchemaForm.tsx
  packages/amis/src/renderers/Form/Select.tsx
Labels: fix

#10936 fix: 配置面板首次变更无效
  packages/amis-editor-core/src/component/base/SchemaForm.tsx
  packages/amis/src/renderers/Form/Select.tsx
Labels: fix

#10934 fix: label为布尔时，显示错误
  packages/amis-core/src/utils/labelToString.ts
Labels: fix

#10910 解决bug:https://github.com/baidu/amis/issues/9146
  packages/amis-ui/scss/components/_column-toggler.scss
Labels: bug

#10938 feat: 隐藏数据中添加 __changeReason 字段并补充文档说明
  docs/zh-CN/concepts/datascope-and-datachain.md
  packages/amis-core/src/WithStore.tsx
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/iRenderer.ts
  packages/amis-core/src/store/service.ts
  packages/amis-core/src/types.ts
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/plugin/Dialog.tsx
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/StatusControl.tsx
  packages/amis-editor/src/renderer/event-control/DialogActionPanel.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis/__tests__/renderers/CRUDfilter.test.tsx
  packages/amis/src/renderers/Service.tsx
  packages/amis/src/types.ts
Labels: feat

#10940 fix: label为布尔时，显示错误
  packages/amis-core/src/utils/labelToString.ts
Labels: fix

#10943 feat: 组件id重复后,重新赋值
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/store/node.ts
Labels: feat, amis-editor

#10954 fix: 修复弹框复制id重复问题
  packages/amis-editor-core/src/component/Panel/DialogList.tsx
Labels: fix

#10952 fix: label为布尔时，显示错误
  packages/amis-core/src/utils/labelToString.ts
Labels: fix

#10955 fix: label为布尔时，显示错误
  packages/amis-core/src/utils/labelToString.ts
Labels: fix

#10957 fix: 修复combo内select的options使用valueField时options会被全部禁用的问题
  packages/amis-core/src/store/formItem.ts
Labels: fix

#10959 feat: 编辑器只读模式的subEditor支持返回
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/SubEditor.tsx
Labels: feat

#10962 fix: 修复渲染改成异步后部分面板匹配错误问题
  packages/amis-core/src/factory.tsx
  packages/amis/src/minimal.ts
Labels: fix

#10965 feat: 组件id重复后,重新赋值
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/store/node.ts
Labels: feat

#10966 fix: #10939 修复 broadcast 事件无效
  packages/amis-core/src/SchemaRenderer.tsx
Labels: fix

#10968 feat: 编辑器只读模式下编辑后还原数据
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/store/form.ts
  packages/amis-editor-core/src/component/Panel/RightPanels.tsx
  packages/amis-editor-core/src/component/base/SchemaForm.tsx
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-editor-core/src/plugin.ts
Labels: feat

#10974 fix: 修复 amis-editor 校验面板没有翻译的问题
  packages/amis-core/rollup.config.js
  packages/amis-core/src/index.tsx
  packages/amis-editor-core/rollup.config.js
  packages/amis-editor-core/src/index.ts
  packages/amis-editor/rollup.config.js
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/validator.tsx
  packages/amis-formula/rollup.config.js
  packages/amis-theme-editor-helper/rollup.config.js
  packages/amis-ui/rollup.config.js
  packages/amis/rollup.config.js
Labels: fix

#10976 chore: form 下发 onFlushForm 方便自定义组件拿取最新数据
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
Labels: chore
