Repository baidu/amis, pull requests merged in 2024-12, with the labels that each got.

#11293 fix: 链式下拉组件不支持 valueField
  packages/amis/src/renderers/Form/ChainedSelect.tsx
Labels: fix

#11299 fix: 移动端picker label为对象时页面白屏
  packages/amis-ui/src/components/PickerColumn.tsx
Labels: fix

#11298 feat: 签名组件增加回显
  packages/amis-ui/package.json
  packages/amis-ui/src/components/Signature.tsx
  packages/amis-ui/src/utils/index.ts
  packages/amis-ui/src/utils/smoothSignature.ts
Labels: feat

#11303 fix: 全局广播事件及时更新
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/base/SchemaForm.tsx
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/otherActionsPanel/broadcast.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#11304 fix: 全局广播事件及时更新
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/base/SchemaForm.tsx
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/otherActionsPanel/broadcast.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#11306 fix: 人员组件移动端支持禁用
  packages/amis-ui/src/components/UserSelect.tsx
  packages/amis-ui/src/components/UserTabSelect.tsx
  packages/amis/src/renderers/Form/UserSelect.tsx
Labels: fix

#11309 feat: table组件增加泛型
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#11308 chore: 调整 invalid label 展示, 无数据是展示 -
  packages/amis-core/src/utils/labelToString.ts
Labels: chore

#11311 chore: debug 面板优化(不要触发其他 modal 的 closeOnOutside & 限制 logs 条数太多了性能不可预期)
  packages/amis-core/src/utils/debug.tsx
Labels: chore

#11301 feat:调整静态样式,更新步骤条配置面板。列表选取新增选项可删除图标控制，配置面板调整
  docs/zh-CN/components/form/picker.md
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis-editor/src/plugin/Steps.tsx
  packages/amis-editor/src/tpl/api.tsx
  packages/amis-ui/scss/components/form/_picker.scss
  packages/amis/__tests__/renderers/__snapshots__/Picker.test.tsx.snap
  packages/amis/src/renderers/Form/Picker.tsx
  packages/amis/src/renderers/Form/StaticHoc.tsx
  packages/amis/src/renderers/PopOver.tsx
Labels: feat

#11320 doc: 完善日期相关链接
  docs/zh-CN/components/form/input-month-range.md
  docs/zh-CN/components/form/input-quarter-range.md
  docs/zh-CN/components/form/input-year-range.md
Labels: doc

#11318 feat: input-table、colunmn-toggler组件增加泛型
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Table/ColumnToggler.tsx
Labels: feat

#11321 fix: 修复icon组件传入部分svg字符串无法显示问题
  packages/amis-ui/src/components/icons.tsx
Labels: fix

#11323 style: 修复checkout单行垂直不对齐问题
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_checks.scss
Labels: style

#11322 chore: 补齐编辑器默认组件子组件的id
  packages/amis-editor/src/plugin/Alert.tsx
  packages/amis-editor/src/plugin/AnchorNav.tsx
  packages/amis-editor/src/plugin/ButtonGroup.tsx
  packages/amis-editor/src/plugin/Card.tsx
  packages/amis-editor/src/plugin/Cards.tsx
  packages/amis-editor/src/plugin/Collapse.tsx
  packages/amis-editor/src/plugin/CollapseGroup.tsx
  packages/amis-editor/src/plugin/CustomRegion.tsx
  packages/amis-editor/src/plugin/DropDownButton.tsx
  packages/amis-editor/src/plugin/Each.tsx
  packages/amis-editor/src/plugin/Form/ButtonToolbar.tsx
  packages/amis-editor/src/plugin/Form/Combo.tsx
  packages/amis-editor/src/plugin/Form/ConditionBuilder.tsx
  packages/amis-editor/src/plugin/Form/Control.tsx
  packages/amis-editor/src/plugin/Form/FieldSet.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Form/Group.tsx
  packages/amis-editor/src/plugin/Form/InputArray.tsx
  packages/amis-editor/src/plugin/Form/InputGroup.tsx
  packages/amis-editor/src/plugin/Form/InputSubForm.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/List.tsx
  packages/amis-editor/src/plugin/List2.tsx
  packages/amis-editor/src/plugin/Operation.tsx
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/plugin/SearchBox.tsx
  packages/amis-editor/src/plugin/SwitchContainer.tsx
  packages/amis-editor/src/plugin/TableView.tsx
  packages/amis-editor/src/plugin/TooltipWrapper.tsx
  packages/amis-editor/src/plugin/Wizard.tsx
  packages/amis-editor/src/util.ts
  packages/amis/src/schemaExtend.ts
Labels: chore

#11326 fix: broadcast 触发onBroadcast
  packages/amis-core/src/actions/BroadcastAction.ts
  packages/amis-core/src/utils/renderer-event.ts
Labels: fix

#11325 feat: 级联选择器增加选中项标题事件动作变量
  packages/amis-editor/src/plugin/Form/NestedSelect.tsx
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: feat

#11331 fix: 表单项静态展示不应该自动获取展示父级value
  packages/amis/src/renderers/Form/StaticHoc.tsx
Labels: fix

#11334 feat: 输入框增加查看密码和隐藏密码事件和动作，调整自定义样式配置
  packages/amis-editor/src/plugin/Form/InputText.tsx
  packages/amis/src/renderers/Form/InputText.tsx
Labels: feat

#11344 [fix] editor 配置面板中的开关打开更多配置的组件配置整理
  packages/amis-editor/src/component/BaseControl.ts
  packages/amis-editor/src/plugin/Carousel.tsx
  packages/amis-editor/src/plugin/CollapseGroup.tsx
  packages/amis-editor/src/plugin/Form/InputRating.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/ListSelect.tsx
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis-editor/src/plugin/Form/Static.tsx
  packages/amis-editor/src/plugin/Form/Switch.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
  packages/amis-editor/src/plugin/Image.tsx
  packages/amis-editor/src/plugin/List.tsx
  packages/amis-editor/src/plugin/Mapping.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/plugin/Table2.tsx
  packages/amis-editor/src/plugin/TableCell2.tsx
  packages/amis-editor/src/plugin/Timeline.tsx
  packages/amis-editor/src/renderer/SwitchMoreControl.tsx
  packages/amis-editor/src/tpl/options.tsx
Labels: fix

#11345 fix: 修复tab组件透传className未赋值
  packages/amis-ui/src/components/Tabs.tsx
Labels: fix

#11342 feat: 进入视图才执行动画
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/components/Animations.tsx
  packages/amis-core/src/utils/animations.ts
  packages/amis-core/src/utils/helper.ts
  packages/amis-editor-core/scss/control/_event-action.scss
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-ui/scss/base/_typography.scss
Labels: feat

#11351 fix: 修复colsize在inputtable下报错问题
  packages/amis-editor/src/renderer/style-control/ColSize.tsx
Labels: fix

#11363 feat: 地理位置静态展示支持内嵌地图方式展示
  docs/zh-CN/components/form/location-picker.md
  packages/amis-ui/src/components/BaiduMapPicker.tsx
  packages/amis/src/renderers/Form/LocationPicker.tsx
Labels: feat

#11362 feat: 地理位置静态展示支持内嵌地图方式展示
  docs/zh-CN/components/form/location-picker.md
  packages/amis-ui/src/components/BaiduMapPicker.tsx
  packages/amis/src/renderers/Form/LocationPicker.tsx
Labels: feat

#11355 fix: 修复数字框过早进行四舍五入，导致输入状态下自动格式化问题
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#11365 fix: 修复picker组件输入框无法foucs的交互
  packages/amis/__tests__/renderers/__snapshots__/Picker.test.tsx.snap
  packages/amis/src/renderers/Form/Picker.tsx
Labels: fix

#11367 feat: 地图静态展示支持设置大小
  docs/zh-CN/components/form/location-picker.md
  packages/amis-ui/src/components/BaiduMapPicker.tsx
  packages/amis/src/renderers/Form/LocationPicker.tsx
  packages/amis/src/renderers/Image.tsx
Labels: feat

#11366 feat: 地图静态展示支持设置大小
  docs/zh-CN/components/form/location-picker.md
  packages/amis-ui/src/components/BaiduMapPicker.tsx
  packages/amis/src/renderers/Form/LocationPicker.tsx
  packages/amis/src/renderers/Image.tsx
Labels: feat

#11352 [fix] inputtable配置面板确认模式关闭后二次打开状态错误的问题
  packages/amis-editor/src/plugin/Form/InputTable.tsx
Labels: fix

#11341 fix: Image 组件通过css设置transform 属性不生效
  packages/amis/src/renderers/Image.tsx
Labels: fix

#11356 docs: add english readme
  README-en.md
Labels: doc

#11354 fix: input-table确认模式下进行新增时，若只配置编辑接口，不配置新增接口，会导致新增确认时调用编辑接口
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#11372 feat: 图形组件
  docs/zh-CN/components/shape.md
  examples/components/Components.tsx
  packages/amis-ui/scss/components/_shape.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis-ui/src/components/Shape.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis-ui/tsconfig.json
  packages/amis/src/Schema.ts
  packages/amis/src/minimal.ts
  packages/amis/src/renderers/Shape.tsx
Labels: feat

#11376 feat: 图形组件支持配置宽高、颜色
  docs/zh-CN/components/shape.md
  packages/amis-ui/scss/components/_shape.scss
  packages/amis-ui/src/components/Shape.tsx
  packages/amis/src/renderers/Shape.tsx
Labels: feat

#11371 feat: 文件上传组件新增是否开启文件上传路径拼接配置项
  packages/amis-editor/src/plugin/Form/InputFile.tsx
Labels: feat

#11369 feat: crud的卡片风格支持行点击，选择表格项，行排序事件
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Card.tsx
  packages/amis/src/renderers/Cards.tsx
Labels: feat

#11379 fix: 修复picker禁用状态下点击折叠标签仍可打开弹窗
  packages/amis-ui/scss/components/form/_picker.scss
Labels: fix

#11385 feat: 图形组件扩充形状
  docs/zh-CN/components/shape.md
  packages/amis-ui/src/components/Shape.tsx
  packages/amis/src/renderers/Shape.tsx
Labels: feat

#11386 fix: 修复 inputTable 非最后一页点击上传并且列中有图片上传时出现新行有初始值的问题
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#11395 feat: 编辑器选择字体时支持预览,字体配置支持 previewUrl
  packages/amis-theme-editor-helper/src/helper/declares.ts
  packages/amis-theme-editor-helper/src/helper/getGlobalData.ts
  packages/amis-theme-editor-helper/src/renderers/Font.tsx
  packages/amis-theme-editor-helper/src/renderers/ThemeSelect.tsx
Labels: feat

#11394 feat: Action支持动作结束前禁用，Form支持清除校验错误动作、支持校验错误时返回RawError、api存在，且SendOn生…
  docs/zh-CN/components/form/index.md
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/api.ts
  packages/amis-core/src/utils/helper.ts
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Tabs.tsx
  packages/amis/__tests__/renderers/Form/formitem.test.tsx
  packages/amis/__tests__/renderers/Form/index.test.tsx
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Form/StaticHoc.tsx
  packages/amis/src/renderers/Panel.tsx
  packages/amis/src/renderers/Words.tsx
Labels: feat

#11399 feat: crud2列标题支持表达式
  packages/amis/src/renderers/Table2/index.tsx
Labels: feat

#11404 feat: 优化shape组件圆角算法
  docs/zh-CN/components/shape.md
  packages/amis-theme-editor-helper/rollup.config.js
  packages/amis-ui/scss/components/_shape.scss
  packages/amis-ui/src/components/Shape.tsx
  packages/amis-ui/src/utils/vectorComputed.ts
Labels: feat

#11390 chore: CRUD 调整方便外围覆盖
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/table.md
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/store/list.ts
  packages/amis-core/src/store/table.ts
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_crud.scss
  packages/amis-ui/scss/components/form/_picker.scss
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/__tests__/renderers/Picker.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Picker.test.tsx.snap
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Form/Picker.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table/Cell.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#11349 feat: 新增全局变量功能
  examples/components/EventAction/update-data/SetVariable.jsx
  examples/components/Example.jsx
  examples/components/SchemaRender.jsx
  packages/amis-core/src/Root.tsx
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/globalVar.ts
  packages/amis-core/src/globalVarClientHandler.ts
  packages/amis-core/src/globalVarDefaultValueHandler.ts
  packages/amis-core/src/index.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/store/root.ts
  packages/amis-editor-core/scss/control/_global-var.scss
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/IFramePreview.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/component/base/SchemaForm.tsx
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-editor-core/src/index.ts
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/variable.ts
  packages/amis-editor/examples/Editor.tsx
  packages/amis-editor/src/icons/index.tsx
  packages/amis-editor/src/icons/other/global-var.svg
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/plugin/GlobalVar.tsx
  packages/amis-editor/src/plugin/index.ts
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/setValue.tsx
  packages/amis-editor/src/renderer/global-var-control/GlobalVarBuiltinPanel.tsx
  packages/amis-editor/src/renderer/global-var-control/GlobalVarManagerPanel.tsx
  packages/amis-editor/src/renderer/global-var-control/index.tsx
  packages/amis-ui/scss/components/_button.scss
  packages/amis/src/renderers/Tabs.tsx
Labels: feat

#11383 chore: 修复访问 props key 的 warning 报错
  packages/amis-core/src/SchemaRenderer.tsx
Labels: chore

#11387 fix: 修复 inputTable 列检索同级别存在同名表单项值时搜索框查询条件自动被赋值问题
  packages/amis/src/renderers/Table/HeadCellSearchDropdown.tsx
Labels: fix

#11418 fix: 修复 api 配置 query 参数值中存在变量语法经过两次运算的问题
  packages/amis-core/src/utils/api.ts
  packages/amis/__tests__/utils/api.test.ts
Labels: fix

#11420 chore: Table 调整方便外围覆盖
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#11423 feat: 图形组件支持边框和事件动作
  docs/zh-CN/components/shape.md
  packages/amis-ui/scss/components/_shape.scss
  packages/amis-ui/src/components/Shape.tsx
  packages/amis/src/renderers/Shape.tsx
Labels: feat

#11424 feat: mobileTool支持配置border
  packages/amis-ui/src/components/MobileDevTool.tsx
Labels: feat

#11426 chore: 补充 CRUD 配置面板
  packages/amis-core/src/utils/debug.tsx
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis/src/renderers/Table/Cell.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
Labels: chore

#11425 fix: 修复数字框在iframe中，输入状态下自动格式化了
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#11429 fix: overrideSupportStatic函数未导出
  packages/amis/src/index.tsx
Labels: fix

#11398 chore(amis): rollup配置文件中删除未使用的变量引入，避免编译时警告
  packages/amis/rollup.config.js
Labels: chore

#11412 fix(amis-ui): dependencies中引入video-react@0.15.0依赖，避免_thirds.scss中引入依赖报错的问题
  packages/amis-ui/package.json
Labels: fix, doc, style

#11433 fix: 添加tableFillHeight属性控制表格高度，避免开启autoFillHeight后表格行高度异常的问题，以便向下兼容Closes #11419
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#11438 fix: 调整icon mk的判断值
  packages/amis/src/renderers/icons/mk.ts
Labels: fix
