Repository baidu/amis, pull requests merged in 2024-10, with the labels that each got.

#10986 fix: 移动端弹窗、抽屉配置了closeOnOutside， 移动端下拉类型的表单选择后整个弹窗关闭
  packages/amis-ui/src/components/Drawer.tsx
  packages/amis-ui/src/components/Modal.tsx
Labels: fix

#10988 fix: fix scss deprecation warning
  examples/style.scss
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/_variables.scss
  packages/amis-ui/scss/components/_array-input.scss
  packages/amis-ui/scss/components/_input-box.scss
  packages/amis-ui/scss/components/_json-schema-editor.scss
  packages/amis-ui/scss/components/_result-box.scss
  packages/amis-ui/scss/components/_tag.scss
  packages/amis-ui/scss/components/_toast.scss
  packages/amis-ui/scss/components/form/_image.scss
  packages/amis-ui/scss/components/form/_list.scss
  packages/amis-ui/scss/components/form/_picker.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/scss/components/form/_textarea.scss
  packages/amis-ui/scss/components/form/_tree-select.scss
Labels: fix

#10967 fix: #10951 修复 InputTable 在 配置 perPage 开启分页场景时，底部新增按钮展示异常
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#10989 fix: 修复编辑器中crud2 id自动修改问题
  packages/amis-editor-core/src/manager.ts
Labels: fix

#10991 style: 调整表格行上下内边距
  packages/amis-theme-editor-helper/src/systemTheme/component.ts
  packages/amis-ui/scss/_components.scss
Labels: style

#10996 fix: 修复类继承 observer 过的类无法使用 super.render 的问题
  packages/amis-core/src/factory.tsx
  packages/amis/src/renderers/Page.tsx
Labels: fix

#10995 feat: 编辑器移动端增加尺寸选择功能
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/IFramePreview.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-ui/scss/components/_mobile-dev-tool.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis-ui/src/components/MobileDevTool.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis-ui/src/icons/rotate-screen.svg
Labels: feat

#11003 feat: 移动端预览增加自定义尺寸功能
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-ui/scss/components/_mobile-dev-tool.scss
  packages/amis-ui/src/components/MobileDevTool.tsx
Labels: feat

#11006 chore: 解决递归依赖
  packages/amis-ui/src/components/schema-editor/Array.tsx
  packages/amis-ui/src/components/schema-editor/Common.tsx
  packages/amis-ui/src/components/schema-editor/Item.tsx
  packages/amis-ui/src/components/schema-editor/Object.tsx
  packages/amis-ui/src/components/schema-editor/index.tsx
Labels: chore

#11007 style(amis-editor):优化移动端尺寸控制器样式
  packages/amis-editor-core/scss/editor.scss
  packages/amis-ui/src/components/MobileDevTool.tsx
Labels: style

#11008 docs: 将文档左侧导航栏下边距设置成和右侧文档主体下边距一致，以避免底部菜单被浏览器链接遮挡
  examples/style.scss
Labels: doc

#11009 chore: 优化移动端尺寸选择器自适应逻辑
  packages/amis-ui/src/components/MobileDevTool.tsx
Labels: chore

#11010 fix: 修复时间范围组件移动端结束时间的时间戳不是23:59:59问题
  packages/amis-ui/src/components/CalendarMobile.tsx
Labels: fix

#11012 fix: 修复crud2翻页及搜索重置不生效问题
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/renderer/crud2-control/CRUDFiltersControl.tsx
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#11015 fix: 修复数字输入框存在后缀时，清空数据，光标位置定位不准确
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#11011 feat: crud2支持配置移动端展示为卡片或自定义schema,支持上拉加载
  packages/amis-ui/scss/components/_pull-refresh.scss
  packages/amis-ui/src/components/PullRefresh.tsx
  packages/amis-ui/src/hooks/index.ts
  packages/amis-ui/src/hooks/use-on-screen.ts
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/__tests__/renderers/Form/conditionBuilder.test.tsx
  packages/amis/src/renderers/CRUD2.tsx
Labels: feat

#11017 feat: crud2支持配置移动端展示为卡片或自定义schema,支持上滑加载更多
  packages/amis-ui/scss/components/_pull-refresh.scss
  packages/amis-ui/src/components/PullRefresh.tsx
  packages/amis-ui/src/hooks/index.ts
  packages/amis-ui/src/hooks/use-on-screen.ts
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/__tests__/renderers/Form/conditionBuilder.test.tsx
  packages/amis/src/renderers/CRUD2.tsx
Labels: feat

#11016 fix: 修复 tpl 渲染时序问题导致的渲染错误
  packages/amis/src/renderers/Tpl.tsx
Labels: fix

#11018 feat: 级联选择器支持新版外观配置
  packages/amis-editor/src/plugin/Form/NestedSelect.tsx
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: feat

#11019 fix: 修复 #10126 引发的模型页面编辑器不可拖拽问题
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#11021 fix: 修复移动端卡片内静态表单项样式问题
  packages/amis-ui/scss/components/_card.scss
Labels: fix

#11005 将 Wizard向导 组件的 affixFooter 实现改为 position: sticky 方式。
  packages/amis-ui/scss/components/_panel.scss
  packages/amis/src/renderers/Wizard.tsx
Labels: fix

#10999 feat: FormItem支持从类的默认属性中获取表单项的name属性，以便初始化全局状态formItem Closes #10998
  packages/amis-core/__tests__/renderers/wrapControl.test.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
Labels: feat

#11023 build: 通过lintstaged对scss文件进行增量校验，避免npm run stylelint全量校验的时间浪费
  .husky/pre-commit
  package.json
Labels: style

#11028 fix: DiffEditor 分装成ui 组件，解决可能不显示最新值的问题
  packages/amis-core/src/locale.tsx
  packages/amis-core/src/theme.tsx
  packages/amis-ui/src/components/DiffEditor.tsx
  packages/amis-ui/src/components/Editor.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis/src/renderers/Form/DiffEditor.tsx
Labels: fix

#11029 feat: 完善移动端crud2下拉加载逻辑,修正pullRefresh组件direction
  packages/amis-ui/src/components/PullRefresh.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/CRUD2.tsx
Labels: feat

#11031 fix: 去掉不可填充自己的设定
  packages/amis-core/src/renderers/Item.tsx
Labels: fix

#11030 feat: 完善移动端crud2下拉加载逻辑,修正pullRefresh组件direction
  packages/amis-ui/src/components/PullRefresh.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/CRUD2.tsx
Labels: feat

#11033 fix: 直接调用dispose函数清空编辑器插件，避免类型异常引起组件崩溃
  packages/amis-ui/src/components/Editor.tsx
Labels: fix

#11039 feat: 美化crud2移动端的卡片样式,支持查询表单折叠
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_crud2.scss
  packages/amis-ui/scss/components/_modal.scss
  packages/amis-ui/scss/components/_panel.scss
  packages/amis-ui/scss/components/_pull-refresh.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/src/components/Card.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Panel.tsx
Labels: feat

#11041 feat: 美化crud2移动端的卡片样式,支持查询表单折叠
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_crud2.scss
  packages/amis-ui/scss/components/_modal.scss
  packages/amis-ui/scss/components/_panel.scss
  packages/amis-ui/scss/components/_pull-refresh.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/src/components/Card.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Panel.tsx
Labels: feat

#11045 feat: 优化crud2移动端样式
  packages/amis-ui/scss/components/_crud2.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis/src/renderers/Panel.tsx
Labels: feat

#11046 feat: 优化crud2移动端样式
  packages/amis-ui/scss/components/_crud2.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis/src/renderers/Panel.tsx
Labels: feat

#11048 fix: crud2 filter为空时去掉marginBottom
  packages/amis-ui/scss/components/_crud2.scss
Labels: fix

#11044 fix: 修复顶层数据不是对象在公式中被过滤掉的问题 Close: #11035
  packages/amis-editor-core/src/util.ts
Labels: fix

#11026 feat: 编辑器【链式下拉框】、【下拉按钮】支持新版外观配置
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/plugin/DropDownButton.tsx
  packages/amis-editor/src/plugin/Form/ChainedSelect.tsx
  packages/amis-editor/src/renderer/style-control/helper.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis/src/renderers/DropDownButton.tsx
  packages/amis/src/renderers/Form/ChainedSelect.tsx
Labels: feat

#11052 feat:编辑器移动端支持单独编辑
  packages/amis-core/src/envOverwrite.ts
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/IFramePreview.tsx
  packages/amis-editor-core/src/component/Panel/CodeEditorPanel.tsx
  packages/amis-editor-core/src/component/Panel/RightPanels.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/util.ts
Labels: feat

#11056 chore: 删除无用代码
  packages/amis-editor-core/src/component/Editor.tsx
Labels: chore

#11055 feat: Editor 支持插件弹出面板
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/ModalForm.tsx
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/store/editor.ts
Labels: feat

#11059 feat: Editor 支持插件弹出面板
  packages/amis-editor-core/src/component/ModalForm.tsx
  packages/amis-editor-core/src/store/editor.ts
Labels: feat

#11060 feat: resultBox item项支持点击事件
  packages/amis-ui/src/components/ResultBox.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTag.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/nestedSelect.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransferPicker.test.tsx.snap
Labels: feat

#11063 feat: 修正crud2移动端简单查询折叠器箭头方向,没数据时不显示[没有更多了]文案
  packages/amis-ui/scss/components/_crud2.scss
  packages/amis-ui/scss/components/_panel.scss
  packages/amis/src/renderers/CRUD2.tsx
Labels: feat

#11062 chore: reload 动作改成等待完成(原来不等待只发送指令), 同时支持获取 service 结果
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/utils/api.ts
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis/src/renderers/App.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Chart.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Service.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: chore

#11058 feat: 优化图片展示组件外观尺寸配置
  packages/amis-editor/src/plugin/Image.tsx
  packages/amis-theme-editor-helper/src/icons/lock.svg
  packages/amis-theme-editor-helper/src/icons/unlock.svg
  packages/amis-theme-editor-helper/src/style/_size.scss
  packages/amis/src/renderers/Image.tsx
Labels: feat

#11072 fix: 移动端编辑器mobile 字段保存失败
  packages/amis-editor-core/src/component/Panel/CodeEditorPanel.tsx
  packages/amis-editor-core/src/util.ts
Labels: fix

#11075 fix: 事件动作触发Toast移动端样式失效问题
  packages/amis-core/src/actions/ToastAction.ts
  packages/amis-ui/scss/components/_toast.scss
  vite.config.ts
Labels: fix

#11080 fix: tabs activeKey 失效
  packages/amis/src/renderers/Tabs.tsx
Labels: fix

#11082 fix: 修复 sdk 在单页中存在多个版本时渲染异常的问题
  examples/mod.js
  fis-conf.js
  scripts/embed-packager.js
Labels: fix

#11067 feat: 折叠面板，无标题时显示折叠箭头。组件存在于表单中，面板新增切换展示方式按钮
  packages/amis-editor/src/plugin/CollapseGroup.tsx
  packages/amis-ui/scss/components/_collapse-group.scss
  packages/amis-ui/scss/components/_collapse.scss
  packages/amis-ui/src/components/Collapse.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/fieldSet.test.tsx.snap
Labels: feat

#11093 fix：表单项值非string时，部分校验规则一直生效
  packages/amis-core/src/utils/validations.ts
Labels: fix

#11090 feat: page侧栏支持左右位置
  docs/zh-CN/components/page.md
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-ui/scss/components/_page.scss
  packages/amis/__tests__/renderers/__snapshots__/Page.test.tsx.snap
  packages/amis/src/renderers/Page.tsx
Labels: feat

#11081 chore: 优化外观颜色选择器交互
  packages/amis-theme-editor-helper/src/renderers/ColorPicker.tsx
  packages/amis-theme-editor-helper/src/style/_color-picker.scss
Labels: chore

#11107 feat: 补充下拉框选项禁用的说明文档
  docs/zh-CN/components/form/options.md
Labels: feat

#11113 feat: crud2 移动端卡片模式支持固定新增按钮以及顶部搜索
  packages/amis-ui/scss/components/_crud2.scss
  packages/amis/src/renderers/CRUD2.tsx
Labels: feat

#11119 feat: crud2 移动端卡片模式支持固定新增按钮以及顶部搜索
  packages/amis-ui/scss/components/_crud2.scss
  packages/amis/src/renderers/CRUD2.tsx
Labels: feat

#11100 chore: 优化动画配置
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/utils/animations.ts
  packages/amis-editor/src/tpl/style.tsx
Labels: chore

#11095 feat: checkbox\radios支持外观配置
  packages/amis-editor/src/plugin/Form/Checkbox.tsx
  packages/amis-editor/src/plugin/Form/Radios.tsx
  packages/amis-editor/src/renderer/style-control/helper.tsx
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis/src/renderers/Form/Checkbox.tsx
  packages/amis/src/renderers/Form/Checkboxes.tsx
  packages/amis/src/renderers/Form/Radios.tsx
Labels: feat

#11112 feat: 锚点导航调整为sticky布局
  examples/doc.css
  packages/amis-ui/scss/components/_anchor-nav.scss
  packages/amis-ui/src/components/AnchorNav.tsx
  packages/amis/__tests__/renderers/AnchorNav.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/AnchorNav.test.tsx.snap
Labels: feat

#11118 chore: 补充react-overlays至dep(#11117)
  packages/amis-core/package.json
Labels: chore

#11130 fix:补充crud批量操作中事件动作数据
  docs/zh-CN/components/crud.md
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#11134 fix: 修复getSchemaTpl方法错误的引入方式(#11133)
  packages/amis-editor/src/renderer/NavSourceControl.tsx
Labels: fix

#11127 fix: 修复数据绑定组件选中值回传不正确的问题(#11126)
  packages/amis-editor/src/renderer/DataBindingControl.tsx
Labels: bug, fix

#11140 feat: 自定义样式扩展
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/scss/style-control/_single-theme-css-code.scss
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/renderer/style-control/SingleThemeCssCode.tsx
  packages/amis-editor/src/tpl/style.tsx
Labels: feat

#11141 feat: tabs支持删除动作，外观样式支持主题
  docs/zh-CN/components/tabs.md
  packages/amis-editor/src/plugin/Tabs.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-ui/scss/components/_tabs.scss
  packages/amis-ui/src/components/Tabs.tsx
  packages/amis/__tests__/renderers/Tabs.test.tsx
  packages/amis/src/renderers/Tabs.tsx
Labels: feat
