Repository baidu/amis, pull requests merged in 2024-07, with the labels that each got.

#10550 feat: conditionBuilder 支持testid
  packages/amis-ui/src/components/ChainedDropdownSelection.tsx
  packages/amis-ui/src/components/DropDownSelection.tsx
  packages/amis-ui/src/components/GroupedSelection.tsx
  packages/amis-ui/src/components/Selection.tsx
  packages/amis-ui/src/components/condition-builder/Expression.tsx
  packages/amis-ui/src/components/condition-builder/Field.tsx
  packages/amis-ui/src/components/condition-builder/Func.tsx
  packages/amis-ui/src/components/condition-builder/Group.tsx
  packages/amis-ui/src/components/condition-builder/GroupOrItem.tsx
  packages/amis-ui/src/components/condition-builder/InputSwitch.tsx
  packages/amis-ui/src/components/condition-builder/Item.tsx
  packages/amis-ui/src/components/condition-builder/Value.tsx
  packages/amis-ui/src/components/condition-builder/index.tsx
Labels: feat

#10555 feat:动作配置面板reload动作支持选择crud2
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: feat

#10557 feat:动作配置面板reload动作支持选择crud2
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: feat

#10554 style: 编辑器 crud 的批量操作 右侧面板样式优化
  packages/amis-editor-core/scss/editor.scss
Labels: style

#10548 feat: qrcode默认使用canvas渲染,以右键\长按存储\下载为图片
  docs/zh-CN/components/qrcode.md
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/__tests__/renderers/QRCode.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/QRCode.test.tsx.snap
  packages/amis/src/renderers/QRCode.tsx
Labels: feat

#10551 fix: 修复身份证号码验证时缺少直辖县级市的校验
  packages/amis-core/src/utils/validateId.ts
Labels: fix

#10556 fix: fix some console warning
  packages/amis-core/src/Root.tsx
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-ui/src/components/Layout.tsx
Labels: fix

#10558 fix: 修复query同步后人员选择无法清除问题
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#10561 fix: 条件表达式中去除系统变量，input-tree中icon图片大小设置
  packages/amis-editor-core/src/util.ts
  packages/amis-ui/scss/components/form/_tree.scss
Labels: fix

#10562 fix: 修复弹窗中crud2刷新后按钮不可点击问题
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#10573 fix: 完善 #10399 的修改, 部分场景处理异常
  packages/amis-core/src/store/iRenderer.ts
  packages/amis/__tests__/stores/__snapshots__/service.test.ts.snap
Labels: fix

#10575 fix: 校验输入框删除内容时输入内容闪烁
  packages/amis-editor/src/renderer/ValidationItem.tsx
Labels: fix

#10567 fix(editor): 修复容器类组件右键菜单缺少功能问题
  packages/amis-editor-core/src/plugin/BasicToolbar.tsx
Labels: fix

#9748 feat: crud自定义列在drag模式下支持全选
  packages/amis/src/renderers/Table/ColumnToggler.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#10584 feat: pdfWokerJs 修改为env引入
  docs/zh-CN/start/getting-started.md
  examples/components/SchemaRender.jsx
  examples/embed.tsx
  examples/loadPdfjsWorker.ts
  fis-conf.js
  packages/amis-core/src/env.tsx
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/src/components/PdfViewer.tsx
  packages/amis/build.sh
  packages/amis/src/renderers/PdfViewer.tsx
Labels: feat

#10597 fix: 删除多余的console
  packages/amis-ui/src/components/GroupedSelection.tsx
Labels: fix

#10598 fix: 修复 gh-pages 报错 close #10592
  examples/components/SchemaRender.jsx
  fis-conf.js
Labels: fix

#10595 fix: number with precision should be string format
  packages/amis/src/renderers/Number.tsx
Labels: fix

#10568 fix: QuickEdit 停止向下传递InputTable相关的回调
  packages/amis/src/renderers/QuickEdit.tsx
Labels: fix

#10601 feat: popover testid
  packages/amis-core/src/components/PopOver.tsx
  packages/amis-ui/src/components/DatePicker.tsx
Labels: feat

#10607 feat: CRUD 支持 testid
  packages/amis/src/renderers/CRUD.tsx
Labels: feat

#10612 fix: 修复编辑器预览模式弹窗的上下文信息会丢失的问题
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/IFramePreview.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/store/editor.ts
Labels: fix

#10602 feat: 配置面板-规则项支持自定义schema
  packages/amis-editor/src/plugin/Form/InputDate.tsx
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
  packages/amis-editor/src/renderer/ValidationControl.tsx
  packages/amis-editor/src/renderer/ValidationItem.tsx
  packages/amis-editor/src/tpl/validations.tsx
Labels: feat

#10618 fix: 配置面板-未配置自定义schema的校验规则丢失默认schema
  packages/amis-editor/src/renderer/ValidationItem.tsx
Labels: fix

#10624 feat: crud 列支持配置对齐方式&表头对齐方案&垂直对齐方式
  docs/zh-CN/components/table.md
  packages/amis-editor/src/plugin/Others/TableCell.tsx
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableCell.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#10625 fix: variableList 显示问题
  packages/amis-editor-core/src/component/factory.tsx
Labels: fix

#10627 fix: 修复tpl值为NaN时页面卡死问题
  packages/amis-core/src/utils/helper.ts
  packages/amis/src/renderers/Tpl.tsx
Labels: fix

#10626 feat(amis-editor): inputRange支持设置小数
  packages/amis-editor/src/plugin/Form/InputRange.tsx
  packages/amis-editor/src/renderer/InputRangeValueControl.tsx
Labels: feat

#10628 fix: 修复 form 的 canAccessSuperData false 无效问题
  packages/amis-core/src/utils/helper.ts
Labels: fix

#10629 fix: 修复弹窗编辑通过弹窗编辑进去的子弹窗编辑,修改后无法保存上的问题
  packages/amis-editor/src/renderer/event-control/DialogActionPanel.tsx
Labels: fix

#10636 chore: Update to the latest version
  .github/workflows/codeql-analysis.yml
  .github/workflows/gh-pages.yml
  .github/workflows/pr-test.yml
Labels: chore

#10633 chore: 增加大小写不敏感匹配
  .github/labeler.yml
Labels: chore

#10643 fix: 修复 crud 分页点击页面位置跳转问题 Close: #9667
  packages/amis-ui/scss/components/_cards.scss
  packages/amis-ui/scss/components/_list.scss
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#10642 fix: 修复 inputTable 表单项校验问题 Close: #9680
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#10641 fix: 修复 #9981 引发的 crud 中数值变化 diff 不准确的问题 Close: #10270
  packages/amis-core/src/utils/helper.ts
Labels: fix

#10639 fix: 调整 formItem 下面的事件触发参数让其拿到最新的 Close: #10376
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/utils/renderer-event.ts
Labels: fix

#10638 style: 调整 inputGroup 样式 Close: #10593
  packages/amis-ui/scss/components/form/_input-group.scss
Labels: style

#10617 fix-darkModeCss
  examples/style.scss
Labels: fix

#10663 feat: dataSchema 增加 rawType 细化类型
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/DataScope.ts
  packages/amis-editor-core/scss/control/_tpl-formula-control.scss
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/FormulaControl.tsx
Labels: feat

#10668 chore: 升级i18n版本,固定@babel/generator版本到7.24.7
  package.json
Labels: chore

#10655 feat:调整数字框组件只读属性的样式
  packages/amis-ui/scss/components/form/_number.scss
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: feat

#10675 fix: 人员组件事件动作问题
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#10679 feat: 快捷变量过滤掉布尔类型
  packages/amis-editor-core/src/util.ts
Labels: feat

#10678 fix: 修复外观的一些问题
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/plugin/Form/Textarea.tsx
  packages/amis-editor/src/plugin/Table2.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-theme-editor-helper/src/renderers/Border.tsx
  packages/amis-theme-editor-helper/src/renderers/PaddingAndMargin.tsx
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#10680 feat: dataSchema 增加 rawType 细化类型
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/DataScope.ts
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/FormulaControl.tsx
Labels: feat

#10681 feat: 快捷变量过滤掉布尔类型 (#10679)
  packages/amis-editor-core/src/util.ts
Labels: feat

#10683 fix: layout 默认值错误
  packages/amis-ui/src/components/Layout.tsx
Labels: fix

#10693 fix: 修复theme:base className带短横线问题
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-theme-editor-helper/src/renderers/Shadow.tsx
Labels: fix

#10691 feat: 增加自定义表单项校验方案
  packages/amis-core/src/actions/CmptAction.ts
Labels: feat

#10670 add noResultsText to doc
  docs/zh-CN/components/form/select.md
Labels: doc

#10674 Update color.md
  docs/zh-CN/components/color.md
Labels: fix

#10704 fix: 修复iconSelect组件不能正常展示图标问题
  packages/amis/src/renderers/Form/IconSelect.tsx
Labels: fix
