Repository baidu/amis, pull requests merged in 2024-04, with the labels that each got.

#9945 chore: crud即时保存文档更新
  docs/zh-CN/components/crud.md
Labels: chore

#9787 feat: 新增TransferPicker的编辑器插件
  packages/amis-editor/src/plugin/Form/Transfer.tsx
  packages/amis-editor/src/plugin/Form/TransferPicker.tsx
  packages/amis-editor/src/plugin/index.ts
Labels: feat

#9845 fix: 修复timeline组件属性面板数据回显不正确问题
  packages/amis-editor/src/renderer/TimelineItemControl.tsx
Labels: fix

#9941 fix: 调整弹窗数据变更逻辑 Close: #9884
  packages/amis-core/src/store/modal.ts
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: fix

#9943 fix: 修复公式字符串中转义反斜杠处理不正确的问题 Close: #9933
  packages/amis-formula/__tests__/__snapshots__/parser.test.ts.snap
  packages/amis-formula/__tests__/parser.test.ts
  packages/amis-formula/src/lexer.ts
Labels: fix

#9957 fix: 修复弹窗确认按钮中添加打开弹窗动作运行时失效的问题
  packages/amis-core/src/actions/DialogAction.ts
  packages/amis-core/src/actions/DrawerAction.ts
  packages/amis-core/src/utils/renderer-event.ts
  packages/amis-editor/src/renderer/event-control/DialogActionPanel.tsx
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: fix

#9956 fix: 修复可视化区域检测问题 x 和 y 数值为 0 时不一定不在可视区域
  packages/amis-core/src/utils/dom.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputCity.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTag.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/repeat.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Tabs.test.tsx.snap
Labels: fix

#9944 fix: 修复 tree-select autoComplete 合并选项逻辑错误 Close: #9942 #9946
  docs/zh-CN/components/form/input-tree.md
  packages/amis-editor/src/util.ts
  packages/amis-ui/src/components/index.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: fix

#9960 feat: 弹窗参数映射支持公式
  docs/zh-CN/components/form/json-schema.md
  packages/amis-editor/src/renderer/event-control/DialogActionPanel.tsx
  packages/amis-ui/src/components/WithRemoteConfig.tsx
  packages/amis-ui/src/components/json-schema/Array.tsx
  packages/amis-ui/src/components/json-schema/Item.tsx
  packages/amis-ui/src/components/json-schema/Object.tsx
  packages/amis-ui/src/components/json-schema/index.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/Form/ConditionBuilder.tsx
  packages/amis/src/renderers/Form/JSONSchema.tsx
Labels: feat

#9961 chore: 调整右侧面板构建优化对象属性下发减少re-render
  packages/amis-editor-core/src/component/factory.tsx
Labels: chore

#9964 fix: 修复 excel 渲染时合并单元格垂直方向不正确问题 Closes #9936
  packages/amis/package.json
  packages/office-viewer/package.json
  packages/office-viewer/src/excel/sheet/getViewPointData.ts
Labels: fix

#9955 feat: 补充 crud 的快速保存与拖拽顺序保存事件 Close: #9877
  docs/zh-CN/components/crud.md
  packages/amis-core/src/store/crud.ts
  packages/amis/src/renderers/CRUD.tsx
Labels: feat

#9948 fix(amis-editor): input-number步长配置功能优化，实时同步当前小数位数配置
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-editor/src/plugin/Form/InputNumber.tsx
  packages/amis/src/renderers/Breadcrumb.tsx
Labels: fix

#9966 fix:form getData无法获取最新数据问题
  packages/amis-core/src/renderers/Form.tsx
Labels: fix

#9982 fix(amis-core): 事件动作/组件动作/未找到组件提示增加组件ID信息，方便知晓哪个组件未找到。
  packages/amis-core/src/actions/CmptAction.ts
Labels: fix

#9981 fix: 修复 form 计算差值可能死循环的问题
  packages/amis-core/src/utils/helper.ts
Labels: fix

#9968 fix: 修复 toolbar 中放表单项无效的问题 Close: #9931
  packages/amis/src/renderers/Page.tsx
Labels: fix

#9974 fix: 修复表单项公式默认值优先级高于实际返回值的问题
  packages/amis-core/src/renderers/wrapControl.tsx
Labels: fix

#9971 feat: 补充 crud, table, list, cards 组件动作表 Close: #9597
  docs/zh-CN/components/cards.md
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/form/input-table.md
  docs/zh-CN/components/list.md
  docs/zh-CN/components/table.md
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/store/list.ts
  packages/amis-core/src/store/table.ts
  packages/amis-core/src/types.ts
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#9972 fix: 修复多页面同时渲染场景查找组件优先级问题
  packages/amis-core/src/Scoped.tsx
Labels: fix

#9992 fix: schema中删除editorState
  docs/zh-CN/components/dialog.md
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/plugin/Form/InputImage.tsx
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis-editor/src/renderer/style-control/helper.tsx
  packages/amis-editor/src/tpl/style.tsx
Labels: fix

#9995 fix: 修复inputDate组件输入无效问题
  packages/amis-ui/src/components/DatePicker.tsx
Labels: fix

#9996 fix: office-viewer excel 修复存在多个合并单元格时渲染丢失问题
  packages/amis/package.json
  packages/office-viewer/package.json
  packages/office-viewer/src/excel/sheet/getViewPointData.ts
Labels: fix

#10004 fix(amis-ui): numberInput change时不进行额外多余的数值处理
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#10010 chore: 优化图标选择器
  packages/amis-ui/scss/components/form/_icon-select.scss
  packages/amis-ui/src/components/icons.tsx
  packages/amis/src/renderers/Form/IconSelect.tsx
Labels: chore

#10005 fix: 修复编辑器预览模式弹窗的上下文信息会丢失的问题
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/IFramePreview.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/store/editor.ts
Labels: fix

#10012 fix: 修复子编辑器弹窗撤回按钮遮挡
  packages/amis-editor-core/src/component/SubEditor.tsx
Labels: fix

#10011 fix: 优化schemaForm onChange 解决弹窗中弹窗编辑报错问题
  packages/amis-editor-core/src/component/base/SchemaForm.tsx
Labels: fix

#10013 feat: tree\nav支持svg icon
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/src/renderers/Nav.tsx
Labels: feat

#10007 style: 优化tabs文字样式 Close: #10006
  packages/amis-ui/scss/components/_tabs.scss
Labels: style

#10017 chore: jsonschema 输入字符串默认值设置为空字符解决默认为 undefined 时设置无效的问题
  packages/amis-ui/src/components/json-schema/Object.tsx
Labels: chore

#10015 fix: 解决使用编辑器时 amis-ui 样式变量重复引入
  packages/amis-editor-core/scss/editor.scss
Labels: fix, style

#10026 fix:修复input-table表单初始化数据渲染失败问题
  docs/zh-CN/components/form/index.md
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
Labels: fix

#10034 chore: 调整公式输入交互并补充编辑器模版文档
  amis.code-workspace
  examples/doc.css
  examples/index.html
  examples/style.scss
  index.html
  package.json
  packages/amis-editor-core/scss/control/_expression-formula-control.scss
  packages/amis-editor/examples/App.tsx
  packages/amis-editor/examples/component/Doc.tsx
  packages/amis-editor/examples/component/PanelPreview.tsx
  packages/amis-editor/examples/route/Basic.md
  packages/amis-editor/examples/route/Formula.md
  packages/amis-editor/examples/style.scss
  packages/amis-editor/index.html
  packages/amis-editor/index.tsx
  packages/amis-editor/src/renderer/ExpressionFormulaControl.tsx
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-ui/scss/components/_formula.scss
  packages/amis-ui/src/components/formula/CodeEditor.tsx
  packages/amis-ui/src/components/formula/Picker.tsx
  packages/amis-ui/src/components/formula/plugin.ts
  packages/amis-ui/src/custom.d.ts
  scripts/markdownPlugin.ts
Labels: chore

#10030 feat:时间以及时间范围组件支持设置popOverContainerSelector属性
  docs/zh-CN/components/form/input-date-range.md
  docs/zh-CN/components/form/input-date.md
  docs/zh-CN/components/form/input-datetime-range.md
  docs/zh-CN/components/form/input-datetime.md
  docs/zh-CN/components/form/input-month-range.md
  docs/zh-CN/components/form/input-month.md
  docs/zh-CN/components/form/input-quarter-range.md
  docs/zh-CN/components/form/input-time-range.md
  docs/zh-CN/components/form/input-time.md
  docs/zh-CN/components/form/input-year-range.md
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
  packages/amis/src/renderers/Form/InputDateRange.tsx
  packages/amis/src/renderers/Form/InputMonthRange.tsx
  packages/amis/src/renderers/Form/InputQuarterRange.tsx
  packages/amis/src/renderers/Form/InputYearRange.tsx
Labels: feat

#10018 fix: 修复transfer 表格模式时设置表格行时无法渲染最新值的bug
  packages/amis-editor/src/renderer/TransferTableControl.tsx
Labels: bug, fix

#10042 fix: 修复拖拽后出现表单项校验失败的问题
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix

#10044 fix: 修复弹窗中关闭动作中打开弹窗后续事件动作不执行的问题
  packages/amis-core/src/actions/DialogAction.ts
  packages/amis-core/src/actions/DrawerAction.ts
  packages/amis-editor-core/src/store/editor.ts
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: fix

#10047 fix: 修复新建弹窗中弹窗列表出现重复的问题
  packages/amis-editor-core/src/store/editor.ts
Labels: fix

#10037 feat: card subTitle支持更多渲染方式
  packages/amis/src/renderers/Card.tsx
Labels: feat

#10054 chore: 修改crad subTitle声明
  packages/amis/src/renderers/Card.tsx
Labels: chore

#10059 fix: 修复 form 的 flush 逻辑可能会出现一直等待自己的问题
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
  packages/amis/src/renderers/Form/InputDateRange.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#10063 fix: 修复动作面板中弹窗信息显示不全的问题
  packages/amis-editor-core/src/component/Panel/DialogList.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#10064 style: 优化collapse移动端样式
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_collapse.scss
Labels: style

#10065 style: 优化picker组件在inline模式下的宽度
  packages/amis-core/src/components/CustomStyle.tsx
  packages/amis-ui/scss/components/form/_picker.scss
Labels: style

#10073 fix: 修复弹窗中的弹窗编辑器中出现重复的问题
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/Panel/DialogList.tsx
  packages/amis-editor-core/src/component/Panel/Outline.tsx
  packages/amis-editor-core/src/component/SubEditor.tsx
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/event-control/DialogActionPanel.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#10072 style(amis): 样式细节优化，避免异常溢出和换行展示
  packages/amis-editor-core/scss/_rightPanel.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis/src/renderers/Chart.tsx
Labels: style

#10078 fix: 修复弹窗中引用弹窗自己的编辑器逻辑问题
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/event-control/DialogActionPanel.tsx
  packages/amis-editor/src/renderer/event-control/action-config-dialog.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#10082 fix:发送请求动作的sendOn配置不生效
  packages/amis-core/src/actions/AjaxAction.ts
  packages/amis/__tests__/event-action/__snapshots__/ajax.test.tsx.snap
  packages/amis/__tests__/event-action/ajax.test.tsx
Labels: fix

#10089 fix: 修复弹窗编辑嵌套异常问题
  packages/amis-editor/examples/component/Doc.tsx
  packages/amis-editor/src/renderer/event-control/DialogActionPanel.tsx
Labels: fix

#10088 feat: 补充CRUD2 testid
  packages/amis-ui/src/components/table/Cell.tsx
  packages/amis-ui/src/components/table/Row.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Operation.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: feat

#10094 feat: CRUD2 head 操作支持testid
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/components/table/Head.tsx
  packages/amis-ui/src/components/table/HeadCellDropDown.tsx
  packages/amis-ui/src/components/table/HeadCellFilter.tsx
  packages/amis-ui/src/components/table/HeadCellSort.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/Table2/HeadCellSearchDropdown.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: feat

#10098 fix: revert #9941 修复弹窗下有多个 form 时数据混乱问题
  packages/amis-core/src/store/modal.ts
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: fix

#10100 fix: 修复编辑内嵌弹窗中内嵌弹窗失效的问题
  packages/amis-editor-core/scss/_outline.scss
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/event-control/DialogActionPanel.tsx
Labels: fix

#10096 fix:刷新crud未执行却刷新service的问题
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#10071 chore: 更新 github workflow，拆分粒度方便定位问题
  .github/workflows/gh-pages.yml
  .github/workflows/pr-test.yml
Labels: chore

#10076 fix(amis): 修复InputRange不能拖拽到负值的问题和精度失效问题
  packages/amis-core/src/utils/stripNumber.ts
  packages/amis-ui/src/components/Range.tsx
  packages/amis/__tests__/event-action/renderers/form/range.test.tsx
Labels: fix

#10104 fix: 修复 inputArray 在编辑器中渲染错误的问题
  packages/amis-editor-core/src/util.ts
Labels: fix

#10113 fix(editor): 修复校验规则修改后面板不更新问题
  packages/amis-editor/src/renderer/ValidationControl.tsx
Labels: fix

#10115 fix: 修复 crud 中 filter 开启 submitOnChnage 后无法分页问题
  packages/amis-core/src/renderers/Form.tsx
Labels: fix

#10121 fix: 修复编辑器右击菜单后报错
  packages/amis-editor-core/src/component/Editor.tsx
Labels: fix

#10133 style:更新动作面板的编辑icon
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: style

#10075 fix: 更新 citydb closes #10046
  packages/amis-ui/src/components/CityDB.ts
  scripts/convert-citydb.ts
Labels: fix

#10067 chore: 减小 Excel 默认单元格的 padding 大小
  packages/amis/package.json
  packages/office-viewer/package.json
  packages/office-viewer/src/excel/render/Consts.ts
Labels: chore

#10139 fix:inputTable删除行动作没有触发change事件 Close #10060
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix
