Repository baidu/amis, pull requests merged in 2024-11, with the labels that each got.

#11124 feat: panel\collapse支持新版外观
  packages/amis-editor/src/plugin/Collapse.tsx
  packages/amis-editor/src/plugin/CollapseGroup.tsx
  packages/amis-editor/src/plugin/Panel.tsx
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-ui/scss/components/_collapse-group.scss
  packages/amis/src/renderers/Collapse.tsx
  packages/amis/src/renderers/CollapseGroup.tsx
  packages/amis/src/renderers/Panel.tsx
Labels: feat

#11143 feat: 锚点导航调整为sticky布局
  examples/doc.css
  packages/amis-ui/scss/components/_anchor-nav.scss
  packages/amis-ui/src/components/AnchorNav.tsx
  packages/amis/__tests__/renderers/AnchorNav.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/AnchorNav.test.tsx.snap
Labels: feat

#11144 chore: 锚点导航标识调整为data-id
  packages/amis-ui/src/components/AnchorNav.tsx
  packages/amis/__tests__/renderers/__snapshots__/AnchorNav.test.tsx.snap
Labels: chore

#11152 chore: debug 面板调整
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/utils/debug.tsx
  packages/amis-core/src/utils/position.ts
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-ui/scss/components/_debug.scss
Labels: chore

#11153 feat:事件动作面板支持查看调用链
  packages/amis-editor-core/scss/control/_event-action.scss
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/plugin/Collapse.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/TabsTransfer.tsx
  packages/amis-editor/src/plugin/Tabs.tsx
  packages/amis-editor/src/plugin/Wizard.tsx
  packages/amis-editor/src/renderer/event-control/action-config-dialog.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/clear.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/reload.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/reset.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/setValue.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/staticStatus.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/submit.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/usability.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/validate.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/validateFormItem.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/visibility.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/modalActionsPanel/openDialog.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/modalActionsPanel/toast.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/otherActionsPanel/copy.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/pageActionsPanel/goBack.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/pageActionsPanel/refresh.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/pageActionsPanel/url.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/serverActionsPanel/ajax.tsx
  packages/amis-editor/src/renderer/event-control/comp-action-select.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: feat

#11160 fix: 修复table2卡片模式下 columnToggler 渲染失败的问题,完善移动端特殊case headerToolbar 的吸顶逻辑
  packages/amis/src/minimal.ts
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#11158 fix: 修复table2卡片模式下 columnToggler 渲染失败的问题,完善移动端特殊case headerToolbar 的吸顶逻辑
  packages/amis/src/minimal.ts
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#11163 fix: 修复编辑态播放动画后,高亮框错位问题
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-ui/src/components/MobileDevTool.tsx
Labels: fix

#11164 fix: 修复编辑态播放动画后,高亮框错位问题 & 移动端调试工具初始化自适应
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-ui/src/components/MobileDevTool.tsx
Labels: fix, chore

#11166 chore: 移动端调试工具初始化自适应最大100%
  packages/amis-ui/src/components/MobileDevTool.tsx
Labels: chore

#11169 feat: 穿梭选择框增加点击选项事件，面板支持autoCheckChildren和onlyChildren属性配置
  packages/amis-editor/src/plugin/Form/Transfer.tsx
  packages/amis-editor/src/plugin/Form/TransferPicker.tsx
  packages/amis-ui/src/components/ResultBox.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/TransferPicker.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
Labels: feat

#11165 fix：图片裁剪时优先原格式
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#11170 fix：图片裁剪时优先原格式
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#11173 fix: 修复inputCity 移动端未处理disabled 的问题
  packages/amis-ui/src/components/CityArea.tsx
Labels: fix

#11174 feat: 优化crud2组件移动端卡片模式自适应 headToolbar 时统计 button 数量的逻辑
  packages/amis/src/renderers/CRUD2.tsx
Labels: feat

#11172 chore: 调整 jssdk amisRequire('amis') 能拿到轻量级的模块, amisRequire(['amis/ful…
  examples/loader.ts
  packages/amis/src/minimal.ts
Labels: chore

#11171 chore: 优化checkbox\radio样式
  packages/amis-core/src/utils/helper.ts
  packages/amis-editor/src/plugin/Form/Checkbox.tsx
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
  packages/amis-editor/src/plugin/Form/Radios.tsx
  packages/amis-editor/src/renderer/style-control/helper.tsx
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_functions.scss
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/components/form/_checks.scss
  packages/amis-ui/src/components/Checkbox.tsx
  packages/amis-ui/src/components/MobileDevTool.tsx
  packages/amis-ui/src/components/Radios.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/checkbox.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/checkboxes.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/options.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/radios.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransferPicker.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/checkbox.test.tsx
  packages/amis/__tests__/renderers/Form/checkboxes.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Picker.test.tsx.snap
  packages/amis/src/renderers/Form/Checkbox.tsx
  packages/amis/src/renderers/Form/Checkboxes.tsx
  packages/amis/src/renderers/Form/Radios.tsx
Labels: chore

#11190 fix: 修复 Overlay 定位弹出层部分懒加载导致的定位不准的问题
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/components/Overlay.tsx
  packages/amis-core/src/factory.tsx
Labels: fix

#11145 fix：自定义样式根节点不生效、样式修改时schema更新不正确，tabs动作仅支持hash删除
  docs/zh-CN/components/tabs.md
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/plugin/Tabs.tsx
  packages/amis-editor/src/renderer/style-control/SingleThemeCssCode.tsx
  packages/amis-editor/src/tpl/style.tsx
  packages/amis/__tests__/renderers/Tabs.test.tsx
  packages/amis/src/renderers/Tabs.tsx
Labels: fix

#11192 style: 调整区域展示样式避免挡住内容
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/RegionHLBox.tsx
Labels: style

#11193 fix: 修复编辑器切换面板自动滚动到中间的问题
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-ui/src/components/CodeMirror.tsx
Labels: fix

#11195 fix: 修复文件上传中事件修改表单项本身的值后, 表单校验卡住的问题
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#11197 feat: 日期\日期范围组件可配禁止输入
  packages/amis-editor/src/plugin/Form/InputDate.tsx
  packages/amis-editor/src/plugin/Form/InputDateRange.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
Labels: feat

#11201 fix: 修复 crud reload 设置 resetPage=false 无效的问题
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#11194 chore: 优化animations配置警告问题
  packages/amis-editor/src/tpl/style.tsx
Labels: chore

#11198 feat:验证器手机和电话号支持国家代号,数字框新增显示上下按钮，修改自定义样式实现。
  packages/amis-core/src/utils/validations.ts
  packages/amis-editor/src/plugin/Form/InputNumber.tsx
  packages/amis-editor/src/plugin/Form/Transfer.tsx
Labels: feat

#11199 style: 优化 popover 避免位置闪烁
  packages/amis-core/src/components/Overlay.tsx
  packages/amis-core/src/components/PopOver.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputCity.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTag.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/repeat.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputTag.test.tsx
  packages/amis/__tests__/renderers/PopOver.test.tsx
  packages/amis/__tests__/renderers/TooltipWrapper.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/PopOver.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Tabs.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/TooltipWrapper.test.tsx.snap
Labels: style

#11206 fix: 修复多语言切换未实时同步问题
  packages/amis-core/src/index.tsx
Labels: fix

#11207 fix: 修复多语言切换未实时同步问题
  packages/amis-core/src/index.tsx
Labels: fix

#11191 feat: 复选框\单选框支持更换图标
  packages/amis-core/src/utils/helper.ts
  packages/amis-editor/src/plugin/Form/Checkbox.tsx
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
  packages/amis-editor/src/plugin/Form/Radios.tsx
  packages/amis-editor/src/renderer/style-control/helper.tsx
  packages/amis-theme-editor-helper/src/renderers/Border.tsx
  packages/amis-theme-editor-helper/src/renderers/Radius.tsx
  packages/amis-theme-editor-helper/src/util.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_column-toggler.scss
  packages/amis-ui/scss/components/form/_checks.scss
  packages/amis-ui/src/components/Checkbox.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/checkbox.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/checkboxes.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/options.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/radios.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransferPicker.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/Table/Cell.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Picker.test.tsx.snap
  packages/amis/src/renderers/Form/Checkbox.tsx
  packages/amis/src/renderers/Form/Checkboxes.tsx
  packages/amis/src/renderers/Form/IconSelect.tsx
  packages/amis/src/renderers/Form/Radios.tsx
  packages/amis/src/renderers/Table/HeadCellFilterDropdown.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/ColumnToggler.tsx
Labels: feat

#11208 feat: inputTable 支持前端过滤与排序并优化新增节点不可见的问题
  docs/zh-CN/components/form/input-table.md
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/utils/helper.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: feat

#11222 feat: 全局事件动作事件配置面板
  packages/amis-editor-core/scss/control/_event-action.scss
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor/examples/Editor.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-formula/src/doc.ts
Labels: feat

#11224 fix: formula doc 文件格式format
  packages/amis-formula/src/doc.ts
Labels: fix, doc

#11202 feat: 支持全局事件动作
  packages/amis-core/__tests__/jest.setup.js
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/actions/BroadcastAction.ts
  packages/amis-core/src/utils/renderer-event.ts
Labels: feat

#11225 fix: 广播事件绑定this指向
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#11217 style: 调整 doc 文档样式 Close: #11214
  examples/doc.css
Labels: doc, style

#11228 feat: 全局事件动作配置面板
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor/examples/Editor.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: feat

#11233 fix: add @types/classnames
  package.json
Labels: fix

#11241 fix:修复crud批量操作上下文event导致的ajax请求报错问题
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#11239 doc: 完善公式文档说明
  packages/amis-formula/src/evalutor.ts
Labels: doc

#11234 doc: 补充 CRUD 共用查询条件文档
  docs/zh-CN/components/crud.md
Labels: doc

#11221 fix: 修复前端一次性加载前端过滤必须配置 matchFunc 的问题
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/utils/helper.ts
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#11223 feat: 表格列新增textOverflow属性
  docs/zh-CN/components/crud.md
  packages/amis-editor/src/plugin/Others/TableCell.tsx
  packages/amis-ui/scss/components/_popoverable.scss
  packages/amis/src/renderers/PopOver.tsx
  packages/amis/src/renderers/Table/TableCell.tsx
Labels: feat

#11245 feat: tree支持节点行为配置、点击事件、虚拟列表高度、工具栏、操作栏等功能
  docs/zh-CN/components/form/input-tree.md
  docs/zh-CN/components/form/treeselect.md
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
  packages/amis-editor/src/util.ts
  packages/amis-ui/scss/components/form/_tree.scss
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/__tests__/renderers/Tree.test.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: feat

#11250 feat: 步骤条新增iconPositon属性，修复简单模式下箭头布局错乱
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/plugin/Steps.tsx
  packages/amis-ui/scss/components/_steps.scss
  packages/amis-ui/src/components/Steps.tsx
  packages/amis/src/renderers/Steps.tsx
Labels: feat

#11249 fix: 修复动作配置会删除 preventDefault 属性的问题
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#11251 fix: 修复多个 crud 并列且都开启自动撑开模式时高度计算错误问题 Close: #10981 Close: #11068
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#11209 feat: 增加combo组件unique配置项
  packages/amis-editor/src/plugin/Form/Combo.tsx
Labels: feat

#11253 fix: 全局广播事件配置面板
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/otherActionsPanel/broadcast.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/otherActionsPanel/index.ts
  packages/amis-editor/src/renderer/event-control/eventControlConfigHelper.ts
Labels: fix

#11261 fix: 修复只更新 context rootStore 无法监听变化的问题
  packages/amis-core/src/RootRenderer.tsx
Labels: fix

#11262 fix:修复部分动作无法跳转问题
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/plugin/Collapse.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/TabsTransfer.tsx
  packages/amis-editor/src/plugin/Tabs.tsx
  packages/amis-editor/src/plugin/Wizard.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/staticStatus.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#11263 fix:修复部分动作无法跳转问题
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/plugin/Collapse.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/TabsTransfer.tsx
  packages/amis-editor/src/plugin/Tabs.tsx
  packages/amis-editor/src/plugin/Wizard.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/staticStatus.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#11264 fix:动作调用列表样式优化
  packages/amis-editor-core/scss/control/_event-action.scss
Labels: fix

#11265 fix:优化调用链锚定提示
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#11267 fix: 修复背景图选择参数错误问题
  packages/amis-theme-editor-helper/src/renderers/ColorPicker.tsx
Labels: fix

#11271 fix:补充特性动作的描述
  packages/amis-editor/src/plugin/Form/Combo.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Image.tsx
  packages/amis-editor/src/plugin/Nav.tsx
  packages/amis-editor/src/plugin/OfficeViewer.tsx
  packages/amis-editor/src/plugin/QRCode.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/Table.tsx
Labels: fix

#11272 fix:补充特性动作的描述
  packages/amis-editor/src/plugin/Form/Combo.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Image.tsx
  packages/amis-editor/src/plugin/Nav.tsx
  packages/amis-editor/src/plugin/OfficeViewer.tsx
  packages/amis-editor/src/plugin/QRCode.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/Table.tsx
Labels: fix

#11280 fix: 修复图标可能是组件的情况
  packages/amis/src/renderers/Action.tsx
Labels: fix

#11282 fix: 全局事件动作避免死锁
  packages/amis-core/src/utils/renderer-event.ts
  packages/amis-editor/src/renderer/event-control/action-config-panel.tsx
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/otherActionsPanel/broadcast.tsx
Labels: fix

#11273 fix: 修复theme-helper引用报错问题
  packages/amis-theme-editor-helper/package.json
  packages/amis-theme-editor-helper/rollup.config.js
  packages/amis-ui/scss/components/form/_list.scss
Labels: fix

#11281 fix: 移动端picker label为对象时页面白屏
  packages/amis-ui/src/components/PickerColumn.tsx
Labels: fix

#11283 fix:变量赋值导致面板挂掉
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/setValue.tsx
Labels: fix

#11284 fix:变量赋值导致面板挂掉
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/setValue.tsx
Labels: fix

#11288 fix: 修复 debug 日志打印不全的问题
  packages/amis-core/src/utils/debug.tsx
  packages/amis-core/src/utils/renderer-event.ts
Labels: fix

#11286 fix: 修复 tinymce 被移动后不可用问题
  packages/amis-ui/src/components/Tinymce.tsx
Labels: fix

#11289 feat：图片上传支持压缩质量配置
  packages/amis-editor/src/plugin/Form/InputImage.tsx
Labels: feat

#11290 feat：图片上传支持压缩质量配置
  packages/amis-editor/src/plugin/Form/InputImage.tsx
Labels: feat
