Repository baidu/amis, pull requests merged in 2024-08, with the labels that each got.

#10714 feat: container wizard 组件 testid
  packages/amis/src/renderers/Container.tsx
  packages/amis/src/renderers/Table/HeadCellSearchDropdown.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: feat

#10715 fix: 修复crud2行角标显示问题
  packages/amis-ui/scss/components/_table2.scss
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#10716 feat: pickerContainer 补充testid
  packages/amis-ui/src/components/ConfirmBox.tsx
  packages/amis-ui/src/components/PickerContainer.tsx
Labels: feat

#10706 fix: 修复padding组件选择问题
  packages/amis-theme-editor-helper/src/renderers/PaddingAndMargin.tsx
Labels: fix

#10712 fix: 修复nav组件横向模式下,父级无法点击问题
  packages/amis-ui/src/components/menu/SubMenu.tsx
  packages/amis/__tests__/renderers/__snapshots__/Nav.test.tsx.snap
Labels: fix

#10723 fix:修复编辑器toolbar debug按钮丢失问题
  packages/amis-editor-core/src/plugin/DataDebug.tsx
Labels: fix

#10684 修复#10041，赋值事件，args.value值为object时初始化加载不显示的bug
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: bug

#10654 chore: 优化编辑器大纲样式, 优化拖拽交互
  packages/amis-editor-core/scss/_outline.scss
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/NodeWrapper.tsx
  packages/amis-editor-core/src/component/Panel/Outline.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/component/RegionHLBox.tsx
  packages/amis-editor-core/src/dnd/default.ts
  packages/amis-editor-core/src/dnd/index.ts
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/store/node.ts
Labels: awaiting-review, chore

#10742 chore: 优化 combo tabs 模式新增成员直接打开对应 tab 减少操作步骤
  packages/amis-ui/scss/components/form/_combo.scss
  packages/amis/src/renderers/Form/Combo.tsx
Labels: chore

#10746 fix: 修复 inputTable 嵌套 inputTable 外层列新增过程中子 inputTable 新增的行没有编辑删除按钮问题,…
  packages/amis-editor-core/src/component/base/SchemaForm.tsx
  packages/amis/src/renderers/Chart.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#10750 fix:debug容错，避免阻塞
  packages/amis-core/src/utils/debug.tsx
Labels: fix

#10759 fix: inputTable在嵌套模式下删除逻辑存在问题 Close #10758
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#10762 fix: 人员选择展示问题
  packages/amis-ui/scss/components/form/_user-select.scss
  packages/amis-ui/src/components/UserTabSelect.tsx
  packages/amis/src/renderers/Form/UserSelect.tsx
Labels: fix

#10736 chore: 升级i18n插件版本,优化console打印的颜色
  package.json
Labels: chore

#10741 fix: 修复时间选择器默认选择当前时间问题
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis/__tests__/renderers/Form/datetime.test.tsx
Labels: fix

#10784 fix: 修复users-select 懒加载问题
  packages/amis-ui/src/components/UserSelect.tsx
Labels: fix

#10773 feat: 添加表达式解析缓存逻辑
  packages/amis-core/__tests__/utils/visitedCache.test.ts
  packages/amis-core/src/utils/isPureVariable.ts
  packages/amis-core/src/utils/memoryParse.ts
  packages/amis-core/src/utils/visitedCache.ts
  packages/amis-formula/src/index.ts
Labels: feat

#10772 fix: 修复 itemActdions 位置错误当表格内容太宽滚动到右侧时
  packages/amis/src/renderers/Table/ItemActionsWrapper.tsx
Labels: fix

#10766 fix: Form组件的formLazyChange针对监听生效
  packages/amis-core/src/renderers/Form.tsx
Labels: fix

#10753 fix: 数值 0 在选项中不应该被认为是空值
  packages/amis-core/src/store/formItem.ts
Labels: fix

#10764 feat: imageGallery 图片超出时支持左右滚动 Close: #10756
  packages/amis-ui/scss/components/_image-gallery.scss
  packages/amis-ui/src/components/ImageGallery.tsx
Labels: feat

#10776 fix: 仅横向导航需要加href
  packages/amis-ui/src/components/menu/SubMenu.tsx
  packages/amis/__tests__/renderers/__snapshots__/Nav.test.tsx.snap
Labels: fix

#10789 chore: 调整自动填充参照录入逻辑支持默认点选,state 换成 store,优化写入对象时保留原始对象其他字段逻辑
  docs/zh-CN/components/form/formitem.md
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/store/formItem.ts
  packages/amis-ui/src/components/TabsTransferPicker.tsx
  packages/amis-ui/src/components/TransferPicker.tsx
  packages/amis-ui/src/components/formula/Input.tsx
  packages/amis/src/renderers/Form/Select.tsx
Labels: chore

#10785 fix: 修复 input-table accessSuperData 模式,行数据无对应字段问题 Close: #10782
  packages/amis-core/src/utils/helper.ts
  packages/amis/src/renderers/QuickEdit.tsx
Labels: fix

#10780 chore: 调整 table 的本地存储策略以支持表格列发生变化本次存储依然有效
  packages/amis-core/src/store/table.ts
Labels: chore

#10771 fix(editor): 修复初次进入编辑器未选中body
  packages/amis-editor-core/src/component/Preview.tsx
Labels: fix, amis-editor

#10774 fix: 修复事件动作场景弹窗关闭马上又打开时的缺陷 Close: #10304
  packages/amis-core/src/actions/DialogAction.ts
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: fix

#10761 chore: 调整 resizeSensor 优先 ResizeObserver, 优化 table 下表单项样式, 优化 inputTa…
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/store/table.ts
  packages/amis-core/src/utils/resize-sensor.ts
  packages/amis-ui/scss/components/_table.scss
  packages/amis/__tests__/event-action/renderers/__snapshots__/crud.test.tsx.snap
  packages/amis/__tests__/event-action/renderers/form/__snapshots__/range.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/checkbox.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/checkboxes.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/combo.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputCity.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputFormula.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTag.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/options.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/radios.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/range.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/repeat.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/switch.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabs.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransferPicker.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/valueFormula.test.tsx.snap
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Action.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Nav.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/PopOver.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Portlet.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Tabs.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/TooltipWrapper.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Wizard.test.tsx.snap
  packages/amis/src/renderers/Form/Checkbox.tsx
  packages/amis/src/renderers/Form/Checkboxes.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Form/Radio.tsx
  packages/amis/src/renderers/Form/Radios.tsx
  packages/amis/src/renderers/Form/Switch.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#10777 fix: issue#10775 防止popover被modal遮盖
  packages/amis-ui/scss/_variables.scss
Labels: fix

#10795 Fix add item logic for InputTable when using addAction
  packages/amis-core/src/utils/object.ts
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#10711 fix(amis): echarts版本升级到5.5.1
  package.json
  packages/amis-ui/package.json
  packages/amis/package.json
  packages/office-viewer/package.json
  packages/office-viewer/tsconfig.json
Labels: bug, fix

#10808 style: 日期时间组件不限制最小宽度
  packages/amis-ui/scss/components/form/_date.scss
Labels: style

#10809 feat: 默认放开自定义条件
  packages/amis-editor/src/plugin/Form/InputNumber.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Form/InputText.tsx
  packages/amis-editor/src/plugin/Form/Radios.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/renderer/StatusControl.tsx
  packages/amis/src/index.tsx
Labels: feat

#10811 style: inputTable 移动端操作栏不固定列
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: style

#10807 fix:动作面板删除动作后配置丢失问题
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#10806 fix:下拉框focus报错
  packages/amis/src/renderers/Form/Select.tsx
Labels: fix

#10800 chore: fix inputTable 的行按钮新增与删除不受 minLength maxLength 控制 Close: #10793
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix, chore

#10802 fix: 修复 picker 组件数据由接口返回时列不可拖动调整宽度问题 Close: #10791
  packages/amis/src/renderers/Table/ColGroup.tsx
Labels: fix

#10803 fix: 修复 group 中成员隐藏状态通过事件动作无法控制的问题 Close: #10794
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/utils/helper.ts
  packages/amis/src/renderers/Form/Group.tsx
Labels: fix

#10812 fix: 修复 service 配置了 data 数据映射,在上层数据更新后丢失的问题
  packages/amis-core/src/WithStore.tsx
Labels: fix

#10814 style: 修复 table的affixRow总结行在fixed模式下样式错乱问题 Close: #10810
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/Table/TableBody.tsx
Labels: fix, style

#10813 fix: 修复百分号情况下，最大值最小值失效
  packages/amis-ui/src/components/NumberInput.tsx
Labels: fix

#10815 feat: 优化payload声明
  packages/amis/src/types.ts
Labels: feat

#10817 fix: 调整pdfjs-dist依赖
  packages/amis-ui/package.json
Labels: fix

#10824 fix: users-select mobile style
  packages/amis-ui/scss/components/form/_user-select.scss
Labels: fix, style

#10823 fix: users-select mobile style
  packages/amis-ui/scss/components/form/_user-select.scss
Labels: fix, style

#10825 chore: combo single 和 multiple 模式统一传参
  packages/amis/src/renderers/Form/Combo.tsx
Labels: chore

#10836 fix: 修复级联选择器数据源异常label为数组时页面崩溃的问题
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: fix

#10838 fix: 修复级联选择器数据源异常label为数组时页面崩溃的问题
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: fix

#10843 fix: 修复 OfficeViewer 示例中无法渲染上传文件问题
  packages/amis/src/renderers/OfficeViewer.tsx
Labels: fix

#10846 fix: 修复 outline 容器释放拖拽无效的问题
  packages/amis-editor-core/src/component/Panel/Outline.tsx
Labels: fix

#10832 fix some words's spelling errors
  docs/zh-CN/components/button.md
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/form/condition-builder.md
Labels: fix

#10834 feat: 扩展编辑器功能
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/HighlightBox.tsx
  packages/amis-editor-core/src/component/Panel/RightPanels.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/component/SubEditor.tsx
  packages/amis-editor-core/src/component/base/SchemaForm.tsx
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/store/node.ts
  packages/amis-editor-core/src/util.ts
Labels: feat

#10508 fix: issue#10507 复制带分隔符的文本到inputTag，max属性和去重会失效
  packages/amis/src/renderers/Form/InputTag.tsx
Labels: fix
