Repository baidu/amis, pull requests merged in 2024-02, with the labels that each got.

#9575 fix: 修复crud2自定义显示列不生效问题
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Table2/ColumnToggler.tsx
Labels: fix

#9578 fix: 修复 Table 中调用 setData 报错问题
  packages/amis-core/src/store/list.ts
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#9584 fix: 修复crud快速构建内容失效
  packages/amis-editor/src/plugin/CRUD.tsx
Labels: fix

#9595 fix:修复使用amis sdk时自定义样式不生效问题
  packages/amis-core/src/components/CustomStyle.tsx
  packages/amis-core/src/utils/style-helper.ts
Labels: fix

#9580 fix: 兼容主题配置中的脏数据
  packages/amis-theme-editor-helper/src/helper/ParseThemeData.ts
Labels: fix

#9453 fix: transfer、transferPicker分页和搜索相关的问题修复和优化
  packages/amis-ui/src/components/TabsTransfer.tsx
  packages/amis-ui/src/components/TabsTransferPicker.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/TransferPicker.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Form/TabsTransfer.tsx
  packages/amis/src/renderers/Form/TabsTransferPicker.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/Form/TransferPicker.tsx
Labels: fix

#9579 chore: jest 使用 @swc/jest 编译，提升性能
  .swcrc
  README.md
  package.json
  packages/amis-core/.swcrc
  packages/amis-core/package.json
  packages/amis-formula/package.json
  packages/amis-theme-editor-helper/package.json
  packages/amis-ui/package.json
  packages/amis/.swcrc
  packages/amis/__tests__/event-action/dialog.test.tsx
  packages/amis/__tests__/event-action/drawer.test.tsx
  packages/amis/__tests__/event-action/prevent.test.tsx
  packages/amis/__tests__/renderers/CRUDReload.test.tsx
  packages/amis/__tests__/renderers/CRUDfilter.test.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputFormula.test.tsx.snap
  packages/amis/__tests__/renderers/Form/button.test.tsx
  packages/amis/__tests__/renderers/Form/buttonToolBar.test.tsx
  packages/amis/__tests__/renderers/Form/inputFormula.test.tsx
  packages/amis/__tests__/renderers/Nav.test.tsx
  packages/amis/__tests__/renderers/Page.test.tsx
  packages/amis/__tests__/renderers/Wizard.test.tsx
  packages/amis/package.json
Labels: chore

#9588 fix: 修复表格视图显示边框默认没选中问题
  packages/amis-editor/src/plugin/TableView.tsx
  packages/amis/__tests__/renderers/Form/inputDate.test.tsx
Labels: awaiting-final-review, fix

#9624 fix: 修复 crud 脚手架新增表单中出现错误渲染器的问题
  packages/amis-editor/src/plugin/CRUD.tsx
Labels: fix

#9625 fix: 修复数据下发同步问题
  packages/amis-core/src/WithStore.tsx
  packages/amis/__tests__/event-action/renderers/paginationWrapper.test.tsx
Labels: fix

#9628 style: 当为 auto 定位时如果兜底的定位方式都显示不全的话直接平移到可视区域
  packages/amis-core/src/utils/dom.tsx
Labels: style

#9620 fix: 修复miniEditor应用国际化不生效问题
  packages/amis-editor-core/src/component/MiniEditor.tsx
  packages/amis/src/renderers/Table/AutoFilterForm.tsx
Labels: fix

#9630 fix:scope命中多目标兼容空格情况
  packages/amis-core/__tests__/scoped.test.ts
  packages/amis-core/src/Scoped.tsx
Labels: fix

#9640 chore: 去掉 bot 示例中的 pickle 依赖
  scripts/bot/.gitignore
  scripts/bot/gen_embedding.py
  scripts/bot/gui.py
Labels: chore

#9646 feat: 补充表单项组件testid
  examples/components/SchemaRender.jsx
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/src/components/Breadcrumb.tsx
  packages/amis-ui/src/components/Checkbox.tsx
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis-ui/src/components/ListMenu.tsx
  packages/amis-ui/src/components/Radios.tsx
  packages/amis-ui/src/components/ResultBox.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis-ui/src/components/calendar/Calendar.tsx
  packages/amis-ui/src/components/calendar/DaysView.tsx
  packages/amis-ui/src/components/calendar/MonthsView.tsx
  packages/amis-ui/src/components/calendar/QuartersView.tsx
  packages/amis-ui/src/components/calendar/TimeView.tsx
  packages/amis-ui/src/components/calendar/YearsView.tsx
  packages/amis-ui/src/components/menu/SubMenu.tsx
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/src/Schema.ts
  packages/amis/src/renderers/Breadcrumb.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/DropDownButton.tsx
  packages/amis/src/renderers/Form/ButtonGroupSelect.tsx
  packages/amis/src/renderers/Form/ChainedSelect.tsx
  packages/amis/src/renderers/Form/Checkbox.tsx
  packages/amis/src/renderers/Form/Checkboxes.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputCity.tsx
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Form/InputTag.tsx
  packages/amis/src/renderers/Form/InputText.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/ListSelect.tsx
  packages/amis/src/renderers/Form/Picker.tsx
  packages/amis/src/renderers/Form/Radios.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table/Cell.tsx
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableCell.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Tabs.tsx
Labels: feat

#9618 fix: 修复表格调整排序信息未保存问题 Close: #8585, #9590
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#9583 fix: 修复 mockResponse 没有 headers 时的报错 Close: #9565
  packages/amis-core/src/utils/api.ts
  packages/amis-core/src/utils/attachmentAdpator.ts
Labels: awaiting-final-review, fix

#9581 fix: 修复 static-xxx 在列中始终是能获取上层数据的问题 Close: #9556
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis/__tests__/renderers/Table.test.tsx
Labels: awaiting-final-review, fix

#9688 fix: jssdk导出npm扩展包缺失依赖
  examples/loader.ts
Labels: fix

#9675 feat: messages 支持数据渲染
  examples/components/CRUD/Table.jsx
  packages/amis-core/src/store/service.ts
Labels: feat

#9670 fix: editor-修复穿梭器表格形式设置表格列不填写字段名时valueTpl为undefined的问题
  packages/amis-editor/src/renderer/TransferTableControl.tsx
Labels: fix

#9652 feat: 增加打印事件, 支持打印容器组件 Closes #9475
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/PrintAction.ts
  packages/amis-core/src/actions/index.ts
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/utils/printElement.ts
  packages/amis-ui/scss/components/_print.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Container.tsx
  packages/amis/src/renderers/Flex.tsx
  packages/amis/src/renderers/Grid.tsx
  packages/amis/src/renderers/Grid2D.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/TableView.tsx
  packages/amis/src/renderers/Wrapper.tsx
Labels: feat

#9616 fix: 修复 mapping 结合其他组件兜底显示时取值错误 Close: #9613
  packages/amis/__tests__/renderers/Mapping.test.tsx
  packages/amis/src/renderers/Mapping.tsx
Labels: fix

#9615 fix: 修复 select 的 autoFill 在 inputTable 中赋值不正确的问题 Close: #9494
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/src/renderers/QuickEdit.tsx
Labels: fix

#9612 style: 修复 table 在 safari 里面设置 width 无效问题 Close: #9486
  packages/amis-core/src/store/table.ts
  packages/amis-core/src/utils/browser.ts
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/src/renderers/Table/ColGroup.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: style

#9610 feat: 组件中动态加载的组件 schema 也支持多语言规则 Close: #9564
  packages/amis-core/src/index.tsx
  packages/amis-core/src/store/service.ts
  packages/amis-ui/scss/components/_app.scss
  packages/amis/__tests__/renderers/App.test.tsx
  packages/amis/src/renderers/App.tsx
Labels: feat, doc

#9608 fix: 修复 inputTable 单元中容器内表单项是否可获取父级数据逻辑异常问题 Close: #9520
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
Labels: fix

#9689 feat:树组件事件支持选中项获取
  docs/zh-CN/components/form/input-tree.md
  docs/zh-CN/components/form/treeselect.md
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
  packages/amis-editor/src/util.ts
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: feat

#9606 fix: 修复 inputTable 行确认时没有触发校验的问题 Close: #9537
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#9589 style: 完善amis暗黑主题
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/form/_excel.scss
  packages/amis-ui/scss/themes/dark.scss
  packages/amis/src/renderers/Code.tsx
  packages/amis/src/renderers/Form/Editor.tsx
Labels: style

#9662 feat: 支持PDF预览
  docs/zh-CN/components/pdf-viewer.md
  examples/components/Components.tsx
  examples/components/Example.jsx
  examples/components/PdfViewer.jsx
  examples/static/simple.pdf
  fis-conf.js
  packages/amis-ui/package.json
  packages/amis-ui/rollup.config.js
  packages/amis-ui/scss/components/_pdf_viewer.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis-ui/src/components/PdfViewer.tsx
  packages/amis-ui/src/components/TimelineItem.tsx
  packages/amis/package.json
  packages/amis/src/Schema.ts
  packages/amis/src/index.tsx
  packages/amis/src/renderers/PdfViewer.tsx
Labels: feat

#9693 fix: 修复 crud 重置失效的问题 Close: #9686
  packages/amis/src/renderers/CRUD.tsx
Labels: fix
