Repository baidu/amis, pull requests merged in 2024-05, with the labels that each got.

#10150 chore: 升级amis-publish版本,支持根据分支的最新版本号来自动升级版本号
  package.json
Labels: chore

#10157 fix: 修复 inputTable 在分页情况切换数据表单项不更新的问题
  packages/amis/__tests__/renderers/Form/inputTable.test.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#10161 fix(amis): 修正range.test.tsx用例
  packages/amis-ui/src/components/Range.tsx
  packages/amis/__tests__/event-action/renderers/form/range.test.tsx
Labels: fix

#10171 fix(amis): 注释掉range.test.tsx中的滑动change case
  packages/amis-ui/src/components/Range.tsx
  packages/amis/__tests__/event-action/renderers/form/__snapshots__/range.test.tsx.snap
  packages/amis/__tests__/event-action/renderers/form/range.test.tsx
Labels: fix

#10178 fix: 修复 #10102 引发的旧版事件弹窗更新出现配置丢失的问题
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor/src/renderer/event-control/DialogActionPanel.tsx
Labels: fix

#10186 fix: 调整amis-ui依赖
  package.json
  packages/amis-ui/package.json
Labels: fix

#10189 fix: 修复 #10134 引发的 CRUD2 中单元格中通用动作不执行问题
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#10192 style: 修复设计态弹窗中放 fieldset 渲染器宽度过宽的问题
  packages/amis-ui/scss/components/_collapse.scss
  packages/amis-ui/scss/components/form/_input-group.scss
Labels: style

#10188 style: 优化InputDatetimeRange组件面板样式
  packages/amis-editor-core/src/store/node.ts
  packages/amis-ui/scss/components/form/_date.scss
Labels: style

#10173 fix: 修复select下拉组件的自动补全功能回显bug Close: #9989
  packages/amis-core/src/store/formItem.ts
Labels: bug, fix

#10199 fix: 级联选择器-修复开启多选时，每次选择二级及以上的选项，都会自动收起的问题
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: fix

#10201 fix: 级联选择器-修复开启多选时，每次选择二级及以上的选项，都会自动收起的问题
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: fix

#10197 fix: 修复 word 打印失效问题
  packages/amis-core/src/actions/PrintAction.ts
Labels: fix

#10194 fix: 修复 word 中没有 styles.xml 文件会导致报错问题 Closes #10154
  packages/amis/package.json
  packages/office-viewer/.vscode/settings.json
  packages/office-viewer/__tests__/docx/malformed/without_styles.xml.docx
  packages/office-viewer/examples/word.html
  packages/office-viewer/package.json
  packages/office-viewer/src/Word.ts
  packages/office-viewer/src/createOfficeViewer.ts
  packages/office-viewer/src/util/fileType.ts
  packages/office-viewer/src/word/parse/defaultXML/settingsXML.ts
  packages/office-viewer/src/word/parse/defaultXML/stylesXML.ts
  packages/office-viewer/src/word/parse/defaultXML/themeXML.ts
Labels: fix, style

#10202 fix: 修复通用动作 reload 无法传递事件数据问题 Close: #10164
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-editor/src/plugin/Form/Group.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#10092 fix: amis-editor table-view 新增行和列
  packages/amis-editor/src/plugin/TableView.tsx
Labels: fix

#10208 style: 避免内容被撑开
  packages/amis-ui/scss/components/_alert.scss
  packages/amis-ui/scss/components/_calendar.scss
  packages/amis-ui/scss/components/_card.scss
  packages/amis-ui/scss/components/_cascader.scss
  packages/amis-ui/scss/components/_city-area.scss
  packages/amis-ui/scss/components/_condition-builder.scss
  packages/amis-ui/scss/components/_crud.scss
  packages/amis-ui/scss/components/_divider.scss
  packages/amis-ui/scss/components/_formula.scss
  packages/amis-ui/scss/components/_json-schema-editor.scss
  packages/amis-ui/scss/components/_json-schema.scss
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/scss/components/_modal.scss
  packages/amis-ui/scss/components/_panel.scss
  packages/amis-ui/scss/components/_picker-columns.scss
  packages/amis-ui/scss/components/_popup.scss
  packages/amis-ui/scss/components/_steps.scss
  packages/amis-ui/scss/components/_tabs.scss
  packages/amis-ui/scss/components/_timeline.scss
  packages/amis-ui/scss/components/_toast.scss
  packages/amis-ui/scss/components/form/_combo.scss
  packages/amis-ui/scss/components/form/_date-range.scss
  packages/amis-ui/scss/components/form/_excel.scss
  packages/amis-ui/scss/components/form/_file.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/scss/components/form/_icon-select.scss
  packages/amis-ui/scss/components/form/_location.scss
  packages/amis-ui/scss/components/form/_nested-select.scss
  packages/amis-ui/scss/components/form/_number.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/scss/components/form/_tree.scss
  packages/amis-ui/scss/components/form/_user-select.scss
  packages/amis-ui/scss/layout/_grid.scss
Labels: style

#10210 fix: 修复schema编辑复制组件时样式冲突问题
  packages/amis-editor-core/src/component/Panel/AMisCodeEditor.tsx
  packages/amis-editor-core/src/component/Panel/CodeEditorPanel.tsx
  packages/amis-editor-core/src/manager.ts
Labels: fix

#10218 fix: 修复flex纵向自定义比例显示重叠问题
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-editor/src/renderer/style-control/FlexLayout.tsx
  packages/amis-editor/src/tpl/layout.tsx
Labels: fix

#10091 fix: amis:table-view 预览和实际外观不一致
  packages/amis/src/renderers/TableView.tsx
Labels: fix

#10209 chore: 兼容 exceljs 在部分打包配置下引入错误问题 Closes #9598
  packages/amis/src/renderers/Form/InputExcel.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#10221 chore: 调整编辑器样式解决点选被挡住问题
  amis.code-workspace
  examples/components/App.tsx
  packages/amis-editor-core/scss/_bcn.scss
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/store/node.ts
  packages/amis-editor/src/plugin/Dialog.tsx
  packages/amis-editor/src/plugin/Drawer.tsx
Labels: chore

#10216 fix: select 不在 form 下面报 addHook 不是函数的错误
  packages/amis/src/renderers/Form/Select.tsx
Labels: fix

#10213 fix: 修复弹窗嵌套弹窗观察动作执行逻辑错误 Close: #10200
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: fix

#10220 fix: number 组件使用和 input-number 一样的四舍五入精度策略 Closes #10112
  docs/zh-CN/components/number.md
  packages/amis/__tests__/renderers/Form/number.test.tsx
  packages/amis/src/renderers/Number.tsx
Labels: fix

#10222 feat: Table View 的行和列支持配置 visibleOn Closes #9621
  docs/zh-CN/components/table-view.md
  packages/amis/__tests__/renderers/TableView.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/TableView.test.tsx.snap
  packages/amis/src/renderers/TableView.tsx
Labels: feat

#10219 fix: 修复anchorNav组件定位不准问题
  packages/amis-ui/src/components/AnchorNav.tsx
Labels: fix

#10227 fix: 修复 multiLineText 组件无限更新问题
  packages/amis-ui/src/components/MultilineText.tsx
Labels: fix

#10233 fix：组件变量赋值可视化展示问题
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#10236 fix：组件变量赋值可视化展示问题
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#10239 feat: 状态插件支持选择自定义表达式、校验插件新增清空方法、增加两种校验类型
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/renderer/ConditionFormulaControl.tsx
  packages/amis-editor/src/renderer/StatusControl.tsx
  packages/amis-editor/src/renderer/ValidateApiControl.tsx
  packages/amis-editor/src/renderer/ValidationControl.tsx
  packages/amis-editor/src/renderer/ValidationItem.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-editor/src/tpl/validations.tsx
  packages/amis-editor/src/validator.tsx
Labels: feat

#10241 feat(editor): 签名面板更名手写签
  packages/amis-editor/src/plugin/Form/InputSignature.tsx
Labels: feat

#10225 fix: 修复 InputTable 组件 add 事件参数上下文错误问题。Closes #10224
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#10258 fix: 修复 card 组件渲染异常 Close: #10229
  packages/amis-core/src/utils/style-helper.ts
  packages/amis/src/renderers/Card.tsx
Labels: fix

#10254 fix:copyAction复制问题 Closed #10251
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/CopyAction.ts
  packages/amis/__tests__/event-action/copy.test.tsx
Labels: fix

#10253 chore: crud 即便不同步地址栏也回显地址栏参数 Close: #9788
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Form/Picker.tsx
  packages/amis/src/renderers/Table/AutoFilterForm.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#10250 feat: list-select 支持 label 用变量 Close: #9807
  packages/amis/src/renderers/Form/ListSelect.tsx
Labels: feat

#10249 feat: api 发送适配器支持通过 api.query 来修改 query 参数 Close: #9813
  docs/zh-CN/types/api.md
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/api.ts
Labels: feat

#10247 chore: revert #5791 解决数据合并混乱问题 Close: #9828
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: chore

#10244 chore: crud 的自动过滤器的重置按钮行为改成 clear-and-submit Close: #10028
  packages/amis/src/renderers/Table/AutoFilterForm.tsx
Labels: chore

#10245 fix: 修复 combo 中通过 visibleOn 新出来的字段默认值没有起作用的问题 Close: #9947
  packages/amis-core/src/renderers/Form.tsx
Labels: fix

#10255 feat: xxxOn 支持自定义条件
  packages/amis-core/__tests__/condition.test.ts
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/AjaxAction.ts
  packages/amis-core/src/actions/SwitchAction.ts
  packages/amis-core/src/utils/filter-schema.ts
  packages/amis-core/src/utils/renderer-event.ts
  packages/amis-core/src/utils/resolveCondition.ts
  packages/amis-core/src/utils/tpl.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: feat

#10263 fix: 导出校验相关函数
  packages/amis-editor/src/index.tsx
Labels: fix

#10274 fix: amis-ui 打包依赖问题
  packages/amis-ui/package.json
Labels: fix

#10288 fix: 修复daterange识别日期错误问题
  packages/amis/src/renderers/DateRange.tsx
Labels: fix

#10289 feat: 优化pdf-view、office-view 取值逻辑 支持从对象中获取
  examples/components/App.tsx
  examples/components/SchemaRender.jsx
  packages/amis-editor-core/package.json
  packages/amis-editor/package.json
  packages/amis/src/renderers/OfficeViewer.tsx
  packages/amis/src/renderers/PdfViewer.tsx
Labels: feat

#10293 fix: 修复编辑器模拟数据逻辑导致的组件无限刷新问题
  packages/amis-editor/src/plugin/Cards.tsx
  packages/amis-editor/src/plugin/Each.tsx
  packages/amis-editor/src/plugin/Form/Combo.tsx
  packages/amis-editor/src/plugin/Form/InputArray.tsx
  packages/amis-editor/src/plugin/Form/InputSubForm.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Form/Static.tsx
  packages/amis-editor/src/plugin/List.tsx
  packages/amis-editor/src/plugin/List2.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/plugin/Table2.tsx
Labels: fix

#10294 fix: 优化状态中条件设置的判断逻辑
  packages/amis-editor/src/renderer/StatusControl.tsx
Labels: fix

#10291 fix(editor): 解决getRootManager死循环问题
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#10300 feat: inputColor 支持配置弹层选择器
  docs/zh-CN/components/color.md
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-ui/src/components/ColorPicker.tsx
  packages/amis/src/renderers/Form/InputColor.tsx
Labels: feat

#10315 feat: flex模式点选添加组件逻辑优化
  packages/amis-editor-core/src/layout/flex.ts
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/util.ts
Labels: feat

#10325 fix: api query开启过滤空值时, 若参数值是表达式且其执行结果为date类型导致该参数被删除
  packages/amis-core/src/utils/api.ts
Labels: fix

#10326 fix: 查询条件过滤空条件时, api query参数值的表达式执行结果为date类型时导致参数不生效
  packages/amis-core/src/utils/api.ts
Labels: fix

#10323 feat: 补充crud2 外层testid
  packages/amis/src/renderers/CRUD2.tsx
Labels: feat

#10337 feat: 导出部分基础插件
  packages/amis-editor-core/src/index.ts
  packages/amis-editor-core/src/plugin/Unknown.tsx
Labels: feat

#10342 chore: 升级amis-publish版本
  package.json
Labels: chore

#10334 feat: combo tabMode 增加testid
  packages/amis/src/renderers/Form/Combo.tsx
Labels: feat

#10345 fix: pdfjs-dist 加载问题
  packages/amis-ui/src/components/PdfViewer.tsx
Labels: fix

#10332 fix: 修复时间选择组件配置utc后交互异常问题 Close:#10122
  docs/zh-CN/components/form/input-datetime.md
  packages/amis-core/src/utils/date.ts
  packages/amis-ui/src/components/DatePicker.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
Labels: fix

#10297 fix: 修复 office-viewer 的 esm 没有 external echarts 问题
  packages/amis/package.json
  packages/office-viewer/package.json
  packages/office-viewer/rollup.config.js
Labels: fix

#10350 fix:修复动作配置中combo样式问题
  packages/amis-editor-core/scss/control/_event-action.scss
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#10348 style: 修复form flex模式样式异常问题
  packages/amis-ui/scss/components/form/_form.scss
Labels: style

#10336 feat: 支持sfc 形式的渲染器
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/WithStore.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-editor-core/src/component/NodeWrapper.tsx
  packages/amis-ui/scss/components/_result-box.scss
  packages/amis-ui/scss/components/form/_combo.scss
  packages/amis-ui/src/components/Combo.tsx
  packages/amis-ui/src/components/FormField.tsx
Labels: feat

#10351 chore: Update codeql-analysis to v2
  .github/workflows/codeql-analysis.yml
Labels: chore

#10341 fix: 修复 Chained-Select 清除数据后还有逗号问题 Closes #10116
  packages/amis/src/renderers/Form/ChainedSelect.tsx
Labels: fix

#10340 fix: 修复接口及表单报错依然执行倒计时问题 Closes #10264
  packages/amis/src/renderers/Action.tsx
Labels: fix

#10306 docs: 修复文档中过滤器 join 连接符描述错误问题
  docs/zh-CN/concepts/data-mapping.md
Labels: doc

#10354 fix(editor): 修复部分场景下获取不到region的情况
  packages/amis-editor-core/src/component/Breadcrumb.tsx
  packages/amis-editor-core/src/plugin/BasicToolbar.tsx
Labels: fix

#10357 fix: amis sdk 编译
  fis-conf.js
Labels: fix

#10277 chore: 弹窗配置纠错 Close: #10269
  packages/amis-editor-core/src/store/editor.ts
Labels: chore

#10266 fix: 修复 iframe 事件响应重复的问题 Close: #10196
  packages/amis/src/renderers/IFrame.tsx
Labels: fix

#10265 fix: 修复 tabs 的 title 渲染上下文信息错误问题 Close: #10259
  packages/amis/src/renderers/Tabs.tsx
Labels: fix
