Repository baidu/amis, pull requests merged in 2024-03, with the labels that each got.

#9704 feat: 支持PDF预览
  docs/zh-CN/components/pdf-viewer.md
  examples/components/Components.tsx
  examples/components/Example.jsx
  examples/components/PdfViewer.jsx
  examples/static/simple.pdf
  fis-conf.js
  packages/amis-ui/package.json
  packages/amis-ui/rollup.config.js
  packages/amis-ui/scss/components/_pdf_viewer.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis-ui/src/components/PdfViewer.tsx
  packages/amis-ui/src/components/TimelineItem.tsx
  packages/amis/src/Schema.ts
  packages/amis/src/index.tsx
  packages/amis/src/renderers/PdfViewer.tsx
Labels: feat

#9707 fix:根据broadcast广播配置input-month-range组件清空操作无效 Close #9505
  packages/amis/src/renderers/Form/InputMonthRange.tsx
  packages/amis/src/renderers/Form/InputQuarterRange.tsx
  packages/amis/src/renderers/Form/InputYearRange.tsx
Labels: fix

#9706 fix: crud2条件查询表单重置失效 issue: #9701
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#9724 fix: 修复弹窗交互调整引发动作添加报错 Close: #9720
  packages/amis-core/package.json
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#9722 feat: autoFill api 模式也支持 initAutoFill 配置 Close: #9631 #9716 #9721
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis/src/renderers/Form/Picker.tsx
Labels: feat

#9723 fix: 提取公共modal可能会更新错误
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/event-control/DialogActionPanel.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
Labels: fix

#9700 feat: 日期范围、transfer等组件支持testid
  packages/amis-ui/src/components/AssociatedSelection.tsx
  packages/amis-ui/src/components/ChainedSelection.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/GroupedSelection.tsx
  packages/amis-ui/src/components/ResultList.tsx
  packages/amis-ui/src/components/ResultTableList.tsx
  packages/amis-ui/src/components/ResultTreeList.tsx
  packages/amis-ui/src/components/SearchBox.tsx
  packages/amis-ui/src/components/Selection.tsx
  packages/amis-ui/src/components/TableSelection.tsx
  packages/amis-ui/src/components/TabsTransfer.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputDateRange.tsx
  packages/amis/src/renderers/Form/InputSubForm.tsx
  packages/amis/src/renderers/Form/MatrixCheckboxes.tsx
  packages/amis/src/renderers/Form/Picker.tsx
  packages/amis/src/renderers/Form/TabsTransfer.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/SearchBox.tsx
Labels: feat

#9726 feat：amis支持手写签名面板
  docs/zh-CN/components/form/input-signature.md
  examples/components/Components.tsx
  package.json
  packages/amis-ui/scss/components/_signature.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis-ui/src/components/Signature.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/Schema.ts
  packages/amis/src/index.tsx
  packages/amis/src/renderers/Form/InputSignature.tsx
Labels: feat

#9715 fix: table的select动作判断falttenedRows进行选中，以便选中子节点 close: #9714
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#9730 chore: 优化弹窗参数映射逻辑
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-editor-core/src/component/Panel/DialogList.tsx
  packages/amis-editor-core/src/component/base/SchemaForm.tsx
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor/src/plugin/Dialog.tsx
  packages/amis-editor/src/plugin/Drawer.tsx
  packages/amis-editor/src/renderer/event-control/DialogActionPanel.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-ui/src/components/json-schema/Item.tsx
  packages/amis-ui/src/components/json-schema/Object.tsx
Labels: chore

#9746 fix(amis-theme-editor-helper): 字体、边框、内外边距等外观配置增加默认placeholder
  packages/amis-theme-editor-helper/src/renderers/Border.tsx
  packages/amis-theme-editor-helper/src/renderers/Font.tsx
  packages/amis-theme-editor-helper/src/renderers/PaddingAndMargin.tsx
  packages/amis-theme-editor-helper/src/renderers/Radius.tsx
Labels: fix

#9747 chore: 调整弹窗编辑逻辑支持子弹窗中可以选择打开父级其他弹窗
  packages/amis-editor-core/src/component/Panel/DialogList.tsx
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/event-control/DialogActionPanel.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: chore

#9754 chore: 调整表单项初始化过程 解决表单项非初始渲染时 initAutoFill 配置无效的问题 Close: #9733, #9742
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/formItem.ts
  packages/amis/__tests__/renderers/Form/formitem.test.tsx
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
  packages/amis/src/renderers/Form/MatrixCheckboxes.tsx
  packages/amis/src/renderers/Form/Picker.tsx
Labels: chore

#9758 feat: 签名组件参数优化&&编辑器配置面板
  docs/zh-CN/components/form/input-signature.md
  packages/amis-editor/src/icons/form/input-signature.svg
  packages/amis-editor/src/icons/index.tsx
  packages/amis-editor/src/plugin/Form/InputSignature.tsx
  packages/amis-editor/src/plugin/index.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_signature.scss
  packages/amis-ui/src/components/Signature.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/Form/InputSignature.tsx
Labels: feat

#9695 fix: editor-修复switch组件值格式数字和字符串会被自动转为布尔值的问题
  packages/amis-editor/src/plugin/Form/Switch.tsx
Labels: fix

#9760 chore: 布局容器优化
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/scss/style-control/_flex-layout.scss
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/plugin/Container.tsx
  packages/amis-editor/src/plugin/Image.tsx
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-editor/src/renderer/FlexSettingControl.tsx
  packages/amis-editor/src/renderer/style-control/FlexLayout.tsx
  packages/amis-editor/src/tpl/layout.tsx
  packages/amis-editor/src/tpl/style.tsx
Labels: chore

#9765 fix: 修复 crud setData 动作处理报错
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#9768 pick: fix: 修复 api 编辑输入太快立马弹出详情时出现弹窗空白问题
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/iRenderer.ts
  packages/amis-editor/src/renderer/APIControl.tsx
  packages/amis/__tests__/event-action/ajax.test.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/ConditionBuilder.tsx
Labels: fix

#9764 feat: 增加验证身份证号码的范围合理性(1850-今天)
  packages/amis-core/src/utils/validateId.ts
  packages/amis/__tests__/utils/validations.test.ts
Labels: feat

#9782 fix: 修复crud里面使用文本假数据/列表组件渲染报错
  packages/amis-editor-core/src/component/NodeWrapper.tsx
  packages/amis-editor/src/plugin/Cards.tsx
  packages/amis-editor/src/plugin/Each.tsx
  packages/amis-editor/src/plugin/List2.tsx
Labels: fix

#9790 feat: select tree模式支持menuTpl
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/src/renderers/Form/Select.tsx
Labels: feat

#9796 fix: 修复popover定位问题
  packages/amis-core/src/utils/dom.tsx
Labels: fix

#9778 fix: 修复 table 更新指定行数数据多次调用报错问题 Close: #9659
  docs/zh-CN/components/crud.md
  packages/amis-core/src/types.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#9757 chore: input-table 支持单元格为容器时内部放表单项也参与校验 Close: #9756
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis/src/renderers/QuickEdit.tsx
Labels: chore

#9763 chore: 优化公式编辑器支持表达式中换行
  packages/amis-editor/src/renderer/ExpressionFormulaControl.tsx
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/StatusControl.tsx
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
  packages/amis-editor/src/renderer/textarea-formula/TextareaFormulaControl.tsx
  packages/amis-ui/src/components/formula/Picker.tsx
Labels: chore

#9777 fix: 修复 crud 其他模式构建脚手架初始化态状态错误
  packages/amis-editor/src/plugin/CRUD.tsx
Labels: fix

#9802 fix: issue:9755:inputGroup下inputText icon 不显示
  packages/amis-ui/scss/components/form/_text.scss
Labels: fix

#9801 fix: 修复弹窗修改可能的报错
  packages/amis-editor-core/src/component/Panel/DialogList.tsx
  packages/amis-editor/src/renderer/event-control/DialogActionPanel.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#9803 feat: 优化签名面板图标
  packages/amis-ui/src/components/Signature.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/icons/fullscreen.svg
  packages/amis-ui/src/icons/undo-normal.svg
  packages/amis-ui/src/icons/unfullscreen.svg
Labels: feat

#9668 feat: Combo组件支持拖拽事件 Close: #9538
  docs/zh-CN/components/form/combo.md
  packages/amis-editor/src/plugin/Form/Combo.tsx
  packages/amis/src/renderers/Form/Combo.tsx
Labels: awaiting-final-review, feat

#9825 chore: 弹窗功能优化
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/actions/DialogAction.ts
  packages/amis-core/src/actions/DrawerAction.ts
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/store/formItem.ts
  packages/amis-core/src/store/iRenderer.ts
  packages/amis-editor-core/scss/_outline.scss
  packages/amis-editor-core/src/component/Panel/DialogList.tsx
  packages/amis-editor/src/renderer/event-control/DialogActionPanel.tsx
  packages/amis-editor/src/renderer/event-control/action-config-dialog.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-ui/src/components/json-schema/Object.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/Service.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: fix

#9804 chore: 默认不要透传 loading
  packages/amis-core/src/SchemaRenderer.tsx
Labels: chore

#9832 fix: 修复 combo 可能无限触发 onChange 的问题
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix

#9821 chore: 公式编辑器 input 换成 codemirror 提升交互体验
  docs/zh-CN/components/form/input-formula.md
  packages/amis-core/src/StatusScoped.tsx
  packages/amis-core/src/locale.tsx
  packages/amis-core/src/theme.tsx
  packages/amis-core/src/utils/formula.ts
  packages/amis-editor-core/scss/control/_expression-formula-control.scss
  packages/amis-editor-core/scss/control/_textarea-formula-control.scss
  packages/amis-editor-core/scss/control/_tpl-formula-control.scss
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/renderer/ExpressionFormulaControl.tsx
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-editor/src/renderer/textarea-formula/FormulaPicker.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/components/_condition-builder.scss
  packages/amis-ui/scss/components/_formula.scss
  packages/amis-ui/src/components/CodeMirror.tsx
  packages/amis-ui/src/components/InputBox.tsx
  packages/amis-ui/src/components/TooltipWrapper.tsx
  packages/amis-ui/src/components/formula/CodeEditor.tsx
  packages/amis-ui/src/components/formula/Editor.tsx
  packages/amis-ui/src/components/formula/FuncList.tsx
  packages/amis-ui/src/components/formula/Input.tsx
  packages/amis-ui/src/components/formula/Picker.tsx
  packages/amis-ui/src/components/formula/VariableList.tsx
  packages/amis-ui/src/components/formula/plugin.ts
  packages/amis-ui/src/components/index.tsx
  packages/amis-ui/src/components/schema-editor/SchemaVariableList.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/__tests__/helper.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputFormula.test.tsx.snap
  packages/amis/__tests__/renderers/Form/conditionBuilder.test.tsx
  packages/amis/__tests__/renderers/Form/inputFormula.test.tsx
  packages/amis/src/renderers/Form/InputFormula.tsx
Labels: chore

#9843 style(amis): 修复crud2/部分场景/列级元素内部tooltip提示位置异常问题
  packages/amis-ui/scss/components/_crud2.scss
Labels: style

#9846 feat: ContextMenu组件支持渲染自定义菜单\支持监听菜单大小变化并重新计算位置
  packages/amis-ui/src/components/ContextMenu.tsx
Labels: feat

#9849 feat: contextMenu组件willUnmount时cancel debounce
  packages/amis-ui/src/components/ContextMenu.tsx
Labels: feat

#9838 style: 调整公式部分样式
  packages/amis-formula/src/parser.ts
  packages/amis-ui/scss/components/_condition-builder.scss
  packages/amis-ui/src/components/CodeMirror.tsx
  packages/amis-ui/src/components/formula/CodeEditor.tsx
  packages/amis-ui/src/components/formula/Input.tsx
  packages/amis-ui/src/components/formula/Picker.tsx
  packages/amis-ui/src/components/formula/plugin.ts
  packages/amis/__tests__/renderers/Form/__snapshots__/inputFormula.test.tsx.snap
Labels: style

#9837 fix: 修复 jssdk 模式下 inputTree 的按钮提示不可见 Close: #9834
  packages/amis-core/src/components/Overlay.tsx
  packages/amis-ui/src/components/TooltipWrapper.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
Labels: fix

#9829 fix: 修复数据域改变，nav没有动态修改的问题
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#9842 fix: 修复 office-viewer 的 databar 显示不正确问题
  examples/static/all.xlsx
  index.html
  packages/amis-ui/scss/_thirds.scss
  packages/amis-ui/src/components/CodeMirror.tsx
  packages/amis/package.json
  packages/office-viewer/package.json
  packages/office-viewer/src/excel/render/cell/drawCells.ts
  packages/office-viewer/src/excel/types/X14Sparkline/X14SparklineGroup.ts
  packages/office-viewer/src/excel/types/X14Sparkline/x14Sparklines.ts
Labels: fix

#9853 fix: office-viewer excel 去掉字母间距导致显示不正确问题
  packages/amis/package.json
  packages/office-viewer/package.json
  packages/office-viewer/src/excel/render/cell/drawMultiLineText.ts
Labels: fix

#9861 fix: 二维码组件下载展示不全 #9859
  packages/amis/src/renderers/QRCode.tsx
Labels: fix

#9871 feat: 条件组合与公式结合时支持自定义输入框类型
  packages/amis-ui/scss/components/_formula.scss
  packages/amis-ui/src/components/condition-builder/Value.tsx
  packages/amis-ui/src/components/formula/Input.tsx
  packages/amis-ui/src/components/formula/Picker.tsx
  packages/amis/src/renderers/Form/InputFormula.tsx
Labels: feat

#9875 Pick formula 更新、条件组合支持自定义、弹窗错误信息优化
  docs/zh-CN/components/form/input-formula.md
  packages/amis-core/src/StatusScoped.tsx
  packages/amis-core/src/locale.tsx
  packages/amis-core/src/theme.tsx
  packages/amis-core/src/utils/formula.ts
  packages/amis-editor-core/scss/control/_expression-formula-control.scss
  packages/amis-editor-core/scss/control/_textarea-formula-control.scss
  packages/amis-editor-core/scss/control/_tpl-formula-control.scss
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/renderer/ExpressionFormulaControl.tsx
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-editor/src/renderer/textarea-formula/FormulaPicker.tsx
  packages/amis-editor/src/tpl/common.tsx
  packages/amis-formula/src/parser.ts
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/components/_condition-builder.scss
  packages/amis-ui/scss/components/_formula.scss
  packages/amis-ui/src/components/CodeMirror.tsx
  packages/amis-ui/src/components/InputBox.tsx
  packages/amis-ui/src/components/TooltipWrapper.tsx
  packages/amis-ui/src/components/condition-builder/Value.tsx
  packages/amis-ui/src/components/formula/CodeEditor.tsx
  packages/amis-ui/src/components/formula/Editor.tsx
  packages/amis-ui/src/components/formula/FuncList.tsx
  packages/amis-ui/src/components/formula/Input.tsx
  packages/amis-ui/src/components/formula/Picker.tsx
  packages/amis-ui/src/components/formula/VariableList.tsx
  packages/amis-ui/src/components/formula/plugin.ts
  packages/amis-ui/src/components/index.tsx
  packages/amis-ui/src/components/schema-editor/SchemaVariableList.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/__tests__/helper.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputFormula.test.tsx.snap
  packages/amis/__tests__/renderers/Form/conditionBuilder.test.tsx
  packages/amis/__tests__/renderers/Form/inputFormula.test.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/Form/InputFormula.tsx
Labels: feat, chore, style

#9876 fix: 修复 table2 树形数据展示对应错误问题
  packages/amis-core/src/store/table2.ts
  packages/amis-ui/src/components/table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#9881 feat: ContextMenu-更高效\好用地计算右键菜单的位置
  packages/amis-core/src/utils/dom.tsx
  packages/amis-ui/src/components/ContextMenu.tsx
Labels: feat

#9865 fix: 修复滑块组件有精度配置时精度不准确的问题
  packages/amis-core/src/utils/stripNumber.ts
  packages/amis/src/renderers/Form/InputRange.tsx
Labels: fix

#9882 fix: 修复editor中的右键菜单偶尔出现后立刻消失的问题
  packages/amis-editor-core/src/component/Editor.tsx
Labels: fix

#9885 fix: 修改引入 css 的方式
  packages/amis-ui/scss/_thirds.scss
  packages/amis-ui/src/components/CodeMirror.tsx
Labels: fix

#9854 feat: crud 支持刷新行数据
  docs/zh-CN/components/crud.md
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/types.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Carousel.tsx
  packages/amis/src/renderers/Collapse.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/DiffEditor.tsx
  packages/amis/src/renderers/Form/Editor.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Form/InputText.tsx
  packages/amis/src/renderers/Form/TabsTransfer.tsx
  packages/amis/src/renderers/Form/Textarea.tsx
  packages/amis/src/renderers/Nav.tsx
  packages/amis/src/renderers/OfficeViewer.tsx
  packages/amis/src/renderers/Progress.tsx
  packages/amis/src/renderers/QRCode.tsx
  packages/amis/src/renderers/SearchBox.tsx
  packages/amis/src/renderers/Service.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
  packages/amis/src/renderers/Tabs.tsx
Labels: feat

#9852 fix: 修复 InputTable 编辑树形结构数据的问题 Close: #9379
  docs/zh-CN/components/form/input-table.md
  docs/zh-CN/components/table.md
  packages/amis-core/src/store/table.ts
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/icons/sub-plus.svg
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
Labels: fix

#9896 chore: gh-pages 只有 master 分支才更新
  .github/workflows/gh-pages.yml
Labels: chore

#9899 fix: 修复 inputFormula evalMode false 时提交报错问题
  docs/zh-CN/components/form/input-formula.md
  packages/amis-ui/src/components/formula/Picker.tsx
Labels: fix

#9900 feat: 事件动作confirmDialog和alert支持自定义className Close #9869
  packages/amis-core/src/actions/DialogAction.ts
  packages/amis-ui/src/components/Alert.tsx
Labels: feat

#9894 fix: 增加 Object.hasOwn polyfill 避免 Chrome 92 以下报错 Closes #9816
  examples/polyfills/index.ts
Labels: fix

#9893 feat: iframe 支持打开 blob 地址 Close: #8971
  packages/amis/src/renderers/IFrame.tsx
Labels: feat

#9888 Update style.md
  docs/zh-CN/concepts/style.md
Labels: style

#9883 fix: 修复 app 模式页面定义 definitions 无效的问题 Close: #4679
  packages/amis/src/renderers/App.tsx
Labels: fix

#9847 fix(editor): 修复编辑器自定义样式和固定样式渲染混乱问题
  packages/amis-core/src/utils/style-helper.ts
  packages/amis/src/renderers/Nav.tsx
Labels: fix, amis-editor

#9841 fix: 修复 crud 的 autoFillHeight 模式与 itemActions 结合使用时位置不正确的问题 Close: #9231
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#9892 fix: combo中超长字符串导致group的tab删除按钮消失
  packages/amis-ui/scss/components/_tabs.scss
  packages/amis-ui/scss/components/form/_combo.scss
  packages/amis-ui/src/components/Tabs.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/combo.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabs.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransferPicker.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Portlet.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Tabs.test.tsx.snap
Labels: fix

#9858 fix: 修复 popOver 在滚动容器内的位置不正确的问题 Close: #9855
  packages/amis-core/src/utils/dom.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputCity.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTag.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/repeat.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/text.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
Labels: fix

#9886 fix: 修复 gh-pages 访问 app 多页面应用报错 Close: #9001
  fis-conf.js
Labels: fix

#9891 fix: 修复 defaultData 中配置 schema, 存在数据映射冲突问题 Close: #8972
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/WithStore.tsx
  packages/amis/src/renderers/GridNav.tsx
Labels: fix

#9902 fix: 修复crud 拖拽上下文信息中 insertBefore 和 insertAfter 为空的问题 Close: #1533
  packages/amis-core/src/store/table.ts
Labels: fix

#9898 fix: 修复 inputTable 事件动作上下文信息不全 Close: #8853
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/form/input-table.md
  docs/zh-CN/components/table.md
  packages/amis-core/src/store/formItem.ts
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#9910 chore: 补充事件动作走通 crud 初始化基于额外接口初始选中行的场景 Close: #9908
  docs/zh-CN/components/crud.md
  docs/zh-CN/components/table.md
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/CmptAction.ts
  packages/amis-core/src/actions/EventAction.ts
  packages/amis-core/src/actions/WaitAction.ts
  packages/amis-core/src/actions/index.ts
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/renderer-event.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: chore

#9909 fix:修复crud赋值时没传行数据的报错
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#9903 fix: 修复Image图片组件enlargeWithGallary和enlargeCaption两个属性不生效的问题 Close: #9769
  packages/amis-ui/scss/components/_image-gallery.scss
  packages/amis-ui/src/components/ImageGallery.tsx
  packages/amis/src/renderers/Image.tsx
Labels: fix

#9913 style: 优化 inputBoxWithSuggestion 的样式
  packages/amis-ui/scss/components/_input-box.scss
  packages/amis-ui/src/components/InputBox.tsx
  packages/amis-ui/src/components/InputBoxWithSuggestion.tsx
  packages/amis-ui/src/components/PopOverContainer.tsx
Labels: style

#9917 style: 优化 tooltip 中的代码块展示
  packages/amis-editor-core/scss/control/_expression-formula-control.scss
  packages/amis-editor/src/renderer/ExpressionFormulaControl.tsx
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
Labels: style

#9919 chore: 避免 form 无限触发 onChange
  packages/amis-core/src/renderers/Form.tsx
Labels: chore

#9916 fix(amis-editor): 背景选择器图片缩放类型选择无效问题
  packages/amis-theme-editor-helper/src/renderers/ColorPicker.tsx
Labels: fix

#9835 fix: 修复编辑器中选择inputKv组件异常问题
  packages/amis-editor/src/plugin/Form/InputKV.tsx
Labels: fix

#9927 feat: InputRichText组件TinyMCE默认支持图片尺寸调整
  packages/amis-ui/src/components/Tinymce.tsx
Labels: feat

#9905 fix: SDK模式下，select使用自定义过滤，采用移动模式，下拉点不开 Close: #9725
  packages/amis-ui/src/components/PopOverContainer.tsx
Labels: fix
