Repository baidu/amis, pull requests merged in 2024-06, with the labels that each got.

#10375 feat: contextMenu支持阻止关闭钩子
  packages/amis-ui/src/components/ContextMenu.tsx
Labels: feat

#10378 fix: 修复contextMenu阻止关闭时event.preventDefault()导致的各种功能失效
  packages/amis-ui/src/components/ContextMenu.tsx
Labels: fix

#10377 fix: 表单移动端样式优化 & 编辑器移动端预览样式优化
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/IFramePreview.tsx
  packages/amis-ui/scss/components/_cascader.scss
  packages/amis-ui/scss/components/_result-box.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/src/components/ResultBox.tsx
Labels: feat

#10379 feat: contextMenu支持阻止关闭钩子
  packages/amis-ui/src/components/ContextMenu.tsx
Labels: feat

#10380 feat: contextMenu支持阻止关闭钩子
  packages/amis-ui/src/components/ContextMenu.tsx
Labels: feat

#10366 docs: native-number 建议在移动端下使用
  docs/zh-CN/components/form/input-number.md
Labels: doc

#10384 feat: 公式支持快捷变量
  packages/amis-core/src/types.ts
  packages/amis-core/src/utils/DataScope.ts
  packages/amis-editor-core/scss/control/_tpl-formula-control.scss
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
  packages/amis-editor/src/renderer/textarea-formula/TextareaFormulaControl.tsx
  packages/amis-ui/src/components/index.tsx
Labels: feat

#10388 chore(amis-editor): 选项类型数据源控件支持外部扩展
  packages/amis-editor/src/renderer/OptionControl.tsx
Labels: chore

#10395 feat: 公式快捷变量支持子表
  packages/amis-editor-core/scss/control/_formula-control.scss
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
  packages/amis-editor/src/renderer/textarea-formula/TextareaFormulaControl.tsx
  packages/amis-ui/src/components/formula/VariableList.tsx
Labels: feat

#10397 fix: 修复select等options组件在source切换后无数据且multiple时空值不符合预期的问题
  packages/amis-core/src/store/formItem.ts
Labels: fix

#10403 fix: 修复select等options组件在source切换后无数据且multiple时空值不符合预期的问题
  packages/amis-core/src/store/formItem.ts
Labels: fix

#10402 fix: 修复select等options组件在source切换后无数据且multiple时空值不符合预期的问题
  packages/amis-core/src/store/formItem.ts
Labels: fix

#10398 feat: NestedSelect 支持testid
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: feat

#10399 fix: 修复 store 数据上下层同步问题
  packages/amis-core/src/WithStore.tsx
  packages/amis-core/src/store/iRenderer.ts
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/__tests__/stores/__snapshots__/service.test.ts.snap
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#10408 fix: 修复 table 分页后列可能对不齐的问题
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis/src/renderers/Table/ColGroup.tsx
Labels: fix

#10412 fix(amis-editor): 修复form查看场景时修改配置面板丢失信息的问题
  packages/amis-editor/src/plugin/Form/Form.tsx
Labels: fix

#10394 fix:修复事件动作文档中错误说明
  docs/zh-CN/concepts/event-action.md
Labels: fix

#10415 feat: 公式高亮模式变更
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
  packages/amis-editor/src/renderer/textarea-formula/TextareaFormulaControl.tsx
  packages/amis-editor/src/renderer/textarea-formula/plugin.tsx
  packages/amis-ui/src/components/formula/Editor.tsx
Labels: feat

#10416 feat: 公式变量展示调整
  packages/amis-editor-core/scss/control/_formula-control.scss
  packages/amis-editor-core/scss/control/_tpl-formula-control.scss
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/textarea-formula/FormulaPicker.tsx
  packages/amis-ui/scss/components/_formula.scss
  packages/amis-ui/src/components/formula/Editor.tsx
  packages/amis-ui/src/components/formula/VariableList.tsx
Labels: feat

#10396 fix: 修复id不为string类型时,自定义样式报错
  packages/amis-core/src/utils/style-helper.ts
Labels: fix

#10425 fix(amis-editor): 数值精度调整默认值不跟随变化的问题
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#10426 feat: 表达式变量展示优化
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
  packages/amis-editor/src/renderer/textarea-formula/FormulaPicker.tsx
  packages/amis-editor/src/renderer/textarea-formula/TextareaFormulaControl.tsx
  packages/amis-ui/src/components/formula/Editor.tsx
Labels: feat

#10435 fix(amis-editor): input-table关闭mock数据的功能
  packages/amis-editor/src/plugin/Form/InputTable.tsx
Labels: fix

#10433 fix(editor): 修复editor批量添加option异常问题
  packages/amis-editor/src/renderer/OptionControl.tsx
Labels: fix

#10438 style: 优化form flex模式下样式问题
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-editor/src/renderer/SwitchMoreControl.tsx
  packages/amis-editor/src/tpl/remark.tsx
  packages/amis-ui/scss/components/form/_form.scss
Labels: style

#10434 feat: FormulaControl 快捷变量点击改为替换
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: feat

#10432 fix: 修复 table 中有表单项带路径时会把对应对象其他属性弄丢的问题
  packages/amis/src/renderers/Form/InputNumber.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
Labels: fix

#10442 fix: picker 不自定义 pickerSchema 时 labelField 配置无效问题修复
  packages/amis/src/renderers/Form/Picker.tsx
Labels: fix

#10457 style: 修复textarea counter遮挡底边框的问题
  packages/amis-ui/scss/components/form/_textarea.scss
Labels: style

#10460 fix: 公式变量过滤问题
  packages/amis-editor-core/src/util.ts
Labels: fix

#10444 fix: 条件表达式获取不到上下文数据
  packages/amis-editor/src/renderer/ConditionFormulaControl.tsx
  packages/amis-editor/src/renderer/StatusControl.tsx
  packages/amis-editor/src/renderer/ValidationControl.tsx
Labels: fix

#10459 fix(amis-editor): 修复 select 静态选项 popOver 编辑无效问题 Close: #10427
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-editor/src/renderer/OptionControl.tsx
Labels: fix

#10455 style: 条件组合样式优化
  packages/amis-ui/scss/components/_input-box.scss
  packages/amis-ui/src/components/condition-builder/Value.tsx
Labels: style

#10464 fix: 优化 inputTable state 更新逻辑,减少多余重新渲染
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#10465 feat(editor): optionControl支持配置customEdit
  packages/amis-editor-core/scss/control/_option-control.scss
  packages/amis-editor/src/renderer/OptionControl.tsx
Labels: feat

#10468 fix: 快捷变量层级
  packages/amis-editor-core/src/util.ts
Labels: fix

#10469 fix: input-table未下发static、删除逻辑优化
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#10467 fix: 修复table中form item static不生效问题
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#10473 fix: TreeSelector 报错
  packages/amis-ui/src/components/Tree.tsx
Labels: fix

#10475 fix: input-number用修改formatter的方式替换移动光标的方式 解决光标漂浮问题
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
Labels: fix

#10386 feat: 新增verificationCode验证码渲染器
  docs/zh-CN/components/form/input-verification-code.md
  examples/components/Components.tsx
  packages/amis-ui/scss/components/_verificationCode.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis-ui/src/components/VerificationCode.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis/src/Schema.ts
  packages/amis/src/index.tsx
  packages/amis/src/renderers/Form/InputVerificationCode.tsx
Labels: feat

#10479 fix: 快捷变量展示模式
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/FormulaControl.tsx
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
  packages/amis-editor/src/renderer/textarea-formula/TextareaFormulaControl.tsx
Labels: fix

#10477 chore: condition-builder 非预设类型渲染时也转成走自定义类型渲染逻辑
  packages/amis-ui/src/components/condition-builder/Value.tsx
Labels: chore

#10481 fix: 修复弹窗中表单内再弹窗新弹窗按钮不可点问题
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
Labels: fix

#10484 fix: formula Button style
  packages/amis-editor-core/scss/control/_tpl-formula-control.scss
Labels: fix, style

#10490 fix: varliableItem value 空选择问题
  packages/amis-editor-core/scss/control/_tpl-formula-control.scss
  packages/amis-ui/src/components/formula/VariableList.tsx
Labels: fix

#10491 fix: 修复 words 显示复杂对象时报错问题
  packages/amis/src/renderers/Words.tsx
Labels: fix

#10506 chore: 调整表单项默认值变更逻辑支持值格式是数组的情况
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-editor/src/plugin/Form/Item.tsx
Labels: chore

#10512 chore: table2 单元格渲染逻辑优化
  packages/amis/src/renderers/Table2/index.tsx
Labels: chore

#10516 fix: formulaControl 高亮时机问题
  packages/amis-editor/src/renderer/FormulaControl.tsx
Labels: fix

#10517 fix: formulaControl 高亮时机问题
  packages/amis-editor/src/renderer/FormulaControl.tsx
Labels: fix

#10514 fix: 修复form flex模式下description位置不对问题
  packages/amis-core/src/renderers/Item.tsx
Labels: fix

#10519 feat: input-table 的复制功能支持配置复制数据映射
  docs/zh-CN/components/form/input-table.md
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: feat

#10522 feat(editor): optionControl批量添加支持配置customEdit
  packages/amis-editor/src/renderer/OptionControl.tsx
Labels: feat

#10526 fix: input-table 修复 input-table 内部有公式时展示值与表单项值不一致问题
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/QuickEdit.tsx
  packages/amis/src/renderers/Table/Cell.tsx
  packages/amis/src/renderers/Table/TableCell.tsx
Labels: fix

#10518 fix: issue#10515 修复code组件值为空控制台报错
  packages/amis/src/renderers/Code.tsx
Labels: fix

#10538 fix: 条件表达式在input-table列上不生效、条件表达式变量去除子表及内部变量
  packages/amis-core/src/utils/helper.ts
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/renderer/ConditionFormulaControl.tsx
  packages/amis-editor/src/renderer/ValidationControl.tsx
Labels: fix

#10539 fix: 修复 fx 的 replace 方法可能死循环的问题
  packages/amis-formula/__tests__/evalute.test.ts
  packages/amis-formula/src/evalutor.ts
Labels: fix

#10541 fix: 修复 select 值格式是对象时初始化值不正确的问题
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-ui/scss/components/_condition-builder.scss
Labels: fix

#10545 fix: input-tree图标为url时，未限制img图片宽高
  packages/amis-ui/scss/components/form/_tree.scss
Labels: fix
