Repository baidu/amis, pull requests merged in 2024-01, with the labels that each got.

#9291 fix:修复上下文重复问题
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/plugin/Form/Combo.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/plugin/Table2.tsx
Labels: fix

#9294 chore:组件事件列表支持动态构建
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/plugin/Form/TreeSelect.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-editor/src/util.ts
Labels: chore

#9293 fix : input-text选择器模式下，clearable无效问题
  packages/amis/src/renderers/Form/InputText.tsx
Labels: fix

#9292 fix:修复crud unSelectedItems无法在公式内解析问题
  packages/amis-core/src/store/crud.ts
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
Labels: fix

#9299 fix: Editor:当删除静态展示框的默认值时清除历史残余的value值
  packages/amis-editor/src/plugin/Form/Static.tsx
Labels: fix

#9272 feat: Avatar组件支持事件动作 Close #3220
  docs/zh-CN/components/avatar.md
  packages/amis-editor/src/plugin/Avatar.tsx
  packages/amis-ui/src/components/Avatar.tsx
  packages/amis/__tests__/event-action/renderers/avatar.test.tsx
  packages/amis/src/renderers/Avatar.tsx
Labels: feat, request-test-cases

#9300 fix: 重新请求数据动作数据是否追加参数&合并数据方式处理
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#9310 fix: nav深色模式颜色优先级调整
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/scss/components/_nav.scss
Labels: fix

#9315 fix: nav增加文字外观
  packages/amis-editor/src/plugin/Nav.tsx
  packages/amis/__tests__/renderers/__snapshots__/Action.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Breadcrumb.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Page.test.tsx.snap
Labels: fix

#9322 fix:字段集中有combo组件就打不开动作面板
  packages/amis-editor/src/plugin/Form/Combo.tsx
Labels: fix

#9228 feat: CRUD 支持导出 Excel 模板 Closes #9157
  docs/zh-CN/components/crud.md
  examples/components/CRUD/ExportCSVExcel.jsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/package.json
  packages/amis/src/renderers/Table/exportExcel.ts
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#9332 fix: jssdk导出npm扩展包缺失依赖
  examples/loader.ts
Labels: feat

#9325 feat:(amis)调整color默认值逻辑 #9150
  docs/zh-CN/components/color.md
  packages/amis-ui/scss/components/_color.scss
  packages/amis/__tests__/renderers/Form/color.test.tsx
  packages/amis/src/renderers/Color.tsx
Labels: feat

#9333 style: 修复number组件单位换行问题 Close#9251
  packages/amis-ui/scss/components/form/_number.scss
Labels: style

#9273 feat: 事件动作-打开页面优化，新增内容区打开、浏览器当前页打开、浏览器新开页打开
  docs/zh-CN/concepts/event-action.md
  packages/amis-core/src/actions/LinkAction.ts
  packages/amis-core/src/factory.tsx
  packages/amis/__tests__/event-action/url.test.tsx
Labels: feat

#9281 fix: 弹窗配置字段兼容性问题 && 可见性、可用性动作配置字段校验
  packages/amis-editor/src/plugin/Dialog.tsx
  packages/amis-editor/src/renderer/event-control/action-config-dialog.tsx
Labels: fix

#9316 fix: nav updateItems动作支持valueField属性
  packages/amis/__tests__/renderers/Nav.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Nav.test.tsx.snap
  packages/amis/src/renderers/Nav.tsx
Labels: fix

#9324 feat: 静态展示、crud、表格的快速编辑支持配置图标
  docs/zh-CN/components/crud.md
  packages/amis-editor/src/plugin/Form/Static.tsx
  packages/amis-editor/src/plugin/Others/TableCell.tsx
  packages/amis-editor/src/plugin/TableCell2.tsx
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_quick-edit.scss
  packages/amis/__tests__/renderers/Form/__snapshots__/static.test.tsx.snap
  packages/amis/__tests__/renderers/Form/static.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/src/renderers/QuickEdit.tsx
Labels: feat

#9327 fix: crud2自定义列无法关闭问题修复Close:#9283
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#9305 fix : 修复switch配置truevalue/falsevalue后,默认值不更新问题
  packages/amis-editor/src/plugin/Form/Switch.tsx
Labels: fix

#9337 fix: Editor中setSchema DiffArray处理增加$$id时判断数组成员的类型
  packages/amis-editor-core/src/store/editor.ts
Labels: fix

#9307 fix(amis-editor): CRUD脚手架接口返回示例修正
  packages/amis-editor/src/plugin/CRUD.tsx
Labels: awaiting-final-review, fix

#9355 fix:(amis-editor)修复切换数据源添加动作失效
  packages/amis-editor/src/util.ts
Labels: fix

#9360 fix: layout aside滚动条兼容性问题
  packages/amis-ui/scss/layout/_layout.scss
Labels: fix

#9342 fix(amis-editor): 修复容器清空功能icon偶发不显示问题
  packages/amis-editor-core/src/component/RegionHLBox.tsx
Labels: fix

#9303 fix: 修复 office-viewer 变量替换里公式不生效问题 Closes #9276
  packages/amis/src/renderers/OfficeViewer.tsx
Labels: awaiting-final-review, fix

#9277 styles: step组件外观修改
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_steps.scss
Labels: awaiting-final-review

#9249 feat: 新增maxItemSelectionLength支持单独配置当前页最大勾选数
  docs/zh-CN/components/crud.md
  packages/amis-core/src/store/table.ts
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: awaiting-final-review, fix

#9229 feat: crud 的 filterable 支持 searchable
  docs/zh-CN/components/crud.md
  packages/amis-ui/scss/components/_table.scss
  packages/amis/__tests__/renderers/CRUDFilterable.test.tsx
  packages/amis/src/renderers/Table/HeadCellFilterDropdown.tsx
Labels: awaiting-final-review, feat

#9242 feat: 添加InputTag组件在编辑器内的标签最大选择数量配置
  packages/amis-editor/src/plugin/Form/InputTag.tsx
Labels: awaiting-final-review, feat

#9371 fix: 修复使用列切换功能引发的 mst 报错问题
  packages/amis/src/renderers/Table/ColumnToggler.tsx
Labels: fix

#9377 fix(amis-ui): 修复inputBox默认值0或者false不回现问题
  packages/amis-ui/src/components/InputBox.tsx
Labels: fix

#9370 fix: 修复Editor 打开右键菜单时contextId可能会为空的问题
  packages/amis-editor-core/src/manager.ts
  packages/amis-ui/src/components/ContextMenu.tsx
Labels: fix

#9382 fix: 调整tpl输入框表达式匹配规则
  packages/amis-editor/src/renderer/textarea-formula/plugin.tsx
Labels: fix

#9387 fix: select 的 label 为对象时渲染异常
  packages/amis-core/src/utils/highlight.tsx
  packages/amis-core/src/utils/index.ts
  packages/amis-core/src/utils/labelToString.ts
  packages/amis-core/src/utils/string2regExp.ts
  packages/amis-ui/src/components/Select.tsx
Labels: fix

#9396 chore: 优化npm发布流程
  .gitignore
  package.json
  publish-editor-to-internal.sh
  publish-theme.sh
  publish-to-internal.sh
  publish.json
Labels: chore

#9399 chore: 修改 replaceText 的实现,减少没必要的 deepClone
  packages/amis-core/src/index.tsx
  packages/amis-core/src/utils/replaceText.ts
Labels: chore

#9359 fix: Table 编辑器面板初始顶部&底部是否初始选中问题修复
  packages/amis-editor/src/plugin/Table.tsx
Labels: fix

#9389 fix: 修复单元格中直接放表单项可能取不到值的问题
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis/__tests__/renderers/Form/formitem.test.tsx
Labels: fix

#9400 chore: 升级发版脚本版本
  README.md
  package.json
Labels: chore

#9416 chore: checkboxes 显示 loading 当选项在加载过程中
  packages/amis/src/renderers/Form/Checkboxes.tsx
Labels: chore

#9414 fix: 修复 combo nullable 清空失败的问题
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix

#9417 feat(editor): tabs组件去掉默认创建时的文本，直接显示内容区供用户拖拽内容
  packages/amis-editor/src/plugin/Tabs.tsx
Labels: feat

#9427 fix: 修复 #9418 调整带来的编辑器预览错误问题
  packages/amis-editor-core/src/store/node.ts
Labels: fix

#9437 fix: 修复 #9418 调整带来的点选双重身份的组件时选中的是孩子的问题
  packages/amis-editor-core/src/store/editor.ts
Labels: fix

#9431 fix(amis-editor): 布局容器相关配置细节优化
  packages/amis-editor-core/src/util.ts
  packages/amis-editor/src/tpl/layout.tsx
Labels: fix

#9025 fix: 清除css错误转成key的属性
  packages/amis-editor-core/src/util.ts
Labels: request-changes, fix

#9439 fix: 修复 condition-builder 操作符只有一个时不可以点选的问题
  packages/amis-ui/src/components/condition-builder/Item.tsx
Labels: fix

#9440 fix: 修复 crud nested 模式深层次点选异常
  mock/cfc/mock/crud/table2.js
  packages/amis-core/src/store/table.ts
Labels: fix

#9447 fix(editor)：修复部分选择类组件设置选项和默认值方面的问题
  packages/amis-editor-core/src/tpl.tsx
  packages/amis-editor/src/index.tsx
  packages/amis-editor/src/plugin/Form/Checkbox.tsx
  packages/amis-editor/src/plugin/Form/Checkboxes.tsx
  packages/amis-editor/src/plugin/Form/MatrixCheckboxes.tsx
  packages/amis-editor/src/plugin/Form/Select.tsx
  packages/amis-editor/src/renderer/OptionControl.tsx
  packages/amis-editor/src/renderer/ValueFormatControl.tsx
Labels: fix

#9443 feat: 完善黑暗模式UI
  examples/components/App.tsx
  examples/doc.css
  examples/style.scss
  index.html
  package.json
  packages/amis-theme-editor-helper/src/helper/ColorGenerator.ts
  packages/amis-theme-editor-helper/src/helper/declares.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_array-input.scss
  packages/amis-ui/scss/components/_breadcrumb.scss
  packages/amis-ui/scss/components/_drawer.scss
  packages/amis-ui/scss/components/_dropdown.scss
  packages/amis-ui/scss/components/_formula.scss
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/scss/components/_modal.scss
  packages/amis-ui/scss/components/_pagination.scss
  packages/amis-ui/scss/components/_popover.scss
  packages/amis-ui/scss/components/_search-box.scss
  packages/amis-ui/scss/components/_tooltip.scss
  packages/amis-ui/scss/components/form/_checks.scss
  packages/amis-ui/scss/components/form/_date-range.scss
  packages/amis-ui/scss/components/form/_date.scss
  packages/amis-ui/scss/components/form/_editor.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/scss/components/form/_nested-select.scss
  packages/amis-ui/scss/components/form/_number.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/scss/components/form/_text.scss
  packages/amis-ui/scss/components/form/_textarea.scss
  packages/amis-ui/scss/components/form/_tree-select.scss
  packages/amis-ui/scss/components/react-datetime.scss
  packages/amis-ui/scss/themes/_dark-variables.scss
  packages/amis-ui/scss/themes/dark.scss
  packages/amis-ui/src/components/PickerContainer.tsx
  packages/amis-ui/src/icons/function.svg
  packages/amis-ui/src/icons/search.svg
  packages/amis-ui/src/icons/trash.svg
Labels: feat

#9441 fix:crud2中行记录内switch无法change问题
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/src/components/Switch.tsx
  packages/amis-ui/src/components/table/Row.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/switch.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/valueFormula.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
Labels: fix

#9246 feat: Select组件自动补全增加loading中间状态
  docs/zh-CN/components/form/select.md
  packages/amis-ui/src/components/Select.tsx
Labels: awaiting-review, feat

#9442 fix:input clear时补充change事件 Close #9436
  packages/amis/src/renderers/Form/InputText.tsx
Labels: fix

#9380 fix: 取消buttongroupselect默认值展示条件限制 & 配置badge情况下按钮平铺无法自适应
  packages/amis-editor/src/plugin/Form/ButtonGroupSelect.tsx
  packages/amis-ui/scss/components/_button-group.scss
Labels: fix

#9456 fix(editor): 文本表达式通过${}唤起表达书输入时缺少变量内容
  packages/amis-editor/src/renderer/TplFormulaControl.tsx
Labels: fix

#9451 style(editor): 优化编辑器事件动作表单label样式
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: style, amis-editor

#9457 style: 优化 card 卡片样式
  packages/amis-ui/scss/components/_card.scss
Labels: style

#9446 chore: 优化编辑器选中顶部菜单栏三个点呼出的功能菜单位置,防止被挡住
  packages/amis-core/src/utils/helper.ts
  packages/amis-core/src/utils/labelToString.ts
  packages/amis-core/src/utils/tokenize.ts
  packages/amis-core/src/utils/tpl.ts
  packages/amis-editor-core/src/plugin/BasicToolbar.tsx
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/store/node.ts
  packages/amis-formula/src/evalutor.ts
  packages/amis-ui/src/components/ContextMenu.tsx
  packages/amis/src/compat.ts
  packages/amis/src/renderers/Table/Cell.tsx
Labels: chore

#9466 fix: 修复 api 编辑输入太快立马弹出详情时出现弹窗空白问题
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-core/src/store/iRenderer.ts
  packages/amis-editor/src/renderer/APIControl.tsx
  packages/amis/__tests__/event-action/ajax.test.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/ConditionBuilder.tsx
Labels: fix

#9467 fix: 图片组件优化:调整预览标题位置;优化上传组件文件提及限制提示;修复编辑器拖拽后修改宽高无效的问题
  packages/amis-editor/src/plugin/Form/InputImage.tsx
  packages/amis-editor/src/plugin/Image.tsx
  packages/amis-ui/scss/components/_image-gallery.scss
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#9470 fix: 修复日期时间范围选择组件bug
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis-ui/src/components/MonthRangePicker.tsx
Labels: bug, fix

#9471 feat: editor增加获取当前SubEditor的方法
  packages/amis-editor-core/src/store/editor.ts
Labels: feat

#9484 feat: id 默认转testid && editor部分组件配置面板补充testid
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/env.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/src/components/InputBox.tsx
  packages/amis-ui/src/components/Switch.tsx
  packages/amis-ui/src/components/Textarea.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/Switch.tsx
  packages/amis/src/renderers/Form/Textarea.tsx
Labels: feat

#9492 fix: 修复popover存在多个子popover时,错误关闭父级问题
  packages/amis-core/src/components/Overlay.tsx
  packages/amis-core/src/components/PopOver.tsx
  packages/amis-theme-editor-helper/src/style/_padding-and-margin.scss
  packages/amis-ui/src/components/Tooltip.tsx
Labels: fix

#9477 style: 优化input-tag、input-year-range、list-select等组件样式
  packages/amis-editor-core/scss/_renderers.scss
  packages/amis-theme-editor-helper/src/systemTheme/component.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_search-box.scss
  packages/amis-ui/scss/components/form/_date.scss
  packages/amis-ui/scss/components/form/_list.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/scss/components/form/_tag.scss
  packages/amis-ui/scss/components/form/_transfer.scss
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputMonthRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputQuarterRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputYearRange.test.tsx.snap
  packages/amis/__tests__/renderers/Form/dateRange.test.tsx
Labels: style

#9463 feat: themeCss支持数据域变量,循环数据支持单独样式
  packages/amis-core/src/components/CustomStyle.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/utils/style-helper.ts
  packages/amis-ui/src/components/SparkLine.tsx
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/Carousel.tsx
  packages/amis/src/renderers/Chart.tsx
  packages/amis/src/renderers/Container.tsx
  packages/amis/src/renderers/Date.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Divider.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/Each.tsx
  packages/amis/src/renderers/Flex.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
  packages/amis/src/renderers/Form/InputText.tsx
  packages/amis/src/renderers/Form/Picker.tsx
  packages/amis/src/renderers/Grid.tsx
  packages/amis/src/renderers/IFrame.tsx
  packages/amis/src/renderers/Icon.tsx
  packages/amis/src/renderers/Image.tsx
  packages/amis/src/renderers/Images.tsx
  packages/amis/src/renderers/Page.tsx
  packages/amis/src/renderers/SparkLine.tsx
  packages/amis/src/renderers/SwitchContainer.tsx
  packages/amis/src/renderers/TableView.tsx
  packages/amis/src/renderers/TooltipWrapper.tsx
  packages/amis/src/renderers/Tpl.tsx
Labels: feat

#9496 fix: 修复icon组件缺少事件问题
  packages/amis-ui/src/components/icons.tsx
Labels: fix

#9506 feat(amis): 增加部分testid，修改testid生成方式
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/utils/helper.ts
  packages/amis-editor-core/src/component/Panel/RenderersPanel.tsx
  packages/amis-ui/src/components/AsideNav.tsx
  packages/amis-ui/src/components/Button.tsx
  packages/amis-ui/src/components/Checkbox.tsx
  packages/amis-ui/src/components/InputBox.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis-ui/src/components/Switch.tsx
  packages/amis-ui/src/components/Textarea.tsx
  packages/amis-ui/src/components/menu/MenuItem.tsx
  packages/amis-ui/src/components/menu/SubMenu.tsx
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/src/Schema.ts
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Dialog.tsx
  packages/amis/src/renderers/Drawer.tsx
  packages/amis/src/renderers/DropDownButton.tsx
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputText.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/Switch.tsx
  packages/amis/src/renderers/Form/Textarea.tsx
  packages/amis/src/renderers/Nav.tsx
  packages/amis/src/renderers/Table/AutoFilterForm.tsx
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableCell.tsx
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#9510 fix: issue: 8308 Tabs active 激活问题
  packages/amis/src/renderers/Tabs.tsx
Labels: fix

#9513 fix(amis): 表格组件/渲染列级元素前，剔除style中的定位相关样式，避免表格样式异常
  packages/amis/src/renderers/Table/TableCell.tsx
Labels: fix, style

#9517 修复crud2 若干bug
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/plugin/Table2.tsx
  packages/amis-editor/src/renderer/crud2-control/CRUDFiltersControl.tsx
  packages/amis-ui/src/components/table/Head.tsx
Labels: bug, feat, fix

#9519 fix:子表单上下文类型错误
  packages/amis-editor/src/plugin/Form/InputSubForm.tsx
Labels: fix

#9524 feat(amis): 增加搜索框、树组件、下拉选择中的部分testid
  packages/amis-ui/src/components/Input.tsx
  packages/amis-ui/src/components/Pagination.tsx
  packages/amis-ui/src/components/SearchBox.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Card.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: feat

#9523 fix(amis-ui): 容器组件增加默认的min-width和min-height
  packages/amis-ui/scss/components/_wrapper.scss
Labels: fix

#9526 feat: 增加input-number inputExcel service tpl 的部分testid
  packages/amis-ui/scss/components/form/_excel.scss
  packages/amis-ui/src/components/NumberInput.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis/src/renderers/Form/InputExcel.tsx
  packages/amis/src/renderers/Form/InputNumber.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Service.tsx
  packages/amis/src/renderers/Tpl.tsx
Labels: feat

#9512 fix: 修复单元格中直接放表单项 name 为带路径的变量时值修改不符合预期的问题
  packages/amis/src/renderers/Table/TableRow.tsx
Labels: fix

#9525 fix: 修复condition-builder 中公式值默认不高亮的问题
  packages/amis-ui/src/components/formula/Input.tsx
  packages/amis-ui/src/components/formula/Picker.tsx
Labels: fix

#9521 fix: 修复弹框大纲中未国际化问题
  packages/amis-editor-core/src/component/Panel/Outline.tsx
Labels: fix, amis-editor

#9518 chore: 优化设计器表单项修改默认值同步展示问题
  packages/amis-editor/src/plugin/Form/Item.tsx
Labels: chore

#9509 fix: 修复 log 的 source 是 api object 时不自动加载的问题
  packages/amis/src/renderers/Log.tsx
Labels: fix

#9479 fix: 修复 extraName 在单元格中无效的问题 Close: #8525
  packages/amis/src/renderers/Card.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/QuickEdit.tsx
  packages/amis/src/renderers/Table/Cell.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#9508 fix: 修复 inputSubForm 拖拽排序值位置与视图位置不一致问题 Close: #3269
  packages/amis-editor/src/renderer/DateShortCutControl.tsx
  packages/amis-editor/src/renderer/FeatureControl.tsx
  packages/amis-editor/src/renderer/ListItemControl.tsx
  packages/amis-editor/src/renderer/OptionControl.tsx
  packages/amis-editor/src/renderer/TimelineItemControl.tsx
  packages/amis-editor/src/renderer/crud2-control/CRUDColumnControl.tsx
  packages/amis-editor/src/renderer/event-control/index.tsx
  packages/amis-ui/src/components/ArrayInput.tsx
  packages/amis-ui/src/components/ResultList.tsx
  packages/amis-ui/src/components/UserSelect.tsx
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/Form/Combo.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
  packages/amis/src/renderers/Form/InputSubForm.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table/ColumnToggler.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#9511 fix: 修复 table 切换列显隐后设计器重新调整列顺序不生效问题
  packages/amis-core/src/store/table.ts
Labels: fix

#9522 fix: 修复编辑器中switch组件默认值回显不对问题
  packages/amis-editor/src/plugin/Form/Switch.tsx
Labels: bug, fix, amis-editor

#9541 feat(amis): 增加tabs、table cell的testid
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/src/components/Tabs.tsx
  packages/amis/src/renderers/Table/Cell.tsx
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Tabs.tsx
Labels: feat

#9507 feat: loading根据父级背景颜色自动适配颜色 Close#9489
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_spinner.scss
  packages/amis-ui/scss/themes/dark.scss
  packages/amis-ui/src/components/Spinner.tsx
Labels: feat

#9546 fix(editor): editor 数据域查询问题
  packages/amis-editor-core/src/manager.ts
Labels: fix

#9548 feat(editor): editor addElem 支持 doc-entiry
  packages/amis-editor-core/src/manager.ts
Labels: feat, doc

#9550 fix(amis): InputText 清空操作支持clearValueOnEmpty配置
  packages/amis/src/renderers/Form/InputText.tsx
Labels: fix

#9542 fix:可视化编辑器弹窗中多选了组件，面板异常
  packages/amis-editor-core/src/manager.ts
Labels: fix

#9552 fix:事件动作-变量赋值交互问题
  packages/amis-editor-core/scss/control/_event-action.scss
  packages/amis-editor/src/renderer/event-control/action-config-panel.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#9529 chore: 固定icon组件支持的事件,避免警告
  packages/amis-ui/src/components/icons.tsx
  packages/amis/__tests__/renderers/__snapshots__/Action.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Breadcrumb.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Page.test.tsx.snap
Labels: chore

#9554 fix: dropdown-button 下载无效问题
  packages/amis/src/renderers/DropDownButton.tsx
Labels: fix

#9530 style: 优化编辑器中 icon 样式
  packages/amis-editor-core/scss/control/_status.scss
Labels: style

#9555 style: select 下拉框最小宽度设置成 120px
  packages/amis-ui/scss/components/_button-group.scss
  packages/amis-ui/scss/components/form/_select.scss
Labels: style

#9545 fix: 修正tabs特定场景下，切换标签页报错问题；对应issue#9544
  packages/amis-ui/src/components/Tabs.tsx
Labels: fix

#9469 fix: issue#9468,inputtag在输入内容为空，回车触发表单提交，假死问题
  packages/amis/src/renderers/Form/InputTag.tsx
Labels: fix

#9558 chore: flex切换纵向时清除子容器为0的flexBasis
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-editor/src/tpl/layout.tsx
Labels: chore

#9532 fix: 刷新多个目标逗号与表达式逗号冲突问题修复 Close: #9499
  packages/amis-core/__tests__/scoped.test.ts
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/index.tsx
Labels: fix

#9559 fix: editor: 修复增删改查快速编辑在卡片和列表模式没有生成对应schema的问题
  packages/amis-editor/src/plugin/CRUD.tsx
Labels: fix

#9562 fix: 修复编辑器中渲染 list 时提示 key 重复 warning
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-ui/scss/components/form/_select.scss
Labels: fix

#9547 feat: 选项类的组件 autoFill 支持配置 initAutoFill 属性 Close: #9391
  docs/zh-CN/components/form/options.md
  packages/amis-core/src/renderers/Options.tsx
  packages/amis/__tests__/renderers/Form/autoFill.test.tsx
  packages/amis/__tests__/renderers/Form/options.test.tsx
Labels: feat
