Repository baidu/amis, pull requests merged in 2025-01, with the labels that each got.

#11397 chore: 删除多余的git配置，提升代码可维护性
  .gitignore
Labels: chore

#11370 fix: date-range 按年份加载月份数据
  packages/amis-ui/src/components/CalendarMobile.tsx
Labels: fix

#11382 fix: 修复 quickEdit focus 高亮与列冻结样式冲突问题并优化快速编辑键盘操作交互
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-core/src/utils/uncontrollable.tsx
  packages/amis-ui/scss/components/_quick-edit.scss
  packages/amis-ui/src/components/Button.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/static.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/src/renderers/Action.tsx
  packages/amis/src/renderers/QuickEdit.tsx
Labels: fix

#11454 fix: 图片展示的标题和描述居中样式设置效果不符合预期
  packages/amis-ui/scss/components/_images.scss
Labels: fix

#11467 feat: TableRendererBase增加泛型
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#11465 fix: 解决js浮点数计算有精度丢失问题
  packages/amis-ui/src/components/NumberInput.tsx
Labels: fix

#11451 fix: 开启extraName后，范围组件清空后必填校验无法生效
  packages/amis-core/src/store/formItem.ts
Labels: fix

#11470 feat: amis-editor 支持内联编辑
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/HighlightBox.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/inlineEdit.ts
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor/src/plugin/Button.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Form/Item.tsx
  packages/amis-editor/src/plugin/Page.tsx
  packages/amis-editor/src/plugin/Panel.tsx
  packages/amis-editor/src/plugin/Tpl.tsx
  packages/amis-ui/package.json
  packages/amis-ui/src/components/RichText.tsx
  packages/amis-ui/src/components/Tinymce.tsx
Labels: feat

#11474 fix: BroadcastChannel 兼容性问题
  packages/amis-core/src/utils/renderer-event.ts
Labels: fix

#11473 feat: ContextMenu menuItem 声明
  packages/amis-ui/src/components/ContextMenu.tsx
Labels: feat

#11463 chore(amis-editor): wizard接口配置使用apiControl，以便和其它组件配置面板保持一致
  packages/amis-editor/src/plugin/Breadcrumb.tsx
  packages/amis-editor/src/plugin/Form/InputArray.tsx
  packages/amis-editor/src/plugin/Form/Item.tsx
  packages/amis-editor/src/plugin/Others/Action.tsx
  packages/amis-editor/src/plugin/Others/TableCell.tsx
  packages/amis-editor/src/plugin/Steps.tsx
  packages/amis-editor/src/plugin/Tasks.tsx
  packages/amis-editor/src/plugin/Wizard.tsx
  packages/amis-editor/src/renderer/event-control/helper.tsx
  packages/amis-editor/src/tpl/api.tsx
Labels: chore

#11439 fix: 修复 tag 渲染对象报错
  packages/amis/src/renderers/Tag.tsx
Labels: fix

#11479 feat: 为carousel增加纵向模式和鼠标滑动模式
  packages/amis-ui/scss/components/_carousel.scss
  packages/amis/src/renderers/Carousel.tsx
Labels: feat

#11484 fix: 修复select下menutpl样式错误问题
  packages/amis-ui/scss/components/form/_select.scss
Labels: fix

#11487 fix: 修复select下menutpl样式错误问题
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/src/components/Select.tsx
Labels: fix

#11488 fix: 增加height允许传入字符串类型，兼容滑动过程中元素被其他元素获取焦点时事件缺少touchlist
  packages/amis/src/renderers/Carousel.tsx
Labels: fix

#11491 fix: 修复编辑器内联编辑在自由容器里面无效的问题
  packages/amis-editor-core/src/component/HighlightBox.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/inlineEdit.ts
Labels: fix

#11500 fix: 图片展示的标题和描述居中样式设置效果不符合预期 (#11454)
  packages/amis-ui/scss/components/_images.scss
Labels: fix

#11501 feat: 轮播图option 支持 itemSchema
  packages/amis/src/renderers/Carousel.tsx
Labels: feat

#11509 chore: Disable tree shake for modules under
  packages/amis-core/rollup.config.js
  packages/amis/rollup.config.js
Labels: chore

#11512 fix: tree 节点点击事件获取的值不对
  docs/zh-CN/components/form/input-tree.md
  docs/zh-CN/components/form/treeselect.md
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: fix

#11511 feat: 新增 dropdown-contextmenus 组件
  packages/amis-core/src/components/PopOver.tsx
  packages/amis-ui/scss/components/_context-menu.scss
  packages/amis-ui/scss/components/_dropdown-context-menus.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis-ui/src/components/DropdownContextMenus.tsx
  packages/amis-ui/src/components/PopOverContainer.tsx
  packages/amis-ui/src/components/index.tsx
Labels: feat

#11513 feat: CRUD 的自动撑开功能支持编辑器切换及时生效
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#11514 feat: 优化icon组件svg link逻辑
  packages/amis-core/src/utils/icon.tsx
  packages/amis-ui/src/components/icons.tsx
Labels: feat

#11518 fix：tree点击事件恢复item
  docs/zh-CN/components/form/input-tree.md
  docs/zh-CN/components/form/treeselect.md
  packages/amis-editor/src/util.ts
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: fix

#11517 style: 优化图片组件样式
  packages/amis-ui/scss/components/_images.scss
  packages/amis-ui/scss/components/form/_form.scss
  packages/amis-ui/scss/components/form/_image.scss
Labels: style

#11523 feat: input-table change事件data增加index
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: feat

#11525 style: 组件文字正常使用text-2
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_properties.scss
Labels: style

#11516 fix: 修复移动端编辑模式双击光标位置不正确的问题
  packages/amis-editor-core/src/inlineEdit.ts
Labels: fix

#11527 fix: 调整 table 执行 setValue 动作，当在 crud 中时由 crud 完成 setData
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#11526 fix: 修复自定义样式root::after不生效问题
  packages/amis-core/src/utils/style-helper.ts
Labels: fix

#11521 fix: 部分情况下，select树模式中全选、多选不生效
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/src/renderers/Form/Select.tsx
Labels: fix

#11531 fix: 修复picker双击单选不生效问题
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#11540 chore: crud filter 是否可使用上层数据优先用 filter 上的配置
  packages/amis/src/renderers/CRUD.tsx
Labels: chore

#11546 fix: input-table 子项通过索引更新行数据，自身值未变化
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#11542 fix: 修复icon组件vendor报错
  packages/amis-ui/src/components/icons.tsx
Labels: fix

#11547 fix: 修复轮播图有 style 且设置了 width\height 时会导致 js 报错渲染失败
  packages/amis/src/renderers/Carousel.tsx
Labels: fix, style

#11493 chore: 添加基础的eslint配置，以便统一编码规范
  eslint.config.mjs
  package.json
Labels: chore
