Repository baidu/amis, pull requests merged in 2025-05, with the labels that each got.

#11957 fix: 修复渲染改异步后text组件的配置面板丢失问题
  packages/amis-editor-core/src/plugin.ts
Labels: fix

#11960 fix: 补充项目缺失的国际化配置项
  packages/amis-editor/src/plugin/CRUD2/BaseCRUD.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/renderer/MapSourceControl.tsx
  packages/amis-editor/src/renderer/NavSourceControl.tsx
Labels: fix

#11951 fix: 修复组件内部下发的 style 属性丢失问题
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/utils/style.ts
Labels: fix, style

#11943 chore: 虚拟滚动自动切成 fixed table layout
  packages/amis-core/src/store/table.ts
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/VirtualTableBody.tsx
Labels: fix, chore

#11963 fix: qrcode-react-next
  packages/amis/package.json
Labels: fix

#11970 fix: 修复历史 __page appVariables 全局变量修改视图不更新问题
  packages/amis-core/src/store/root.ts
Labels: fix

#11964 fix: 修复 bulkActions 里面非直接用按钮场景出现多次确认按钮问题
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#11969 fix: 修复渲染改异步后text组件的配置面板丢失问题
  package.json
  packages/amis-core/src/WithRootStore.tsx
  packages/amis-core/src/env.tsx
  packages/amis-core/src/locale.tsx
  packages/amis-core/src/theme.tsx
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor/src/plugin/Form/InputTable.tsx
  packages/amis-ui/src/components/Badge.tsx
  packages/amis-ui/src/components/WithStore.tsx
Labels: fix

#11975 fix: 校验规则滚动条会与属性配置栏滚动条冲突，撑开空白底部
  packages/amis-editor/src/renderer/ValidationControl.tsx
Labels: fix

#11978 Revert "fix: 当表格列配置溢出显示 mapping等类型列显示出原始数据"
  packages/amis/src/renderers/PopOver.tsx
Labels: fix

#11979 feat: CRUD 的 table index 支持传入 offset
  packages/amis-core/src/store/crud.ts
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Table/Cell.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#11977 fix: 修复 h5 编辑器内容撑开后删除元素不能恢复的问题
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/IFramePreview.tsx
Labels: fix

#11980 fix:修复checkbox的标签对齐
  packages/amis-ui/scss/_components.scss
Labels: fix

#11983 feat: Dialog 支持允许全屏配置
  packages/amis-core/src/store/modal.ts
  packages/amis-editor/src/plugin/Dialog.tsx
  packages/amis-ui/scss/components/_modal.scss
  packages/amis-ui/src/components/Modal.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/Dialog.tsx
Labels: feat

#11988 fix: 表格列配置溢出显示时，mapping类型列显示出原始数据
  packages/amis/src/renderers/PopOver.tsx
Labels: fix

#11986 fix: 修复 autoComplete 初始化可能不请求的问题
  packages/amis/src/renderers/Form/Select.tsx
Labels: fix

#11992 fix: 解决 PopOver 中打开新页签后第一次点击无效的问题
  packages/amis-core/src/components/PopOver.tsx
Labels: fix

#11993 chore: ajaxAction api 配置 sendOn 空字符串 api 执行会被拦截问题调整
  packages/amis-core/src/actions/AjaxAction.ts
Labels: chore

#11994 chore: 调整总结行不占用功能列
  packages/amis/src/renderers/Table/TableBody.tsx
Labels: chore

#11999 fix: 修复 form 元素初始化有可能不调用接口的问题
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/radios.test.tsx.snap
Labels: fix

#12003 fix: 更新crud组件 onCheck 回调函数让crud及table组件复选框以支持 shift 键+点击 实现批量选中状态
  packages/amis/src/renderers/Table/Cell.tsx
Labels: fix

#12009 feat: 图标选择组件支持更多格式图标
  packages/amis-ui/scss/components/form/_icon-picker.scss
  packages/amis/src/renderers/Form/IconPicker.tsx
Labels: feat

#12014 fix: 修复向导组件新增步骤后不支持添加新组件问题
  packages/amis-editor/src/plugin/Wizard.tsx
Labels: fix

#12016 fix: 修复 tasks 组件按钮禁用失效问题
  packages/amis/__tests__/renderers/__snapshots__/Tasks.test.tsx.snap
  packages/amis/src/renderers/Tasks.tsx
Labels: fix

#12012 feat: 优化list组件索引条实现
  packages/amis/src/renderers/List.tsx
Labels: feat

#12018 fix: 修复动作赋值先选自定义后id后选组件不出现赋值控件问题
  packages/amis-editor/src/renderer/event-control/actionsPanelPlugins/componentActionsPanel/setValue.tsx
Labels: fix
