Repository baidu/amis, pull requests merged in 2025-09, with the labels that each got.

#12175 fix(date): normalizeDate 在 utc 情况下没有处理 valueFormat 和 value 不匹配情况
  packages/amis-core/src/utils/date.ts
Labels: fix

#12180 feat: 优化代码支持表达式data[0]['username']==bizName, 支持'username'高亮
  packages/amis-ui/src/components/formula/VariableList.tsx
  packages/amis-ui/src/components/formula/plugin.ts
Labels: feat

#12188 feat: inputTable 支持控制哪行具备新增能力、编辑、删除功能等
  docs/zh-CN/components/form/input-table.md
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: feat

#12189 fix: 修复 table2 拖拽功能可能不初始化的问题
  packages/amis-ui/src/components/table/index.tsx
Labels: fix

#12194 fix: 修复 card 组合适用 grid,hbox 报错问题
  packages/amis-editor/src/plugin/Card.tsx
  packages/amis-editor/src/plugin/ListItem.tsx
  packages/amis/src/renderers/Card.tsx
  packages/amis/src/renderers/Grid.tsx
  packages/amis/src/renderers/HBox.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/TableView.tsx
Labels: fix

#12197 feat: inputRichText 支持文件上传
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputRichText.tsx
Labels: feat

#12220 fix(theme): 修复默认主题设置问题, 使用defaultTheme作为默认值而不是硬编码的'cxd'
  packages/amis-core/src/index.tsx
Labels: fix

#12215 fix: 修复虚拟表格行高不等导致的一直闪烁的问题, 以及优化合并单元格场景
  packages/amis-core/src/store/table.ts
  packages/amis/src/renderers/Table/VirtualTableBody.tsx
Labels: fix

#12222 chore: condition-builder 支持 uniqueFields 配置
  docs/zh-CN/components/form/condition-builder.md
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/utils/index.ts
  packages/amis-ui/src/components/condition-builder/Group.tsx
  packages/amis-ui/src/components/condition-builder/GroupOrItem.tsx
  packages/amis-ui/src/components/condition-builder/index.tsx
  packages/amis-ui/src/components/formula/Input.tsx
  packages/amis/src/renderers/Form/ConditionBuilder.tsx
Labels: chore

#12229 fix: 修复 crud2 的超级表头搭配scrollY时列框无法自动展开问题
  packages/amis-ui/scss/components/_table2.scss
  packages/amis-ui/src/components/table/ColGroup.tsx
  packages/amis-ui/src/components/table/index.tsx
Labels: fix

#12230 fix: 修复 tree 的展开收起在重新点选后重置的问题
  packages/amis-ui/src/components/Tree.tsx
Labels: fix

#12234 fix: 修复 tree 的展开收起动作不符合预期问题
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
Labels: fix

#12238 feat: 编辑器展示未引用公共弹窗&修复弹窗可能会重复一份的问题
  packages/amis-editor-core/scss/_outline.scss
  packages/amis-editor-core/scss/control/_event-action.scss
  packages/amis-editor-core/src/component/Panel/DialogList.tsx
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor-core/src/util.ts
Labels: feat

#12239 fix: 修复amis表达式FLOOR计算错误 Close: #12232
  packages/amis-formula/src/evalutor.ts
Labels: fix

#12257 fix: 修复crud2 首次切换列显示与否无效
  packages/amis/src/renderers/CRUD2.tsx
Labels: fix

#12256 fix: #12218
  packages/amis-ui/src/components/condition-builder/Item.tsx
Labels: bug, fix
