Repository baidu/amis, pull requests merged in 2025-02, with the labels that each got.

#11544 fix: 注册异步渲染器时删除占位渲染器，修复设置了显隐条件时无法正确渲染的问题
  packages/amis-core/src/factory.tsx
Labels: fix

#11549 feat: 增加hover动效
  packages/amis-core/src/components/Animations.tsx
  packages/amis-core/src/utils/animations.ts
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-ui/scss/base/_animate.scss
  packages/amis-ui/scss/themes/_common.scss
Labels: feat

#11552 fix: 修复dropdown-button浮层存在间距问题
  packages/amis-ui/scss/components/_dropdown.scss
Labels: fix

#11524 feat: 分页组件移动端适配
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_pagination.scss
  packages/amis-ui/src/components/Pagination.tsx
  packages/amis/src/renderers/Pagination.tsx
Labels: feat

#11557 fix: ContextMenu多余的边框线
  packages/amis-ui/scss/components/_context-menu.scss
Labels: fix

#11534 feat: Nav组件增加悬浮面板模式
  docs/zh-CN/components/nav.md
  packages/amis-ui/scss/components/_menu.scss
  packages/amis-ui/src/components/menu/MenuContext.tsx
  packages/amis-ui/src/components/menu/PanelMenu.tsx
  packages/amis-ui/src/components/menu/index.tsx
  packages/amis/__tests__/renderers/Nav.test.tsx
  packages/amis/src/renderers/Nav.tsx
Labels: request-changes, feat

#11555 fix: 修复 ajax 动作不阻塞后续动作的问题 Close: #11457
  packages/amis-core/src/actions/AjaxAction.ts
  packages/amis-core/src/actions/CmptAction.ts
Labels: fix

#11562 feat: location picker 增加隐藏控件的参数
  packages/amis-ui/src/components/BaiduMapPicker.tsx
  packages/amis-ui/src/components/LocationPicker.tsx
  packages/amis/src/renderers/Form/LocationPicker.tsx
Labels: feat

#11560 fix: 在地图的值修改后，需要刷新地图展示
  packages/amis-ui/src/components/BaiduMapPicker.tsx
Labels: fix

#11565 Feat md 1
  packages/amis-ui/src/components/BaiduMapPicker.tsx
  packages/amis-ui/src/components/LocationPicker.tsx
  packages/amis/src/renderers/Form/LocationPicker.tsx
Labels: feat

#11569 fix: 修复原地编辑操作对象为按钮时会触发点击行为的问题
  packages/amis-editor-core/src/component/IFramePreview.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/inlineEdit.ts
Labels: fix

#11568 chore: api adaptor 添加一些容错
  packages/amis-core/src/utils/api.ts
Labels: chore

#11571 fix:修复异步表达式ARRAYFINDINDEX&ARRAYFIND单测
  packages/amis-formula/__tests__/async-evalute.test.ts
  packages/amis-formula/__tests__/evalute.test.ts
  packages/amis-formula/src/evalutorForAsync.ts
Labels: fix

#11554 feat: 时间轴升级支持横向交叉展示以及样式升级
  docs/zh-CN/components/timeline.md
  examples/components/Example.jsx
  examples/components/Timeline.tsx
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_timeline.scss
  packages/amis-ui/src/components/Timeline.tsx
  packages/amis-ui/src/components/TimelineItem.tsx
  packages/amis/__tests__/renderers/Timeline.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/Timeline.test.tsx.snap
  packages/amis/src/renderers/Timeline.tsx
Labels: feat

#11543 feat: 扩展轮播图支持自定义容器
  packages/amis-editor/src/plugin/Carousel.tsx
  packages/amis-ui/scss/components/_carousel.scss
Labels: feat

#11577 feat: crud、crud2支持表头单独设置样式、溢出隐藏可拖拽
  packages/amis-editor/src/plugin/TableCell2.tsx
  packages/amis-ui/scss/components/_popoverable.scss
  packages/amis-ui/scss/components/_table.scss
  packages/amis-ui/src/components/table/Cell.tsx
  packages/amis-ui/src/components/table/Head.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/src/renderers/PopOver.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: feat

#11586 Feat input images my
  docs/zh-CN/components/form/input-image.md
  packages/amis-core/src/index.tsx
  packages/amis-core/src/locale.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: feat

#11587 feat: contextmenu 样式优化
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_context-menu.scss
  packages/amis-ui/src/components/ContextMenu.tsx
Labels: feat

#11590 feat: contextmenu 样式优化
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/_context-menu.scss
  packages/amis-ui/src/components/ContextMenu.tsx
Labels: feat

#11490 feat: images 支持图集排列方式
  docs/zh-CN/components/images.md
  examples/components/Index.jsx
  packages/amis-ui/scss/components/_images.scss
  packages/amis/__tests__/renderers/__snapshots__/Carousel.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Image.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Image.tsx
  packages/amis/src/renderers/Images.tsx
Labels: feat

#11599 fix: 去掉contextmenu多余的边框
  packages/amis-ui/scss/components/_context-menu.scss
Labels: fix

#11578 feat(action): 导出动作参数映射忽略键注册方法
  packages/amis-core/src/actions/Action.ts
Labels: feat

#11579 fix: #11535 crud的source切换后分页失效问题修复
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#11601 Merge feat md 1
  packages/amis-core/src/locale.tsx
Labels: feat

#11603 chore: 更新国际化文档
  docs/zh-CN/extend/i18n.md
Labels: chore

#11607 feat: 签名组件全屏模式签名确认后旋转图像
  packages/amis-ui/src/components/Signature.tsx
Labels: feat

#11609 fix(InputFile, InputImage): 修复静态模式下文件选择器仍然可操作的问题
  packages/amis/src/renderers/Form/InputFile.tsx
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#11621 fix: 修复 inputDateRange 的 clear 动作只清除了开始时间的问题
  packages/amis-core/src/store/formItem.ts
Labels: fix

#11637 feat: crud2中自适应高度使用粘性定位固定表头
  packages/amis-ui/scss/components/_table2.scss
  packages/amis-ui/src/components/table/Cell.tsx
  packages/amis-ui/src/components/table/Head.tsx
  packages/amis-ui/src/components/table/index.tsx
  packages/amis-ui/src/components/table/util.ts
Labels: feat

#11611 fix: Firefox浏览器Crud设置autoFillHeight，无数据时表头被拉伸
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#11642 fix：配置scrolly时使用粘性定位固定表头
  packages/amis-ui/src/components/table/index.tsx
Labels: fix

#11622 feat: 二维码增加更多样式
  docs/zh-CN/components/qrcode.md
  packages/amis/__tests__/renderers/QRCode.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/QRCode.test.tsx.snap
  packages/amis/package.json
  packages/amis/src/renderers/QRCode.tsx
Labels: feat

#11605 fix(card): 修复 Card 组件中 actions 和 toolbar 中的 dropdown-button 组件失效的问题
  packages/amis/src/renderers/Card.tsx
Labels: fix

#11610 doc: 为 table 组件增加 reUseRow 属性说明
  docs/zh-CN/components/table.md
Labels: doc

#11614 doc: 为 Dialog 属性表增加自定义尺寸、拖拽功能和高度属性说明
  docs/zh-CN/components/dialog.md
Labels: doc

#11608 fix: input-table.md
  docs/zh-CN/components/form/input-table.md
Labels: doc

#11632 fix: #11630 修复 InputFormula 组件 variables 配置表达式时无法获取 api 中数据
  packages/amis-ui/src/components/formula/Picker.tsx
Labels: fix

#11644 fix: crud2设置scrolly或设置sticky+autoFillHeight时自动开启sticky
  packages/amis-ui/src/components/table/index.tsx
Labels: fix

#11657 fix: flex容器内的子元素工具栏无拖拽按钮 + 工具栏样式问题
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/HighlightBox.tsx
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-editor/src/plugin/Tpl.tsx
  packages/amis/src/renderers/Flex.tsx
Labels: fix

#11664 chore: Picker 的弹窗大小调整为 modalSize
  docs/zh-CN/components/form/picker.md
  packages/amis-editor/src/plugin/Form/Picker.tsx
  packages/amis/__tests__/renderers/Picker.test.tsx
  packages/amis/src/renderers/Form/Picker.tsx
Labels: chore

#11662 chore: 表格列即配置静态展示又配置quickEdit 时，优先静态展示
  packages/amis/__tests__/renderers/Form/static.test.tsx
  packages/amis/src/renderers/QuickEdit.tsx
Labels: chore

#11665 fix: 修复表格编辑框-设置静态展示，仍然可以进行编辑
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#11663 chore: 避免重复定义不可修改属性
  packages/amis-core/src/store/form.ts
  packages/amis-core/src/store/iRenderer.ts
  packages/amis-core/src/store/table.ts
Labels: chore

#11667 fix: 修复wrapperCustomStyle配置customStyleClassPrefix不生效问题
  packages/amis-core/src/components/CustomStyle.tsx
  packages/amis-core/src/utils/style-helper.ts
Labels: fix

#11669 fix: 表格设置sticky后，如果开启选择或拖拽功能，其头部sticky未生效
  packages/amis-ui/src/components/table/Head.tsx
Labels: fix

#11671 fix: 修复邮箱格式校验失败
  packages/amis-core/src/renderers/wrapControl.tsx
  packages/amis-editor/src/plugin/Form/InputText.tsx
Labels: fix
