Repository baidu/amis, pull requests merged in 2025-03, with the labels that each got.

#11683 fix: 签名组件内嵌模式移动设备下默认全屏
  packages/amis-ui/src/components/Signature.tsx
Labels: fix

#11700 fix: 修改签名组件移动端全屏的逻辑条件，新增是否是移动端设备的方法
  packages/amis-core/src/utils/helper.ts
  packages/amis-ui/src/components/Signature.tsx
Labels: fix

#11696 feat: 选项类组件刷新支持传参
  packages/amis-core/src/renderers/Options.tsx
  packages/amis/src/renderers/Form/ButtonGroupSelect.tsx
  packages/amis/src/renderers/Form/ChainedSelect.tsx
  packages/amis/src/renderers/Form/Checkboxes.tsx
  packages/amis/src/renderers/Form/InputTag.tsx
  packages/amis/src/renderers/Form/InputText.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/ListSelect.tsx
  packages/amis/src/renderers/Form/NestedSelect.tsx
  packages/amis/src/renderers/Form/Picker.tsx
  packages/amis/src/renderers/Form/Radios.tsx
  packages/amis/src/renderers/Form/Select.tsx
  packages/amis/src/renderers/Form/Transfer.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: feat

#11701 fix: 修复 CRUD 脚手架查询字段不更新的问题
  packages/amis-editor/src/plugin/CRUD.tsx
Labels: fix

#11695 chore: 避免表单项默认值关联自己导致无效修改数值的问题
  packages/amis-core/src/renderers/wrapControl.tsx
Labels: chore

#11693 style: 调整 crud 的自动高度撑开模式的样式, 去掉多余滚动条
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Table/index.tsx
Labels: style

#11703 feat: tree高度支持自适应
  docs/zh-CN/components/form/input-tree.md
  packages/amis-core/src/utils/dom.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
Labels: feat

#11706 fix: 修改签名组件close图标
  packages/amis-ui/scss/components/_signature.scss
  packages/amis-ui/src/components/Signature.tsx
Labels: fix

#11708 fix: 修复form flex模式下外围内容拖入报错问题
  packages/amis-editor-core/src/layout/flex.ts
Labels: fix

#11707 fix: table2 sticky时border未跟随导致底部文字透出
  packages/amis-ui/scss/components/_table2.scss
Labels: fix

#11690 chore: 调整拖拽方案
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/ContainerWrapper.tsx
  packages/amis-editor-core/src/component/Editor.tsx
  packages/amis-editor-core/src/component/HighlightBox.tsx
  packages/amis-editor-core/src/component/Panel/Outline.tsx
  packages/amis-editor-core/src/component/Panel/RenderersPanel.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/component/RegionHLBox.tsx
  packages/amis-editor-core/src/dnd/default.ts
  packages/amis-editor-core/src/dnd/index.ts
  packages/amis-editor-core/src/dnd/position-h.ts
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor-core/src/plugin/BasicToolbar.tsx
  packages/amis-editor-core/src/store/editor.ts
  packages/amis-editor/src/plugin/Container.tsx
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-ui/scss/components/_page.scss
  packages/amis/src/renderers/Container.tsx
  packages/amis/src/renderers/Grid.tsx
  packages/amis/src/renderers/Panel.tsx
Labels: chore

#11714 fix: 修复horizontalScroll组件没有从amis ui导出导致被摇树优化的问题
  packages/amis-ui/src/components/index.tsx
Labels: fix

#11676 feat: 扩展cards增加瀑布流展示模式
  docs/zh-CN/components/cards.md
  packages/amis-editor/src/plugin/List2.tsx
  packages/amis-ui/scss/components/_cards.scss
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Card.test.tsx.snap
  packages/amis/src/renderers/Cards.tsx
Labels: feat

#11581 feat: 扩展list组件增加字母索引条
  docs/zh-CN/components/list.md
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-ui/scss/components/_list.scss
  packages/amis-ui/src/components/AlphabetIndexer.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/List.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Picker.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/List.tsx
Labels: feat

#11647 fix: 修复两个百度地图同时加载，同一个路径只触发一次初始化导致有一个地图空白的问题
  packages/amis-ui/src/components/BaiduMapPicker.tsx
Labels: fix

#11710 feat:图集自适应
  docs/zh-CN/components/images.md
  examples/components/Index.jsx
  packages/amis/src/renderers/Image.tsx
  packages/amis/src/renderers/Images.tsx
Labels: feat

#11728 feat: 签名组件新增上传图片API, 新增file64依赖包
  docs/zh-CN/components/form/input-signature.md
  packages/amis-ui/src/components/Signature.tsx
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/package.json
  packages/amis/src/renderers/Form/InputSignature.tsx
Labels: feat

#11733 chore: 统一crud的 research 事件与 init 事件的参数
  packages/amis/src/renderers/CRUD.tsx
Labels: chore

#11645 fix: input-table.md
  docs/zh-CN/components/form/input-table.md
Labels: fix, doc

#11727 chore: 调整 iframe 位置获取逻辑
  packages/amis-editor-core/src/component/Preview.tsx
Labels: chore

#11738 [fix amis-editor]修复block容器的最小高度问题
  packages/amis-editor-core/scss/_variables.scss
  packages/amis-editor-core/scss/editor.scss
Labels: fix

#11746 fix: 修复编辑态组件mobile属性渲染错误问题
  packages/amis-core/src/envOverwrite.ts
  packages/amis-core/src/index.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/DropDownButton.tsx
  packages/amis/src/renderers/Form/ConditionBuilder.tsx
  packages/amis/src/renderers/Form/LocationPicker.tsx
  packages/amis/src/renderers/Form/MatrixCheckboxes.tsx
Labels: fix

#11747 fix: 修复事件获取的删除元素成员错误的问题
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#11749 fix: inputTable setValue 实现默认是 merge 的模式
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#11755 feat:补充city数据
  packages/amis-ui/src/components/CityDB.ts
Labels: feat

#11773 fix: 修复表格 wizard 2.0 字段新增问题 Close: #11772
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#11774 feat: CRUD 支持配置 totalField 控制返回数据中表示总数的字段名
  docs/zh-CN/components/crud.md
  packages/amis-core/src/store/crud.ts
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis/src/renderers/CRUD.tsx
Labels: feat

#11776 fix：使用valueField时子节点全选后未勾选父节点
  packages/amis-ui/src/components/Tree.tsx
Labels: fix

#11778 fix: 消除砖石布局未启用时对移动端的影响
  packages/amis-editor/src/plugin/List2.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/src/renderers/Cards.tsx
Labels: fix

#11782 fix: 优化手写签名上传图片拼接字符串的问题
  packages/amis/src/renderers/Form/InputSignature.tsx
Labels: fix

#11786 fix: 修复表格的列配置在 hash 路由场景冲突问题
  packages/amis-core/src/store/table.ts
  packages/amis-core/src/store/table2.ts
  packages/amis-core/src/utils/getPageId.ts
Labels: fix

#11789 chore: 调整 store 注册调低内置 store 优先级
  packages/amis-core/src/store/index.ts
Labels: chore

#11781 fix(Actions): 为 Service 等组件的 handleAction 方法增加返回值，修复事件动作序列异常中断问题
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Service.tsx
  packages/amis/src/renderers/Table2/index.tsx
  packages/amis/src/renderers/Wizard.tsx
Labels: fix

#11780 fix(plugin/CRUD): 使用数组值前增加是否为空的判断
  packages/amis-editor/src/plugin/CRUD.tsx
Labels: fix

#11740 fix: #11684 修复 CRUD filterTogglable 配置为 true 时，点击切换无效问题
  packages/amis-core/src/store/crud.ts
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#11717 fix: selector check all filter disabled
  .gitignore
  examples/components/Form/Full.jsx
  packages/amis-ui/src/components/Select.tsx
Labels: fix

#11616 fix: 修复 Table 的 columns-toggler 中列拖拽排序逻辑错误
  packages/amis-ui/src/locale/de-DE.ts
  packages/amis-ui/src/locale/en-US.ts
  packages/amis-ui/src/locale/zh-CN.ts
  packages/amis/src/renderers/Table/ColumnToggler.tsx
Labels: bug

#11794 fix: 修复crud2中批量操作按钮事件混乱问题
  docs/zh-CN/components/tabs.md
  packages/amis-core/src/utils/renderer-event.ts
Labels: fix

#11796 fix: 调整 dispatchEvent 流程解决 CRUD 中派送选中事件的上下文信息错误问题
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/factory.tsx
  packages/amis/__tests__/renderers/CRUD.test.tsx
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/CRUD2.tsx
  packages/amis/src/renderers/Form/InputDate.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix
