Repository baidu/amis, pull requests merged in 2025-07, with the labels that each got.

#12099 fix: image组件图标组件切换
  packages/amis-editor/src/plugin/Image.tsx
Labels: fix

#12098 fix: 文档勘误
  docs/zh-CN/extend/editor.md
Labels: fix

#12102 chore: 容忍 cmptAction 未找到组件
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/CmptAction.ts
Labels: chore

#12104 Revert "fix: 修复Date在极端情况下渲染错误的问题"
  packages/amis/src/renderers/Date.tsx
Labels: fix

#12112 fix: 修复 maxDate minDate 格式解析错误
  packages/amis-core/src/utils/date.ts
  packages/amis-core/src/utils/resolveVariableAndFilter.ts
  packages/amis-ui/src/components/calendar/DaysView.tsx
Labels: fix

#12113 chore: 稀释校验错误跳转, 多表单项校验出错时只执行一次跳转
  packages/amis-core/src/renderers/Form.tsx
  packages/amis/src/renderers/Tabs.tsx
Labels: chore

#12120 chore: amis-editor 表格新增虚拟滚动阈值配置
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/plugin/Table2.tsx
Labels: chore

#12119 feat: 编辑器外观宽高设置支持配置 css 表达式
  packages/amis-core/src/index.tsx
  packages/amis-core/src/utils/index.ts
  packages/amis-editor/src/plugin/Dialog.tsx
  packages/amis-editor/src/plugin/Form/InputTree.tsx
  packages/amis-editor/src/plugin/Others/TableCell.tsx
  packages/amis-editor/src/tpl/layout.tsx
  packages/amis-editor/src/tpl/style.tsx
  packages/amis-ui/examples/App.tsx
  packages/amis-ui/examples/form/MixedInput.tsx
  packages/amis-ui/scss/_properties.scss
  packages/amis-ui/scss/components/form/_input-group.scss
  packages/amis-ui/src/components/MixedInput.tsx
  packages/amis-ui/src/components/condition-builder/Value.tsx
  packages/amis-ui/src/components/condition-builder/types.ts
  packages/amis-ui/src/components/index.tsx
Labels: feat

#12117 style: 调整事件面板解决按钮重叠
  packages/amis-editor-core/scss/_rightPanel.scss
  packages/amis-editor-core/scss/control/_event-action.scss
  packages/amis-editor/src/plugin/Button.tsx
Labels: style

#12125 fix: 修复 resolveVariableAndFilter 被 tree-shaking 的问题
  packages/amis-core/src/utils/tpl-builtin.ts
Labels: fix

#12124 chore: 编辑模式开始懒加载解决大页面编辑性能问题
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-editor-core/src/plugin.ts
  packages/amis-editor/src/plugin/CRUD.tsx
  packages/amis-editor/src/plugin/Collapse.tsx
  packages/amis-editor/src/plugin/CollapseGroup.tsx
  packages/amis-editor/src/plugin/Container.tsx
  packages/amis-editor/src/plugin/Each.tsx
  packages/amis-editor/src/plugin/Form/FieldSet.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Grid.tsx
  packages/amis-editor/src/plugin/HBox.tsx
  packages/amis-editor/src/plugin/Layout/FlexPluginBase.tsx
  packages/amis-editor/src/plugin/List.tsx
  packages/amis-editor/src/plugin/List2.tsx
  packages/amis-editor/src/plugin/Panel.tsx
  packages/amis-editor/src/plugin/Service.tsx
  packages/amis-editor/src/plugin/Table.tsx
  packages/amis-editor/src/plugin/Table2.tsx
  packages/amis-editor/src/plugin/TableView.tsx
  packages/amis-editor/src/plugin/Tabs.tsx
  packages/amis-editor/src/plugin/Wizard.tsx
Labels: chore

#12128 fix: 修复编辑器部分场景出现组件替换报错问题
  packages/amis-editor-core/src/component/HighlightBox.tsx
  packages/amis-ui/src/components/ContextMenu.tsx
Labels: fix

#12139 fix: 修复 treeSelect 卡死问题
  packages/amis-ui/src/components/Tree.tsx
Labels: fix

#12151 fix: App 组件切换带参数的相同路由下的不同路径，路由参数不会更新的问题
  packages/amis-core/src/store/app.ts
Labels: fix

#12145 fix: 修复 input-table 表单项加载之前渲染可能存在表单项无法识别而渲染错误问题
  packages/amis/src/minimal.ts
Labels: fix

#12159 feat: select,checkboxes,radios 支持选项配置 disabledTip
  packages/amis-core/src/types.ts
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/src/components/Radios.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis-ui/src/components/icons.tsx
  packages/amis-ui/src/icons/question2.svg
  packages/amis/src/renderers/Form/Checkboxes.tsx
Labels: feat

#12160 fix: 修复公式函数合并与搜素问题
  packages/amis-ui/src/components/formula/Editor.tsx
  packages/amis-ui/src/components/formula/FuncList.tsx
Labels: fix
