Repository baidu/amis, pull requests merged in 2025-04, with the labels that each got.

#11800 feat: 轮播图增加跑马灯模式
  docs/zh-CN/components/carousel.md
  packages/amis-ui/scss/components/_carousel.scss
  packages/amis/src/renderers/Carousel.tsx
Labels: feat

#11798 feat: 新增 env.getPageId 用于定义页面唯一标识用于本地存储表格列点选记录
  packages/amis-core/src/env.tsx
  packages/amis-core/src/factory.tsx
  packages/amis-core/src/store/table.ts
  packages/amis-core/src/store/table2.ts
Labels: feat

#11797 fix: 修复 picker 在弹窗模式分页选择点选丢失问题
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#11783 feat: add chart finished
  docs/zh-CN/components/chart.md
  packages/amis/src/renderers/Chart.tsx
Labels: feat

#11760 fix:添加视频编辑器组件配置
  package.json
  packages/amis-core/src/actions/AjaxAction.ts
  packages/amis-editor/src/plugin/Steps.tsx
  packages/amis-editor/src/plugin/Video.tsx
  packages/amis-ui/scss/components/_pagination.scss
  packages/amis/src/renderers/Steps.tsx
  packages/amis/src/renderers/Video.tsx
Labels: fix

#11756 fix: 修复编辑器 combo 插入组件后不在子节点的情况
  packages/amis-editor-core/src/manager.ts
Labels: fix

#11652 fix(inputNumber): 编辑器右侧面板默认打开千分符配置
  packages/amis-editor/src/plugin/Form/InputNumber.tsx
Labels: fix

#11634 fix: #11270 修复 Wizard 向导组件 单步Step 自定义actions 执行 onEvent 事件异常
  packages/amis/src/renderers/Wizard.tsx
Labels: fix

#11633 fix: #11612 修复 JSONSchema 反显的时候出现异常
  packages/amis-ui/src/components/json-schema/Object.tsx
Labels: fix

#11330 ref(docs): 优化如何让渲染器可通过拖拽调整宽高文档说明
  docs/zh-CN/extend/editor.md
Labels: doc

#11766 feat: 时间轴增加统一卡片模板
  docs/zh-CN/components/timeline.md
  packages/amis-ui/src/components/TimelineItem.tsx
  packages/amis/src/renderers/Timeline.tsx
Labels: feat

#11615 feat: 为 ColumnToggler 增加弹窗样式和布局相关属性
  docs/zh-CN/components/crud.md
  packages/amis-ui/scss/components/_column-toggler.scss
  packages/amis/src/renderers/Table/ColumnToggler.tsx
Labels: feat

#11806 fix: 列过多且存在右侧固定列时总结行不生效
  packages/amis/src/renderers/Table/TableBody.tsx
Labels: fix

#11807 fix: 修复crud点击行会跳出个error,修复crud2多选后样式无效的问题
  packages/amis-ui/scss/components/_crud2.scss
  packages/amis/src/renderers/PopOver.tsx
Labels: fix

#11810 fix: 修复 debug 开启后出现 Maximum call stack size exceeded 的问题
  packages/amis-core/src/utils/debug.tsx
Labels: fix

#10361 fix: select的source是表达式时，数据域发生变化后已选值不会自动清空 issue#10359
  docs/zh-CN/components/form/options.md
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-core/src/store/formItem.ts
Labels: fix

#11675 fix: 修复表格开启整行选择后，点击单选或复选框无响应
  docs/zh-CN/components/table2.md
  packages/amis-ui/src/components/table/Row.tsx
  packages/amis-ui/src/components/table/index.tsx
Labels: fix

#11811 fix: 事件动作触发失败
  packages/amis-core/src/actions/Action.ts
  packages/amis-core/src/actions/CmptAction.ts
Labels: fix

#11815 fix: tree虚拟列表高度未重新计算
  packages/amis-ui/src/components/Tree.tsx
Labels: fix

#11822 fix: 表格编辑框-可复制按钮、快速编辑按钮等在非确认模式下换行
  packages/amis-ui/scss/components/_popoverable.scss
  packages/amis/src/renderers/Table/TableCell.tsx
Labels: fix

#11829 feat: 编辑拖拽组件支持容器自动滚动
  packages/amis-editor-core/src/dnd/autoScroll.ts
  packages/amis-editor-core/src/dnd/default.ts
  packages/amis-editor-core/src/dnd/flex.ts
  packages/amis-editor-core/src/dnd/position-h.ts
Labels: feat

#11832 fix: crud双table情况下网格未对齐
  packages/amis/__tests__/event-action/renderers/__snapshots__/crud.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/ColGroup.tsx
Labels: fix

#11835 fix: 修复移动端可能拖入不了组件的问题
  packages/amis-editor-core/src/component/IFramePreview.tsx
Labels: fix

#11836 fix: 修复popOver组件内容字符过长时，弹窗中的内容闪烁
  packages/amis-core/src/utils/resize-sensor.ts
Labels: fix

#11828 fix: loadDataOnceFetchOnFilter lose count
  docs/zh-CN/components/crud.md
  packages/amis-core/src/store/crud.ts
Labels: fix

#11844 fix: tree虚拟列表加载接口时误将loading高度计算进来
  packages/amis-core/src/utils/dom.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
Labels: fix

#11853 fix: 修复 combo 组件可多选按钮关闭时最多条数&最少条数未被清空
  packages/amis-editor/src/plugin/Form/Combo.tsx
Labels: fix

#11859 revert: 回滚fix:crud双table情况下网格未对齐
  packages/amis/__tests__/event-action/renderers/__snapshots__/crud.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/inputTable.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Pagination.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Table.test.tsx.snap
  packages/amis/src/renderers/Table/ColGroup.tsx
Labels: fix

#11866 [fix] picker组件禁用态样式
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/form/_picker.scss
Labels: fix

#11867 fix: 修复子编辑器修改丢失问题
  packages/amis-editor-core/src/store/editor.ts
Labels: fix

#11865 chore: 调整全局变量更新机制使得组件层无须额外编写检测代码
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/WithStore.tsx
  packages/amis-core/src/globalVar.ts
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/store/iRenderer.ts
  packages/amis-core/src/store/root.ts
  packages/amis-editor-core/src/variable.ts
  packages/amis/src/renderers/Tabs.tsx
Labels: chore

#11860 fix: form reset的时候父级数据也被还原
  packages/amis-core/src/store/form.ts
Labels: fix

#11861 fix: 当表格列配置溢出显示 mapping等类型列显示出原始数据
  packages/amis/src/renderers/PopOver.tsx
Labels: fix

#11855 feat: table 的列信息本地缓存支持配置 Close: #11850
  docs/zh-CN/components/table.md
  packages/amis-core/src/store/table.ts
  packages/amis-core/src/store/table2.ts
  packages/amis/src/renderers/Table/index.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: feat

#11869 fix: 修复弹窗中 form 可能内容超出弹窗的问题
  packages/amis-ui/scss/components/form/_form.scss
Labels: fix

#11870 fix: 修复组件被事件动作隐藏后无法编辑的问题
  packages/amis-editor-core/src/component/IFramePreview.tsx
  packages/amis-editor-core/src/component/NodeWrapper.tsx
  packages/amis-editor-core/src/component/Preview.tsx
  packages/amis-editor-core/src/component/SchemaRenderer.tsx
Labels: fix

#11873 fix: 删除元素错误优先用接口返回的错误信息
  packages/amis/src/renderers/Form/InputTable.tsx
Labels: fix

#11868 fix: 修复 inputImage 从字符串回显时自动填充文件名逻辑空值的问题
  packages/amis/src/renderers/Form/InputImage.tsx
Labels: fix

#11875 [fix] form组件的默认场景选择,在初始化加载schema时纠正一次
  packages/amis-editor/src/plugin/Form/Form.tsx
Labels: feat, fix

#11877 fix: 修复crud点击行会跳出个error,修复crud2多选后样式无效的问题 (#11807)
  packages/amis-ui/scss/components/_crud2.scss
  packages/amis/src/renderers/PopOver.tsx
Labels: fix

#11881 fix: 修复 inputTable 合并单元格模式编辑态异常问题
  packages/amis/src/renderers/Form/InputTable.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: fix

#11882 fix: 修复编辑器模式下 CRUD 会触发列保存的问题
  packages/amis-core/src/renderers/wrapControl.tsx
Labels: fix

#11884 feat: 动作面板schema配置支持函数
  packages/amis-editor/src/renderer/event-control/action-config-panel.tsx
Labels: feat

#11895 fix: 双table边框无法对齐
  packages/amis-core/src/store/table.ts
Labels: fix

#11889 fix: 修复json请求时无法指定自定义的Content-Type
  packages/amis-core/src/utils/api.ts
Labels: fix

#11898 fix: 修复在无界框架中，弹出层计算了非iframe区域的高度，导致弹层被遮挡
  packages/amis-core/src/utils/dom.tsx
Labels: fix

#11901 fix: 修复接口报错时无法弹出预期的 msg 内容
  packages/amis-core/src/store/crud.ts
  packages/amis-core/src/store/table2.ts
  packages/amis-core/src/utils/errors.ts
Labels: fix

#11899 fix: 修复 crud 通过事件动作新增行无法选中问题
  packages/amis-core/src/store/table.ts
Labels: fix

#11905 feat: TooltipWrapper暗色模式下border去除
  packages/amis-ui/scss/components/_tooltip.scss
Labels: feat

#11906 feat: 移动端单选select支持搜索
  packages/amis-core/src/Scoped.tsx
  packages/amis-core/src/StatusScoped.tsx
  packages/amis-core/src/WithRootStore.tsx
  packages/amis-core/src/WithStore.tsx
  packages/amis-core/src/env.tsx
  packages/amis-core/src/locale.tsx
  packages/amis-core/src/renderers/Item.tsx
  packages/amis-core/src/renderers/Options.tsx
  packages/amis-core/src/theme.tsx
  packages/amis-editor-core/src/component/factory.tsx
  packages/amis-ui/src/components/Badge.tsx
  packages/amis-ui/src/components/Picker.tsx
  packages/amis-ui/src/components/PickerColumn.tsx
  packages/amis-ui/src/components/SelectMobile.tsx
  packages/amis-ui/src/components/WithRemoteConfig.tsx
  packages/amis-ui/src/components/WithStore.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/select.test.tsx.snap
  packages/amis/src/renderers/Form/Editor.tsx
Labels: feat

#11910 feat: crud2支持泛型，方便外围继承
  packages/amis/src/renderers/CRUD2.tsx
Labels: feat

#11909 fix[editor]: input-table组件特定动作setValue的配置面板 行序号指定支持表达式输入
  packages/amis-editor/src/renderer/event-control/helper.tsx
Labels: fix

#11908 feat: crud2的构建builder支持数据导出配置
  packages/amis-editor/src/plugin/CRUD2/constants.ts
Labels: feat

#11914 feat: 动作面板schema配置支持函数 (#11884)
  packages/amis-editor/src/renderer/event-control/action-config-panel.tsx
Labels: feat

#11912 feat: crud2的构建builder支持数据导出配置 (#11908)
  packages/amis-editor/src/plugin/CRUD2/constants.ts
Labels: feat

#11915 feat: Table 优化大数据性能
  examples/components/CRUD/TableAutoFill.jsx
  packages/amis-core/src/store/table.ts
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/VCell.tsx
  packages/amis/src/renderers/Table/VirtualTableBody.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#11916 fix: form 里面的弹窗执行 form 事件动作后数据丢失的问题
  packages/amis-core/src/store/iRenderer.ts
Labels: fix

#11920 Revert "feat: Table 优化大数据性能"
  examples/components/CRUD/TableAutoFill.jsx
  packages/amis-core/src/store/table.ts
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/VCell.tsx
  packages/amis/src/renderers/Table/VirtualTableBody.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#11919 fix: table开启选择时总结行报错
  packages/amis/src/renderers/Table/TableBody.tsx
Labels: fix

#11918 fix: range类开启双字段保存时,影响默认值配置中结束字段的值回显
  packages/amis-editor/src/renderer/FormulaControl.tsx
Labels: fix

#11922 fix: 修复级联选择器组件不同的分类下子类的label不应该因为value一致就展示了一样label的问题
  packages/amis-core/src/utils/normalizeOptions.ts
Labels: fix

#11921 fix: input-kv 新增多条后在添加数据 数据域的数据无变化
  packages/amis/src/renderers/Form/Combo.tsx
Labels: fix

#11930 fix: 修改轮播图配置左右翻页图标的配置及渲染方式
  packages/amis-editor/src/plugin/Carousel.tsx
  packages/amis/src/renderers/Carousel.tsx
Labels: fix

#11933 fix: 补充项目缺失的国际化配置项
  packages/amis-editor-core/src/locale/en-US.ts
  packages/amis-editor-core/src/locale/zh-CN.ts
  packages/amis-editor/src/locale/en-US.ts
  packages/amis-editor/src/locale/zh-CN.ts
  packages/amis-editor/src/plugin/Cards.tsx
  packages/amis-editor/src/plugin/Dialog.tsx
  packages/amis-editor/src/plugin/Drawer.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
  packages/amis-editor/src/plugin/Form/InputKV.tsx
  packages/amis-editor/src/plugin/Form/InputRepeat.tsx
  packages/amis-editor/src/plugin/Form/NestedSelect.tsx
  packages/amis-editor/src/plugin/List2.tsx
  packages/amis-editor/src/plugin/TableCell2.tsx
Labels: fix

#11929 fix: crud2的使用文字组件时td里面多了一个td
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#11932 feat: CRUD2支持数据导出功能
  packages/amis-editor/src/builder/ApiDSBuilder.ts
  packages/amis-editor/src/builder/DSBuilder.ts
  packages/amis-editor/src/builder/constants.ts
  packages/amis-editor/src/builder/type.ts
  packages/amis-editor/src/renderer/crud2-control/CRUDToolbarControl.tsx
Labels: feat

#11937 fix: 修复级联选择器拿不到最新选中值+修复开启溢出隐藏后中文的第二行会露出一点
  packages/amis-ui/scss/components/_popoverable.scss
  packages/amis/src/renderers/Form/NestedSelect.tsx
Labels: fix

#11935 chore: 全局变量支持之前的 __page 和 appVariables 变量
  packages/amis-core/src/RootRenderer.tsx
  packages/amis-core/src/SchemaRenderer.tsx
  packages/amis-core/src/store/root.ts
Labels: chore

#11926 feat: table 支持虚拟滚动
  packages/amis-core/src/store/table.ts
  packages/amis-core/src/utils/isPureVariable.ts
  packages/amis-core/src/utils/tpl.ts
  packages/amis-ui/scss/components/_table.scss
  packages/amis/src/renderers/Table/TableBody.tsx
  packages/amis/src/renderers/Table/TableContent.tsx
  packages/amis/src/renderers/Table/TableRow.tsx
  packages/amis/src/renderers/Table/VCell.tsx
  packages/amis/src/renderers/Table/VirtualTableBody.tsx
  packages/amis/src/renderers/Table/index.tsx
Labels: feat

#11939 fix: 使用最后一行的单元格来计算列宽，提高性能
  packages/amis-ui/src/components/table/index.tsx
Labels: fix
