Repository baidu/amis, pull requests merged in 2025-06, with the labels that each got.

#12021 fix: 修复树组件静态模式报错问题
  packages/amis-editor/src/plugin/Images.tsx
  packages/amis/src/renderers/Form/InputTree.tsx
Labels: fix

#12026 fix: 修复 inputTree 样式问题, 调整虚拟滚动依赖itemHeight配置问题
  docs/zh-CN/components/form/input-tree.md
  packages/amis-ui/scss/components/form/_tree.scss
  packages/amis-ui/src/components/AssociatedSelection.tsx
  packages/amis-ui/src/components/ResultTreeList.tsx
  packages/amis-ui/src/components/TabsTransfer.tsx
  packages/amis-ui/src/components/Transfer.tsx
  packages/amis-ui/src/components/Tree.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransfer.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/tabsTransferPicker.test.tsx.snap
  packages/amis/__tests__/renderers/Form/__snapshots__/transfer.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Tree.test.tsx.snap
  packages/amis/src/renderers/Form/InputTree.tsx
  packages/amis/src/renderers/Form/TreeSelect.tsx
Labels: style

#12039 fix: 级联选择器移动端多选模式超出不显示
  packages/amis-ui/scss/components/form/_nested-select.scss
Labels: fix

#12040 feat: 选项类(options) 表单项静态展示时上下文下发 selectedItems
  packages/amis/src/renderers/Form/StaticHoc.tsx
Labels: feat

#12035 fix: 修复Date在极端情况下渲染错误的问题
  packages/amis/src/renderers/Date.tsx
Labels: fix

#12046 [fix] 删除多余的props,只传递必要的,避免static定制情况下读到非预期的数据
  packages/amis/src/renderers/Form/StaticHoc.tsx
Labels: fix

#12036 fix: 修复 inputQuarterRange 选择 Q2 会被转成 Q1 的问题
  packages/amis-core/src/utils/date.ts
  packages/amis-ui/src/components/DateRangePicker.tsx
  packages/amis/__tests__/renderers/Form/inputMonth.test.tsx
Labels: fix

#12049 feat: Select, ResultBox, Picker, 选项超出收起功能支持自适应宽度
  docs/zh-CN/components/form/input-tag.md
  docs/zh-CN/components/form/picker.md
  docs/zh-CN/components/form/select.md
  packages/amis-core/src/utils/resize-sensor.ts
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/_mixins.scss
  packages/amis-ui/scss/components/_auto-folder.scss
  packages/amis-ui/scss/components/_crud.scss
  packages/amis-ui/scss/components/_result-box.scss
  packages/amis-ui/scss/components/form/_picker.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/scss/themes/_common.scss
  packages/amis-ui/src/components/AutoFoldedList.tsx
  packages/amis-ui/src/components/ResultBox.tsx
  packages/amis-ui/src/components/Select.tsx
  packages/amis-ui/src/components/index.tsx
  packages/amis/__tests__/renderers/Form/__snapshots__/nestedSelect.test.tsx.snap
  packages/amis/__tests__/renderers/Form/nestedSelect.test.tsx
  packages/amis/__tests__/renderers/Picker.test.tsx
  packages/amis/__tests__/renderers/__snapshots__/CRUD.test.tsx.snap
  packages/amis/__tests__/renderers/__snapshots__/Picker.test.tsx.snap
  packages/amis/src/renderers/CRUD.tsx
  packages/amis/src/renderers/Form/Picker.tsx
Labels: feat

#12052 fix: 修复 crud2 在某种情况下编辑器模式列不可点的问题
  packages/amis/src/renderers/Cards.tsx
  packages/amis/src/renderers/List.tsx
  packages/amis/src/renderers/Table2/index.tsx
Labels: fix

#12053 style: 微调 select 样式
  packages/amis-ui/scss/_components.scss
  packages/amis-ui/scss/components/_result-box.scss
  packages/amis-ui/scss/components/form/_select.scss
  packages/amis-ui/scss/components/form/_selection.scss
  packages/amis-ui/src/components/Select.tsx
Labels: style

#12056 feat: Form 组件支持 initApiFinished 事件区分与 inited 事件 只有配置了 initApi 且接口正常请求后触发
  docs/zh-CN/components/form/index.md
  packages/amis-core/src/renderers/Form.tsx
  packages/amis-editor/src/plugin/Form/Form.tsx
Labels: feat

#12074 fix: 修复折叠面板样式问题 & 支持折叠面板内容面板切换
  packages/amis-core/src/store/root.ts
  packages/amis-editor-core/scss/editor.scss
  packages/amis-editor-core/src/component/HighlightBox.tsx
  packages/amis-editor-core/src/manager.ts
  packages/amis-editor/src/plugin/Collapse.tsx
  packages/amis-editor/src/plugin/CollapseGroup.tsx
Labels: fix

#12075 chore: 全局变量支持外围修改内置控件
  packages/amis-editor/src/renderer/global-var-control/GlobalVarBuiltinPanel.tsx
  packages/amis-editor/src/renderer/global-var-control/GlobalVarManagerPanel.tsx
  packages/amis-editor/src/renderer/global-var-control/index.tsx
Labels: chore

#12076 chore: 条件组合数字输入默认改成2个小数点
  packages/amis-ui/scss/components/_condition-builder.scss
  packages/amis-ui/src/components/condition-builder/Value.tsx
Labels: chore

#12084 fix: 修复 picker 选项模式分页失效问题
  packages/amis/src/renderers/CRUD.tsx
Labels: fix

#12088 style: 优化 nested-select 移动端样式
  packages/amis-ui/scss/components/_cascader.scss
  packages/amis-ui/scss/components/form/_nested-select.scss
Labels: style

#12089 fix: 修复 inputExcel 单选不能重复选择的问题
  packages/amis/src/renderers/Form/InputExcel.tsx
Labels: fix
